[2020-09-23 02:21] getJv opened #3751 "Redirect 'Xray Connector Plugin' page from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Xray+Connector+Plugin
Redirect to the destination: https://plugins.jenkins.io/xray-connector/

## Redirecting pages

Redirect by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see past PRs for examples.

[2020-09-23 02:23] getJv opened #3752 "Redirect 'FitNesse Plugin' page from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/FitNesse+Plugin
Redirect to the destination: https://plugins.jenkins.io/fitnesse/

## Redirecting pages

Redirect by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see past PRs for examples

[2020-09-23 02:25] getJv opened #3753 "Migrate 'ZAProxy Plugin' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/ZAProxy+Plugin#
(Proposal) Only a redirect to the destination: https://plugins.jenkins.io/zap/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or better phrase in context
* Change ‘whitelist’ to ‘

[2020-09-23 02:30] getJv opened #3754 "Migrate 'Hosting Plugins' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Hosting+Plugins#
(Proposal) Update the content and migrate it to new sections under destination: https://www.jenkins.io/doc/developer/publishing/requesting-hosting/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklis

[2020-09-23 02:34] getJv opened #3755 "Migrate 'Ansible Plugin/' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Ansible+Plugin/#
(Proposal) Only a redirect to the destination: https://plugins.jenkins.io/ansible/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or better phrase in context
* Change ‘whitelist’

[2020-09-23 02:37] getJv opened #3756 "Migrate 'Setting up Eclipse to build Jenkins' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Setting+up+Eclipse+to+build+Jenkins#
(Proposal) Update the content and migrate it to new page under destination: https://www.jenkins.io/doc/developer/guides/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘

[2020-09-23 02:43] getJv opened #3757 "Redirect 'Pipeline SCM Step Plugin' from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Pipeline+SCM+Step+Plugin
Redirect to the destination: https://plugins.jenkins.io/workflow-scm-step/

## Redirecting pages

Redirect by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see past PRs for examples.

[2020-09-23 02:45] getJv opened #3758 "Redirect 'Anchore Container Image Scanner Plugin' from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Anchore+Container+Image+Scanner+Plugin
Redirect to the destination: https://plugins.jenkins.io/anchore-container-scanner/

## Redirecting pages

Redirect by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see past PRs for examples.

[2020-09-23 02:47] getJv opened #3759 "Redirect 'XML Job to Job DSL' page from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/XML+Job+to+Job+DSL
Redirect to the destination: https://plugins.jenkins.io/xml-job-to-job-dsl/

## Redirecting pages

Redirect by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see past PRs for examples.

[2020-09-23 02:50] getJv opened #3760 "Migrate 'Obtaining a thread dump' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Obtaining+a+thread+dump#
(Proposal) Update the content and migrate it to a new section  under destination: https://www.jenkins.io/doc/book/system-administration/viewing-logs/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change

[2020-09-25 09:25] ragu-v opened #3767 "Jenkins freestyle configuration UI sometimes places buttons incorrectly"
## Jenkins freestyle UI sometimes places buttons incorrectly

I set a scheduled job to launch. I see a button  "Add Repository" that never hides.

## Screenshots

![Screenshot (224)](https://user-images.githubusercontent.com/69866034/94250337-b81a2d80-ff3e-11ea-9cee-1241de7bfaa4.png)

[2020-09-25 13:52] daniel-beck opened #3768 "Upgrade JFrog from support to major commitment"
## Suggestion

https://www.jenkins.io/ (scroll down) lists JFrog among organizations from which we get a free license or some limited bandwidth. Based on what they told @MarkEWaite and me recently in terms of load our Artifactory has, it might be appropriate to place them in the 'major commitments' list.

## Links

https://groups.google.com/d/msg/jenkins-infra/4B_jykZ2wi0/wrcszWE0BQAJ

[2020-09-25 14:00] MarkEWaite commented on #3767
@ragu-v thanks for the report and for taking time to report a Jenkins issue.

The GitHub issue tracker on the jenkins.io repository is used to track issues with the Jenkins documentation.  The issue you've reported appears to be an issue with the Jenkins core software.  Issues for Jenkins core are tracked in the [Jenkins issue tracker](https://issues.jenkins-ci.org/).  Refer to ["How to report an

[2020-09-25 14:02] MarkEWaite commented on #3767
I'm closing this issue because Jenkins core issues recorded in the jenkins.io issue tracker won't receive any attention from Jenkins core developers.  If more information becomes available so that others can duplicate the problem, it can be reported to the Jenkins issue tracker.

[2020-09-25 14:02] #3767 closed

[2020-09-25 14:06] oleg-nenashev commented on #3768
I am +1 for that. Even before the recent threads, JFrog has been a major
sponsor and promoter of Jenkins

On Fri, Sep 25, 2020, 15:52 Daniel Beck <notifications@github.com> wrote:

[2020-09-25 19:19] #3768 closed

[2020-09-25 22:29] daniel-beck opened #3771 "Evergreen page pretends it still exists"
Problem with the [Evergreen](https://www.jenkins.io/projects/evergreen/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/projects/evergreen/index.adoc)

evergreen.jenkins.io is down (probably for good) and it looks like nobody bothered to update this page.

[2020-09-26 15:49] lankakiran opened #3772 "While installing Jenkins in rhel7 I am getting below error"
While installing Jenkins in rhel7 I am getting error
Can u please give suggestion

![Screenshot_2020-09-25-22-37-49-10](https://user-images.githubusercontent.com/48472282/94344569-f3e7ec80-003d-11eb-9255-03bfc8ed082e.jpg)
Please give solution

[2020-09-26 19:22] MarkEWaite commented on #3772
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

In this case, you might try modifying the conte

[2020-09-26 19:22] #3772 closed

[2020-09-27 18:20] getJv opened #3773 "Redirect 'App Center Plugin' page from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/App+Center+Plugin
Redirect to the destination: https://plugins.jenkins.io/appcenter/

## Redirecting pages

Redirect by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see past PRs for examples.

[2020-09-27 18:25] getJv opened #3774 "Redirect 'Docker Commons Plugin' page from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Docker+Commons+Plugin
Redirect to the destination: https://plugins.jenkins.io/docker-commons/

## Redirecting pages

Redirect by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see past PRs for examples.

[2020-09-27 18:30] getJv opened #3775 "Migrate 'Pipeline Build Step Plugin' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Pipeline+Build+Step+Plugin#
(Proposal) Only a redirect to the destination: https://plugins.jenkins.io/pipeline-build-step/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or better phrase in conte

[2020-09-27 18:45] getJv opened #3776 "Migrate 'Splitting a big job into smaller jobs' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Splitting+a+big+job+into+smaller+jobs#
(Proposal) New page under destination: https://www.jenkins.io/doc/book/using/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or better phrase in context
* C

[2020-09-27 18:48] getJv opened #3777 "Redirect 'Claim plugin' page from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Claim+plugin
Redirect to the destination: https://plugins.jenkins.io/claim/

## Redirecting pages

Redirect by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see past PRs for examples.

[2020-09-27 18:52] getJv opened #3778 "Migrate 'User Content' page from wiki to new page in docs site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/User+Content
New Page under destination: https://www.jenkins.io/doc/book/managing/ (Serving static content)

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or better phrase in context
* Change ‘wh

[2020-09-27 19:09] getJv opened #3779 "Redirect 'Ping Thread' page from wiki to docs site"
## Essential information
Page to redirect: https://wiki.jenkins.io/JENKINS/Ping-Thread.html
New section under destination: https://www.jenkins.io/doc/book/system-administration/monitoring/#ping-thread

## Redirect the pages

Update the redirect on https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf

After it has been migrated a redirect should b

[2020-09-27 19:10] getJv opened #3780 "Redirect 'JClouds Plugin' page from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/JClouds+Plugin#
(Proposal) Only a redirect to the under destination: https://plugins.jenkins.io/jclouds-jenkins/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or better phrase in context
* Chang

[2020-09-27 19:13] getJv opened #3781 "Migrate 'Monitoring Scripts' page from wiki to jenkins.io docs"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Monitoring+Scripts
New section under destination: https://www.jenkins.io/doc/book/managing/script-console/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or better phrase in context
* Change ‘whi

[2020-09-27 19:16] getJv opened #3782 "Migrate 'Liquibase Runner' plugin docs from wiki to GitHub"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Liquibase+Runner
Update the plugin readme with content from the wiki page, then redirect the wiki page to the destination: https://plugins.jenkins.io/liquibase-runner/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘black

[2020-09-27 19:19] getJv opened #3783 "Redirect 'Violation Comments to GitLab Plugin' page from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Violation+Comments+to+GitLab+Plugin
Redirect to the destination: https://plugins.jenkins.io/violation-comments-to-gitlab/

## Redirecting pages

Define a redirect by submitting a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see past PRs for

[2020-09-27 19:21] getJv opened #3784 "Migrate 'HPE Application Automation Tools' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/HPE+Application+Automation+Tools
Redirect to the destination: https://plugins.jenkins.io/hp-application-automation-tools-plugin/

## Redirecting pages

A redirect should be setup, by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
se

[2020-09-27 19:27] getJv opened #3785 "Migrate 'SCM plugin architecture' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/SCM+plugin+architecture#
(Proposal) Update content and create a new pege under destination: https://www.jenkins.io/doc/developer/guides/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or better p

[2020-09-27 19:31] getJv opened #3786 "Redirect 'Artifactory - Working With Pipeline Jobs' from wiki to JFrog site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Artifactory+-+Working+With+Pipeline+Jobs+in+Jenkins#
Redirect to the destination: https://www.jfrog.com/confluence/display/JFROG/Working+With+Pipeline+Jobs+in+Jenkins

## Redirecting pages

After it has been migrated a redirect should be setup, by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-in

[2020-09-27 19:32] getJv opened #3787 "Migrate 'Workflow Plugin' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Workflow+Plugin#
(Proposal) Only a redirect to the destination: https://plugins.jenkins.io/workflow-aggregator/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or better phrase in context
* Change

[2020-09-27 20:33] getJv opened #3788 "Redirect 'Dingding Notification Plugin' from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Dingding+Notification+Plugin
Redirect to the destination: https://plugins.jenkins.io/dingding-notifications

## Redirecting pages

A redirect should be setup, by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see [past PRs](https://

[2020-09-27 20:37] getJv opened #3789 "Migrate 'Docker Custom Build Environment Plugin' docs to GitHub"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Docker+Custom+Build+Environment+Plugin
Based on the [directions in the blog post](https://www.jenkins.io/blog/2019/10/21/plugin-docs-on-github/) and the video below:
* Use the [wiki exporter](https://jenkins-wiki-exporter.jenkins.io/) to extract content from the [wiki page](https://wiki.jenkins.io/display/JENKINS/Doc

[2020-09-27 20:38] getJv opened #3790 "Redirect 'SoapUI Pro Functional Testing Plugin' from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/SoapUI+Pro+Functional+Testing+Plugin
Redirect to the destination: https://plugins.jenkins.io/soapui-pro-functional-testing

## Redirecting pages

A redirect should be setup, by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see [pas

[2020-09-27 21:02] getJv opened #3791 "Migrate 'Architecture' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Architecture#
(Proposal) New section under the destination: https://www.jenkins.io/doc/developer/architecture/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or better phrase in context
* Change

[2020-09-27 21:04] getJv opened #3792 "Redirect 'Configuring Jenkins upon start up' from wiki to docs site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Configuring+Jenkins+upon+start+up
Redirect to the destination: https://www.jenkins.io/doc/book/managing/groovy-hook-scripts

## Redirecting pages

A redirect should be setup, by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see [pa

[2020-09-27 21:06] getJv opened #3793 "Migrate 'Wipe out workspaces of all jobs' page from wiki"
'## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Wipe+out+workspaces+of+all+jobs#
(Proposal) New section under destination: https://www.jenkins.io/doc/book/managing/script-console/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or better phras

[2020-09-27 21:07] getJv opened #3794 "Redirect 'Writing an SCM plugin' from wiki to docs site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Writing+an+SCM+plugin
Redirect to the destination: https://www.jenkins.io/doc/developer/plugin-development/writing-an-scm-plugin/

## Redirecting pages

A redirect should be setup, by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
s

[2020-09-27 21:14] getJv opened #3795 "Redirect 'Purge Job History Plugin' from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Purge+Job+History+Plugin
Redirect to the destination: https://plugins.jenkins.io/purge-job-history

## Redirecting pages

A redirect should be setup, by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see [past PRs](https://github.co

[2020-09-27 21:16] getJv opened #3796 "Redirect 'Fortify On Demand Uploader Plugin' from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Fortify+On+Demand+Uploader+Plugin
Redirect to the destination: https://plugins.jenkins.io/fortify-on-demand-uploader

## Redirecting pages

A redirect should be configured by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see [past

[2020-09-27 21:19] getJv opened #3797 "Migrate 'Jenkins Hidden Parameter Plugin' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Jenkins+Hidden+Parameter+Plugin#
(Proposal) Only a redirect to the destination: https://plugins.jenkins.io/hidden-parameter/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or better phrase in con

[2020-09-27 21:21] getJv opened #3798 "Redirect 'Amazon Web Services SDK library' from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Amazon+Web+Services+SDK+library
Redirect to the destination: https://plugins.jenkins.io/aws-java-sdk

## Redirecting pages

A redirect should be setup, by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see [past PRs](https://github.

[2020-09-27 21:27] getJv opened #3799 "Migrate 'RocketChat Plugin' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/RocketChat+Plugin#
(Proposal) Only a redirect to the destination: https://plugins.jenkins.io/rocketchatnotifier/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or better phrase in context
* Chang

[2020-09-27 21:30] getJv opened #3800 "Migrate 'Jenkins Development Environment with Nexus' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Jenkins+Development+Environment+with+Nexus#
(Proposal) Update the content and create a new page under destination: https://www.jenkins.io/doc/book/using/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘deny

[2020-09-27 21:31] priyanshu0405 commented on #3799
hey @getJv , can I take this issue? Thanks!!

[2020-09-27 21:38] getJv opened #3801 "Migrate 'Launching agent from console' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Launching+agent+from+console#
(Proposal) Only a redirect to the destination: https://www.jenkins.io/doc/book/using/using-agents

Dependencies:  PR #3511 need to be approved first

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Ch

[2020-09-27 21:39] getJv opened #3802 "Redirect 'GitHub API Plugin' from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/GitHub+API+Plugin
Redirect to the destination: https://plugins.jenkins.io/github-api

## Redirecting pages

After it has been migrated a redirect should be setup, by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see [past PRs](http

[2020-09-27 21:42] getJv opened #3803 "Redirect 'Nexus Platform Plugin' from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Nexus+Platform+Plugin
Redirect to the destination: https://plugins.jenkins.io/nexus-jenkins-plugin/

## Redirecting pages

Redirect should be setup, by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see [past PRs](https://github.com

[2020-09-27 21:48] zbynek commented on #3787
@getJv thanks for the effort with creating all these issues. Are you aware of https://jenkins-wiki-exporter.jenkins.io/progress ? It shows that many plugins already have PRs filed for the docs migration, in this case https://github.com/jenkinsci/workflow-aggregator-plugin/pull/34 . So I think the only thing remaining here is to add redirect from
https://wiki.jenkins.io/display/JENKINS/Workflow+Plu

[2020-09-27 21:53] getJv opened #3804 "Redirect 'Artifact Manager S3 Plugin' from wiki to plugin site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Artifact+Manager+S3+Plugin
Redirect to the destination: https://plugins.jenkins.io/artifact-manager-s3

## Redirecting pages

A redirect should be setup, by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see [past PRs](https://githu

[2020-09-27 21:55] getJv opened #3805 "Redirect 'Deploy WebSphere Plugin' page from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Deploy+WebSphere+Plugin
Redirect to the destination: https://plugins.jenkins.io/websphere-deployer/

This intentionally redirects from a plugin that is no longer being delivered to a plugin with related functionality that is still available.  The destination plugin is **not** a derivative of the deploy plugin, while

[2020-09-27 21:59] getJv opened #3806 "Redirect 'MATLAB Plugin' page from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/MATLAB+Plugin
Redirect to the destination: https://plugins.jenkins.io/matlab

## Redirecting pages

A redirect should be setup, by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see [past PRs](https://github.com/jenkins-infra/jenkin

[2020-09-27 22:05] getJv opened #3807 "Migrate 'Git Bisect Plugin' docs from wiki to GitHub"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Git+Bisect+Plugin#
Based on the [directions in the blog post](https://www.jenkins.io/blog/2019/10/21/plugin-docs-on-github/) and the video below:
* Use the [wiki exporter](https://jenkins-wiki-exporter.jenkins.io/) to extract content from the [wiki page](https://wiki.jenkins.io/display/JENKINS/Git+Bisect+Plugin)
* In

[2020-09-27 22:07] getJv opened #3808 "Redirect 'PlasticSCM Plugin' page from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/PlasticSCM+Plugin#
Redirect to the destination: https://plugins.jenkins.io/plasticscm-plugin/

## Redirecting pages

A redirect should be configured, by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see [past PRs](https://github.co

[2020-09-27 22:12] getJv opened #3809 "Migrate 'Manage global settings and tools installations' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Manage+global+settings+and+tools+installations#
(Proposal) New page under destination: https://www.jenkins.io/doc/developer/guides/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or better phrase

[2020-09-28 00:57] getJv commented on #3787
Hello Zbynek,

I didn't know about the page
https://jenkins-wiki-exporter.jenkins.io/progress, thank you for share it.

And yes, the most issues about plugins pages are asking for a simple vhost
redirect.
[image: image.png]

All these issues will be tagged as good-first-issue and used on the next
jenkins event at  October first.

All these steps are aligned with Mark and registered at all Jenkins

[2020-09-28 01:01] getJv commented on #3799
Hello @priyanshu0405 of course you can! thank you.

If you need any assistance please let me know.

[2020-09-28 09:51] zbynek commented on #3787
@getJv thanks, I realized the issue description is actually OK (it just contains a lot of information that's redundant for this specific case), so I removed my original comment. I created a [PR](https://github.com/jenkins-infra/jenkins-infra/pull/1542) for this issue.

[2020-09-28 21:28] MarkEWaite commented on #3603
Thanks!  Both the source link and the destination link now resolve to https://www.jenkins.io/doc/book/system-administration/viewing-logs/#

[2020-09-28 21:28] #3603 closed

[2020-09-28 23:37] #3787 closed

[2020-09-29 01:39] MarkEWaite commented on #3680
https://github.com/jenkins-infra/jenkins.io/pull/3765 corrected the mirror status page.  https://github.com/jenkins-infra/jenkins.io/pull/3812 removes the reference to hudson-labs and invites more mirrors from areas of increasing activity.

[2020-09-29 01:54] #3680 closed

[2020-09-29 05:17] oleg-nenashev commented on #3802
@getJv There are other videos and tutorials for plugin documentation migration, e.g. https://github.com/jenkinsci/ui-ux-hackfest-2020/tree/master/presentations/04-migrating-plugin-docs. They might be more relevant in the case of plugin documentation migration tasks

[2020-09-29 13:15] getJv commented on #3802
Hello @oleg-nenashev, here we ask just for a simple redirect. As discussed at the last [Jenkins Docs Office Hours](https://docs.google.com/document/d/1ygRZnVtoIvuEKpwNeF_oVRVCV5NKcZD1_HMtWlUZguo/edit#heading=h.qtpbwmt0rusz)  This week @MarkEWaite will be adding the good-first-issue label and changing the issue content when needed.

[2020-09-29 15:46] premkiran7 commented on #3720
@getJv I would like to work on this. Can I pick the issue?

[2020-09-29 16:26] getJv commented on #3720
Yes, it is available. We are waiting for you PR. Thank you.

[2020-09-30 11:49] gaddavi opened #3816 "Unable to download plugins"
Unable to download plugins as it is redirecting to https://mirrors.tuna.tsinghua.edu.cn/jenkins/plugins/msbuild/1.29/msbuild.hpi

this is particular china site and it is blocked. Any alternate link to download plugins?

[2020-09-30 15:46] MarkEWaite commented on #3816
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

In this particular case, you can see the list o

[2020-09-30 15:46] #3816 closed

[2020-10-01 01:44] MarkEWaite commented on #3799
@priyanshu0405 this is probably not a good choice for a first time contributor, since it depends on the merge and release of the rocketchat notifier plugin before work on this issue can start.

[2020-10-01 02:23] MarkEWaite commented on #3793
Closing this issue because the example script would be better stored in one of the Groovy script example repositories than in the jenkins.io documentation.

[2020-10-01 02:23] #3793 closed

[2020-10-01 09:13] priyanshu0405 commented on #3799
@MarkEWaite, I think you are right. Hey @getJv, I don't think I will be able to do it.

[2020-10-01 10:08] oleg-nenashev commented on #3802
Ack, thanks for the update @getJv !

[2020-10-01 11:57] #3720 closed

[2020-10-01 13:08] getJv commented on #3793
Hello @MarkEWaite Just for clarify:
* In our jankins.io we already have a specific page to [Grovy scripts (hook)](https://www.jenkins.io/doc/book/managing/groovy-hook-scripts/) that script isn't related to it?
* Where is the location of Groovy script example repositories?

[2020-10-01 15:12] MarkEWaite commented on #3793
I agree that it is related to it because it is a groovy script.  However, the "Groovy hook scripts" page describes how scripts are executed without providing sample scripts.  The set of sample scripts is very large.  Sample scripts are already stored in other repositories.  I don't think we should spend effort placing scripts into the documentation unless they illustrate some very specific concept

[2020-10-02 03:50] raquelroriz commented on #3806
Hello! :smile:
I am coming from Hacktoberfest, I will work on this issue.

[2020-10-02 06:48] naveennvrgup commented on #3807
I would like to take this issue :smile_cat:

[2020-10-02 12:44] naveennvrgup commented on #3807
I made PR https://github.com/jenkinsci/git-bisect-plugin/pull/10

[2020-10-02 12:46] naveennvrgup commented on #3807
Since there are too many migration based issues I'll do one more and then move on to something on the java side. Hope its okey @getJv  :cat2:

[2020-10-02 12:46] naveennvrgup commented on #3785
I would like to work on this issue :dog:

[2020-10-02 13:15] naveennvrgup commented on #3795
I would like to work on this issue

[2020-10-02 13:15] naveennvrgup commented on #3795
:pig2: I have made the PR here https://github.com/jenkins-infra/jenkins-infra/pull/1549

[2020-10-03 14:06] MadsJakobsen commented on #3725
Hi,
I would like to work on this issue as part of Hacktoberfest

[2020-10-03 15:38] MarkEWaite commented on #3725
Merged.  Thanks!

[2020-10-03 15:38] #3725 closed

[2020-10-03 15:40] MarkEWaite commented on #3807
PR has been submitted, reviewed, and approved.  Closing issue since the plugin maintainer will need to take the next step

[2020-10-03 15:40] #3807 closed

[2020-10-03 17:25] MarkEWaite commented on #3806
Thanks!  Merged.

[2020-10-03 17:25] #3806 closed

[2020-10-03 20:26] MarkEWaite commented on #3795
Merged

[2020-10-03 20:26] #3795 closed

[2020-10-03 21:16] MadsJakobsen commented on #3808
Hi,
I would like to take on this issue as part of Hacktoberfest

[2020-10-03 22:02] MarkEWaite commented on #3808
Thanks @MadsJakobsen !  Looks great.

[2020-10-03 22:02] #3808 closed

[2020-10-04 03:38] RohanBhanderi commented on #3802
Hello team, I would like to add a PR to fix this issue.

[2020-10-04 03:51] joeratt commented on #3789
Please ignore my linked PR (https://github.com/jenkins-infra/jenkins-infra/pull/1553). I fat-fingered this issue instead of #3798

[2020-10-04 08:40] silverskyvicto opened #3832 "i18n: Japanese translation"
## Suggestion

I want to release a Japanese version of the site.

## Links

It looks like there is already a Chinese language site.

* https://www.jenkins.io/zh/

[2020-10-04 13:26] MarkEWaite commented on #3832
I think that's a great idea.  Are you willing to lead the effort?  Do you have a group ready to assist with the effort?

The [Jenkins Chinese localization special interest group](https://www.jenkins.io/sigs/chinese-localization/) coordinates the Chinese localization effort.  Their efforts are described in ["A Big Step of the Chinese Localization"](https://www.jenkins.io/blog/2019/05/09/chinese-loc

[2020-10-04 13:30] #3802 closed

[2020-10-04 14:11] #3798 closed

[2020-10-04 18:39] MarkEWaite opened #3835 "Fix terminology in "Managing Jenkins" chapter"
## Fix terminology in ["Managing Jenkins"](https://www.jenkins.io/doc/book/managing/) chapter

The Jenkins project has decided to replace offensive terminology in documentation.  Refer to ["Jenkins Terminology Changes"](https://cd.foundation/blog/2020/08/25/jenkins-terminology-changes/) for a history of the proposed changes and the concepts associated with the changes.

Review files in the `conten

[2020-10-04 18:42] MarkEWaite opened #3836 "Fix terminology in "Pipeline" chapter"
## Fix terminology in ["Pipeline"](https://www.jenkins.io/doc/book/pipeline/) chapter

The Jenkins project has decided to replace offensive terminology in documentation.  Refer to ["Jenkins Terminology Changes"](https://cd.foundation/blog/2020/08/25/jenkins-terminology-changes/) for a history of the proposed changes and the concepts associated with the changes.

Review files in the `content/doc/bo

[2020-10-04 18:45] MarkEWaite opened #3837 "Fix terminology in "Pipeline" tutorials"
## Fix terminology in "Pipeline" tutorials

The Jenkins project has decided to replace offensive terminology in documentation.  Refer to ["Jenkins Terminology Changes"](https://cd.foundation/blog/2020/08/25/jenkins-terminology-changes/) for a history of the proposed changes and the concepts associated with the changes.

Review files in the tutorials and tutorial related directories for uses of the

[2020-10-04 19:01] MarkEWaite opened #3838 "Fix terminology in "Developer" documentation"
## Fix terminology in "Developer" documentation

The Jenkins project has decided to replace offensive terminology in documentation.  Refer to ["Jenkins Terminology Changes"](https://cd.foundation/blog/2020/08/25/jenkins-terminology-changes/) for a history of the proposed changes and the concepts associated with the changes.

Review files in the developer documentation for uses of the term `master`

[2020-10-04 19:04] MarkEWaite opened #3839 "Fix terminology in "System Administration" chapter"
## Fix terminology in ["System Administration"](https://www.jenkins.io/doc/book/system-administration/) chapter

The Jenkins project has decided to replace offensive terminology in documentation.  Refer to ["Jenkins Terminology Changes"](https://cd.foundation/blog/2020/08/25/jenkins-terminology-changes/) for a history of the proposed changes and the concepts associated with the changes.

Review fi

[2020-10-04 19:10] MarkEWaite opened #3840 "Fix terminology in "Administration" chapter"
## Fix terminology in ["Administration"](https://www.jenkins.io/doc/book/administration/) chapter

The Jenkins project has decided to replace offensive terminology in documentation.  Refer to ["Jenkins Terminology Changes"](https://cd.foundation/blog/2020/08/25/jenkins-terminology-changes/) for a history of the proposed changes and the concepts associated with the changes.

Review files in the `co

[2020-10-04 22:26] Hemali91 commented on #3803
added PR https://github.com/jenkins-infra/jenkins-infra/pull/1556 to fix this issue

[2020-10-04 22:46] Hemali91 commented on #3729
I have added PR https://github.com/jenkins-infra/jenkins-infra/pull/1557 please take a look

[2020-10-04 23:02] Hemali91 commented on #3719
added PR https://github.com/jenkins-infra/jenkins-infra/pull/1558

[2020-10-04 23:16] Hemali91 commented on #3788
As part of hacktoberfest, please take a look into PR https://github.com/jenkins-infra/jenkins-infra/pull/1559

[2020-10-05 01:52] #3788 closed

[2020-10-05 02:12] #3803 closed

[2020-10-05 02:12] MarkEWaite commented on #3803
Thanks very much!

[2020-10-05 03:43] #3719 closed

[2020-10-05 05:20] RohanBhanderi commented on #3805
Please take a look into PR https://github.com/jenkins-infra/jenkins-infra/pull/1561

[2020-10-05 05:33] RohanBhanderi commented on #3804
I have added PR https://github.com/jenkins-infra/jenkins-infra/pull/1562

[2020-10-05 05:44] RohanBhanderi commented on #3794
Added PR https://github.com/jenkins-infra/jenkins-infra/pull/1563

[2020-10-05 09:19] #3794 closed

[2020-10-05 09:46] #3804 closed

[2020-10-05 10:01] #3805 closed

[2020-10-05 12:12] #3729 closed

[2020-10-05 12:19] mrcodedev commented on #3838
I want assign this issue 👍

[2020-10-05 12:23] mrcodedev commented on #3839
I want assign this issue, thanks 👍

[2020-10-05 13:12] oleg-nenashev commented on #3837
@MarkEWaite @SvA1 is there anything left to be done here?

[2020-10-05 13:15] SvA1 commented on #3837
No, as far as I can see

[2020-10-05 17:06] SambhaviPD commented on #3836
@MarkEWaite - I would like to contribute to this issue.

[2020-10-05 19:56] MarkEWaite commented on #3837
I only found one terminology correction to be made in those files.  I've submitted it as #3846 .  Thanks for checking @SvA1 .

[2020-10-05 19:58] MarkEWaite commented on #3839
Thanks @mrcodedev .  You're welcome to work on an issue even without it being assigned to you.

[2020-10-05 19:59] MarkEWaite commented on #3838
Thanks for your willingness @mrcodedev .  You can work on an issue without it being assigned to you as well.

[2020-10-05 20:09] #3837 closed

[2020-10-05 21:53] chilupa commented on #3835
Hey @MarkEWaite , could you please assign this issue to me?

[2020-10-05 23:36] #3840 closed

[2020-10-06 01:10] #3835 closed

[2020-10-06 05:54] Leviter commented on #3792
Could you assign this issue to me?

[2020-10-06 07:40] #3792 closed

[2020-10-06 13:14] #3836 closed

[2020-10-07 07:54] oleg-nenashev opened #3853 "Developer Guide: Document static analysis and annotation best practices."
As a newcomer Jenkins component developer/maintainer, I would like to see code quality best practices documented somewhere. Static analysis is one of the common ways to improve code quality. In the Jenkins core and many plugins we have established best practices about static analysis in Java (e.g. annotating APIs with SpotBugs annotations, concurrency annotations, Find-Sec-Bugs, API compatibility

[2020-10-07 10:47] edent opened #3854 "Accessibility - event text has poor contrast"
The text of the events' descriptions has poor contrast.
![Accessibility Report](https://user-images.githubusercontent.com/837136/95321168-91d78480-0892-11eb-93c3-cae03797203c.png)

## Suggestion
Change the text colour from `#999` to `#4a5568` - the same as the body text.
On https://github.com/jenkins-infra/jenkins.io/blob/9ca83732c36da2889e417d184f7ef35689878856/content/css/jenkins.css#L647

## Li

[2020-10-07 11:55] #3854 closed

[2020-10-08 19:31] StefanSpieker commented on #3853
I really like the idea. And this might also be a nice place to discuss the way we want to move forward in respect to code quality.

[2020-10-09 06:42] #3839 closed

[2020-10-09 12:24] MarkEWaite commented on #3838
@mrcodedev are you still planning to resolve this issue?  I don't see a pull request to resolve it and I expected it would not be a huge effort to implement the changes.  No problem if you've decided not to pursue it, I can remove the assignment of the issue from you.  Let me know either way.

[2020-10-09 12:25] MarkEWaite commented on #3796
Thanks @chilupa

[2020-10-09 12:25] #3796 closed

[2020-10-09 12:26] MarkEWaite commented on #3790
Thanks @chilupa !

[2020-10-09 12:26] #3790 closed

[2020-10-09 12:45] MarkEWaite commented on #3786
Thanks @d-schaffer!

[2020-10-09 12:45] #3786 closed

[2020-10-09 13:41] mrcodedev commented on #3838
Yes, tomorrow being the weekend I was going to put it on

[2020-10-09 16:42] naveennvrgup commented on #3775
i would like to work on this issue

[2020-10-09 17:22] naveennvrgup commented on #3775
Seems like pom.xml points to github already. Also the README.md seems to be on point.
https://github.com/jenkinsci/pipeline-build-step-plugin/blob/ddd5e1fc22842488481446ec267a76df3d005de8/pom.xml#L15.

So I think it is sufficient to make a redirect entry in vhost.conf.

[2020-10-09 17:34] naveennvrgup commented on #3775
I have made a PR here :innocent: : https://github.com/jenkins-infra/jenkins-infra/pull/1574

[2020-10-09 17:45] MarkEWaite commented on #3775
PR merged.  Thanks very much!

[2020-10-09 17:45] #3775 closed

[2020-10-10 14:09] timja commented on #3692
Did you get this sorted? I didn’t know that mailing list existed we normally use the infra one for accounts issues

[2020-10-10 14:10] timja commented on #3261
This was done

[2020-10-10 14:10] #3261 closed

[2020-10-10 15:03] MarkEWaite commented on #3692
@timja as far as I know, this specific issue was resolved.  The [tics plugin](https://portal.tiobe.com/2020.3/docs/jenkins/index.html) was released.  It had to be removed from distribution because the release included a dependency on itself that caused the Jenkins core code to report a stack overflow exception.

[2020-10-10 15:10] MadsJakobsen commented on #3797
Hey @MarkEWaite, can I create a PR for this issue with a comment about the two open requests https://github.com/jenkinsci/hidden-parameter-plugin/pull/5, https://github.com/jenkinsci/hidden-parameter-plugin/pull/4 ?

[2020-10-10 17:23] vsilverman commented on #3838
@mrcodedev,  I hadn't noticed your assignment to this issue, so was attempting to fix it yesterday.  As you may see below, there are actually more terms in "Developer" docs, that need to be fixed.

Review files in the developer documentation for uses of the term whitelist to describe allowed list of items. When the term whitelist refers to the allowed items, it is to be replaced with allowlist or

[2020-10-10 17:38] mrcodedev commented on #3838
Ok, this night i ser all and if if I have a question I will ask you. I have my girlfriend sick and it has been impossible for me to get on with it. Thank you very much

[2020-10-10 19:22] #3838 closed

[2020-10-10 19:25] MarkEWaite commented on #3797
That would be great @MadsJakobsen .  You could also make a Hacktoberfest contribution to that plugin to fix the tests that are failing.

[2020-10-10 22:33] MadsJakobsen commented on #3797
@MarkEWaite I looked into it earlier when I saw the PRs, I will give it a shot 👍

[2020-10-11 14:14] mrcodedev commented on #3838
I'm sorry, for personal reasons I can't continue with the task. so sorry

[2020-10-11 16:01] MarkEWaite commented on #3838
No problem @mrcodedev .  Thanks for the efforts you've already contributed and best wishes for the future.

[2020-10-13 00:44] vsilverman opened #3862 "Fix terminology in "Developer" docs"
The Jenkins project has decided to replace offensive terminology in documentation. Refer to "Jenkins Terminology Changes" for a history of the proposed changes and the concepts associated with the changes.

Review files in the developer documentation for uses of the term whitelist to describe allowed list of items. When the term **_whitelist_** refers to the allowed items, it is to be replaced wit

[2020-10-13 17:49] vsilverman commented on #3862
I'm going to work on this issue.

[2020-10-14 02:38] MarkEWaite commented on #3781
I'm closing this request because the script examples on that page need to be migrated to a different location rather than being placed on the www.jenkins.io documentation page.  There are several repositories that provide Groovy scripts and we need to extend and improve those locations rather than copying scripts into the www.jenkins.io pages.

[2020-10-14 02:38] #3781 closed

[2020-10-14 02:39] MarkEWaite commented on #3780
Completed previously.

[2020-10-14 02:39] #3780 closed

[2020-10-14 03:40] MarkEWaite commented on #3753
No migration to be performed.  The [82 installations of zaproxy](https://stats.jenkins.io/pluginversions/zaproxy.html) get their documentation from this location.  When wiki.jenkins.io is stopped, this documentation will be unavailable.

[2020-10-14 03:40] #3753 closed

[2020-10-14 04:02] MarkEWaite commented on #3746
Completed.

[2020-10-14 04:02] #3746 closed

[2020-10-14 04:04] MarkEWaite commented on #3747
Groovy scripts need to be migrated to a different location that is yet to be determined.  This page migration needs to wait until that destination is determined.

[2020-10-14 04:04] #3747 closed

[2020-10-14 04:17] MarkEWaite commented on #3742
Closing until we decide on the preferred technique to manage Groovy script examples for system administration.

[2020-10-14 04:17] #3742 closed

[2020-10-14 11:01] dilip123k opened #3865 "Unable to find Jenkins initial password"
Problem with the [Backing-up/Restoring Jenkins](https://www.jenkins.io/doc/book/system-administration/backing-up/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/system-administration/backing-up.adoc)

TODO: Describe the expected and actual behavior here

## Screenshots
unable to find jenkins initial password ..there i already checked with the provided

[2020-10-14 14:55] kaltepeter commented on #3789
I would like to work on this one.

[2020-10-14 15:28] MarkEWaite commented on #3789
That's great @kaltepeter .  Thanks very much!

[2020-10-14 17:12] #3862 closed

[2020-10-14 20:41] richbg commented on #3779
working on this today, should have a PR available shortly

[2020-10-15 04:42] MarkEWaite commented on #3865
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

[2020-10-15 04:42] #3865 closed

[2020-10-15 10:50] oleg-nenashev opened #3872 "Autolabeler Bot does no longer work"
See https://github.com/mithro/autolabeler/issues/57 for the root cause. According to the analysis, the APIs used by the bot are no longer available.

We could consider moving to https://github.com/marketplace/actions/labeler, https://github.com/marketplace/actions/auto-labeler or another similar GitHub Action.

[2020-10-16 21:55] oleg-nenashev commented on #3832
There are definitely some vendors and contributors who might be interested in supporting this effort (e.g. TechMatrix). If there is a mailing list discussion about the website (and localizations), I might be able to assist with establishing contacts.

[2020-10-17 12:21] silverskyvicto commented on #3832
@oleg-nenashev

Thanks for your comment.

I searched Google Groups but couldn't find anything related.
There is not a mailing list discussion about the website (and localizations).

It looks like we need to do something else to find someone who is interested.

[2020-10-17 14:50] Fargk commented on #3728
I propose to migrate in https://www.jenkins.io/doc/tutorials/ not in https://wiki.jenkins.io/display/JENKINS/Basic+guide+to+Jelly+usage+in+Jenkins# as in the description.

[2020-10-20 04:25] kaltepeter commented on #3726
I'm interested in picking this one up.

[2020-10-20 17:10] Mike4Online opened #3885 "Jenkins download and deployment page - download links to 2.263 war file are broken"
Problem with the [Jenkins download and deployment](https://www.jenkins.io/download/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/index.html.haml)
download links to 2.263 war file are broken

From https://www.jenkins.io/download/, under **Download Jenkins 2.263 for:,** click **Generic Java package (.war)**

You'll get a **Not found** in your browser.

[2020-10-20 17:22] jglick commented on #3885
Originally reported as: https://github.com/jenkinsci/jenkins/pull/5019#issuecomment-712984384

[2020-10-20 17:40] andreamussap commented on #3783
@MarkEWaite @getJv I'd like to work on this issue. Can you give me the link for a page with instructions on how to do it? Thanks.

[2020-10-20 18:30] halkeye commented on #3783
the rewritecond needs to be on a new line, but yea, that should work

[2020-10-20 18:48] olblak commented on #3885
The issue has been identified and we are working on it.
In short, we generated a new maven release and publish it on the Jenkins maven repository, but then the packaging failed because of the windows packaging and due to that other packages haven't been push

[2020-10-20 20:20] MarkEWaite commented on #3885
Resolved.  The [mirrorlist](https://get.jenkins.io/war/2.263/jenkins.war?mirrorlist) shows that 6 of the mirrors now have Jenkins 2.263.

[2020-10-20 20:20] #3885 closed

[2020-10-20 23:45] joemirizio commented on #3094
@Code-Ebullient let me know if you want to hand this issue off

[2020-10-21 03:38] MarkEWaite commented on #3726
Thanks @kaltepeter .  Assigned to you so that my searches will be simpler.  You're welcome to work on an issue as soon as you mention in a comment that you want to work on it.  The assignment of the issue is a convenience for the rest of us but is not required for you to work on the issue.

[2020-10-21 05:13] oleg-nenashev commented on #3094
Since the conversation was 2 months ago, IMHO it is safe to assume the
issue is up for grabs

On Wed, Oct 21, 2020, 01:45 Joe Mirizio <notifications@github.com> wrote:

[2020-10-21 07:13] #3783 closed

[2020-10-21 12:21] kaltepeter commented on #3726
@MarkEWaite thank you, I was wondering about that too.

[2020-10-21 16:42] andreamussap commented on #3777
I'd like to work on this issue.

[2020-10-21 16:46] andreamussap commented on #3773
I'd like to work on this issue.

[2020-10-21 16:46] andreamussap commented on #3759
I'd like to work on this issue.

[2020-10-22 04:59] joemirizio commented on #3094
I added a few responsive breakpoints for smaller screen sizes.

I'm between two different versions, one where the 2 column layout starts at [`small`](https://getbootstrap.com/docs/4.3/layout/grid/#grid-options) (option A) and another that starts at [`medium`](https://getbootstrap.com/docs/4.3/layout/grid/#grid-options) (option B). Option A is seems a little dense at `small`, so I'm leaning toward

[2020-10-22 05:03] oleg-nenashev commented on #3094
Option B looks better to me. Both options are much better than what we have
now. Thanks for working on this!

On Thu, Oct 22, 2020, 06:59 Joe Mirizio <notifications@github.com> wrote:

[2020-10-22 06:09] #3094 closed

[2020-10-22 15:03] #3726 closed

[2020-10-22 23:31] vsilverman opened #3892 "Jenkins download and deployment page - jenkins.msi file is not available for Jenkins 2.263 release"
Problem with the [Jenkins download and deployment](https://www.jenkins.io/download/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/index.html.haml)

Expected: Selecting Windows option link should result in downloading proper release file to the client's computer
Actual:      Selecting Windows option link results in displaying "Not Found" message

## S

[2020-10-23 06:19] andreamussap commented on #3104
Do you have something in mind, like a template for this page, or an example that you saw somewhere else? Also, where would this be be linked from, the https://www.jenkins.io/ top menu bar?

[2020-10-23 08:40] olblak commented on #3104
@andreamussap I would envision `https://www.jenkins.io/sponsors` available from the top menu, "about" -> "sponsors"
Maybe with a link from the bottom of the landing page.
And the page would be split into three areas:

1) A list with big sponsors logo for main or very long-standing sponsors.
2) A list of middle-sized sponsors logo for most sponsors.
3) This section is the one that I am less confide

[2020-10-23 11:21] andreamussap commented on #3104
(available from the top menu, "about" -> "sponsors") - I think it's a good location.

(former sponsors) - yeah I wonder if this would bring any benefit, or if it would be relevant. Why would we want to list those who sponsored in the past? It's an honest question, and I don't think that this section would add value to the page.

(A list with logo) - And then, besides or below the logo, a short par

[2020-10-24 14:59] MarkEWaite commented on #3892
Fixed by changes from @slide in https://github.com/jenkins-infra/release/pull/107 .  Thanks very much @slide.  Windows MSI for Jenkins 2.263 is published and can be downloaded

[2020-10-24 14:59] #3892 closed

[2020-10-25 16:40] timja commented on #3777
Closed in https://github.com/jenkins-infra/jenkins-infra/pull/1590

[2020-10-25 16:40] #3777 closed

[2020-10-25 16:41] timja commented on #3773
Closed in https://github.com/jenkins-infra/jenkins-infra/pull/1590

[2020-10-25 16:41] #3773 closed

[2020-10-25 16:41] andreamussap commented on #3752
Please assign this issue to me.

[2020-10-25 16:41] timja commented on #3759
Closed in https://github.com/jenkins-infra/jenkins-infra/pull/1590

[2020-10-25 16:41] #3759 closed

[2020-10-25 16:41] andreamussap commented on #3751
Please assign this issue to me.

[2020-10-25 16:41] andreamussap commented on #3749
Please assign this issue to me.

[2020-10-25 16:42] timja commented on #3757
Closed in https://github.com/jenkins-infra/jenkins-infra/pull/1575

[2020-10-25 16:42] #3757 closed

[2020-10-27 02:53] julian-alarcon commented on #3778
Assign this to me! PR is ready https://github.com/jenkins-infra/jenkins.io/pull/3896

[2020-10-27 23:32] #3778 closed

[2020-10-29 17:05] Pranav-896 opened #3907 "Actually i am having an issue while creating new account of jenkins its showing a opps message again and again but i have checked all the things thoroughly but i found nothing misspelled so i will request you to please check what is the problem"
Problem with the [Using credentials](https://www.jenkins.io/doc/book/using/using-credentials/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/using/using-credentials.adoc)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2020-10-29 19:18] MarkEWaite commented on #3907
@Pranav-896 it is not clear from your description if you are attempting to

* create an account on jenkins.io through the [accounts app](https://accounts.jenkins.io/)
* create an account on a Jenkins controller that you installed
* create a credential as is described in the page you linked from this bug report

The issue tracker for the jenkins.io documentation site is used to track issues with th

[2020-10-29 19:18] #3907 closed

[2020-10-30 08:03] oleg-nenashev opened #3908 "jenkins.io CD is broken due to the ci.jenkins.io artifacts distribution issues"
Looks like to be related to the recent ResourceURL

[code]

https://ci.jenkins.io/job/Infra/job/pipeline-steps-doc-generator/job/master/lastSuccessfulBuild/artifact/ exists, and the artifact is present there. The download gets redirected to https://assets.ci.jenkins.io/static-files/lmFnPGcA8Vwsd6_0ELZNRk1QUurWPYZOgBLgFOsaO98xNjA0MDQ0NzI5MTYwOjk6YW5vbnltb3VzOmpvYi9JbmZyYS9qb2IvcGlwZWxpbmUtc3RlcHMtZ

[2020-10-30 08:24] timja commented on #3908
the resource root url has worked for well over a month =/

[2020-10-30 09:19] daniel-beck commented on #3908
Cannot reproduce.

[code]

[2020-10-30 09:23] daniel-beck commented on #3908
The most recent failed build passed this, indicating a temporary problem, and instead fails because:

[code]

[2020-10-30 09:23] #3908 closed

[2020-10-30 09:24] timja commented on #3908
It was fixed 30 mins ago by manually reverting the puppet change to add X-Forwarded-Host that was breaking it

[2020-10-30 09:24] daniel-beck commented on #3908
Yep:

[2020-10-30 09:30] timja commented on #3908
https://github.com/jenkins-infra/jenkins.io/pull/3909

[2020-10-30 19:53] 11000100111000 commented on #3755
I'd like to work on this issue for hacktoberfest ^^

[2020-10-30 23:46] MarkEWaite commented on #3755
You're welcome to do so @11000100111000 .  I've assigned it to you as a convenience for the rest of us.  No assignment is needed for the work to begin or complete.

[2020-10-31 12:18] #3750 closed

[2020-10-31 14:35] 11000100111000 commented on #3755
@MarkEWaite  Seems to be more complicated than i initially thought ^^ I don't know if i find the time to do it soon so i'd say leave it unassigned so anyone could take it :)

[2020-10-31 17:39] #3188 closed

[2020-10-31 20:03] TobiX opened #3920 "Split reverse proxy config page?"
The page  has become quite long (It's 24 pages when trying to print it). I'd propose to split it by reverse proxy server. This would also help with search engine ranking, since queries like "jenkins nginx" are probably quite common (Google does a good job placing the page on the front page, but other search engines aren't that clever unfortunatly...)

This probably means some redirects from the wi

[2020-10-31 20:19] MarkEWaite commented on #3920
I like that idea very much.  I was able to split the ["Installing" page](https://www.jenkins.io/doc/book/installing/) and redirect the ID's inside the page with some [Javascript](https://raw.githubusercontent.com/jenkins-infra/jenkins.io/master/content/doc/book/installing/index.adoc) that seems to be working OK.  I think we could apply the same technique to this page.

[2020-10-31 23:51] MarkEWaite commented on #3779
Submitted https://github.com/jenkins-infra/jenkins-infra/pull/1610 for the redirect.  Once that is merged, this issue can be closed as complete.

[2020-11-01 20:17] #3920 closed

[2020-11-01 20:18] #3789 closed

[2020-11-01 21:38] #3749 closed

[2020-11-01 21:38] #3751 closed

[2020-11-01 21:38] #3752 closed

[2020-11-02 08:27] lepffm opened #3923 "Managing Security page - typo error founded. ( seecurity )"
Problem with the [Managing Security](https://www.jenkins.io/doc/book/managing/security/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/managing/security.adoc)

typo error founded. (seecurity)

## Screenshots

Beginning with Jenkins 2.214 and Jenkins LTS 2.222.1, the "Enable Security" checkbox has been removed. Jenkins own user database is used as the

[2020-11-02 11:03] olblak commented on #3104
Another idea that I have to increase sponsor visibility without taking too many places on the landing page would be on top of a dedicated sponsoring page, having randomly show on the landing page a few (1-3) sponsors with a logo, a small description of how it helps the Jenkins project, like a jumbotron at the bottom of the page

[2020-11-02 11:10] #3514 closed

[2020-11-02 15:11] #3923 closed

[2020-11-06 18:47] vsilverman opened #3938 "Kubernetes page - Incorrect references in "Customizing Jenkins with plugins" section"
Problem with the [Kubernetes](https://www.jenkins.io/doc/book/installing/kubernetes/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/kubernetes.adoc)

As shown in below screenshot "Managing Jenkins" and "Managing plugins" point to non-existent pages

![image](https://user-images.githubusercontent.com/2159948/98403155-61177600-201d-11eb-8bd5-

[2020-11-06 22:31] #3938 closed

[2020-11-08 16:58] MarkEWaite opened #3944 "Kubernetes install page: persistent volume not found"
Problem with the [Kubernetes](https://www.jenkins.io/doc/book/installing/kubernetes/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/kubernetes.adoc)

A user reported to the ["Jenkins User Documentation - Page and Content Feedback"](https://docs.google.com/spreadsheets/d/1nA8xVOkyKmZ8oTYSLdwjborT0w-BpBNNZT0nxR9deZ8/edit?usp=sharing) form tha

[2020-11-08 17:02] MarkEWaite opened #3945 "Groovy Hook Scripts page: Clarify allowed HOOK values"
Problem with the [Groovy Hook Scripts](https://www.jenkins.io/doc/book/managing/groovy-hook-scripts/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/managing/groovy-hook-scripts.adoc)

A user reported to the ["Jenkins User Documentation - Page and Content Feedback"](https://docs.google.com/spreadsheets/d/1nA8xVOkyKmZ8oTYSLdwjborT0w-BpBNNZT0nxR9deZ8/edi

[2020-11-08 17:10] markyjackson-taulia commented on #3944
Without knowing more, I suspect the user did not edit the `jenkins-values.yaml` to append the storageClass `storageClass: jenkins-pv`
Not doing thatsteo would result in the error the user is experiencing.
This step is noted in the section tited `Install Jenkins`

[2020-11-08 17:15] MarkEWaite commented on #3774
Fixed in commit 6a4f25af3 by @richbg .

[2020-11-08 17:15] #3774 closed

[2020-11-08 19:42] MarkEWaite commented on #3944
Thanks very much @markyjackson-taulia .  Failure to read the instructions

[2020-11-08 19:42] #3944 closed

[2020-11-09 23:05] atsalolikhin-spokeo opened #3948 "Definition of "subproject" is missing from Jenkins User Handbook"
I have a Jenkins job which is showing up with a "Subprojects" section and then lists two unresolved subprojects.  However I cannot find anywhere in Jenkins documentation what a subproject is?

## Links

 * https://www.jenkins.io/user-handbook.pdf

[2020-11-09 23:08] atsalolikhin-spokeo commented on #3948
https://wiki.jenkins.io/pages/viewpage.action?pageId=70878747 mentions subprojects but that is an old page, the current version has no mention of subprojects.

Here is the source code that generates the heading I see:

https://github.com/jenkinsci/parameterized-trigger-plugin/search?q=subproject

[2020-11-10 07:19] zbynek commented on #3948
The linked handbook covers the core functionality of Jenkins, the notion of subprojects is introduced by parametrized trigger plugin and is out of scope for that book. The documentation of that plugin consists of two parts:
* https://plugins.jenkins.io/parameterized-trigger/
* https://github.com/jenkinsci/parameterized-trigger-plugin/blob/master/CHANGELOG.md (linked from the above, contains the wo

[2020-11-11 01:18] atsalolikhin-spokeo commented on #3948
Thank you for a very complete answer, @zbynek.  I've opened https://github.com/jenkinsci/parameterized-trigger-plugin/pull/149 to update the README for Parameterized Trigger plugin.

[2020-11-11 01:18] #3948 closed

[2020-11-12 16:20] MatthewChickoree opened #3958 "Jenkins download and deployment page - Windows install packages not available"
Problem with the [Jenkins download and deployment](https://www.jenkins.io/download/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/index.html.haml)

503 Service Temporarily Unavailable is seen when the windows download links are clicked.
URL: https://get.jenkins.io/windows/2.266/jenkins.msi

## Screenshots

 TODO: Add screenshots if possible
![image](

[2020-11-12 16:46] netsurfer8 commented on #3958
The updates.jenkins.io site is working, as it shows what plugins have updates available, etc.
Just the get.jenkins.io site as MatthewChickoree mentioned.

Preparation | Checking internet connectivity
Checking update center connectivitySuccess
-- | --
jenkins.war | Failure -java.io.IOException: Server returned HTTP response code: 503 for URL: https://get.jenkins.io/war-stable/2.249.3/jenkins.war
at

[2020-11-12 16:46] MarkEWaite commented on #3958
Thanks for the report.  The monitoring is also reporting the issue.  The redis database backing the mirroring system is currently having difficulties mounting a volume.  Discussions and investigation are ongoing in the Jenkins infra IRC channel

[2020-11-12 18:27] invartam opened #3959 "Timeout on https://get.jenkins.io/plugins"
Problem with this page:
https://get.jenkins.io/plugins

## Expected Behavior
The page should respond, and we could download plugins.

## Actual Behavior
504 Gateway timeout or 502 Bad Gateway errors.

## Screenshots

[code]

## Possible Solution

N/A

[2020-11-12 19:12] MarkEWaite commented on #3959
Sorry about the outage.  Jenkins infrastructure team is working on it now.  https://github.com/jenkins-infra/jenkins.io/issues/3958#issuecomment-726197993 describes more.  Work is happening in the Jenkins infrastructure IRC channel.

[2020-11-12 19:15] haytham-salhi opened #3960 "Jenkins downloads are not available"
Problem with the [Jenkins download and deployment](https://www.jenkins.io/download/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/index.html.haml)

It should be working, why is it down?

## Screenshots

![image](https://user-images.githubusercontent.com/11832107/98985344-18cfea80-252c-11eb-9e87-2849b6bedec4.png)

[2020-11-12 19:23] saitama-dh commented on #3958
Hi mark! Any possible ETA?

[2020-11-12 19:27] MarkEWaite commented on #3958
No ETA yet.  Azure is reporting volume mount timeouts inside the kubernetes cluster.  Infrastructure team is continuing to work on it.

[2020-11-12 19:28] MarkEWaite commented on #3960
The Kubernetes cluster we use on Microsoft Azure is suffering timeouts when trying to mount volumes needed to manage the mirror infrastructure.  See https://github.com/jenkins-infra/jenkins.io/issues/3958#issuecomment-726197993 for more info.

Jenkins infrastructure team is investigating the issue and working towards a fix.

[2020-11-12 19:32] netsurfer8 commented on #3958
Thanks for the updates @MarkEWaite , your efforts are appreciated!

[2020-11-12 19:32] scornejob commented on #3960
bumping to get noticed once is back :)

[2020-11-12 19:38] saitama-dh commented on #3958
Ok thanks! 👍

[2020-11-12 19:45] Kingfatehkhan786 commented on #3960
Hi

is it up  Again   ?

[2020-11-12 19:45] MarkEWaite commented on #3960
No

[2020-11-12 20:09] tylerjones4508 commented on #3960
Same Issue

[2020-11-12 20:13] kellcomnet2 commented on #3960
same issue

[2020-11-12 20:26] raboy commented on #3960
https://get.jenkins.io/ 503

[2020-11-12 20:59] speedplane commented on #3958
Not sure if this is related, but I can no longer access the below deb file either (just started as an issue today). It has been timing out, and sometimes redirecting to another page that returns a 502. Just tried it a sec ago, and it now works, but it seems somewhat unstable:

https://pkg.jenkins.io/debian-stable/binary/jenkins_2.249.3_all.deb

[2020-11-12 21:04] MarkEWaite commented on #3958
It is related.

[2020-11-12 22:23] BendeckDavid opened #3962 "Server Down https://get.jenkins.io/plugins/"
I am trying to install a plugin to jenkins and apparently it cannot connect to the server

- Ubuntu 18.04.5 LTS (GNU/Linux 4.15.0-112-generic x86_64)
- Jenkins v2.249.3
- Slack Notification v2.43

I tried
```curl https://updates.jenkins.io/download/plugins/slack/2.43/slack.hpi```

I also tried
```curl https://get.jenkins.io/plugins/slack/2.43/slack.hpi```

	at sun.net.www.protocol.http.HttpURLConn

[2020-11-12 23:12] BendeckDavid commented on #3958
I know it is not recommended, but you can download the plugins from here, and import them manually at "Plugins > Advanced"

http://mirrors.jenkins-ci.org/plugins/

[2020-11-12 23:13] BendeckDavid commented on #3959
@invartam
http://mirrors.jenkins-ci.org/plugins/workflow-basic-steps/

[2020-11-12 23:59] MarkEWaite commented on #3960
Duplicate of #3958, #3959, #3962

[2020-11-12 23:59] MarkEWaite commented on #3962
Duplicate of #3958, #3959, #3960

[2020-11-12 23:59] MarkEWaite commented on #3959
Duplicate of #3958, #3960, #3962

[2020-11-13 00:00] MarkEWaite commented on #3958
Duplicate of #3959, #3960, #3962

[2020-11-13 08:42] liorlib7 commented on #3958
any update?

[2020-11-13 10:10] MatthewChickoree commented on #3958
Hi,

Can you send me a link to the lts msi?

I just want to install it to try Jenkins.

On Fri, 13 Nov 2020, 4:42 am liorlib7, <notifications@github.com> wrote:

[2020-11-13 12:00] mojjy commented on #3958
seems to be working now - thanks to whoever fixed it - you awesome

[2020-11-13 13:01] motokotoboom opened #3964 "504 Errors"
Problem with the [Jenkins](https://www.jenkins.io/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/index.html.haml)

TODO: Describe the expected and actual behavior here

## Screenshots

12:51:05 Failed in the last attempt (curl -sSfL --connect-timeout 20 --retry 3 --retry-delay 0 --retry-max-time 60 https://updates.jenkins.io/download/plugins/configuration-as-

[2020-11-13 13:28] MarkEWaite commented on #3958
@MatthewChickoree installing the LTS MSI won't be a positive experience until the plugin mirror system is available again.  Downloading and installing the Jenkins LTS MSI would allow you to start Jenkins but won't allow you to install plugins.  Plugins provide most of the Jenkins functionality.

Wait for the plugin mirrors to be functional again before you evaluate Jenkins LTS.

[2020-11-13 13:46] conradoverta commented on #3958
Hi, @MarkEWaite . Thanks for the info. Is there a temporary (even if manual) workaround? I saw that Bendeck posted a link but it's not https so I'm hesitant to use it.

[2020-11-13 13:51] MartinCerny-awin commented on #3964
I am experiencing the same issues. We are running jenkins in kubernetes and the pod is not able to start.

[2020-11-13 13:52] stuart-c commented on #3964
See #3958 for details

[2020-11-13 13:57] sergey-shuyskiy commented on #3958
Hi, @conradoverta
For manual installation:
- download plugin from mirror, ex. https://mirror.yandex.ru/mirrors/jenkins/plugins/
- upload file to Jenkins https://www.jenkins.io/doc/book/managing/plugins/#advanced-installation

[2020-11-13 14:02] aruna1715 commented on #3962
Hello - is this resolved? I am trying to install some jenkins plugins but am seeing a 504 Gateway timeout error.
https://get.jenkins.io/plugins/email-ext/2.79/email-ext.hpi
504 Gateway Time-out
nginx/1.19.1

[2020-11-13 14:05] BendeckDavid commented on #3962
http://mirrors.jenkins-ci.org/plugins/email-ext/
You can download and install it
"Jenkins> Plugins> advanced"

[2020-11-13 14:07] BendeckDavid commented on #3964
http://mirrors.jenkins-ci.org/plugins/configuration-as-code/
You can download and install it manually
"Jenkins > Plugins > advanced"

[2020-11-13 14:24] marek-obuchowicz commented on #3962
Just learned that jenkins installed by helm char https://github.com/jenkinsci/helm-charts is completely non-production ready, pod on restart downloads plugins and it doesn't continue without being able to do it. Hope `get.jenkins.io` gets restored over the weekend, if not - will need on Monday to have quick "replace all jenkinses" action :(

[2020-11-13 14:32] oleg-nenashev commented on #3962
@marek-obuchowicz deploying an in-house update center is my recommendation for large scale setups. IIRC Jenkins Helm charts support custom update centers for plugins, CC @torstenwalter

[2020-11-13 14:40] marek-obuchowicz commented on #3962
we're rather talking about a bunch of really small setups - for us, basically jenkins is astandard piece of every k8s cluster; some of them are as small as 2 worker nodes (as they just host basic websites, etc). is there any chance to use any already expisting/public update center for existing charts, which could be seen as quick "workaround" to restore jenkinses, until `get.jenkins.io` is fixed?

[2020-11-13 14:51] im-lcoupe commented on #3962
@marek-obuchowicz that's a controllable feature afaik: `  # Enable to initialize the Jenkins master only once on initial installation.
  # Without this, whenever the master gets restarted (Evicted, etc.) it will fetch plugin updates which has the potential to cause breakage.
  # Note that for this to work, `persistence.enabled` needs to be set to `true`
  initializeOnce: false`

[2020-11-13 14:54] marek-obuchowicz commented on #3962
@im-lcoupe it's still good time to learn something, thank you very much for the hint!

[2020-11-13 15:24] MatthewChickoree commented on #3958
Thank you for the info.

I just tried to download the msi again but the issue persists - I can wait
till Monday to recheck.

I will check the docker image in the interim to familiarize myself with
Jenkins.

Have a great weekend all and hope this issue gets fully resolved soon 🙂

On Fri, 13 Nov 2020, 9:28 am Mark Waite, <notifications@github.com> wrote:

[2020-11-13 15:45] torstenwalter commented on #3962
Jenkins Helm chart is using docker images from https://github.com/jenkinsci/docker#preinstalling-plugins.

So you should be able to use the same environment variables as describe there to use a different update center when downloading plugins.

Plugin download is done using the init container. Once can set environment variables for it using `master.initContainerEnv`.

For production environments I

[2020-11-13 16:46] phuonghau98 commented on #3958
Really appreciate what you guys are doing.
I am pretty new to Jenkins, have base on gitlab-ci, and suddenly experience this, I wonder if this thing happen frequently? Any workaround available?
Because I think it is crucial to have such service available at least 99% of all the time for my team.

[2020-11-13 16:51] conradoverta commented on #3958
@sergey-shuyskiy That worked great. Thanks!

[2020-11-13 17:01] motokotoboom commented on #3964
@BendeckDavid It's startup script from stable/jenkins chart, it's failing on container start.
@MartinCerny-awin build your image with mirror. It looks like install-plugins can't work with mirrors: add
[code]
to your docker file and here's patched file:
[code]
It's a dirty hack but at least I could start jenkins.
@stuart-c thanks.

[2020-11-13 17:11] MatthewChickoree commented on #3958
Hi all,

I was able to download the msi. Granted the linkit worked off and on. I
understand the issue is related to Azure storage.

I performed some initial configs and next week will look into the plugins.

On Fri, 13 Nov 2020, 12:51 pm conradoverta, <notifications@github.com>
wrote:

[2020-11-13 17:13] motokotoboom commented on #3958
If jenkins fails in kubernetes, use this as temporary solution:
https://github.com/jenkins-infra/jenkins.io/issues/3964#issuecomment-726878331

[2020-11-13 17:53] bchipman opened #3966 "Jenkins plugin downloads not working, 502 bad gateway or 504 gateway timeout"
Problem with the [Jenkins](https://www.jenkins.io/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/index.html.haml)

Cannot download any Jenkins plugins, for example none of the links on this page work: https://updates.jenkins-ci.org/download/plugins/git/

[2020-11-13 18:05] MarkEWaite commented on #3958
Work arounds are available but they depend on the specific issue you're trying to work around.  If you need a specific Jenkins installer (war, msi, deb, rpm, etc.) or a specific plugin, you can download it from one of several different mirror sites, like:

* http://mirrors.jenkins.io/
* https://ftp-chi.osuosl.org/pub/jenkins/
* https://mirror.xmission.com/jenkins/
* https://mirror.esuni.jp/jenkins

[2020-11-13 19:00] joelio commented on #3962
I'm seeing failures on a fresh docker run of the lts image. Can't install plugins so the bootstrap fails.

Lots of 502's

```java.io.IOException: Server returned HTTP response code: 502 for URL: https://get.jenkins.io/plugins/antisamy-markup-formatter/2.1/antisamy-markup-formatter.hpi``` etc

[2020-11-13 19:02] emmm-dee commented on #3962
Getting a 503: `https://get.jenkins.io/plugins/github-branch-source/2.9.1/github-branch-source.hpi`

[2020-11-13 19:33] Spenser309 commented on #3958
If you are using jenkins-plugin-cli you can set `JENKINS_UC_DOWNLOAD=http://ftp-nyc.osuosl.org/pub/jenkins/`.

[2020-11-13 19:57] akhilesh0 commented on #3958
@Spenser309 Tried JENKINS_UC_DOWNLOAD=http://ftp-nyc.osuosl.org/pub/jenkins/ but still taking https://updates.jenkins.io/download/plugins/workflow-job/2.31/workflow-job.hpi

[2020-11-13 20:07] kenttannady commented on #3958
hallo @MarkEWaite, could you give update to us when process restoring is already done.

[2020-11-13 20:15] MarkEWaite commented on #3958
Yes, when we've resolved the issue, I will close this issue with a comment that the issue is resolved.

[2020-11-13 20:17] MarkEWaite commented on #3962
@joelio and @emmm-dee yes, the issue is not resolved.

[2020-11-13 20:19] MarkEWaite commented on #3966
Duplicate of #3960 and several others.  See the [pinned issues](https://github.com/jenkins-infra/jenkins.io/issues).  We're working on it

[2020-11-13 20:19] #3966 closed

[2020-11-13 21:42] pawoh2001 commented on #3962
Getting a 503 error also. i don't think it is resolved yet.

[2020-11-13 22:13] clementlesne commented on #3962
Same, `curl -v https://get.jenkins.io/plugins/kubernetes/1.28.0/kubernetes.hpi` thrown me an error.

[2020-11-13 22:20] MarkEWaite commented on #3962
@pawoh2001 and @clementlesne the issue is not yet resolved.

[2020-11-13 23:03] dragonfly-net commented on #3958
Don't use Azure, it's buggy.

[2020-11-13 23:40] lukeZhangMengxi commented on #3962
I am getting 503 error as well... And the current plugin actually is crushing the entire pipeline, I really need an upgrade. Please fix it ASAP~

[2020-11-13 23:55] MarkEWaite commented on #3962
Why would a "current plugin ... crush [your] entire pipeline"?

If you need to download a specific plugin version, use your web browser to open one of the mirrors, navigate to the plugins directory, download the plugin, and use the Jenkins plugin manager's Advanced tab to upload the that file into Jenkins.

Mirrors are available at:

* http://mirrors.jenkins.io/
* https://ftp-chi.osuosl.org/pub/je

[2020-11-14 01:29] phuonghau98 commented on #3958
Ok I got it, thanks for your detail answer. Really appreciate it.

[2020-11-14 01:42] devopsclasss2020 opened #3969 "Jenkins page - can't install jenkins - HTTPS Error 503 - Service Unavailable]"
Problem with the [Jenkins](https://www.jenkins.io/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/index.html.haml)

TODO: HTTPS Error 503 - Service Unavailable]

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2020-11-14 01:51] MarkEWaite commented on #3969
Duplicate of #3960 and several others

[2020-11-14 01:51] #3969 closed

[2020-11-14 01:53] gokuney commented on #3958
Ah! It's Microsoft again :( Thanks for the update @MarkEWaite , hope it gets resolved soon.
![](https://i.imgflip.com/l87ck.jpg)

[2020-11-14 14:30] MarkEWaite commented on #3964
[Resolved Nov 14, 2020](https://twitter.com/0lblak/status/1327543458765139969) by changing from a kubernetes hosted service that depends on Azure blob storage to a different location that does not depend on Azure blog storage.

[2020-11-14 14:30] #3964 closed

[2020-11-14 14:31] MarkEWaite commented on #3962
[Resolved Nov 14, 2020](https://twitter.com/0lblak/status/1327543458765139969) by changing from a kubernetes hosted service that depends on Azure blob storage to a different location that does not depend on Azure blog storage.

[2020-11-14 14:31] #3962 closed

[2020-11-14 14:31] MarkEWaite commented on #3960
[Resolved Nov 14, 2020](https://twitter.com/0lblak/status/1327543458765139969) by changing from a kubernetes hosted service that depends on Azure blob storage to a different location that does not depend on Azure blog storage.

[2020-11-14 14:31] #3960 closed

[2020-11-14 14:32] MarkEWaite commented on #3959
[Resolved Nov 14, 2020](https://twitter.com/0lblak/status/1327543458765139969) by changing from a kubernetes hosted service that depends on Azure blob storage to a different location that does not depend on Azure blob storage.

[2020-11-14 14:32] #3959 closed

[2020-11-14 14:32] MarkEWaite commented on #3958
[Resolved Nov 14, 2020](https://twitter.com/0lblak/status/1327543458765139969) by changing from a kubernetes hosted service that depends on Azure blob storage to a different location that does not depend on Azure blob storage.

[2020-11-14 14:32] #3958 closed

[2020-11-15 06:05] nhomble opened #3971 "bad link in 2020/10/21 blog post"
This blog post: https://www.jenkins.io/blog/2020/10/21/a-sustainable-pattern-with-shared-library/

In the **Solution** section

It looks like "how the..." link wasn't replaced correctly and it points to: https://github.com/jenkinsci:

[2020-11-15 17:45] timja commented on #3785
I think this just needs a redirect to https://plugins.jenkins.io/scm-api/

[2020-11-15 18:10] MarkEWaite commented on #3971
Thanks for reporting the issue!  Pull request submitted at https://github.com/jenkins-infra/jenkins.io/pull/3974

[2020-11-15 18:23] nhomble commented on #3971
Awesome thanks @MarkEWaite  - for my own understanding, is there variable substitution happening somewhere? In the future, I'd be more than happy to submit prs to help out. I am not sure how the extra colon caused the bug. My new role is using jenkins so'll be reading a lot of these posts in the next couple weeks :)

[2020-11-15 18:41] MarkEWaite commented on #3971
@nhomble the file with the problem is an [asciidoc](https://asciidoc.org/) source file.  The link syntax for asciidoc is:

[code]

With that syntax, the trailing `:` character is just a mistake in the URL of the link.

[2020-11-15 20:47] #3971 closed

[2020-11-16 12:35] motokotoboom commented on #3964
@MarkEWaite
please check urls in repo. Some plugins have wrong url to package
[code]
I guess https://updates.jenkins.io/download/plugins/git-plugin/ should be https://updates.jenkins.io/download/plugins/git/

[2020-11-16 13:31] MarkEWaite commented on #3964
@motokotoboom I don't find any location in the jenkins.io site source code that mentions the URL https://updates.jenkins.io/download/plugins/git-plugin/ .  Can you point to a location where that is mentioned?

When I download plugins with the commands:

[code]

The plugins download successfully, including the git plugin and its dependencies.  Maybe your list of plugins mistakenly lists `git-plugin

[2020-11-17 11:41] dskouris commented on #3748
PR #1624 thanks

[2020-11-17 11:55] porwat opened #3976 "jenkins-2.150.2-1.1.noarch.rpm is missing from https://pkg.jenkins.io/redhat-stable"
The package is listed as available but when I try to install it I get the error:

[code]

[2020-11-17 17:33] MarkEWaite commented on #3976
Thanks for the report.  The RPM repository contents is created based on the full list of rpm files from all history but several key mirrors only retain the most recent 100 GB of installations.  Last week's Azure file storage outage of get.jenkins.io has forced us to switch to an alternate location for downloads.

A Jenkins version as old as 2.150.2 is known to have security vulnerabilities, is no

[2020-11-18 07:10] porwat commented on #3976
Ok, thanks for the answer Mark.
Best regards

[2020-11-18 21:26] ikarstein opened #3978 "issues.jenkins.io account creation and login failed"
Problem with the [issues.jenkins.io Login](https://accounts.jenkins.io/doLogin) page

Expected: "Create new account and log in successfully"

![image](https://user-images.githubusercontent.com/5047251/99589883-e53e0600-29ec-11eb-97ce-75fb3f4bc5ab.png)

Account is created. But I cannot login.

![image](https://user-images.githubusercontent.com/5047251/99589980-07d01f00-29ed-11eb-828f-0b89ba8c44c4.p

[2020-11-18 21:36] ikarstein commented on #3978
I tried another link somewhere on the site to report a bug in "Conditional Build Step". I got this screen:

![image](https://user-images.githubusercontent.com/5047251/99590960-60ec8280-29ee-11eb-86fb-2dfea6af236b.png)

It seems the account ist known. But I cannot login or create a new password... Nothing works

[2020-11-18 21:44] dskouris commented on #3736
PR jenkins-infra/jenkins-infra#1625

[2020-11-19 00:00] Fixmetal opened #3980 "workflow-cps plugin 2.86 has wrong URL from jenkins.io"
Seems like after the jenkins.io down described in #3962 #3958 #3959 #3960 some plugins show 404 URL when trying to download. I'm kinda surprised since `workflow-cps 2.86` is a dependency of blueocean >=1.24.0 (if we trust `jenkins-plugin-cli`) that nobody else has already opened an issue.
Both the URLs latest and 2.86 are broken => https://updates.jenkins.io/download/plugins/workflow-cps
It is pos

[2020-11-19 15:52] thomasbromehead opened #3981 "Docker page - Unable to download blueocean-pipeline-editor when building myjenkins-blueocean:1.1 image"
Problem with the [Docker](https://www.jenkins.io/doc/book/installing/docker/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/docker.adoc)

OS: MacOS Catalina 10.15.7
Docker: 19.03.13, build 4484c46d9d

EXPECTED: to be able to build the myjenkins-blueocean:1.1 image from the Dockerfile provided in the Docker installation procedure.
ACTUAL: ge

[2020-11-19 16:13] thomasbromehead commented on #3981
Tried building again and getting a little further this time although still failing, must be due to my fairly slow network...

[2020-11-19 16:13] #3981 closed

[2020-11-19 16:14] thomasbromehead commented on #3981
Closed with comment from above, thanks

[2020-11-21 16:28] #3748 closed

[2020-11-21 17:12] zbynek commented on #3980
@Fixmetal can you still reproduce this? (for me  https://ftp-nyc.osuosl.org/pub/jenkins/plugins/workflow-cps/2.86/workflow-cps.hpi works and the suggested alternative link doesn't).

[2020-11-23 00:08] Fargk commented on #3737
Please, can you have a look if PR is correct?

[2020-11-23 01:04] Fixmetal commented on #3980
Nope it works by now. Closing.

[2020-11-23 01:04] #3980 closed

[2020-11-23 22:47] MarkEWaite commented on #3736
Thanks @dskouris .  We had already made this change in an earlier pull request and had not closed the issue.  Issue is now closed.

[2020-11-23 22:47] #3736 closed

[2020-11-23 22:52] MarkEWaite commented on #3737
Thanks for the pull request @Fargk .  I've included a comment of a minor change that is needed.

[2020-11-24 00:02] MarkEWaite commented on #3323
Merged

[2020-11-24 00:02] #3323 closed

[2020-11-24 10:11] Fargk commented on #3737
Oh, sure. Silly mistake. Fixed.
@MarkEWaite  thank you for help.

[2020-11-24 17:00] #3737 closed

[2020-11-24 18:18] mithro commented on #3872
Thanks to @Gabitchov's work the bot is back up and should be working now!

[2020-11-29 20:06] jsoref opened #3991 "https://www.jenkins.io/doc/ doesn't obviously link to https://www.jenkins.io/download/lts/"
I was trying to figure out "what is Jenkins's LTS".

## Links

* I searched for [Jenkins LTS](https://www.google.com/search?q=jenkins+lts)
   - Above the fold are:
      * [LTS Changelog](https://www.jenkins.io/changelog-stable/)
      * [Jenkins LTS Upgrade Guide](https://www.jenkins.io/doc/upgrade-guide/)
   - Neither of these link to anything that talks about what the LTS is for.
* I visited [U

[2020-11-29 20:13] oleg-nenashev commented on #3991
Good point. IMHO it makes sense to reference the pages from the "Installing Jenkins" section. It could be "Release lines" or "downloads"

[2020-12-03 00:17] #3196 closed

[2020-12-03 00:17] MarkEWaite commented on #3196
Resolved by @vsilverman work to use the standard Jenkins image instead of the blueocean image.

[2020-12-03 04:01] #3872 closed

[2020-12-06 20:44] Fargk commented on #3782
Hi @MarkEWaite  and @getJv,

Please, assign on me this issue and have a look on MR.

[2020-12-08 19:54] MarkEWaite opened #4013 "Windows install page needs detailed install instructions"
The [Windows install](https://www.jenkins.io/doc/book/installing/windows/) page includes a section ["Windows MSI installer"](https://www.jenkins.io/doc/book/installing/windows/#windows-msi-installers) that says:

Windows users are accustomed to a screen by screen description of installers and their available options.  In the case of the Jenkins Windows installer, each screen that accepts input wou

[2020-12-09 08:33] TobiX opened #4014 "nginx config for static files"
The nginx reverse proxy page contains this snippet:

[code]

But AFAIK this cannot work, since not all static artifacts are in that directory (for example, plugin artifacts). Should that be removed? Or is there another clever way to avoid hitting Jenkins for static artifacts?

## Links

* https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/system-administration/reverse-proxy-c

[2020-12-09 15:22] prasad12k opened #4016 "Rest api documentation to get build information from jenkins using rest api"
Hi Team ,

Please provide any rest api documentation to fetch build details through api.

Below call will fetch the details.
http://YOUR_JENKINS:8080/job/YOUR_JOB/api/

But looking for any documentation that provides sample response from rest api call.

[2020-12-09 19:05] MarkEWaite commented on #4016
@prasad12k did you review the [REST API page](https://www.jenkins.io/doc/book/using/remote-access-api/)?

Did you consider one of the REST API wrappers ([Python](https://www.jenkins.io/doc/book/using/remote-access-api/#RemoteaccessAPI-PythonAPIwrappers), [Ruby](https://www.jenkins.io/doc/book/using/remote-access-api/#RemoteaccessAPI-RubyAPIwrappers), [Java](https://www.jenkins.io/doc/book/using/re

[2020-12-10 08:03] theundertakerjr666 opened #4018 "Dead links @ Participate page"
Problem with the [Review Changes](https://www.jenkins.io/participate/review-changes/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/participate/review-changes.adoc)

Link to support and contribute page "reviewer team membership" shows Github 404 error

## Screenshots

![image](https://user-images.githubusercontent.com/4310314/101738443-d370ef80-3ace-11eb-9649-

[2020-12-10 10:51] trinhanhquan opened #4019 "WebSocket page - TODO: Put a summary here"
Problem with the [WebSocket](https://www.jenkins.io/blog/2020/02/02/web-socket/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/blog/2020/02/2020-02-02-web-socket.adoc)

Dear Team,
I have problem with Websocket in jenkins.
I started jenkins by jenkins.war and using tomcat 9.
I am not able using websocket func in kubernetes plugin.
when i choose websocket option

[2020-12-11 06:53] prasad12k commented on #4016
Hi MarkEWaite,

I have checked above mentioned restapi. But didn't find ant rest api calls for deployments.

looking for rest api call where it can give deployment status and rundate ........

Please suggest ,Is there any api available for getting jenkins deployment details.

**Example : In devops we will get deployment details using below rest api**

https://vsrm.dev.azure.com/{organization}/{pro

[2020-12-11 22:30] MarkEWaite commented on #4019
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

In this case, the answer is in the [original bl

[2020-12-11 22:30] #4019 closed

[2020-12-11 22:41] MarkEWaite commented on #4016
Jenkins has the concept of a job and can report the results of a job.  Plugins may provide additional concepts like a deployment.  That would be described in the documentation of the specific plugin.

[2020-12-11 22:42] MarkEWaite commented on #3978
As far as I understand it, this is resolved based on the latest work from @olblak

[2020-12-11 23:12] #4018 closed

[2020-12-14 10:48] prasad12k commented on #4016
Hi @MarkEWaite
any
Went through the below deploy pulg in documentation ,but didn't find any rest api to fetch deployment details. Please suggest
https://plugins.jenkins.io/deploy/#documentation
Thanks

[2020-12-14 17:43] ikarstein commented on #3978
![image](https://user-images.githubusercontent.com/5047251/102115552-03582400-3e3c-11eb-8d64-b24805b15d27.png)

I'm not sure... I tried to login with my username and password. No success. Than I tried to reset the password. I got a temp password but I could not login using it...

BTW: My email contains a "+" character - like in <ab+cd@example.com>

[2020-12-14 22:23] mikerwolski opened #4023 "https://get.jenkins.io/war/latest/ points to weekly release 2.252 not latest 2.270"
The latest weekly release points to version 2.252
https://mirror.serverion.com/jenkins/war/2.252/jenkins.war.sha256
https://fallback.get.jenkins.io/war/latest/jenkins.war.sha256

are matching sha.256 files

00a1b953586523d71496b468478eae0bc69d34b4ff71b3507065db6c9d49edac

I has been prior using the latest to test weekly builds, but have to be explicit in my download URLs now. Please make latest po

[2020-12-15 01:09] MarkEWaite commented on #4023
As far as I understand it, we don't intend to make `latest` on get.jenkins.io point to the most recent release.  The [Jenkins update center page](https://updates.jenkins.io/) includes a link to a [page](https://updates.jenkins.io/latest/) that defines provides links to the most recent releases of plugins and Jenkins core.  On  that page, the link is:

https://updates.jenkins.io/latest/jenkins.war

[2020-12-15 01:09] #4023 closed

[2020-12-15 01:11] MarkEWaite commented on #3976
The pkg.jenkins.io site is again hosting the full history of Jenkins releases.

[2020-12-15 01:11] #3976 closed

[2020-12-15 11:04] olblak commented on #3978
Could you send me your Jenkins account in private by email on 'me@olblak.com'?
[Link](https://groups.google.com/u/1/g/jenkins-infra/c/GfW5y2nwCfI) to prove my identity
Normally everything should be fine even with '+' characters.

[2020-12-15 13:43] mikerwolski commented on #4023
Thanks Mark. Didn't realize there was a different link for that. https://get.jenkins.io/war/latest/ had been prior pointing to 2.269 then when 2.270 was released, it was pointing to that. So that's why I raised this issue, but will use that other link.

Mike

[2020-12-16 01:04] 4wdmh commented on #3650
Yes! Please add this to the documentation. I ran into the same problem.

[2020-12-18 17:14] rcrocomb opened #4036 "Plugin icons hide text in solution pages (like C/C++, Java, etc.)"
Problem with the [Jenkins and C/C  ](https://www.jenkins.io/solutions/c/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/solutions/c.adoc)

Using a Mac (Catalina: 10.15.7 (19H15)) and Chrome (Version 87.0.4280.88 (Official Build) (x86_64)) This page is wonky: icons cover up the text of the list items.  Changing the width of the window does not affect this.

##

[2020-12-18 17:23] MarkEWaite commented on #4036
Thanks @rcrocomb .

[2020-12-18 18:21] #4036 closed

[2020-12-21 18:23] Rahulkhinchi03 commented on #3782
Hello, I am new here, Please help me out in this!

[2020-12-22 16:27] MarkEWaite commented on #3782
@Rahulkhinchi03, you said:

I'm not sure what help you're expecting by replying to a GitHub issue that is in progress.  If you'd like to become more involved in the Jenkins project, refer to https://www.jenkins.io/participate/ for suggestions.

[2020-12-23 16:55] Wheedman opened #4041 "Pipeline Steps Reference page - Plugin documentation is out of date"
Problem with the [Pipeline Steps Reference](https://www.jenkins.io/doc/pipeline/steps/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/pipeline/steps/index.html.haml)

I expect the documentation of the teamscale-upload-plugin to be up to date if I release a new version of the plugin.

## Screenshots

It should not be tagged with greet anymore
![image](https

[2020-12-25 13:16] zbynek commented on #4041
The metadata https://ci.jenkins.io/job/Infra/job/pipeline-steps-doc-generator/job/master/lastSuccessfulBuild was last generated in May...

[2020-12-26 12:34] zbynek commented on #4041
Update: fixed now, thanks @timja for merging https://github.com/jenkins-infra/pipeline-steps-doc-generator/pull/20 .

[2020-12-26 12:38] #4041 closed

[2020-12-30 08:31] chengssir opened #4046 "The logs in the build are colored, and when the message is finished press the log to have no color？？"
The logs in the build are colored, and when the message is finished press the log to have no color
Do I need a separate configuration?

[2021-01-01 17:31] MarkEWaite commented on #4046
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

[2021-01-01 17:31] #4046 closed

[2021-01-02 14:19] 0x41head commented on #3784
I would like to work on this.

[2021-01-04 13:05] olblak commented on #3978
I am going to close this ticket without further information

[2021-01-04 20:26] #3978 closed

[2021-01-04 20:46] timja opened #4048 "Linux page - recommend java 11"
Problem with the [Linux](https://www.jenkins.io/doc/book/installing/linux/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/linux.adoc)

See https://groups.google.com/g/jenkinsci-dev/c/nEw4TLDcZLw

It would be good to start recommending Java 11 by default in our documentation, this is the only place I found that was explicitly documenting how

[2021-01-04 23:59] TheTechOddBug opened #4049 "Introducing the Jenkins Templating Engine! page - Advanced features links are broken."
Problem with the [Introducing the Jenkins Templating Engine!](https://www.jenkins.io/blog/2019/05/09/templating-engine/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/blog/2019/05/2019-05-09-templating-engine.adoc)

All the links present in Advanced Features are broken.

## Screenshots

## Possible Solution

Could you provide proper links to these advanced fea

[2021-01-05 19:43] MarkEWaite commented on #4049
@stevev-terrana can you assist with this one?  It seems the destination site has changed substantially.

[2021-01-05 19:45] MarkEWaite commented on #4048
Probably should switch the Docker installation instructions to use a Java 11 base image as well.

[2021-01-05 20:11] steven-terrana commented on #4049
on it!

[2021-01-05 20:19] steven-terrana commented on #4049
Thanks @TheTechOddBug for bringing this to our attention!

[2021-01-05 20:21] timja commented on #4048
yes please 👍

[2021-01-05 20:21] timja opened #4052 "Switch the Docker installation instructions to use a Java 11 base image"
Probably should switch the Docker installation instructions to use a Java 11 base image as well.

_Originally posted by @MarkEWaite in https://github.com/jenkins-infra/jenkins.io/issues/4048#issuecomment-754857635_

[2021-01-05 20:32] #4049 closed

[2021-01-06 08:01] #4048 closed

[2021-01-06 08:01] #4052 closed

[2021-01-07 22:31] vsilverman opened #4058 "Docker page - Reference to Docker Enterprise is no longer valid"
Problem with the [Docker](https://www.jenkins.io/doc/book/installing/docker/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/docker.adoc)

## Possible Solution

Remove reference to Docker Enterprise, since after Docker Enterprise acquisition it is no longer hosted on Dockerhub

[2021-01-08 01:26] vsilverman commented on #4058
This issue is closed by PR #4059

[2021-01-08 01:26] #4058 closed

[2021-01-08 15:54] #3584 closed

[2021-01-08 16:50] MarkEWaite commented on #3584
Thanks very much @getJv for your patience as we worked through the review process on this pull request.

[2021-01-15 13:29] MarkEWaite opened #4068 "Windows install docs don't describe log file location"
The [Windows installation page](https://www.jenkins.io/doc/book/installing/windows/) reuses common content to describe the steps to locate the initial administrator password.  Unfortunately, that common content describes where to find a Unix log file and a Docker log file, but does not describe where to find a Windows log file.  Users that install Jenkins on Windows need instructions that tell the

[2021-01-17 08:24] 0x41head commented on #3784
Request to close this issue

[2021-01-17 19:06] MarkEWaite commented on #3784
Closed.  Thanks so much for the fix!

[2021-01-17 19:06] #3784 closed

[2021-01-25 03:33] MarkEWaite commented on #4068
@zaycodes if you're interested in doing something "completely different than Kubernetes", this would be an area where your Windows experience could be a real help to the project.  I also understand if you prefer to stay with Kubernetes rather than adding Windows install docs.

[2021-01-25 15:43] zaycodes commented on #4068
Sure @MarkEWaite, you can assign the issue to me and I'll be happy to work on it

[2021-01-25 17:39] MarkEWaite commented on #4013
@zaycodes this is also a good one that would benefit from your Windows experience

[2021-01-31 18:16] timja commented on #3800
I think we can just delete the page @MarkEWaite ?

[2021-02-01 04:27] MarkEWaite commented on #3800
Agreed @timja that the page could be deleted or could be redirected to https://github.com/jenkinsci/jenkins/blob/master/CONTRIBUTING.md .  I confirmed that the Nexus repository configuration steps are not required for Jenkins development.  If someone is running a local caching Nexus or Artifactory, they'll learn how to configure settings.xml from the Nexus or Artifactory documentation and it will

[2021-02-01 08:49] hacrot3000 opened #4093 "Jenkins cannot start new piple because of an invalid build queue"
My jenkins crash while runing build number 105. I restart it but then the "part of ReleaseDailyPipeline#105" appear on the build queue.

I cannot delete that part, tried to cancel build, delete whole build also not success.

When I restart the jenkins, the "part of ReleaseDailyPipeline#105" disappear so I can start new build. But after few days the "part of ReleaseDailyPipeline#105" come back and

[2021-02-01 15:11] MarkEWaite commented on #4093
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be an issue report for the Jenkins software, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.  Please use the ["How to r

[2021-02-01 15:11] #4093 closed

[2021-02-13 17:43] #4013 closed

[2021-02-13 17:43] #4068 closed

[2021-02-14 13:48] falkon42 opened #4108 "Jenkins and Android page - TODO: Put a summary here"
Problem with the [Jenkins and Android](https://www.jenkins.io/solutions/android/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/solutions/android.adoc)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2021-02-15 15:51] MarkEWaite commented on #4108
@falkon42 please provide more details of the problem you're seeing with the [Jenkins and Android page](https://www.jenkins.io/solutions/android/).  If we don't receive more details from you, we'll close this issue.

[2021-02-16 02:19] #4108 closed

[2021-02-18 15:20] asherber opened #4123 "Pipeline Syntax page - Incorrect description of options"
Problem with the [Pipeline Syntax](https://www.jenkins.io/doc/book/pipeline/syntax/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/pipeline/syntax.adoc)

https://www.jenkins.io/doc/book/pipeline/syntax/#options incorrectly states that the options directive is only allowed once, inside the pipeline block. In fact, options can also appear inside a stage

[2021-02-18 15:39] MarkEWaite commented on #4123
Thanks for submitting the issue @asherber!

[2021-02-19 13:04] ravirajbhatt opened #4128 "Moving from buddybuild to Jenkins for Android Developers page - Broken Link for AndroidLint plugin"
In [Static Analysis](https://www.jenkins.io/blog/2018/01/08/moving-from-buddybuild-for-android/#static-analysis) section, the use of Android Lint Plugin is suggested. But the Hyperlink for the Android Lint Plugin is broken. It also seems that the plugin is not listed on Jenkins Plugin site.
For correctness, documentation related to Android Lint Plugin and its usage should be removed and also its u

[2021-02-19 22:00] #4128 closed

[2021-02-24 10:37] infinityredux opened #4136 "WAR files page - Broken Link to Blue Ocean"
Problem with the [WAR files](https://www.jenkins.io/doc/book/installing/war-file/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/war-file.adoc)

The link to Getting started with Blue Ocean points to: https://www.jenkins.io/doc/book/book/blueocean/getting-started/
The correct URL appears to be: https://www.jenkins.io/doc/book/blueocean/getti

[2021-03-03 22:18] eliran-hackeru opened #4151 "Jenkins Sign In Page - Can't Sign In"
After downloading jenkins.war and running "java -jar jenkins.war",
I navigated to localhost:8080 - Welcome to Jenkins!

I was then required to insert a username and password,
So I sign up to https://accounts.jenkins.io/

After I enter the username and the password I get an error message: Invalid username or password.

TODO: I  was expected to first initiate the admin username and password,
Not a r

[2021-03-04 04:12] MarkEWaite commented on #4151
The accounts managed at https://accounts.jenkins.io/ are used for Jenkins project work, like issue reporting through https://issues.jenkins.io and artifact upload to https://repo.jenkins-ci.org.

Those accounts are not used for a local Jenkins installation.  Instructions for a local Jenkins installation are in the ["Installing Jenkins"](https://www.jenkins.io/doc/book/installing/) page for [war fi

[2021-03-04 04:12] #4151 closed

[2021-03-04 05:18] #4136 closed

[2021-03-11 18:43] MarkEWaite opened #4167 "Search for 'Installing' opens a page named 'undefined'"
## Wrong page opens on search for "Installing"

The internal page link redirection JavaScript code that is used inside the ["Installing Jenkins"](https://www.jenkins.io/doc/book/installing/) page seems to perform the wrong redirect when the page is opened as a result of searching for the word "Installing".,

### Step 1 - Enter "Installing" in the search box and select highlighted text

![01-search

[2021-03-15 07:11] atutorme opened #4170 "Running Jenkins on Java 11 page - missing backslash"
Problem with the [Running Jenkins on Java 11](https://www.jenkins.io/doc/administration/requirements/jenkins-on-java-11/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/administration/requirements/jenkins-on-java-11.adoc)

Docker command is missing a trailing back-slash on third line.

## Possible Solution

Add backslash to the end of the line:

`-p 8080:80

[2021-03-15 07:20] oleg-nenashev commented on #4170
Hi, thanks for reporting it! Would you be interested to submit a pull
request?

On Mon, Mar 15, 2021, 08:12 ATutorMe ***@***.***> wrote:

[2021-03-15 08:18] 39-misaka-mikoto opened #4171 "Jenkins log can't display log from console that opened by root console"
Problem with the [Jenkins](https://www.jenkins.io/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/index.html.haml)

TODO: Run a command in first console (console 1) that open a new console (console 2) and display log in console 2, jenkins just display logs of console 1 and skip all logs from console 2 (process still running).

[2021-03-15 20:08] MarkEWaite commented on #4171
This issue tracker is used for issues with the Jenkins documentation, not for issues with Jenkins core or Jenkins plugins.  Please use the [Jenkins issue tracker](https://issues.jenkins.io/) to report issues with Jenkins core and Jenkins plugins

[2021-03-15 20:08] #4171 closed

[2021-03-17 23:56] #4170 closed

[2021-03-20 03:14] #4167 closed

[2021-03-20 04:07] MarkEWaite commented on #4167
Confirmed fixed by interactive testing.  Now we need to hope that Algolia DocSearch does not change the ID attached to the end of the URL.  When that happens, we'll need to replace `ji-toolbar` with whatever new value is used.

[2021-03-20 04:48] MarkEWaite opened #4184 "Docker based tutorials: `mountpoint does not exist` on Debian testing"
## Tutorials based on Docker report `mountpoint does not exist` on Debian testing

There is a problem on Debian testing (as of 21 March 2021, during the hard freeze preceding the release of Debian 11) with the tutorials for [Build a Java app with Maven](https://www.jenkins.io/doc/tutorials/build-a-java-app-with-maven/), [Build a Node.js and React app with npm](https://www.jenkins.io/doc/tutorials/

[2021-03-20 05:02] MarkEWaite opened #4185 "Docker page - docker-workflow plugin no longer installed"
## Problem with the [Installing Docker](https://www.jenkins.io/doc/book/installing/docker/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/docker.adoc)

The Blue Ocean plugin release 1.24.5 intentionally removed the docker-workflow dependency.  The Docker installation instructions need to be updated to download the docker-worflow plugin so t

[2021-03-20 13:56] #4185 closed

[2021-03-20 13:57] MarkEWaite commented on #4184
Failure is reported on Debian testing (preparing for the release of Debian 11) but is not reported on Debian 10.  Haven't checked other operating systems

[2021-04-02 01:14] Santhoshreddy3 opened #4223 "macOS page - TODO: Put a summary here"
Problem with the [macOS](https://www.jenkins.io/doc/book/installing/macos/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/macos.adoc)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2021-04-02 11:31] MarkEWaite commented on #4223
@Santhoshreddy3 can you describe the problem that you encountered on the macOS page?  This seems to be a submitted copy of the template with no changes to the template.

[2021-04-02 14:28] Santhoshreddy3 commented on #4223
Hi,This is the problem I encountered in macos

On Fri, Apr 2, 2021 at 7:32 AM Mark Waite ***@***.***> wrote:

[2021-04-02 16:12] MarkEWaite commented on #4223
What problem did you encounter with macos?  Is it described in some other location and you forgot to include a link?

[2021-04-09 13:39] dport2531 opened #4237 "Warning importing Jenkins GPG key to Ubuntu 20.10, 22.04, & Debian 11"
Problem with the [Jenkins](https://www.jenkins.io/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/index.html.haml)

I'm in the process to install Jenkins on Ubuntu 20.10. Cannot import Jenkins GPG key from Jenkins repository:

root@DevOps:~# wget -q -O - https://pkg.jenkins.io/debian/jenkins.io.key | sudo apt-key add -
Warning: apt-key is deprecated. Manage ke

[2021-04-09 17:14] MarkEWaite commented on #4237
Are you sure that it failed to import the key?

The Debian testing (Debian 11 pre-release) [apt-key man page](https://manpages.debian.org/testing/apt/apt-key.8.en.html) says:

I think that means we have at least two years before importing the key would fail because apt-key has been removed.

The [Debian 10 (Buster) apt-key man page](https://manpages.debian.org/buster/apt/apt-key.8.en.html) and the

[2021-04-13 16:57] oleg-nenashev opened #4250 "Provide documentation for stapler.jelly.trace"
Jenkins 2.288 restored support for `stapler.jelly.trace` developer flag. As far as I can tell, this flag is not documented anywhere in Jenkins developer docs or the system properties page. It would be great to

## Links

* 2.288 changelog PR: https://github.com/jenkins-infra/jenkins.io/pull/4248
* Jenkins Core PR: https://github.com/jenkinsci/jenkins/pull/5391

CC @Wadeck @MarkEWaite

[2021-04-13 17:46] MarkEWaite commented on #4223
Closing after almost two weeks of incomplete information.

[2021-04-13 17:46] #4223 closed

[2021-04-14 14:14] dport2531 commented on #4237
Hi Mark! I'm getting the same error even trying to add other keys, see
below.
Thank you

[image: image.png]

On Fri, Apr 9, 2021 at 1:14 PM Mark Waite ***@***.***> wrote:

[2021-04-14 19:48] MarkEWaite commented on #4237
The image did not upload.  I would expect that warning for any package that is using `apt-key`.  The stackexchange article provides a very good overview of the problem that is being solved by deprecating `apt-key`.  We still have a year or two before in breaks installations, but once Ubuntu 22.04 is released or Debian 11 is released, we'll want to adjust the instructions.

[2021-04-16 09:04] santosh-v opened #4258 "Unable to read a file from package.Package is corrupted ."
Hi,
    I am getting this error for our bigger Database project consists of around 10K objects in it . it is not giving any proper message .without that i was not able to proceed . i suspect there will not be any version error and all , because if i exclude 1000 objects from the project , it is getting built successfully .
    Note : my project is a old one and it is having nearly 10K warnings for

[2021-04-16 17:57] MarkEWaite commented on #4258
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

[2021-04-16 17:57] #4258 closed

[2021-04-19 05:48] oleg-nenashev opened #4266 "Jenkins GSoD application draft, 2021 page - Information is incomplete"
Problem with the [Jenkins GSoD application draft, 2021](https://www.jenkins.io/sigs/docs/gsod/2021/application/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/sigs/docs/gsod/2021/application.md)

It looks like the data does not represent the final state of the application. It needs to be moved out of the Google Doc IMHO, or at least referenced from the page. I

[2021-04-19 06:06] oleg-nenashev commented on #4266
UPD: there is also https://www.jenkins.io/sigs/docs/gsod/2021/organization-proposal/ with the actual proposal. Page duplication?

[2021-04-19 15:55] arulmohanp opened #4268 "Issues with downloading an Docker SSH/JNLP image from AWS ECR"
Hello Team,

We are facing issues while downloading an Docker SSH/JNLP image from AWS ECR. Please note that the Jenkins Master is running as a docker container and we are trying to  accessing the AWS ECR with the Instance role and not with the AWs credentials.

Please suggest how can we access the AWS ECR repository using an instance profile.

[2021-04-19 18:00] tempelton27 opened #4270 "Jenkins download and deployment page - TODO: All download links broken"
Problem with the [Jenkins download and deployment](https://www.jenkins.io/download/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/index.html.haml)

TODO: attempting to download .war file and get 503 errors. for every versioin

## Screenshots

 TODO: ![image](https://user-images.githubusercontent.com/7368157/115281854-53066f00-a0fe-11eb-9c36-1a43a687b

[2021-04-19 19:57] oradwell commented on #4270
if anyone else is having issues with this I noticed https://fallback.get.jenkins.io/ part of the URLs can be replaced with http://mirrors.jenkins.io/
I managed to download ubuntu-debian binaries that way

[2021-04-19 20:00] Dentxinho commented on #4270
Nice, thank you.
Note: only works with **http**

[2021-04-19 20:27] MarkEWaite commented on #4270
The downloads and deployment page links are again functioning.  We're investigating the mirroring behavior currently.

[2021-04-19 21:49] #4270 closed

[2021-04-19 21:49] MarkEWaite commented on #4270
Resolved

[2021-04-19 21:50] MarkEWaite commented on #4270
Resolved

[2021-04-19 23:24] MarkEWaite commented on #4268
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

[2021-04-19 23:24] #4268 closed

[2021-04-25 01:08] MarkEWaite opened #4285 "Using credentials page - Incorrect content for current credentials UI"
Problem with the [Using credentials](https://www.jenkins.io/doc/book/using/using-credentials/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/using/using-credentials.adoc)

The documented steps assume the user interface before the credentials choice was moved into the "Manage Jenkins" section.  They need to be updated to match the current user interfac

[2021-04-25 09:52] daniel-beck commented on #2987
From context (neighboring pages that weren't recently added), it looks like this chapter is structured like the "Manage Jenkins" page, and discusses each entry there in its own subsection: Configure Tools, Configure Security (until yesterday), Manage Plugins, the Jenkins CLI, Managing Nodes, etc.

So your plan is probably useful, but goes against the established structure of the chapter.

Or it's

[2021-04-26 22:00] oleg-nenashev opened #4293 "Outreach programs page - Add SheCodeAfrica"
Problem with the [Outreach programs](https://www.jenkins.io/sigs/advocacy-and-outreach/outreach-programs/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/sigs/advocacy-and-outreach/outreach-programs/index.adoc). Currently it does not include information about our participation in the SheCodeAfrica contributhon. It would be nice to add some info since we plan to

[2021-04-26 22:01] oleg-nenashev commented on #4293
CC @MarkEWaite

[2021-04-27 07:54] #4266 closed

[2021-04-29 21:28] jimsnab opened #4315 "Jenkins and Kubernetes - Secret Agents in the Clouds page - Typo in example"
Problem with the [Jenkins and Kubernetes - Secret Agents in the Clouds](https://www.jenkins.io/blog/2018/09/14/kubernetes-and-secret-agents/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/blog/2018/09/2018-09-14-kubernetes-and-secret-agents.adoc)

Syntax error in example - unclosed parenthesis

## Screenshots

[code]

## Possible Solution

N/A

[2021-04-30 02:11] MarkEWaite commented on #4315
@jimsnab would you like to submit the pull request (through ["Improve this page"](https://github.com/jenkins-infra/jenkins.io/edit/master/content//blog/2018/09/2018-09-14-kubernetes-and-secret-agents.adoc)) to fix it?

No problem if you'd rather not, but didn't want to take that from you if you're willing to propose the correction as a pull request.

[2021-04-30 14:13] jimsnab commented on #4315
I have other problems with this page - in this example with a typo, I'm not sure why it is trying to deploy a full Jenkins server as part of a Go project. I had hoped to get something working as described and then proposing more edits to the page. But I am still working and far from success and might give up on the page altogether.

Go ahead and fix the typo if you want.

[2021-05-01 01:58] #4285 closed

[2021-05-01 17:21] daniel-beck opened #4321 "Unexpected differences between section and documentation layouts"
Problem with this page:
https://www.jenkins.io/doc/book/security/access-control/

The page wrongly uses the `documentation` layout (it should be `section`). When changing that however, the layout breaks due to the code block about halfway down the page, it stretches the content to its full width.

## Screenshots

![Screenshot_2021-05-01 Access Control](https://user-images.githubusercontent.com/183

[2021-05-06 08:53] oleg-nenashev opened #4332 "Add controller sub-terms to the glossary"
There is a pending terminology discussion in https://groups.google.com/g/jenkinsci-dev/c/x5vdlJDvntw . Once we finalize the decisions, https://www.jenkins.io/doc/book/glossary/ needs to be updated to list the new terms.

[2021-05-06 09:37] edp237 opened #4333 "Docker page - image build fails"
Problem with the [Docker](https://www.jenkins.io/doc/book/installing/docker/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/docker.adoc)

The image build in step 4 for 'On Windows' fails, multiple 'Downloaded file is not a valid ZIP'  messages

dockerfile

[code]

[code]

[2021-05-06 10:12] dduportal commented on #4333
Hello @edp237 , I'm unable to reproduce:

[code]

Can you retry and let us know the result?

It feels like a download mirror issue, and I'm interested in digging a bit more, as a member of the jenkins-infra team.

[2021-05-06 10:42] edp237 commented on #4333
I removed all containers and images, and did a rerun.
The problem with the 'Downloaded file is not a valid ZIP' is not solved, unfortunately.

[2021-05-06 11:51] edp237 commented on #4333
Docker version 20.10.5, build 55c4c88

[2021-05-09 20:18] timja opened #4336 "Linux page - LTS redhat stable docs recommend java 8 they should use java 11"
Problem with the [Linux](https://www.jenkins.io/doc/book/installing/linux/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/linux.adoc)

https://github.com/jenkinsci/jenkins/pull/5474#issuecomment-835876407

https://www.jenkins.io/doc/book/installing/linux/#long-term-support-release-3

## Possible Solution

Adjust to appropriate java 11 packa

[2021-05-09 20:55] MarkEWaite commented on #4333
I'm unable to duplicate the issue from my location in the western United States.  My mirror is https://mirror.xmission.com/jenkins/

[2021-05-09 20:59] timja opened #4338 "Update website to latest LTS version in install guides"
## Suggestion

Example manual PR: https://github.com/jenkins-infra/jenkins.io/pull/4337

We shouldn't need someone manually syncing the LTS version we have access to it here

(this should check other places as well not just the above PR)

[2021-05-09 21:00] #4336 closed

[2021-05-09 21:08] daniel-beck opened #4339 "Other Systems page - Still recommends Java 8 multiple times"
Problem with the [Other Systems](https://www.jenkins.io/doc/book/installing/other/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/other.adoc)

Still recommends Java 8 multiple times (OpenIndiana and Solaris sections)

## Possible Solution

Don't do that

[2021-05-10 06:25] #4339 closed

[2021-05-11 14:21] oleg-nenashev opened #4349 "Inject opengraph into the Jenkins security advisory pages by default"
## Suggestion

Modify the advisory generation code to include opengraph image ling and page description by default. Open graph samples: https://docs.google.com/presentation/d/1Q1PgNnRTgzBpVRXPqQo3PudzCa2eoc6_1_NRjFRMLrU/edit#slide=id.g73802e651f_0_34 . The date is not really needed, so it could be a few static images linked depending on the content

## Links

* Generation code: https://github.com/

[2021-05-12 13:52] ciradu2204 commented on #3744
Hey, can you assign me this issue?

[2021-05-12 18:36] oleg-nenashev commented on #3744
Hi! Just go ahead and submit a pill request. No need to assign the issue.
And thanks!

On Wed, May 12, 2021, 15:53 Cynthia Iradukunda ***@***.***>
wrote:

[2021-05-13 18:44] oleg-nenashev commented on #3190
Closing as duplicate

[2021-05-13 18:44] #3190 closed

[2021-05-13 18:50] oleg-nenashev commented on #3608
Actually we can just drop this page once https://github.com/jenkinsci/remoting/pull/453 is merged. Then it is possible to add redirect to the GitHub pages instead of jenkins.io

[2021-05-14 11:30] ciradu2204 commented on #3744
Thank you😊

[2021-05-14 11:44] ciradu2204 commented on #3744
I would appreciate it if you suggest me another issue to work on😊

[2021-05-14 20:43] MarkEWaite commented on #3744
Thanks very much @ciradu2204 .

How about https://github.com/jenkins-infra/jenkins.io/issues/4293 if you'd like something larger or https://github.com/jenkins-infra/jenkins.io/issues/4315, https://github.com/jenkins-infra/jenkins.io/issues/3801, and/or https://github.com/jenkins-infra/jenkins.io/issues/3797 .

[2021-05-14 20:43] #3744 closed

[2021-05-15 08:39] ciradu2204 commented on #3744
Thank you, I will work on them.

[2021-05-19 10:24] hexiaolong-coco opened #4368 "select “遗留模式” make all users can't edit jenkins ，just can readonly ，how can I recover"
Problem with the [Jenkins Artwork](https://www.jenkins.io/artwork/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/artwork/index.html.haml)

TODO: Describe the expected and actual behavior here

## Screenshots
![image](https://user-images.githubusercontent.com/57431480/118797264-fd74dc00-b8ce-11eb-9a6d-219576c499b4.png)

![image](https://user-images.githubuserc

[2021-05-20 04:39] MarkEWaite commented on #4368
@hexiaolong-coco
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help or a description of a software issue, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for quest

[2021-05-20 04:39] #4368 closed

[2021-05-20 18:40] #4293 closed

[2021-05-22 19:54] jpratt2 opened #4377 "wrong path for initialAdminPassword for Windows 10 root installation, should say "SysWOW64", not "system32""
Problem with the [Windows](https://www.jenkins.io/doc/book/installing/windows/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/windows.adoc)

TODO: Describe the expected and actual behavior here

Are you aware that the path in installation for the initialAdminPassword for a Windows 10 root user is incorrect?
It says this:

C:\Windows\system3

[2021-05-22 23:48] jpratt2 commented on #4377
and now I see, in a different installation, "System32", capitalized S --and it works.

[2021-05-25 09:55] srinivas-hub opened #4381 "Jenkins page - TODO: Put a summary here"
Problem with the [Jenkins](https://www.jenkins.io/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/index.html.haml)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2021-05-26 12:55] dduportal commented on #4377
I wonder if it is because of the Jenkins controller using one of these Windows profile environment variable such as `%APPDATA%`, to ensure that this sensitive information is isolated enough (e.g. stored on a location which is safe enough from any other user of the same machine or the same workgroup).

It would explain the fact that the absolute path may change between to machines: it would depends

[2021-05-26 14:55] dduportal commented on #4377
Hello @jpratt2 , after looking at the documentation to understand how it could be updated, I'm now confused, can you describe a bit more your issue to help (see below)?

The "Unlocking Jenkins -> Step 2" on the page https://www.jenkins.io/doc/book/installing/windows/#unlocking-jenkins tells:

[code]

Unless I missed something, I don't see any reference to `C:\Windows\system32\` in the documentatio

[2021-05-26 18:02] jpratt2 commented on #4377
It's from the path provided by the installation itself

On Wed, May 26, 2021, 7:55 AM Damien Duportal ***@***.***>
wrote:

[2021-05-26 18:57] dduportal commented on #4377
Hello @jpratt2 it looks like that it's the same behavior as what is reported in https://issues.jenkins.io/browse/JENKINS-65095 . Could you provide more information on the issue tracker at https://issues.jenkins.io/browse/JENKINS-65095 ?

The reason is that the we are, here, in the issue tracker associated to the Jenkins documentation: if you feel lik that the documentation should be updated, what

[2021-05-26 21:02] MarkEWaite commented on #4381
This looks like an accidentally created issue.  It only contains the default values for "Improve this page" of the root page.

[2021-05-26 21:02] #4381 closed

[2021-05-26 22:28] jpratt2 commented on #4377
no the documentation is fine, thanks!

[2021-05-26 22:28] #4377 closed

[2021-05-27 16:07] Ninkal007 opened #4387 "(Windows and War) Download links are not working"
Problem with the [Thank you for downloading Windows Stable installer](https://www.jenkins.io/download/thank-you-downloading-windows-installer-stable/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/thank-you-downloading-windows-installer-stable.html.haml)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if p

[2021-05-27 17:03] MarkEWaite commented on #4387
Can you provide more details about the failure mode that you are seeing?  I just clicked the link that you embedded in the issue report and confirmed that it downloaded the Jenkins 2.277.4 MSI file.  I ran the MSI installer and it is well behaved.

[2021-06-02 18:46] Zion-github opened #4392 "Windows installer for Jenkins 2.289.1 not available"
Problem with the [Jenkins download and deployment](https://www.jenkins.io/download/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/index.html.haml)

TODO: Describe the expected and actual behavior here: the URL for the Jenkins LTS page isn't working, so I can't download this Jenkins version. It was working yesterday, but not today

## Screenshots

 TO

[2021-06-02 18:59] #4315 closed

[2021-06-02 20:25] AvoCH opened #4393 "Windows installer for Jenkins 2.289.1 not available"
Problem with the [Jenkins download and deployment](https://www.jenkins.io/download/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/index.html.haml)
Unable to download windows LTS  version
TODO: Download windows stable installer

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2021-06-02 21:19] MarkEWaite commented on #4393
Thanks for the report.  The Jenkins 2.289.1 windows installer build is blocked on an infrastructure issue.  We're investigating it now and looking for a solution that will generate the Windows installer.

[2021-06-02 21:21] MarkEWaite commented on #4387
Assumed resolved with the Jenkins 2.296 update provided by @dduportal

[2021-06-02 21:21] #4387 closed

[2021-06-03 06:26] dduportal commented on #4392
Thanks for reporting @Zion-github! Following up in #4393 which is a duplicate.

[2021-06-03 06:26] #4392 closed

[2021-06-03 06:26] dduportal commented on #4393
Investigation in progress. For information, https://status.jenkins.io/ reports the issue since a few minutes.

[2021-06-03 08:30] dduportal commented on #4392
For information @Zion-github , the package is now available: the outage has been fixed since 07:03 UTC today (2021-06-03)

[2021-06-03 08:30] dduportal commented on #4393
The package is now available since 07:03 UTC (2021-06-03). Sorry for the inconvenience.
status.jenkins.io has been updated: https://status.jenkins.io/issues/2021-06-02-lts-windows/

[2021-06-03 08:30] #4393 closed

[2021-06-08 19:45] timja opened #4406 "Automate changelog generation for weekly"
## Suggestion

I think we could add a github action, possibly to https://github.com/jenkinsci/jenkins that creates a branch on this repo <upcoming-core-version>-changelog, generates the changelog and then open a PR if one isn't open

As PRs are merged in it could then update the changelog and possibly comment on PRs to review the changelog entry

Copyediting should be done on the PR itself to twea

[2021-06-08 22:09] jmack51 opened #4407 "IntelliJ Setup for Jenkins Core Development page - TODO: don't use Maven embedded in IntelliJ install"
Problem with the [IntelliJ Setup for Jenkins Core Development](https://www.jenkins.io/doc/developer/building/intellij/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/developer/building/intellij.adoc)

TODO: As installed the IntelliJ IDE uses a version of Maven that is bundled with IntelliJ that causes a runtime error with later versions of Jenkins (tested

[2021-06-09 08:08] pascal-eberhard opened #4408 "Using a Jenkinsfile page - injection via interpolation section unclear"
Problem with the [Using a Jenkinsfile](https://www.jenkins.io/doc/book/pipeline/jenkinsfile/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/pipeline/jenkinsfile.adoc)

Hi, see [https://www.jenkins.io/doc/book/pipeline/jenkinsfile/#injection-via-interpolation], search "Credential mangling", the section, starting with this text and the next section.

Th

[2021-06-09 09:57] dduportal commented on #4408
Hello @pascal-eberhard , thanks for reporting.

The answer to your first question is because it's a Windows's environment variable: <https://ss64.com/nt/syntax-variables.html>. Powershell effectively allows a Unix shell's variable interpolation syntax with the `$` sign as prefix, but it's not the default shell called by the Jenkins Pipeline keyword's `bat`.

Your second question is a good one whic

[2021-06-09 10:37] pascal-eberhard commented on #4408
Ah, ok.
The `%VAR_NAME%` is than something Windows shell specific, ok.

Is this something general, or has it something todo that in the example, the variable value itself contains a `'%'`?
So, if the secret value would contain another special char, instead of `'%'`, it would also be the `%VAR_NAME%` syntax to escape it in windows?

Thx

[2021-06-09 13:55] dduportal commented on #4408
Yes, you totally understand the "why" of this example: the previous example shows an `sh` extrapolation with the case of a Unix environment variable with a `$` in the value, and then the `bat` example for Windows, so with the `%` in the value as well.

If you feel like that a sentence could be added to explain this goal, along with the typo fix, do not hesitate to propose a change, that could help

[2021-06-09 14:48] pascal-eberhard commented on #4408
Ehm, I think there would be a bit more to change.

The section starting with text "Credential mangling ".
"Secret value is 'sec%ret'", so contains a "%", OK.

But in the above Unix example, I assume you refer to the first two sections of the "Injection via interpolation" chapter. If so, where I don't see the neighter the variable default value containing a "$", nor is there a comment like "The val

[2021-06-09 16:43] dduportal commented on #4408
Oh good point, my initial reading was too quick. WDYT starting by fixing the code snippet with something like this?

[code]

[code]

[2021-06-09 17:11] jmack51 opened #4410 "Routing Requests page - Javadoc links to stapler.kohsuke.org are broken"
Problem with the [Routing Requests](https://www.jenkins.io/doc/developer/handling-requests/routing/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/developer/handling-requests/routing.adoc)

TODO: https://stapler.kohsuke.org javadoc links return 404 now that stapler has been moved to github

## Possible Solution

Project moved to https://github.com/stapler/

[2021-06-15 04:58] oleg-nenashev opened #4417 "Add Discourse as a sponsor on jenkins.io"
I'd guess this is time to do that @olblak @halkeye

[2021-06-15 05:50] oleg-nenashev opened #4418 "Add a section for listing Jenkins related books"
There are so many books about Jenkins. Why don't we create a new page to list them?

Acceptance criteria:

- [ ] Books themselves are described as separate pages in YAML, e.g. like authors: https://github.com/jenkins-infra/jenkins.io/tree/master/content/_data/authors
- [ ] There is a new page created for books, implemented via HAML
- [ ] There is metadata for distinguishing free and open source, f

[2021-06-15 05:54] oleg-nenashev commented on #4418
CC @alyssat @MarkEWaite Jenkins is The Way e-books would be added as well IMHO

[2021-06-15 09:07] MarkEWaite commented on #4418
I like the idea very much!

[2021-06-18 16:27] halkeye commented on #4417
Sorry I'm having trouble keeping up with everything. I'll see if i can't get to it today.

[2021-06-20 07:34] timja commented on #4410
They've moved to: https://javadoc.jenkins.io/component/stapler/

The staplerdoc macro needs either removing and switched to the standard one or updated to point to it's new home

[2021-06-27 06:00] smahakal opened #4445 "LTS Release Line page - TODO: Put a summary here"
Problem with the [LTS Release Line](https://www.jenkins.io/download/lts/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/lts/index.adoc)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible
![WhatsApp Image 2021-06-27 at 11 28 44](https://user-images.githubusercontent.com/80083799/123534466-fa290780-

[2021-06-27 09:55] MarkEWaite commented on #4445
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

In this specific case, it appears that your com

[2021-06-27 09:55] #4445 closed

[2021-07-09 07:04] Andrey14-88 opened #4458 "Search Box page - TODO: Put a summary here"
![11111](https://user-images.githubusercontent.com/86834435/125037544-537f2800-e0a5-11eb-8935-6317d8008d7b.png)

[2021-07-09 07:05] Andrey14-88 commented on #4458
Добрый день!
Не скачивается файл jenkins-cli.jar,

[2021-07-09 12:12] MarkEWaite commented on #4458
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

[2021-07-09 12:12] #4458 closed

[2021-07-17 17:43] #4410 closed

[2021-07-20 19:29] #3494 closed

[2021-07-29 22:20] whatdon opened #4480 "Redirects from ci.jenkins.io page - TODO: Put a summary here"
Problem with the [Redirects from ci.jenkins.io](https://www.jenkins.io/infra/ci-redirects/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/infra/ci-redirects.adoc)

TODO: This isn’t me!!

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

[2021-07-29 22:33] MarkEWaite commented on #4480
@whatdon please provide more explanation of what you intend with this issue.

[2021-07-29 23:35] whatdon commented on #4480
I want it to stop

Sent from my iPhone

[2021-07-29 23:44] MarkEWaite commented on #4480
You want what to stop?

[2021-08-03 05:11] VirtualTim opened #4488 "LTS Changelog page - Incorrectly listing JENKINS-2 as a change in 2.289.3"
Problem with the [LTS Changelog](https://www.jenkins.io/changelog-stable/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/changelog-stable/index.html.haml)

The 2.289.3 changelog lists `Community reported issues: 3×JENKINS-2 1×JENKINS-65124 1×JENKINS-66245`, however JENKINS-2 has not been [updated since 2017](https://issues.jenkins.io/browse/JENKINS-2). Is this

[2021-08-04 03:11] nsurendran1991 opened #4490 "Jenkins Login issue"
Problem with the Jenkins login. I am trying to log into jenkins and getting below error message:

"username is not found or password incorrect".

I tried resetting the password by using forgot password and tried login using temporary password and still facing the same issue. Can you please help me in resolving the issue. I can't log into Jenkins-Jira because of the same issue.
Any help appreciated

[2021-08-04 03:22] MarkEWaite commented on #4490
To be precise, does that mean you are trying to login to one of the services provided by the Jenkins project, like ci.jenkins.io, issues.jenkins.io, or repo.jenkins-ci.org?  If so, then we can send you a reset password email.

If you're unable to login to a Jenkins server that we do not control, then you'll need to contact the administrator of that server.

[2021-08-04 03:29] nsurendran1991 commented on #4490
I can't log into https://accounts.jenkins.io/ and https://issues.jenkins.io/

I tried resetting the password by forgot password. But even with temporary password I cant login. I am not sure whether my account got locked out or not.

[2021-08-04 03:34] MarkEWaite commented on #4490
You might also try a password reset through https://beta.accounts.jenkins.io/ .  Sometimes that succeeds when accounts.jenkins.io does not

[2021-08-04 03:45] nsurendran1991 commented on #4490
Now it's working. Thanks a lot. Highly appreciated.

[2021-08-04 03:45] MarkEWaite commented on #4490
That's great.  Thanks!

[2021-08-04 03:45] #4490 closed

[2021-08-04 03:46] MarkEWaite commented on #4480
Closing the issue due to no replt

[2021-08-04 03:46] #4480 closed

[2021-08-04 04:12] VirtualTim commented on #4488
Oh I didn't realise that the bug numbers were user-submitted. In that case I'll close this, as this report doesn't really make sense.

[2021-08-04 04:12] #4488 closed

[2021-08-06 01:46] nsurendran1991 opened #4495 "Getting started with Pipeline page - Failed build job with groovy sending null currentBuild.result"
Hi,
I am using pipeline to create a CI with groovy script and my failed job's currentBuild.result is returning null and currentBuild.currentResult as success.
Can you let me know how can I fix this issue?

My groovy script is as follows:

#!groovy

node('master') {
    // This limits build concurrency to 1 per branch
    properties([disableConcurrentBuilds()])
    env.JAVA_HOME = "${tool 'jdk8'}"

[2021-08-08 07:34] timja opened #4498 "Implement copy to clipboard button"
Enhancement for at least the [Setting up automated plugin release](https://www.jenkins.io/doc/developer/publishing/releasing-cd/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/developer/publishing/releasing-cd.adoc)

It would be nice if you can copy code snippets with a button like plugin site and GitHub have rather than having to highlight and copy.

cc @

[2021-08-10 11:10] #4417 closed

[2021-08-18 06:36] davidmichaeli opened #4514 "Jenkins - A FilePath object is being serialized when it should not be"
i install a jenkins (version: 2.263.4) on my pc.

i have create a simple job that should display list of features names on my git server.

i trying to click on build with parameters - but it seems that it stucking... so i check if have any logs - and seeing that have warning log:

`A FilePath object is being serialized when it should not be, indicating a bug in a plugin. See https://jenkins.io/red

[2021-08-18 11:57] MarkEWaite commented on #4514
Please open an issue on the Jenkins issue tracker for the component "dynamicparameter".  This issue tracker is used for the web site https://www.jenkins.io.  Plugin maintainers don't check it for issue reports.

[2021-08-18 11:57] #4514 closed

[2021-08-22 20:24] #4406 closed

[2021-08-30 08:48] peterlai-roboops opened #4531 "Pipeline Examples page - TODO: Put a summary here"
Please for the love of god, provide the full jenkisnfile! You only ever show the snippets, and these alone don't do anything, and requires the previous section to be correct. How are we surpose to know what the previous section is meant to have?

[2021-09-02 17:48] ryanhankins opened #4540 "Installation documentation doesn't drop -lts tag."
Problem with the [Docker](https://www.jenkins.io/doc/book/installing/docker/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/docker.adoc)

TODO: Describe the expected and actual behavior here

I expect this to work:
FROM jenkins/jenkins:2.303.1-lts-jdk11

However, it fails:

docker build -t myjenkins-blueocean:1.1 .
Sending build context to

[2021-09-02 18:06] ryanhankins commented on #4540
PR here: https://github.com/jenkins-infra/jenkins.io/pull/4541

[2021-09-02 18:28] #4540 closed

[2021-09-02 19:10] MarkEWaite commented on #4495
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

[2021-09-02 19:10] #4495 closed

[2021-09-06 01:28] MarkEWaite commented on #4531
Thanks for providing feedback!

For clarity, are you referring to the [Pipeline Examples](https://www.jenkins.io/doc/pipeline/examples/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/pipeline/examples.html.haml)?

Many of the examples on that page are the full Jenkinsfile.  Can you describe which examples you found that did not do what you wanted?

[2021-09-07 14:30] dami95 opened #4549 "Jenkins on AWS page - missing daemonize dependency"
Problem with the [Jenkins on AWS](https://www.jenkins.io/doc/tutorials/tutorial-for-installing-jenkins-on-AWS/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/tutorials/tutorial-for-installing-jenkins-on-AWS.adoc)

Error in command:
`sudo yum install jenkins java-1.8.0-openjdk-devel -y`

## Screenshots
<img width="559" alt="Zrzut ekranu 2021-09-7 o 16 29 21

[2021-09-07 17:48] MarkEWaite commented on #4549
Thanks for the report!  We also should update that page to guide the user to install Java 11 instead of Java 8.

[2021-09-08 11:40] dami95 commented on #4549
You are right about Java version, I saw also notice about it during installation.

[2021-09-14 15:16] m8ram opened #4557 "Microsoft PowerShell Support for Pipeline page - TODO: Put a summary here"
Problem with the [Microsoft PowerShell Support for Pipeline](https://www.jenkins.io/blog/2017/07/26/powershell-pipeline/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/blog/2017/07/2017-07-26-powershell-pipeline.adoc)

The page provides code examples without explaining that these use the scripted pipeline syntax.
E.g.:
[code]

## Possible Solution

Add a note

[2021-09-15 14:26] gregnightingale opened #4560 "Create a Pipeline in Blue Ocean page - sample script fails on iMac with M1 chip."
Problem with the [Create a Pipeline in Blue Ocean](https://www.jenkins.io/doc/tutorials/create-a-pipeline-in-blue-ocean/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/tutorials/create-a-pipeline-in-blue-ocean.adoc)

The page says:
Create Dockerfile with the following content:

FROM jenkins/jenkins:2.303.1-jdk11
USER root
RUN apt-get update && apt-get inst

[2021-09-15 15:00] MarkEWaite commented on #4560
Thanks for the report.  The instructions are specific to amd64 Linux based on the entry:

I don't have access to a mac M1.  Is docker-ce-cli available for M1

[2021-09-15 15:46] MarkEWaite commented on #4560
At a minimum, the page needs to be corrected to show that it is for macOS, Linux, and Windows on amd64.  It won't work for macOS, Linux, or Windows on aarch64, ppc64le, or s390x.

[2021-09-15 16:30] zbynek commented on #4560
there are `arm64` packages in Docker's repo https://download.docker.com/linux/debian/dists/stretch/stable/

[2021-09-15 19:30] gregnightingale commented on #4560
Ah, thanks. So if I substitute "arm64" in place of "amd64" in "[arch=amd64"
the script, it works just fine.  Thanks for pointing that out.

On Wed, Sep 15, 2021 at 12:30 PM Zbynek Konecny ***@***.***>
wrote:

[2021-09-15 19:58] MarkEWaite commented on #4560
Thanks for checking.  That means we can adapt the script slightly and it will probably work for multiple architectures.

[2021-09-18 22:53] halkeye commented on #4560
What happens if you just remove the "[arch=amd64] " all together? Will it auto pull the right arch?

[2021-09-18 22:56] halkeye commented on #4557
Blog posts typically don't get updated after the fact.

Wonder if its worth adding something like "For up to date syntax make sure to check out your installations syntax generator" or something

[2021-09-19 06:34] StackScribe opened #4564 "Add security concepts to doc/book/security"
Add some conceptual and background information to the top file in the Security section:
- Jenkins is a fully distributed build system; briefly explain the security ramifications
- Security concepts (least privilege, know the system, defense in depth, etc)
- Brief view of how Jenkins executes a Pipeline as background to understanding security settings and practices.

Other existing material in this

[2021-09-19 06:45] StackScribe opened #4565 "Enhance "Controller isolation" file"
- Move/edit content for clarity
- Call this file immediately after the doc/book/security file

[2021-09-19 06:53] StackScribe opened #4566 "Enhance "Managing security" contents"
- Make this file include only the intro to the "Configure Global Security" screen and a discussion of the "Enable security" checkbox and perhaps "Disable remember me"
- Replace screenshot with current screenshot and include all sections -- perhaps breaking it up into the sections
- This file should follow the "Controller isolation" file.
- Move details about filling in the various sections to sepa

[2021-09-19 06:54] StackScribe opened #4567 "Create "Security Realm" file"
Pull together the "Security Realm" information that is included in other files into a single file.

[2021-09-19 06:58] StackScribe opened #4568 "Create "Authorization" file"
Pull together information from existing files into a single file about authorization.
- Add information about the project and role-based authorization options which are now installed by default, with links to other docs for details
- Pull together existing information about permissions and perhaps enhance -- need to compare to information that is available elsewhere in the documentation

[2021-09-28 18:52] kfreidank opened #4584 "Redirects from ci.jenkins.io page - Cannot access XML API Documentation"
Problem with the [Redirects from ci.jenkins.io](https://www.jenkins.io/infra/ci-redirects/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/infra/ci-redirects.adoc)

Cannot access the XML API documentation

## Possible Solution

Remove the redirect.  Using Comcast Internet.

[2021-09-28 22:27] MarkEWaite commented on #4584
If you need to refer to the XML API documentation, you'll need to do it from either a Jenkins instance that you host yourself or from another Jenkins instance.  We don't intend to enable access to the XML API pages from ci.jenkins.io.

We intentionally redirect attempts to access pages like https://ci.jenkins.io/job/Plugins/job/git-client-plugin/api/xml , https://ci.jenkins.io/job/Plugins/job/git-

[2021-09-28 22:27] #4584 closed

[2021-10-01 17:56] noviicee commented on #3745
Can I take this?

[2021-10-01 17:56] noviicee commented on #3743
Can I take this?

[2021-10-01 19:59] #3743 closed

[2021-10-01 19:59] #3745 closed

[2021-10-01 19:59] #3758 closed

[2021-10-01 20:06] MarkEWaite commented on #3743
@noviicee thanks very much for asking.  This is one that should have been closed when the wiki outage happened.  There is no web server that can receive these redirects now, since wiki.jenkins.io is offline.

[2021-10-01 20:21] MarkEWaite commented on #3743
@noviicee if you'd be willing to try an issue in a different repository, I'd love to have you help "test drive" a task and a technique that I'll be sharing at the Hacktoberfest launch in about 12 hours.

The task is described in [this slide](https://docs.google.com/presentation/d/16P07p6GpfXdvuunrhVgJeIUxLqijMGMKNkij1c4PsuA/edit#slide=id.ga0e82d5862_0_115) and involves these steps:

* Choose a plu

[2021-10-02 05:40] noviicee commented on #3743
Sure :)
Will join 👍
Thanks for sharing!

[2021-10-02 10:27] bhaveshgoyal182 opened #4595 "Fix the navbar under mobile view"
## Issue
The mobile view of the website especially the navbar is a bit out structured for example the download and search buttons.

![Jenkins](https://user-images.githubusercontent.com/60166991/135712375-17c61056-6b5f-4679-9d6c-7bcacaffc349.PNG)

## Suggestion
Will try to align it in side by side manner and aligning the rest of the links to the center will give a great look.

## Links

* Links 1

[2021-10-03 17:32] schezfaz commented on #4418
Hii, is this issue up for grabs? I'd love to work on it!

[2021-10-04 05:18] SandunWebDev commented on #4595
Hi, I have made pull request for this issue. (My First Contribution/PR :smile:)
Please check. #4605

[2021-10-04 21:00] MarkEWaite commented on #4418
Yes @schezfaz , you're welcome to work on it.  Thanks for offering.

[2021-10-05 06:40] daniel-beck commented on #4565
What does this refer to?

[2021-10-05 06:41] daniel-beck commented on #4564
https://www.jenkins.io/doc/book/security/controller-isolation/ does some of that.

[2021-10-05 06:43] schezfaz commented on #4418
Thankyou so much! @MarkEWaite  Will go through the contributing guidelines and get started!! #hacktoberfest2021

[2021-10-05 09:20] StackScribe commented on #4564
https://github.com/jenkins-infra/jenkins.io/pull/4612

[2021-10-05 09:33] StackScribe commented on #4564
@daniel-beck The "fully distributed build system" stuff should be in the intro to this chapter and, for a topic sentence, I like the phraseology that is there now and that came from you a couple years ago.  But the material in https://www.jenkins.io/doc/book/security/controller-isolation/ adds depth; I will pull that into this introductory section so that "Controller Isolation" can just concentrat

[2021-10-05 09:38] StackScribe commented on #4565
@daniel-beck I clarified the description -- does this make sense?

[2021-10-05 12:10] daniel-beck commented on #4565
What does "Call" mean? It's already the topmost entry of the list. Menu item order? Inlining the content into the index page? Something else?

[2021-10-05 22:03] #4595 closed

[2021-10-06 01:29] halkeye opened #4615 "A comment in https://issues.jenkins.io/browse/INFRA-3020 notes that https://www.jenkins.io/rss.xml has URLs like `https:/www.jenkins.io/whatever`"
A comment in https://issues.jenkins.io/browse/INFRA-3020 notes that https://www.jenkins.io/rss.xml has URLs like `https:/www.jenkins.io/whatever`

Given https://github.com/jenkins-infra/jenkins.io/blob/20826a88d36f94fdb2af4a9ae0b31d9e884c7755/content/_ext/atom.xml.haml#L18 it looks like this change caused it.

_Originally posted by @daniel-beck in https://github.com/jenkins-infra/jenkins.io/issues

[2021-10-08 02:42] MarkEWaite commented on #4184
Fixed by using the released version of Docker and the released version of Debian bullseye

[2021-10-08 02:42] #4184 closed

[2021-10-08 19:56] nishantkantojha commented on #3782
Hi @MarkEWaite, if this issue is not assigned to anyone.
Could you please assign it to me :)

[2021-10-16 09:22] richardfearn commented on #4615
Thanks for fixing this! Do you know when the fix will be live on https://www.jenkins.io/ ?

[2021-10-16 10:53] richardfearn commented on #4615
@timja Not sure it's worked in that case. https://www.jenkins.io/rss.xml still says:

    <link rel="self" type="application/atom+xml" href="https:/www.jenkins.io/rss.xml"/>

[2021-10-16 18:31] halkeye commented on #4615
Thats what happens when we don't actually have a bug report :)

I actually can't find where/how that link is injected into the html.

https://github.com/awestruct/awestruct/blob/master/lib/awestruct/extensions/template.atom.haml is one template

oh as i was looking at it, i started to look for base_url, and found content/_ext/atom.xml.haml which looks promising. When i get a minute i'll dig into i

[2021-10-17 15:32] daniel-beck commented on #4615
INFRA-3020 is the bug report. The reporter only learned later what caused the weird behavior.

Also noted in the issue description? I didn't send you on a goose chase here 😉

[2021-10-20 21:23] richardfearn commented on #4615
@halkeye @daniel-beck @timja Thanks all for looking at this. The ["real" RSS feed](https://www.jenkins.io/rss.xml) has proper URLs now, and the links in the [FeedBurner feed](https://feeds.feedburner.com/ContinuousBlog) seem to be working properly now too.

[2021-10-31 08:22] timja commented on #4407
There's also a couple of other fixes.

You can change your preferences to not use the bundled one and somewhere you can set it at a project level (which appears to be what I have).

If you set it on the run configuration you'll need to do it for each one you create

[2021-10-31 14:21] TobiX commented on #4560
@halkeye Yes. I think docker wants to protect it's download servers from spurious requests from people having multi-arch enabled (for example, if you are on amd64 and have i386 active for wine or steam, apt asks for amd64 & i386 Release files on repositories).

The official docs now tell users to use
[code]
I'll prepare a simple fix...

[2021-10-31 23:18] #4560 closed

[2021-11-02 07:53] timja opened #4678 "Themes for user interface page - Missing theme manager and implemented themes"
Problem with the [Themes for user interface](https://www.jenkins.io/doc/book/managing/ui-themes/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/managing/ui-themes.adoc)

Theme manager should be mentioned as the recommended way for themes.
The 2 most popular plugins section should be updated, dark theme is more popular than login theme, here's a list o

[2021-11-03 06:19] Koop1212 opened #4680 "Problem with jenkins.io"
Problem with the [Jenkins](https://www.jenkins.io/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/index.html.haml)

TODO: Describe the expected and actual behavior here
Hello! We go problem with opening jenkins.io from our corporate network, telnet to jenkins.io with 80 or 443 tcp ports is succes, but web page is unavailable "timeout". Maybe you have some rule

[2021-11-03 13:56] SinaDBMS opened #4681 "Pipeline Syntax page - triggeredBy 'UpstreamCause' always evaluates to false in When condition"
Problem with the [Pipeline Syntax](https://www.jenkins.io/doc/book/pipeline/syntax/#when) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/pipeline/syntax.adoc)

TODO: Apparently there is no cause as **UpstreamCause**, but rather **BuildUpstreamCause**.
See this [question](https://stackoverflow.com/questions/69722988/jenkins-triggeredby-upstreamcause-alw

[2021-11-03 14:05] MarkEWaite commented on #4680
We do not have any rules that limit or alter access from any network.  The www.jenkins.io pages are cached by the Fastly content delivery network.  You may need to check with your network administrators to understand what is preventing access to a public web page from your network.

[2021-11-03 14:05] #4680 closed

[2021-11-03 14:12] #4681 closed

[2021-11-04 14:18] zottinor opened #4688 "Jenkins page - TODO: Job Import Plugin not allow to select at configuration the usage of credential type SSH Username with Private Key"
Problem with the [Jenkins](https://www.jenkins.io/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/index.html.haml)

TODO: Job Import Plugin not allow to select at configuration the usage of credential type SSH Username with Private Key.

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2021-11-04 17:22] #4688 closed

[2021-11-08 12:30] MrDiba opened #4703 "Jenkins Reverse proxy - HAProxy outdated"
The examples for using Jenkins in combination with an HAProxy reverse proxy setup are outdated resulting in errors in the config when using a updated HAProxy environment.

[code]

## Links

* https://www.jenkins.io/doc/book/system-administration/reverse-proxy-configuration-haproxy/

[2021-11-10 20:02] MarkEWaite commented on #4703
@MrDiba are you able to submit the pull request to the page based on the changes you needed to make?

[2021-11-11 09:07] MrDiba commented on #4703
Hi @MarkEWaite To be honest is my knowledge about HAProxy very limited. I found a few stackoverflow posts about changing the affected lines:
https://stackoverflow.com/questions/68092050/replace-regrep-for-haproxy-2-x
https://stackoverflow.com/questions/59484910/haproxy-replace-rsprep-directive-by-http-response-replace-header
But I was not beable to make it work so I gave up on it and installed an

[2021-11-12 11:48] varvanovich opened #4713 "Jenkins Security Advisory 2020-10-08 page - TODO: Put a summary here"
Problem with the [Jenkins Security Advisory 2020-10-08](https://www.jenkins.io/security/advisory/2020-10-08/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/security/advisory/2020-10-08.adoc)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2021-11-12 14:07] MarkEWaite commented on #4713
@varvanovich please provide more details that describe what you believe is the issue with the the Jenkins Security Advisory 2020-10-08 page.  Without more information, we don't know what needs to change.

Is the change covered in https://github.com/jenkins-infra/jenkins.io/pull/4712 ?

[2021-11-12 16:57] abhiruppaul156 commented on #4703
The error is non correctable so you should install  other server

[2021-11-12 21:41] MarkEWaite commented on #4703
Please explain further what you mean.  I've not seen many errors in computer software that are non-correctable.

[2021-11-15 18:59] akirataguchi115 opened #4717 "Website mascot dark mode"
Problem with this page:
Mascot doesn't scale up too well when used with [Dark Reader](https://chrome.google.com/webstore/detail/dark-reader/eimadpbcbfnmbkopoojfekhnkhdbieeh)

I'd expect the mascot to be pc when dark theme is on.

## Screenshots
![image](https://user-images.githubusercontent.com/31825085/141838516-c10f1d8b-7259-438f-9cf8-c4d755ccb06e.png)

## Possible Solution
N/A

[2021-11-15 20:57] zbynek commented on #4717
I'd suggest to report this to Dark Reader instead, they might need to add some specific rules for jenkins.io.
Reported for a similar image here: https://github.com/darkreader/darkreader/issues/6325

[2021-11-16 02:52] MarkEWaite opened #4718 "Use same navigation for dev docs as for user handbook"
## Use same navigation for dev docs as for user handbook

The [user handbook](https://www.jenkins.io/doc/book/installing/windows/) on www.jenkins.io includes

* left side navigation list that expands and collapses as the user moves from one page to another
* current page is highlighted in bold text to show the user context
* links to the subsections of the page in the upper right corner, usable as

[2021-11-16 03:43] MarkEWaite opened #4719 "Change System Time Zone page should describe user time zone setting"
Problem with the [Change System Time Zone](https://www.jenkins.io/doc/book/managing/change-system-timezone/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/managing/change-system-timezone.adoc)

The page describes several different techniques to set the system wide time zone, but does not mention that each user may configure the time zone that will be

[2021-11-16 07:29] #4717 closed

[2021-11-16 07:58] EyuelMathewos opened #4720 "DOWNLOAD LINK NOT RESPONDING"
Problem with the [Thank you for downloading Windows installer](https://www.jenkins.io/download/thank-you-downloading-windows-installer/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/thank-you-downloading-windows-installer.html.haml)

TODO: Describe the expected and actual behavior here
The Download LINK NOT RESPONDING
https://ftp.halifax.rwth-aachen.

[2021-11-16 10:37] dduportal commented on #4720
Hello @EyuelMathewos . We do not have any alert on this mirror, neither on this file.

Just tested on 2 different network locations (Belgium and US east coast) and it works fine:

[code]

I'm going to close the issue here, since this problem is not related to the www.jenkins.io website itself, but could you open a new thread on the community forum at community.jenkins.io to explain the problem and

[2021-11-16 10:37] #4720 closed

[2021-11-17 18:56] MarkEWaite opened #4724 "Creating your first Pipeline page - multiple user issues with steps and their clarity"
Problem with the [Creating your first Pipeline](https://www.jenkins.io/doc/pipeline/tour/hello-world/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/pipeline/tour/hello-world.adoc)

We've had several reports that the "Hello world" tutorial is unclear and is missing steps.  See the posting in [community.jenkins.io](https://community.jenkins.io/t/couldnt-get

[2021-11-17 20:09] liluzee commented on #4719
I have made a PR for this issue, please check.

[2021-11-18 08:19] solresol opened #4725 "Using Jenkins agents page - many steps that don't work, some that are obsolete, some that don't make sense."
Problem with the [Using Jenkins agents](https://www.jenkins.io/doc/book/using/using-agents/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/using/using-agents.adoc)

A few obvious problems:

- The suggested docker image doesn't include a JDK (at least on arm64), and neither do any of the other jenkins/ssh-agent docker images

- The instructions to set

[2021-11-18 20:02] #4719 closed

[2021-11-18 20:03] MarkEWaite commented on #4713
Closed due to no response from submitter

[2021-11-18 20:03] #4713 closed

[2021-11-23 06:08] shadycuz commented on #4724
So this is a tricky thing because the underlying Jenkins would need configured with the correct tools. Like in the tutorial it uses docker for the pipeline but doesn't mention docker needs installed in Jenkins or what other plugins like git need to be installed. Actually the docker requirement is listed but its only shown if you click "scripted".

The tutorial also shows the use of agents but does

[2021-11-23 16:31] bharsh opened #4733 "Jenkins download and deployment page - version 2.322 doesn't exist to download"
Problem with the [Jenkins download and deployment](https://www.jenkins.io/download/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/index.html.haml)

Jenkins informs us that version 2.322 is ready to update; clicking the Upgrade Automatically results in nothing really happening.
Not sure if it's just the mirror/cdn node my box decided to choose, but ju

[2021-11-23 16:54] dduportal commented on #4733
Hello @bharsh , thanks for reporting! We are having an issue for this weekly release and are working on it. It should be fixed in a few hours.

[2021-11-23 17:58] bharsh commented on #4733
Sounds good - since it wasn't showing up in a google search I figured it must be pretty new... and I wasn't sure if it was only affecting the particular node the dns resolver landed on for me, or if it was everyone, so I reported just in case.   Glad you know.  I'll update later.

[2021-11-23 18:26] dduportal commented on #4733
No worries @bharsh , you did good and it's awesome that you took the time to report :)
My message was posted quickly so that it acknoledged the issue and avoid wasting more of your time :)

[2021-11-23 19:37] dduportal commented on #4733
Release finished, I was able to download the WAR successfully on the OSUSL NYC mirror. Closing the issue, please feel free to reopen with details if you still have the problem.

Many thanks for taking time to report!

[2021-11-23 19:37] #4733 closed

[2021-11-30 02:24] MarkEWaite opened #4735 "Include JCasC summary into the Manage Jenkins pages"
The Jenkins Configuration as Code plugin needs introductory documentation in "Manage Jenkins" with links to detailed documentation in the plugin README

[2021-11-30 18:24] Theo13111 opened #4738 "Not Found page - TODO: Put a summary here"
Problem with the [Not Found](https://www.jenkins.io/404/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/404.html.haml)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2021-11-30 20:50] MarkEWaite commented on #4738
I'll close this issue unless the "TODO" items are completed so that we know how to take action on the issue.  Did you click a link on some page that caused the "404" page to appear?  Was there something else that is wrong with the 404 page?

[2021-11-30 23:35] #4738 closed

[2021-12-07 03:02] MarkEWaite opened #4747 "Plugin Wiki Pages page describes outdated steps"
Problem with the [Plugin Wiki Pages](https://www.jenkins.io/doc/developer/publishing/wiki-page/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/developer/publishing/wiki-page.adoc)

The page describes wiki conversion that is no longer available and in many cases no longer necessary.  Needs to describe how to use the Jenkins [plugins wiki docs archive site](

[2021-12-08 14:11] lemeurherve opened #4755 "Add a tooltip to copy code block to clipboard"
It's not always easy to copy code from the docs.

## Suggestion
Add a tooltip next to each code block to copy their content to the user clipboard

[2021-12-08 14:14] lemeurherve commented on #4755
Closed in favor of https://github.com/jenkins-infra/jenkins.io/issues/4498

[2021-12-08 14:14] #4755 closed

[2021-12-08 15:42] rushdi opened #4756 "Configuring Content Security Policy page - TODO: Couldn't see Published HTML icon in the left menu"
Problem with the [Configuring Content Security Policy](https://www.jenkins.io/doc/book/security/configuring-content-security-policy/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/security/configuring-content-security-policy.adoc)

TODO:
- I installed HTML published plugin in my Jenkins
- Then configure my pipeline according to my  report configuratio

[2021-12-08 18:04] MarkEWaite commented on #4756
@rushdi can you explain what you believe should be changed in the page?

Your report seems to me to be a report of an issue in the HTML publisher plugin, not an issue in the documentation page.  If you are using HTML publisher plugin 1.10 or later and seeing an issue, use the [HTML Publisher plugin](https://plugins.jenkins.io/htmlpublisher/) ["Report an Issue" link](https://www.jenkins.io/particip

[2021-12-09 10:52] rushdi commented on #4756
@MarkEWaite Thanks for the reply. Yes, this is a plugin issue, so I will continue with the HTML publisher plugin issue.

[2021-12-09 10:52] #4756 closed

[2021-12-10 23:28] #4735 closed

[2021-12-12 06:53] Jblack881 opened #4765 "Not Found page - TODO: Put a summary here"
[]() Problem with the [Not Found](https://www.jenkins.io/404/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/404.html.haml)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2021-12-15 01:29] moises-perez-tfs opened #4772 "Extending with Shared Libraries page - Missing explanation on why to avoid global variables"
Problem with the [Extending with Shared Libraries](https://www.jenkins.io/doc/book/pipeline/shared-libraries/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/pipeline/shared-libraries.adoc)

Why would you recommend to avoid global variables just after introducing them? There is not even a reason why.

## Possible Solution

I think an explanation would

[2021-12-21 16:49] visual901 opened #4777 "IntelliJ Setup for Jenkins Core Development page - TODO: Put a summary here"
Problem with the [IntelliJ Setup for Jenkins Core Development](https://www.jenkins.io/doc/developer/building/intellij/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/developer/building/intellij.adoc)

Running the steps as described in InteliJ I am getting the following output and errors when trying to build the core for the first time (clean install):

mvn

[2021-12-21 16:56] visual901 commented on #4777
Note that this happens when running the command
mvn -am -pl war,bom -DskipTests -Dspotbugs.skip -Dspotless.check.skip clean install
in InteliJ terminal.
When running the same command in a separate cmd terminal window it succeeds.
Using Windows 10 x64.

I didnt think there's a difference between InteliJ terminal and windows terminal (Git Bash CMD for that matter) that's relevant to this command.

[2021-12-21 19:14] KalleOlaviNiemitalo opened #4778 "Managing Plugins page - File copied to JENKINS_HOME/plugins should be .jpi not .hpi"
Problem with the [Managing Plugins](https://www.jenkins.io/doc/book/managing/plugins/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/managing/plugins.adoc)

<https://www.jenkins.io/doc/book/managing/plugins/#on-the-controller> says:

However, when the update center places files in that directory, it uses the `.jpi` extension, not `.hpi`. So if the Jen

[2021-12-22 10:34] m8ram commented on #4557
Sorry for the late reply.
I fully understand that it is impossible to keep years of blog posts up to date.
Unfortunately these blog posts come up in search results so the amount of posts with (partially) no-longer-correct or no-longer-best-practice information is outweighing the number of posts with up-to-date information.

Perhaps outdated blog posts should be archived so they don't show up in se

[2021-12-25 23:26] timja opened #4783 "Setting up automated plugin release - Version format can generate pre-release versions (as defined by maven / dependabot)"
Problem with the [Setting up automated plugin release](https://www.jenkins.io/doc/developer/publishing/releasing-cd/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/developer/publishing/releasing-cd.adoc)

See https://github.com/jenkinsci/bom/pull/794#issuecomment-1001075044

Several times we've had versions not updated by dependabot and @basil has tracked

[2021-12-26 00:16] HarishMargal opened #4784 "C:\WINDOWS\system32\config\systemprofile\AppData\Local\Jenkins\.jenkins\secrets\initialAdminPassword this location not find out in my file //"
![Capture](https://user-images.githubusercontent.com/96645682/147395920-dfb62141-d9f9-4a4b-a147-8c56c259959e.PNG)

[2021-12-26 00:19] HarishMargal commented on #4784
i cant find this location in same place .. plz help

[2021-12-26 00:19] #4784 closed

[2021-12-26 02:48] jetersen commented on #4783
I believe this affects renovate as well

[2021-12-28 15:02] jglick commented on #4783
Can you move to https://github.com/jenkinsci/incrementals-tools/issues please? (I lack permissions to do so.)

[2021-12-28 15:56] timja commented on #4783
can't transfer across orgs only repositories

[2021-12-29 11:16] IliinaAlexa opened #4788 "Jenkins download and deployment page"
Problem with the [Jenkins download and deployment](https://www.jenkins.io/download/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/index.html.haml)

TODO: Describe the expected and actual behavior here
I cant downoad jenkins for windows (Regular releases (Weekly) )
![Безымянный](https://user-images.githubusercontent.com/85580788/147656843-bc3d3952-6e2

[2021-12-29 23:16] gilmorem560 opened #4791 "Jenkins download and deployment page - Windows MSI Download of 2.327 Not Found"
Problem with the [Jenkins download and deployment](https://www.jenkins.io/download/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/index.html.haml)

On this page on the right column under 2.327, clicking the Windows download for the MSI package (https://get.jenkins.io/windows/2.327/jenkins.msi) reports back a 404 error:

![image](https://user-images.g

[2021-12-29 23:20] gilmorem560 commented on #4788
I should've peeked in the issue tracker, #4791 is a duplicate of this issue. I'm experiencing the same and can't rely on falling back to the GitHub release for 2.327 for an MSI package as they don't seem to be attaching them there either. If this page can't be depended on to be stable, then it would probably be good practice to resume providing binaries with GitHub releases so consumers aren't com

[2021-12-29 23:20] gilmorem560 commented on #4791
Duplicate of #4788 closing

[2021-12-29 23:20] #4791 closed

[2021-12-29 23:22] gilmorem560 commented on #4788
Also, if it helps, I just tried https://get.jenkins.io/windows/2.326/jenkins.msi and this link *does* work, so if you don't absolutely need the bleeding edge or are fine with updating after install, 2.326's MSI package appears to be accessible.

[2021-12-30 17:59] LucyAkulovich opened #4792 "Jenkins download and deployment page - TODO: 404 error when trying to download Jenkins 2.327"
Problem with the [Jenkins download and deployment -  Jenkins 2.327 for Windows] (https://get.jenkins.io/windows/2.327/jenkins.msi) page, 404 error occurs.

TODO: Describe the expected and actual behavior here

expected behavior:
when going to https://get.jenkins.io/windows/2.327/jenkins.msi - possibility to download the deployment file appears.

actual behavior:
when trying to download Jenkins 2.3

[2022-01-01 13:04] MarkEWaite commented on #4792
Thanks for reporting the issue.  Fixed Dec 31, 2021 by running the packaging job again.  See https://issues.jenkins.io/browse/INFRA-3171 for checks that confirmed the result is complete.

Was also raised as an alert by DataDog.

[2022-01-01 13:04] #4792 closed

[2022-01-01 13:06] MarkEWaite commented on #4788
Thanks for reporting the issue.  The packaging process failed on Tuesday, Dec 28, 2021 due to infrastructure issues.  Fixed by running the packaging process again on Friday, Dec 31, 2021 after the infrastructure issues were fixed.

[2022-01-01 13:06] #4788 closed

[2022-01-01 13:09] MarkEWaite commented on #4783
Fixed by jenkinsci/incrementals-tools#24

[2022-01-01 13:09] #4783 closed

[2022-01-01 13:09] MarkEWaite commented on #4765
Closing because the report does not contain enough information to take any corrective action.

[2022-01-01 13:09] #4765 closed

[2022-01-03 16:44] MarkEWaite commented on #4777
Is your IntelliJ configured to run a different version of Apache Maven than the version used by Jenkins?  We've seen reports in the past from users who were surprised that their IntelliJ was configured to use Apache Maven 3.6.3 when the minimum Apache Maven version for Jenkins development is 3.8.1.

[2022-01-03 17:29] jglick commented on #4783
I hope so. Still looking for working examples.

[2022-01-03 20:42] timja commented on #4783
https://github.com/jenkinsci/jenkins/pull/6156

[2022-01-05 01:25] MarkEWaite opened #4797 "Jenkins 2.328 MSI package is not available"
Problem with the [Jenkins download and deployment](https://www.jenkins.io/download/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/index.html.haml)

The Windows download link reports a 404 page not found because the 2.328 MSI installer has not been generated.  The RPM, DEB, and WAR files are all available, as are the Docker images.

## Possible Soluti

[2022-01-05 11:25] dduportal commented on #4797
Wip to fix this in progress:

- Root cause is:
- Updating the Docker image for packaging to allow "single container pattern": https://github.com/jenkins-infra/docker-packaging/pull/21
- Updating the release process:
  - https://github.com/jenkins-infra/release/pull/197

[2022-01-05 12:54] dduportal commented on #4797
- The last packaging build (176) was successful
- All the links on https://www.jenkins.io/download/ for the weekly 2.328 are no working as expected
- No more PagerDutty alerts about missing packages

[2022-01-05 12:54] #4797 closed

[2022-01-12 06:21] lemeurherve opened #4815 "(infra) Add jenkinsciinfra/builder to the updatecli manifest"
Noticed in #4814 that nothing automatically bumps its version

## Suggestion
Keep its version up to date with updatecli

## Links

https://github.com/jenkins-infra/jenkins.io/blob/master/updatecli/updatecli.d/charts.yaml

[2022-01-13 17:07] jmcmahon opened #4818 "Using Jenkins page - TODO: grammatical error"
Problem with the [Using Jenkins](https://www.jenkins.io/doc/book/using/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/using/index.adoc)

TODO: Describe the expected and actual behavior here

There is a sentence on this page that says this:

"If you are a system administrator and want learn how to back-up, restore, maintain as Jenkins servers and node

[2022-01-13 17:21] 321ravi commented on #3320
hi @MarkEWaite  i am a beginner and i want to contribute to it

[2022-01-13 17:34] MarkEWaite commented on #3320
Thanks for your interest @321ravi .  There is already a pull request proposed ( #3385) that is trying to bring that content into the www.jenkins.io page.  I recommend that you choose another [good first issue](https://github.com/jenkins-infra/jenkins.io/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22) instead of this one.

[2022-01-13 18:44] MarkEWaite commented on #4818
#4819 resolved this issue

[2022-01-13 18:44] #4818 closed

[2022-01-13 18:47] 321ravi commented on #3320
Ok , I have question when I am going other good first issue  of migrate
there is a problem with Jenkins wiki export ,that is giving me a problem
(url error)
even I have copied same wiki url

On Thu, Jan 13, 2022, 23:05 Mark Waite ***@***.***> wrote:

[2022-01-14 20:53] Illusionme opened #4825 "React App doesn't open after following steps in Build a Node.js and React App with NPM"
Problem with this page: Followed the steps in [this tutorial](https://www.jenkins.io/doc/tutorials/build-a-node-js-and-react-app-with-npm/). But the http://localhost:3000 is not opening the app that is deployed.

TODO: I believe the deployment is happening in docker and need to provide guidance on how to open the app.

## Screenshots
### Successfully deployed the app:
![image](https://user-images.

[2022-01-15 12:45] MarkEWaite commented on #4825
Thanks for reporting the issue.  Can you confirm that you are running the tutorial on a Windows computer?

The instructions in the Windows section of the tutorial are missing the required addition of port 3000 to the `docker:dind` container.  When I run the instructions in the Windows section of the tutorial, it does not show the results on port 3000.  If I add the `-p 3000:3000` argument to the `

[2022-01-15 17:08] 321ravi commented on #4778
@MarkEWaite  what i need to change in this all plugins  .hpi to  .jpi or i have to explain it

[2022-01-15 20:33] Illusionme commented on #4825
I am using Mac to run this exercise.

[2022-01-16 12:04] MarkEWaite commented on #4825
The macOS instructions with the annotations ("callouts") had the correct entry to enable the port already.  The macOS instructions with the annotations did not have the entry to publish port 3000 from the Docker in Docker container.

I don't have a macOS machine available, so I'm unable to test the experience on macOS.  I'd be most grateful if you would be willing to check the draft instructions a

[2022-01-16 19:27] Illusionme commented on #4825
I just tried with the updated instructions. It works.

[2022-01-16 23:00] Illusionme commented on #4825
Also, a couple more recommendations:

- It would be nice to recommend that you could add git repository url in step 8 of _Create your Pipeline project in Jenkins_ section.
- Jenkinsfile in the [repository](https://github.com/jenkins-docs/simple-node-js-react-npm-app) should be in the root folder as opposed to it being in jenkins folder

[2022-01-17 17:22] #4825 closed

[2022-01-17 17:23] MarkEWaite commented on #4825
If we put a Jenkinsfile in the root of the repository, then the step that guides the user to create the Jenkinsfile won't work.  The base repository intentionally does not include a Jenkinsfile in the root directory.

[2022-01-18 06:52] gouthamep opened #4829 "Unable to open configure system Jenkins Community Blog page - TODO: Put a summary here"
Problem with the [Jenkins Community Blog](https://www.jenkins.io/node/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/node/index.html.haml)
Cannot open Jenkins global configuration so unable to change ssh publish . is there any way or means to configure ssh publish
TODO: Describe the expected and actual behavior here

## Screenshots
![image](https://user-image

[2022-01-18 15:38] jmcmahon opened #4831 "Managing Jenkins page - TODO: typo on page"
Problem with the [Managing Jenkins](https://www.jenkins.io/doc/book/managing/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/managing/index.adoc)

TODO: Describe the expected and actual behavior here

There's a typo on this page

"Other system administration topics are discssed in Jenkins System Administration."

the word "discussed" is misspelled.

#

[2022-01-18 18:00] MarkEWaite commented on #4829
The screenshot and the text hint that you are asking for help with the configuration of your Jenkins environment.

The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) an

[2022-01-18 18:00] #4829 closed

[2022-01-19 20:49] jmcmahon opened #4835 "Managing Security page - TODO: Put a summary here"
Problem with the [Managing Security](https://www.jenkins.io/doc/book/security/managing-security/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/security/managing-security.adoc)

TODO: Describe the expected and actual behavior here

This page has a section called "Authorization" and has the following subsections:

1. Anyone can do anything
2. Legacy mo

[2022-01-19 21:40] #4831 closed

[2022-01-20 18:32] zaycodes commented on #4747
I’ll like to work on this issue

[2022-01-23 20:26] #4747 closed

[2022-01-27 21:43] hagaigold opened #4872 "Getting started with the Guided Tour page - Prerequisites is misleading"
Problem with the [Getting started with the Guided Tour](https://www.jenkins.io/doc/pipeline/tour/getting-started/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/pipeline/tour/getting-started.adoc)

The Prerequisites are confusing for a first-time user.
The guide uses the Web application ARchive (WAR) option while asking to install DOCKER.

## Screenshots

[2022-01-27 21:47] hagaigold commented on #4872
Canceled... sorry

[2022-01-27 21:47] #4872 closed

[2022-02-01 06:46] halkeye opened #4881 "content/doc/book/using/remote-access-api.adoc has errors"
On further review, there are more things wrong with this content, so well out of scope for this PR.

_Originally posted by @daniel-beck in https://github.com/jenkins-infra/jenkins.io/pull/4874#discussion_r796182858_

[2022-02-04 12:13] lawe94 opened #4898 "Creating your first Pipeline page - The need to install Docker Plugins is not mentioned in the Tutorial"
Problem with the [Creating your first Pipeline](https://www.jenkins.io/doc/pipeline/tour/hello-world/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/pipeline/tour/hello-world.adoc)

Example pipelines require Docker plugins which is not mentioned on the page

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

Add installation instruct

[2022-02-08 11:39] ruchita-sheri opened #4903 "Unable to restart a jenkins pipeline stage from Blue Ocean UI"
We have a pipeline set up in Jenkins with multiple stages that fetches the github commit, runs the test cases and deploys to a particular QA environment. After a stage is successful I would like to restart only a particular stage from the BlueOcean UI but it's restarting all the prior stages to it resulting in a failure.

Screenshot of successful stage with restart option
<img width="911" alt="Scr

[2022-02-09 17:25] MarkEWaite commented on #4903
This issue tracker is used for issues related to the documentation of Jenkins, not to the functionality of Jenkins.  Please provide more details in an issue report to https://issues.jenkins.io.  ["How to report an Issue"](https://www.jenkins.io/participate/report-issue/) provides good guidance for an effective bug report.

[2022-02-09 20:13] andrewmelnyk opened #4910 "Defining execution environments page - Builds Fail"
Problem with the [Defining execution environments](https://www.jenkins.io/doc/pipeline/tour/agents/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/pipeline/tour/agents.adoc)

While attempting to walk through the "Guided Tour" of Jenkins I ran into an issue with the [Defining execution environments](https://www.jenkins.io/doc/pipeline/tour/agents/) page.

I

[2022-02-09 20:51] MarkEWaite commented on #4910
@andrewmelnyk the first page of the tutorial notes that `Docker` needs to be installed.  It lists the requirements as:

## [**Prerequisites**](https://www.jenkins.io/doc/pipeline/tour/getting-started/#prerequisites)

For this tour, you will require:

A machine with:

* 256 MB of RAM, although more than 2 GB is recommended

* 10 GB of drive space (for Jenkins and your [Docker](https://docs.docker.c

[2022-02-09 20:56] andrewmelnyk commented on #4910
Thanks for the speedy reply @MarkEWaite I do have docker installed and Docker Desktop is running. I'm not running any containers locally but the terminal does show I have docker installed along with the desktop client.

I haven't done any additional setup in Jenkins to reference docker is there a step I am missing or have misread where I am supposed to set that up in my local Jenkins instance?

![

[2022-02-09 23:38] andrewmelnyk commented on #4910
i misunderstood and thought having docker running on my machine would work and went through the docker install and lining steps in the jenkins tutorial. i still have an issue connecting to the container service when docker tries to install node but it's a separate and likely unrelated issue. thanks.

[2022-02-10 00:24] MarkEWaite commented on #4910
If you already have Docker installed on your system and are willing to try a different tutorial with a different set of steps, try https://www.jenkins.io/doc/tutorials/build-a-node-js-and-react-app-with-npm/ .  It requires many more steps from the person running the tutorial (creating your own Docker image, creating a Docker network, and creating a NodeJS project), but has been more reliable.

We

[2022-02-10 03:08] andrewmelnyk commented on #4910
Hi, @MarkEWaite, I'll definitely check that out thank you. I did manage to get this to work although I have to do some more testing to find out what I did differently. I'm happy to keep poking at it and when I feel confident I can contribute if that is helpful.

[2022-02-16 12:50] StackScribe opened #4920 "Explain options for generating JSON to be used later in Pipeline"
Posted on gitter 15 Feb 2022:
I want to know what is the best way to generate JSON file that will be used later in the pipeline (1. Parse Json file, replace fields with params from the pipeline, validate with JSON schema) ? The only way is to create a custom Groovy function and use it or is there another way to do this properly ?

I used to develop Groovy class bu maybe it is not useful in this ca

[2022-02-17 11:02] tadrian88 opened #4927 "[Documentation] Volume is not persistent when using YAML files"
Problem with the [Kubernetes](https://www.jenkins.io/doc/book/installing/kubernetes/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/kubernetes.adoc)

TODO: Describe the expected and actual behavior here

The documentation for "Install Jenkins with YAML files" states that if you use the deployment found [here](https://raw.githubusercontent.c

[2022-02-17 14:44] Wadeck opened #4928 "Customizing Agent → Controller Security"
Some images have broken links
![Screenshot_2022-02-17_154132_001](https://user-images.githubusercontent.com/2662497/154505179-17f17497-af0a-41bc-ac18-7433a54dee38.png)

[2022-02-17 21:59] daniel-beck commented on #4928
Looks like https://www.jenkins.io/doc/book/security/resources/security/configure-global-security-agent-controller-rules.png should be https://www.jenkins.io/doc/book/security/security/resources/configure-global-security-agent-controller-rules.png

[2022-02-21 00:25] anandagirish2 opened #4935 "Jenkins page - TODO: Put a summary here"
Too many defects. Shame!

[2022-02-21 00:27] MarkEWaite commented on #4935
Are you going to provide more details so that one or more of those defects can be corrected?  If not, I'll close this issue report because I don't know how we would decide when the work has been completed.

[2022-02-21 00:37] #4935 closed

[2022-02-21 00:40] #4928 closed

[2022-02-21 13:45] sfea opened #4936 "Blue ocean plugin doesn't point to the errors correctly"
Problem with Jenkins plugin blue ocean
Often when the build is failed you cannot see failed stage on blue ocean page
So the top of the page is red (which indicates that build is failed on some stage), but all stages and logs lines below are green

[2022-02-21 14:49] MarkEWaite commented on #4936
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be an issue report with the Blue Ocean plugin.  Please report issues with the Blue Ocean plugin in the [Jenkins issue tracker](https://www.jenkins.io/participate/report-issue/redirect/#21481).

[2022-02-21 14:49] #4936 closed

[2022-02-22 09:54] yknaveentel opened #4937 "Jenkins pipeline script not running"
For the below pipeline script, "Helo World" is not printing. And even node is not getting allocated.

[code]
![image](https://user-images.githubusercontent.com/77407270/155107716-abf27624-982f-4191-92fb-691fef93433e.png)

[2022-02-22 09:56] yknaveentel commented on #4937
**Expected behaviour:**
<img width="384" alt="image" src="https://user-images.githubusercontent.com/77407270/155107983-ac2a25eb-c0d3-483c-80ea-76ed65ec34ce.png">

[2022-02-22 16:44] rmshindhe commented on #4937
It worked, Thanks :)

[2022-02-23 22:18] ianwilliams1 opened #4941 "Jenkins Remoting page - Missing link for issue"
Problem with the [Jenkins Remoting](https://www.jenkins.io/projects/remoting/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/projects/remoting/index.adoc)

TODO: Fix link to JIRA

## Screenshots

N/A

## Possible Solution

Link is missing; add it.

[2022-02-24 17:06] #4941 closed

[2022-02-25 09:31] msmahal opened #4945 "Getting started with the Guided Tour page - TODO: Put a summary here"
Problem with the [Getting started with the Guided Tour](https://www.jenkins.io/doc/pipeline/tour/getting-started/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/pipeline/tour/getting-started.adoc)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-02-28 11:16] aarrateg opened #4950 "End-to-End Multibranch Pipeline Project Creation page - TODO: Put a summary here"
Problem with the [End-to-End Multibranch Pipeline Project Creation](https://www.jenkins.io/doc/tutorials/build-a-multibranch-pipeline-project/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/tutorials/build-a-multibranch-pipeline-project.adoc)

TODO: Received
+ docker pull node:6-alpine
Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is

[2022-02-28 13:13] MarkEWaite commented on #4950
You'll need to provide more description of your environment before others will be able to help you.  Common areas that have issues include:

* What is the name, version, and patch level of the operating system you are using?
* What version of Docker are you running?
* Does your account have permission to run Docker images (like `docker run --rm hello-world`)?
* Were there other warning messages or

[2022-03-02 05:12] Jujupretha opened #4955 "Participate and Contribute page - TODO: Put a summary here"
Problem with the [Participate and Contribute](https://www.jenkins.io/participate/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/participate/index.html.haml)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

I Logout from jenkins after that i login by giving correct username and pas

[2022-03-02 05:12] Jujupretha commented on #4955
kindly give me a solution

[2022-03-02 14:11] MarkEWaite commented on #4955
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

[2022-03-05 15:49] #3319 closed

[2022-03-05 15:50] #3199 closed

[2022-03-07 10:39] KalleOlaviNiemitalo commented on #3605
<https://www.jenkins.io/redirect/parameterized-builds> currently redirects to <https://wiki.jenkins.io/display/JENKINS/Parameterized+Build>, which is not the same page as <https://wiki.jenkins.io/display/JENKINS/Define+Parameters>, but describes the same feature.

[2022-03-07 10:49] KalleOlaviNiemitalo opened #4967 "Pipeline Syntax page - Document that parameters become environment variables"
Problem with the [Pipeline Syntax](https://www.jenkins.io/doc/book/pipeline/syntax/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/pipeline/syntax.adoc)

In [JENKINS-67900](https://issues.jenkins.io/browse/JENKINS-67900), a user had created a pipeline with a parameter named PATH and was surprised when this affected the PATH environment variable. For f