[2017-01-31 22:57] jenkins-infra-bot opened #5221 "[INFRA-1053] Generate automated documentation for options/parameters in Declarative Pipeline"

[2020-02-20 21:08] timja opened #2884 "Migrate 'Remote access API' from wiki"
https://wiki.jenkins.io/display/JENKINS/Remote+access+API

This is the top most visited page on the wiki according to:
https://wiki.jenkins.io/.well-known/reports/top_urls.txt

It should be improved on and cleaned up, not just imported,

You can use the wiki-exporter to save some time:
https://jenkins-wiki-exporter.jenkins.io/

After it has been migrated a redirect should be setup, by sending a PR

[2020-02-20 21:09] timja opened #2885 "Migrate 'Parameterized Build' from wiki"
https://wiki.jenkins.io/display/JENKINS/Parameterized+Build

This is one of the top most visited page on the wiki according to:
https://wiki.jenkins.io/.well-known/reports/top_urls.txt

It should be improved on and cleaned up, not just imported,

You can use the wiki-exporter to save some time:
https://jenkins-wiki-exporter.jenkins.io/

[2020-02-20 21:11] timja opened #2886 "Migrate 'reverse proxy broken' from wiki"
https://wiki.jenkins.io/display/JENKINS/Jenkins+says+my+reverse+proxy+setup+is+broken

This is one of the top most visited page on the wiki according to:
https://wiki.jenkins.io/.well-known/reports/top_urls.txt

It should be improved on and cleaned up, not just imported,

You can use the wiki-exporter to save some time:
https://jenkins-wiki-exporter.jenkins.io/

After it has been migrated a redire

[2020-02-20 21:12] timja opened #2887 "Migrate 'Master and agent machines on windows' from wiki"
https://wiki.jenkins.io/display/JENKINS/Step+by+step+guide+to+set+up+master+and+agent+machines+on+Windows

This is one of the top most visited page on the wiki according to:
https://wiki.jenkins.io/.well-known/reports/top_urls.txt

It should be improved on and cleaned up, not just imported,

You can use the wiki-exporter to save some time:
https://jenkins-wiki-exporter.jenkins.io/

After it has be

[2020-02-20 21:14] timja opened #2888 "Migrate 'Distributed builds' page from wiki"
https://wiki.jenkins.io/display/JENKINS/Distributed+builds

Note: check jenkins.io first to see if there's content for this already, possibly there's some useful content on the wiki that should be pulled in

This is one of the top most visited page on the wiki according to:
https://wiki.jenkins.io/.well-known/reports/top_urls.txt

It should be improved on and cleaned up, not just imported,

You ca

[2020-02-20 21:16] timja opened #2889 "Migrate linux installation guides from wiki"
# Migrate Linux installation guides to jenkins.io

Migration steps include:

## Create Page Content

* [ ] Add CentOS and Red Hat information from the [Jenkins on Red Hat wiki page](https://wiki.jenkins.io/display/JENKINS/Installing+Jenkins+on+Red+Hat+distributions) to [Installing Jenkins](https://jenkins.io/doc/book/installing/#linux)
    * [x] Add CentOS and Red Hat install and service start for

[2020-02-21 07:34] timja opened #2894 "Add a 'Report an issue with this page' link to the template"
This should link to creating an issue here

[2020-02-22 19:06] #2894 closed

[2020-02-22 19:22] zbynek commented on #2884
Also this redirect should be fixed: https://github.com/jenkins-infra/jenkins.io/blob/master/content/redirect/remote-api.adoc

[2020-02-26 10:35] oleg-nenashev opened #2903 "Create Issue templates for the repository or for the entire jenkins-infra"
It would be great to have some common issue templates for bug reports, new feature requests, etc.

[2020-02-26 10:38] oleg-nenashev opened #2904 "Enable automatic labeling in the repository"
I would like to install https://github.com/apps/probot-autolabeler in the repository so that we could configure automatic labeling for GSoC, blogpost, artwork and other pull requests. It could save some time we spend on categorizing pull requests.

Cons: The app will need write permissions to the repo

CC @olblak @MarkEWaite

[2020-02-26 23:08] MarkEWaite commented on #2904
That sounds like a great idea to me.  Approved!

[2020-02-28 09:37] oleg-nenashev opened #2908 "Move the Fingerprinting documentation to jenkins.io"
https://wiki.jenkins.io/display/JENKINS/Fingerprint could be moved to jenkins.io, e.g. somewhere under https://github.com/jenkins-infra/jenkins.io/tree/master/content/doc/book

Documentation creation guide: https://github.com/jenkins-infra/jenkins.io/blob/master/CONTRIBUTING.adoc#moving-documentation-from-jenkins-wiki

[2020-03-02 15:49] olblak commented on #2904
I installed it on jenkins-infra/jenkins.io

[2020-03-02 15:49] oleg-nenashev commented on #2904
Thanks!

[2020-03-02 18:16] #2904 closed

[2020-03-03 09:48] oleg-nenashev opened #2916 "Update Jenkins changelogs to always show a pull request link"
In the Jenkins pull requests we set a pretty high standard in terms of what goes to pull requests. We expect PR summaries to summarize changes, provide screenshots and upgrade guidelines if necessary. This information would be a good addition for advanced users, especially the upgrade guidelines part which is missing in LTS now... It could also encourage Jenkins users to participate in the discuss

[2020-03-03 09:54] oleg-nenashev opened #2917 "Jenkins Changelogs: flag changes which may require upgrade steps"
Right now Jenkins Weekly changelog does not explicitly link upgrade guidelines. For LTS we generate https://jenkins.io/doc/upgrade-guide/, but weekly users have to figure out upgrade steps on their own. I suggest to enhance logic so that we can improve the UX:

* https://github.com/jenkinsci/core-changelog-generator/ injects a flag based on the pull request labels: https://github.com/jenkinsci/jen

[2020-03-03 10:52] res0nance commented on #2916
I think the idea is good although we might not want everything? Perhaps this idea could be trialed. For UI changes the screenshots offer a lot to the user to be able to see the new UI. But for Developer level changes it might not offer as much to an end-user

[2020-03-03 10:57] daniel-beck commented on #2916
Hiding the PR URL when there's a Jira issue was a deliberate choice for multiple reasons:

* Pull requests are an implementation detail. If we need them to explain a change, then we're doing the changelog wrong and should rather work some more on that, or the Jira issue (or require a Jira issue in the first place).
* I have absolutely no interest in having users (i.e. people with no intention to a

[2020-03-03 11:04] oleg-nenashev commented on #2916
FTR https://github.com/jenkins-infra/jenkins.io/issues/2917 is likely a better and less controversial solution for upgrade guidelines

[2020-03-04 09:17] daniel-beck commented on #2917
Would be nice to have a "GitHub diff" like feature that aggregates changes and related upgrade guides between any two versions, to answer the question "What do I need to know when updating from X to Y?"

[2020-03-05 12:29] oleg-nenashev opened #2923 "Fix the terminology in the Glossary"
There are some issues in https://jenkins.io/doc/book/glossary/ which caused confusion in the CDF Interoperability SIG. See https://github.com/cdfoundation/sig-interoperability/pull/18 for the fixes. It would be great to update the Jenkins page accordingly.

Some links to the CDF Glossary may also make sense.

CC @fdegir

[2020-03-05 12:34] oleg-nenashev opened #2924 "Add Welcome bot for newcomer contributors"
[Welcome bot](https://probot.github.io/apps/welcome/) is a great way to welcome newcomer contributors and to suggest follow-ups once their first pull requests are merged. I suggest to enable it on the jenkins.io repository so that we could evaluate it and probably reuse in other repos later.

Required permissions:

- No access to code
- Read access to metadata
- Read and write access to issues and

[2020-03-06 11:12] NextTurn commented on #2924
I recommend this [Greetings](https://github.com/jenkins-infra/jenkins.io/new/master?filename=.github%2Fworkflows%2Fgreetings.yml&workflow_template=greetings) workflow as well.

[2020-03-07 13:58] Rajno1 opened #2931 "Getting started with the Guided Tour"
Problem with: [Getting started with the Guided Tour](https://jenkins.io/doc/pipeline/tour/getting-started/), [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/pipeline/tour/getting-started.adoc)

************
i started to follow the instructions specified in terminal. but getting errror like this

java.lang.IllegalArgumentException: Unable to inject class hudson.mod

[2020-03-07 14:08] MarkEWaite commented on #2931
Thanks for the report.  Can you provide more context on the actions you were performing when you saw that message and the environment you were using to run jenkins.war?

For example, were you using Java 8 or Java 11 (the only supported Java versions) or were you using some other Java version?

Were you running with low memory (less than 256 MB)?

Were you running programs which blocked access to t

[2020-03-07 14:26] Rajno1 commented on #2931
in terminal
I entered into jenkins directory:    cd /Users/rajasekhar/Softwares/Jenkins
And using the command:   java -jar jenkins.war

After this command, I tried to open the link  http://localhost:8080
Then I am receiving this error message

And I am using java 11
I am not running with low memory
No, i am not running any program which blocks network access

[2020-03-07 14:27] Rajno1 commented on #2931
Thank you for your response

[2020-03-07 14:33] Rajno1 commented on #2931
This is my terminal output

Last login: Sat Mar  7 19:51:41 on ttys000
rajasekhar@Rajasekhars-Air ~ % cd /Users/rajasekhar/Softwares/Jenkins
rajasekhar@Rajasekhars-Air Jenkins % java -jar jenkins.war
Running from: /Users/rajasekhar/Softwares/Jenkins/jenkins.war
webroot: $user.home/.jenkins
2020-03-07 14:32:15.580+0000 [id=1]	INFO	org.eclipse.jetty.util.log.Log#initialized: Logging initialized @825

[2020-03-07 15:00] MarkEWaite commented on #2931
That console output on startup indicates that you probably have a directory named `.jenkins` in the root of your home directory.  The contents of that directory appeared to be damaged or from some outdated version of Jenkins.  For example, there is a reference to the 'depgraph' plugin which is not installed by default.

Remove the `~/.jenkins` directory and try again.

[2020-03-07 15:06] Rajno1 commented on #2931
would you never mind could you plese guide how to remove ~/.jenkins from directory

[2020-03-07 15:26] Rajno1 commented on #2931
Thank you so much I found there was a Jenkins directory in hidden files ,i tried after removing it. now its working fine ....Huhuu ... thanks a lot .. really complete day i was in seraching for solution finally got it

[2020-03-07 15:26] #2931 closed

[2020-03-07 20:29] oleg-nenashev commented on #2924
@NextTurn we have some internal arguments about using GitHub Actions inside the Jenkins infrastructure, hence here I request a GitHub App. But I agree that GitHub Actions is generally a preferable way to do such kinds of community automation now

[2020-03-07 20:31] oleg-nenashev opened #2933 "Add a section about CDF to /press"
Jenkins Press information on https://jenkins.io/press/ is missing a summary about Continuous Delivery Foundation. It would be great to add 1-2 paragraphs and, maybe, a logo there.

CC @tracymiranda @alyssat who could provide the summary for the press page (likely there is one in other resources).

[2020-03-10 00:59] andrewfba opened #2950 "Build a Python app with PyInstaller"
Problem with: [Build a Python app with PyInstaller](https://jenkins.io/doc/tutorials/build-a-python-app-with-pyinstaller/), [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/tutorials/build-a-python-app-with-pyinstaller.adoc)
I am using an old VOSTRO Dell I5 core laptop with recently upgraded win 10 pro. So even though I am running on windows, i am using a linux env

[2020-03-10 13:39] MarkEWaite commented on #2950
Thanks for the report.  The upstream Python component has changed.  That change broke the tutorial.  We hope to fix the tutorial soon to support using the newer upstream Python component.

[2020-03-10 21:42] andrewfba commented on #2950
Can I get the old version of the upstream Python component?

[2020-03-12 11:52] MarkEWaite commented on #2950
As far as I can tell from looking at the Docker images of pyinstaller, older images are not available.  I'm investigating the bug now, using the investigation results that Gan Ainm has reported on [WEBSITE-726](https://issues.jenkins-ci.org/browse/WEBSITE-726) and on [JENKINS-49278](https://issues.jenkins-ci.org/browse/JENKINS-49278).

I think it may be simpler to convert the deploy step to use a

[2020-03-14 12:54] #2950 closed

[2020-03-14 18:27] honeynagrikar opened #2971 "Jenkins"
Problem with: [Jenkins](https://jenkins.io/), [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/index.html.haml)

i install role-based authorization strategy and done all of setup, but  in manage role section project role option is missing.
please reply me as soon as possible what i can do.

[2020-03-14 18:56] oleg-nenashev commented on #2971
For plugin defects, please report an issue in Jenkins Jira. https://wiki.jenkins.io/display/JENKINS/How+to+report+an+issue

[2020-03-15 12:40] honeynagrikar opened #2972 "Jenkins"
Problem with: [Jenkins](https://jenkins.io/), [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/index.html.haml)
i install role-based authotization strategy plugin and all of setup but in manage role section project role option is missing..
sir/mam please reply me as soon as possible what can i do

[2020-03-15 21:49] #2972 closed

[2020-03-15 21:49] #2971 closed

[2020-03-15 21:51] daniel-beck commented on #2971
Blocked.

[2020-03-16 09:49] oleg-nenashev commented on #2924
@olblak would you approve it? I am ready to submit a reference implementation in `jenkinsci` if it helps

[2020-03-16 10:24] olblak commented on #2924
I enabled it on several repositories, feel free to move forward

[2020-03-19 15:46] shivang-r opened #2986 "Jenkins installation and setup"
Problem with: [Jenkins installation and setup](https://jenkins.io/download/), [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/index.html.haml)

Download link not working.

EDIT - It was problem with my network settings. Link is working fine. Closing this.

[2020-03-19 15:55] oleg-nenashev commented on #2986
Which one?

[2020-03-19 15:55] #2986 closed

[2020-03-19 16:25] oleg-nenashev opened #2987 "Configuring the System is empty"
Problem with: [Configuring the System](https://jenkins.io/doc/book/managing/system-configuration/), [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/managing/system-configuration.adoc)

The page is empty, and I am not sure what is supposed to be there. My suggestion would be to just cleanup the page. CC @MarkEWaite

[2020-04-02 07:26] oleg-nenashev opened #3025 "Rework the roadmap coloring scheme"
Follow-up to comments by @MarkEWaite in #2957

My suggestion: use color scheme for additional categorization and search

[2020-04-02 07:42] oleg-nenashev opened #3026 "[JEP-14] - Add public roadmap items for the Documentation SIG"
It would be great to extend the Roadmap for the documentation efforts we are doing.

[2020-04-03 04:54] millerantonio810 opened #3035 "Jenkins"
Problem with: [Jenkins](https://jenkins.io/), [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/index.html.haml)

[2020-04-03 18:57] MarkEWaite commented on #3035
We need more details about the problem you encountered and the location of that problem.

Can you provide those details @millerantonio810 ?

[2020-04-06 16:38] #3035 closed

[2020-04-08 17:28] gauthierm opened #3046 "Contributing to Blue Ocean"
Problem with: [Contributing to Blue Ocean](https://jenkins.io/projects/blueocean/contribute/), [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/projects/blueocean/contribute/index.adoc)

https://jenkins.io/projects/blueocean/roadmap/ redirects here but this page does not contain a roadmap.

[2020-04-09 12:37] alaaseada opened #3049 "End-to-End Multibranch Pipeline Project Creation"
Problem with: [End-to-End Multibranch Pipeline Project Creation](https://jenkins.io/doc/tutorials/build-a-multibranch-pipeline-project/), [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/tutorials/build-a-multibranch-pipeline-project.adoc)

I followed the tutorial step by step, but I cannot access the application on  https://localhost:3000 only port 50000 that was

[2020-04-09 12:53] MarkEWaite commented on #3049
Thanks for the report!

I suspect that the command which launches the Jenkins master in a Docker container needs to be extended to open ports 3000.  That will require some additional logic in that section of the document (I believe) since it is used on other tutorials where port 3000 does not need to be opened.

[2020-04-09 13:00] oleg-nenashev commented on #3046
Hi @gauthierm . The roadmap was removed about 6 months ago upon request from Blue Ocean maintainers. Please see https://groups.google.com/forum/#!msg/jenkinsci-dev/zO9VFNxhF-o/EpjdA8-jCgAJ for the details. There is no roadmap for Blue Ocean at the moment

[2020-04-09 13:01] oleg-nenashev commented on #3046
A new UX SIG was started in the community to address UI/UX topics in Jenkins. You are welcome to participate and to help us a new roadmap for Jenkins frontend! https://jenkins.io/sigs/ux/

[2020-04-10 21:46] oleg-nenashev opened #3051 "Roadmap looks bad on mobile screens"
https://jenkins.io/project/roadmap/ uses the table layout which looks pretty bad on mobile devices. It would be great to fix it somehow, maybe with some JavaScript which alters the layout to single-column on narrow screens.

[2020-04-13 15:40] #3051 closed

[2020-04-14 23:06] vsilverman opened #3064 "Fix the Mailing Lists page"
Problem with: [Mailing Lists](https://jenkins.io/mailing-lists/), [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/mailing-lists/index.html.haml)

Pressing the link [How to ask questions the smart way](https://www.catb.org/esr/faqs/smart-questions.html) leads to not secure site

[2020-04-14 23:31] vsilverman commented on #3064
How about modifying the link to non secure site with the following one:
[How to ask questions the smart way](https://github.com/selfteaching/How-To-Ask-Questions-The-Smart-Way/blob/master/How-To-Ask-Questions-The-Smart-Way.md#table-of-contents)

Please review this proposal

[2020-04-15 19:07] timja commented on #3064
Sounds good to me 👍

[2020-04-16 12:01] LukasJRG opened #3073 "Jenkins"
Problem with: [Jenkins](https://jenkins.io/), [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/index.html.haml)
I am not sure about my username so it is impossible to log on Jenkins.I have tried Jenkins to send me reset password email via form on website, but I haven´t received any email by Jenkins. I uninstalled the Jenkins and tried install it again, but during new i

[2020-04-16 13:35] MarkEWaite commented on #3073
Issue reports for the jenkins.io site are not intended to be used for question and answer.  Please use the [Jenkins user mailing list](https://jenkins.io/mailing-lists/), the [Jenkins chat systems](https://jenkins.io/chat/), or one of the search engines for questions and their answers.

When I entered the question "How do I reset the Jenkins admin password" into the google search engine, it return

[2020-04-16 13:35] #3073 closed

[2020-04-17 00:07] daniel-beck commented on #3064
Or, you know, just http://www.catb.org/esr/faqs/smart-questions.html

Originally caused by https://github.com/jenkins-infra/jenkins.io/pull/2195 switching the link to HTTPS.

[2020-04-19 07:08] oleg-nenashev commented on #3046
https://github.com/jenkinsci/blueocean-plugin/pull/2062 was merged, I doubt I can do anything else here. Please let us know if you see any other broken roadmap links

[2020-04-19 07:08] #3046 closed

[2020-04-20 06:43] erselbst opened #3083 "Jenkins Community Blog"
Problem with: [Jenkins Community Blog](https://jenkins.io/node/), [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/node/index.html.haml)

Since last week we get an error, when we upgrade jenkins. we have added the new key with "apt-key add" and when we run the update command we get this error message. Also a --fix-missig get this error.

[code]

The we have delete the

[2020-04-20 07:43] oleg-nenashev commented on #3083
@erselbst Hi, this is a tracker for the website, not for entire Jenkins. Could you please report the issue in Jenkins Jira as documented in https://wiki.jenkins.io/display/JENKINS/How+to+report+an+issue ?

Heads-up to @timja @olblak

[2020-04-20 07:56] timja commented on #3083
@erselbst it's currently being worked on

[2020-04-20 07:56] #3083 closed

[2020-04-21 09:19] oleg-nenashev opened #3094 "Make https://jenkins.io/artwork/ mobile-friendly"
Currently https://jenkins.io/artwork/ looks pretty bad on mobile devices, because it forces a 3-column layout for images there. I would suggest to use more advanced layout in order to improve rendering by using a cards-alike layout.

Examples:

* https://github.com/jenkins-infra/jenkins.io/pull/3082 by @zbynek for the solutions page
* https://jenkins.io/participate/ (once the rendering is fixed)

[2020-04-21 09:21] oleg-nenashev opened #3095 "https://jenkins.io/participate/ rendering is broken"
Looks like https://github.com/jenkins-infra/jenkins.io/pull/3082 caused a regressions on the https://jenkins.io/participate/ page:

![image](https://user-images.githubusercontent.com/3000480/79849065-41db3300-83c2-11ea-841c-3e773ecdf0ad.png)

CC @zbynek

[2020-04-21 16:59] zbynek commented on #3095
Did you try hard refresh? The CSS got moved to a different file, but it's there ...

[2020-04-21 17:30] oleg-nenashev commented on #3095
Confirmed, hard refresh helps. So the problem will go away for visitors in 2d or so, depending on the browser settings

[2020-04-21 19:07] zbynek commented on #3095
Should we close this? I guess the solution is to use some kind of versioning for CSS, but that's a more generic problem.

[2020-04-22 17:24] darlaker opened #3097 "The "Starting and Accessing Jenkins" redirect uses an unescaped '#' that can't be resolved"
## Apache rewrite of "[Starting and Accessing Jenkins](https://wiki.jenkins.io/display/JENKINS/Starting+and+Accessing+Jenkins)" gives 404

The page on wiki.jenkins.io "[Starting and Accessing Jenkins](https://wiki.jenkins.io/display/JENKINS/Starting+and+Accessing+Jenkins)" is redirected by HTTP to the "[Configuring HTTP](https://www.jenkins.io/doc/book/installing/#configuring-http)" reference insi

[2020-04-22 22:34] vsilverman opened #3098 "Jenkins and Docker"
Problem with: [Jenkins and Docker](https://jenkins.io/solutions/docker/), [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/solutions/docker.adoc)

There are at least couple issues with video links inside Jenkins and Docker page:
- most links are referencing outdated (5 years old) videos
- one video link references private video, which was removed from youtube

[2020-04-23 01:16] MarkEWaite commented on #3098
Thanks for detecting those issues!

[2020-04-23 07:54] oleg-nenashev opened #3102 "Provide an easy way to find communication channels in the roadmap"
Follow-up to the comment from @olblak at the yesterday's governance meeting. It would be great if it was possible to easily find communication channels in all roadmap items. Now this information is scattered, and it really repends on the link.

Suggested items:

* Add `sig`/`project` metadata to the roadmap.yml, similarly to the project layouts
* Allow defining `sig`/`project` on the category leve

[2020-04-23 08:32] olblak opened #3103 "Update sponsors list on jenkins.io main page"
Recently sponsors evolved a bit and they should be represented as well this includes

[SpinUp](https://spinup.com/): They provides us compute, archives.jenkins-ci.org is running there
[AWS](https://aws.amazon.com/): They provides us our CI computes
[Fastly](https://www.fastly.com/): They gives us access to their CDN infrastructure

[2020-04-23 08:34] olblak opened #3104 "Sponsors Page"
The number of sponsors is growing and it would be useful to maintain that list of sponsors in a specific page where we could elaborate a bit more how they are helping the Jenkins project

[2020-04-23 14:30] olblak opened #3108 "Switch base_url settings from jenkins.io to www.jenkins.io"
In order to use Fastly the best way possible, I would like to switch jenkins.io to www.jenkins.io.
This will allow to use a CNAME record to `dualstack.d.sni.global.fastly.net` which returns both 4 IPV4 and 4 IPV6 endpoints.
Currently both jenkins.io and www.jenkins.io are working excepted that every links will redirect to jenkins.io which makes www.jenkins.io a bit useless

- [x] www.jenkins.io de

[2020-04-23 17:58] jpvalencia04 opened #3111 "Jenkins installation and setup"
Not able to download the Jenkins source file.

Problem with: [Jenkins installation and setup](https://jenkins.io/download/), [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/index.html.haml)

[2020-04-24 07:11] vsilverman opened #3114 "Custom Jenkins distribution build service"
Problem with: [Custom Jenkins distribution build service](https://jenkins.io/projects/gsoc/2020/project-ideas/jenkins-distribution-customize-service/), [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/projects/gsoc/2020/project-ideas/jenkins-distribution-customize-service.adoc)

Details section tells this service is available at [Custom Jenkins service](https://customi

[2020-04-24 07:18] sladyn98 commented on #3114
Oh that is just a gsoc(Google Summer of Code) project idea details page, the project once built will be hosted there.

[2020-04-24 07:44] oleg-nenashev commented on #3114
Still, would be nice to escape it to avoid confusion

On Fri, Apr 24, 2020, 09:18 Sladyn <notifications@github.com> wrote:

[2020-04-24 12:15] oleg-nenashev opened #3115 "Icomoon icons are broken (including landing)"
Problem with: [Jenkins](https://jenkins.io/), [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/index.html.haml). Use-case images point to wrong URLs. Looks like the jenkins.io => www.jenkins.io or Fastly  transition broke them somehow. CC @olblak

![image](https://user-images.githubusercontent.com/3000480/80211133-6d198880-8635-11ea-9d03-8b0200ec352b.png)

resulting HT

[2020-04-24 12:28] olblak commented on #3115
Do you a have link to a broken page?

[2020-04-24 12:57] MarkEWaite commented on #3115
@olblak that is the root page https://jenkins.io/ which shows the missing icons as question marks.

Oddly, that page also continues to show the previous sponsor images for CloudBees and Red Hat, even though the sponsor images have been updated in the source code.  That may be purely a delay in processing the updates that have been committed to the repository.

Alternately, we could change the name

[2020-04-24 14:02] MarkEWaite commented on #3111
@jpvalencia04 can you explain further what you mean when you say:

Are you trying to install and run Jenkins from the [Downloads page](https://jenkins.io/download/)?  If so, which platform or image were you trying to install and run?

Are you trying to compile Jenkins from source code?  If so, then the [developer documentation](https://www.jenkins.io/doc/developer/) is a good place to start.

[2020-04-24 14:05] MarkEWaite commented on #3104
Good suggestion.  The sponsors have been updated but a separate page might be a great way to highlight sponsor contributions.

[2020-04-24 14:06] MarkEWaite commented on #3103
Resolved by #3110

[2020-04-24 14:06] #3103 closed

[2020-04-24 14:42] olblak commented on #3115
Because those images are cached as defined [here](https://github.com/jenkins-infra/charts/blob/d28c932f9c69dc1ad36dd9b6529855a2b2e9fa24/charts/jenkinsio/templates/nginx-configmap.yaml#L34)
Let me redirect jenkins.io as initially planned if www.jenkins.io is working correctly then that's the best solution

[2020-04-24 14:51] olblak commented on #3115
Now jenkins.io redirect to www.jenkins.io,

[2020-04-24 14:57] MarkEWaite commented on #3115
Thanks!  I didn't realize the images and CSS were cached for 2 days.  That makes sense since they should change less frequently than the page content.  It also means that rather than changing an image I should create a new image file and remove the old image file.

[2020-04-24 16:59] MarkEWaite commented on #3115
Confirmed fixed.  Thanks!

[2020-04-24 16:59] #3115 closed

[2020-04-24 17:00] MarkEWaite commented on #3097
Thanks for the report.  I can't find any reference to "Starting and Accessing Jenkins" in the source for jenkins.io.  What page was referring to this location?

[2020-04-26 08:38] oleg-nenashev opened #3127 "User Handbook Nav bar is too long"
User handbook navigation bar is extremely long, and generally useful items appear only in the bottom. See the screenshot below.

I suggest to:

* Move "Handbook" to the top
* "Tutorial Blog Posts" listing is moved into the "Tutorials" page
* Merge tutorials into a single "Tutorials" section under the handbook
  * Guided tour appears as a single link
  * "Build an X with Y" tutorial are grouped as

[2020-04-26 09:55] timja commented on #3127
👍

[2020-04-27 23:12] vsilverman opened #3134 "Provide a valid "How-To Guides" link from Testing page"
Problem with: [Testing](https://jenkins.io/participate/test/), [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/participate/test.adoc)

Clicking on "How-To Guides" leads to "Page you requested could not found" message

[2020-04-27 23:17] MarkEWaite commented on #3134
Thanks for catching that!  Spelling error in the reference - /particpate/how-to-guides/ should be /participate/how-to-guides/

[2020-04-27 23:21] vsilverman commented on #3134
<img width="863" alt="Jenkins-page-not-found" src="https://user-images.githubusercontent.com/2159948/80430304-19ac7200-88a3-11ea-95c5-a74603db2c93.png">

[2020-04-28 00:58] fdumontmd opened #3135 "Jenkins"
Problem with: [Jenkins](https://jenkins.io/), [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/index.html.haml)

Accessing https://jenkins.io/ switches to Chinese (https://jenkins.io/zh); using the "English" option in the top right corner does not work (it stays on the Chinese page).

Can only access English content by navigating to https://jenkins.io/index.html

My br

[2020-04-28 01:07] markyjackson-taulia commented on #3135
I just tested this and did not observe that behavior

[2020-04-28 01:08] markyjackson-taulia commented on #3135
Also tested in safari, chrome (both incognito and regular) as well as firefox. Did not observe this behavior

[2020-04-28 01:21] fdumontmd commented on #3135
I tried with VPN: it seems linked to my area (Japan), and cannot be overridden.

[2020-04-28 01:29] markyjackson-taulia commented on #3135
It could be some type of caching. We cannot change that on our end unfortunately.

[2020-04-28 01:53] fdumontmd commented on #3135
The behaviour reverted to normal suddenly, so I'll just close this.

Thank you for your time

[2020-04-28 01:53] #3135 closed

[2020-04-28 12:16] #3097 closed

[2020-04-28 19:18] MarkEWaite commented on #3097
I just checked this by entering https://wiki.jenkins.io/display/JENKINS/Starting+and+Accessing+Jenkins in my web browser.  Unfortunately, it still fails with the same incorrect escaping of the URL.  Either the change did not have the desired result or has not been deployed yet.

[2020-05-02 16:53] #3108 closed

[2020-05-08 03:20] MarkEWaite opened #3184 "Convert 'Remote access API' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Remote access API](https://wiki.jenkins.io/display/JENKINS//Remote+access+API) from the wiki to jenkins.io.

Target destination: https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/using/remote-api.adoc

[2020-05-08 03:22] MarkEWaite opened #3185 "Convert 'Jenkins says my reverse proxy setup is broken' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Jenkins says my reverse proxy setup is broken](https://wiki.jenkins.io/display/JENKINS//Jenkins+says+my+reverse+proxy+setup+is+broken) from the wiki to jenkins.io.

[2020-05-08 03:22] MarkEWaite opened #3186 "Convert 'Parameterized Build' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Parameterized Build](https://wiki.jenkins.io/display/JENKINS//Parameterized+Build) from the wiki to jenkins.io.

[2020-05-08 03:23] MarkEWaite opened #3187 "Convert 'Step by step guide to set up master and agent machines on Windows' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Step by step guide to set up master and agent machines on Windows](https://wiki.jenkins.io/display/JENKINS//Step+by+step+guide+to+set+up+master+and+agent+machines+on+Windows) from the wiki to jenkins.io.

[2020-05-08 03:23] MarkEWaite opened #3188 "Convert 'Search Box' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Search Box](https://wiki.jenkins.io/display/JENKINS//Search+Box) from the wiki to jenkins.io.

[2020-05-08 03:26] MarkEWaite opened #3189 "Convert 'Building a software project' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Building a software project](https://wiki.jenkins.io/display/JENKINS//Building+a+software+project) from the wiki to jenkins.io.

[2020-05-08 03:26] MarkEWaite opened #3190 "Convert 'Distributed builds' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Distributed builds](https://wiki.jenkins.io/display/JENKINS//Distributed+builds) from the wiki to jenkins.io.

[2020-05-08 03:27] MarkEWaite opened #3191 "Convert 'Administering Jenkins' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Administering Jenkins](https://wiki.jenkins.io/display/JENKINS//Administering+Jenkins) from the wiki to jenkins.io.

[2020-05-08 03:27] MarkEWaite opened #3192 "Convert 'Installing Jenkins on Ubuntu' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Installing Jenkins on Ubuntu](https://wiki.jenkins.io/display/JENKINS//Installing+Jenkins+on+Ubuntu) from the wiki to jenkins.io.

[2020-05-08 03:28] MarkEWaite opened #3193 "Convert 'Executor Starvation' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Executor Starvation](https://wiki.jenkins.io/display/JENKINS//Executor+Starvation) from the wiki to jenkins.io.

[2020-05-08 03:30] MarkEWaite opened #3194 "Convert 'Pipeline CPS method mismatches' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Pipeline CPS method mismatches](https://wiki.jenkins.io/display/JENKINS//Pipeline+CPS+method+mismatches) from the wiki to jenkins.io.

Add the content as a new page, "Pipeline CPS method mismatches", in the [Pipeline section](https://www.jenkins.io/doc/book/pipeline/) of the User Handb

[2020-05-08 03:31] MarkEWaite opened #3195 "Convert 'Installing Jenkins on Red Hat distributions' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Installing Jenkins on Red Hat distributions](https://wiki.jenkins.io/display/JENKINS/Installing+Jenkins+on+Red+Hat+distributions) from the wiki to jenkins.io.

[2020-05-08 03:31] MarkEWaite opened #3196 "Convert 'Installing Jenkins with Docker' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Installing Jenkins with Docker](https://wiki.jenkins.io/display/JENKINS/Installing+Jenkins+with+Docker) from the wiki to jenkins.io.

[2020-05-08 03:32] MarkEWaite opened #3197 "Convert 'Jenkins CLI' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Jenkins CLI](https://wiki.jenkins.io/display/JENKINS//Jenkins+CLI) from the wiki to jenkins.io.

[2020-05-08 03:32] MarkEWaite opened #3198 "Convert 'Installing Jenkins as a Windows service' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Installing Jenkins as a Windows service](https://wiki.jenkins.io/display/JENKINS//Installing+Jenkins+as+a+Windows+service) from the wiki to jenkins.io.

[2020-05-08 03:32] MarkEWaite opened #3199 "Convert 'Spawning processes from build' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Spawning processes from build](https://wiki.jenkins.io/display/JENKINS//Spawning+processes+from+build) from the wiki to jenkins.io.

[2020-05-08 03:33] MarkEWaite opened #3200 "Convert 'Configuring Content Security Policy' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Configuring Content Security Policy](https://wiki.jenkins.io/display/JENKINS//Configuring+Content+Security+Policy) from the wiki to jenkins.io.

[2020-05-08 03:33] MarkEWaite opened #3201 "Convert 'Authenticating scripted clients' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Authenticating scripted clients](https://wiki.jenkins.io/display/JENKINS//Authenticating+scripted+clients) from the wiki to jenkins.io.

[2020-05-08 03:34] MarkEWaite opened #3202 "Convert 'Plugin tutorial' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Plugin tutorial](https://wiki.jenkins.io/display/JENKINS//Plugin+tutorial) from the wiki to jenkins.io.

[2020-05-08 03:34] MarkEWaite opened #3203 "Convert 'How-to articles' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [How-to articles](https://wiki.jenkins.io/display/JENKINS//How-to+articles) from the wiki to jenkins.io.

[2020-05-08 03:34] MarkEWaite opened #3204 "Create 'Reverse proxy configuration' page(s) on jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Jenkins behind an NGinX reverse proxy](https://wiki.jenkins.io/display/JENKINS//Jenkins+behind+an+NGinX+reverse+proxy) and related pages from wiki to jenkins.io ASCIIDoc.

#### Related Wiki Pages to migrate

Some other wiki pages related to this "Jenkins behind a reverse-proxy" topic:

[2020-05-08 03:35] MarkEWaite opened #3205 "Convert 'JenkinsBehindProxy' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [JenkinsBehindProxy](https://wiki.jenkins.io/display/JENKINS//JenkinsBehindProxy) from the wiki to jenkins.io.

[2020-05-08 03:35] MarkEWaite opened #3206 "Convert 'Thanks for using Windows Installer' wiki page to jenkins.io"
Extract the content of ["Thanks for using Windows Installer"](https://wiki.jenkins.io/display/JENKINS//Thanks+for+using+Windows+Installer) and insert it into the www.jenkins.io HAML page.

Extracting the content is described in the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328)

[2020-05-08 03:36] MarkEWaite opened #3207 "Redirect 'Home' wiki page to www.jenkins.io"
Redirect from the wiki [Home](https://wiki.jenkins.io/display/JENKINS//Home) to https://www.jenkins.io using the redirect instructions in [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) .  Probably should not merge that redirect until a significant portion of the wiki content has been migrated, since the Home page has the 'Search' box.

[2020-05-08 03:36] MarkEWaite opened #3208 "Convert 'Standard Security Setup' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Standard Security Setup](https://wiki.jenkins.io/display/JENKINS//Standard+Security+Setup) from the wiki to jenkins.io.

[2020-05-08 03:36] MarkEWaite opened #3209 "Convert 'Jenkins Best Practices' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Jenkins Best Practices](https://wiki.jenkins.io/display/JENKINS//Jenkins+Best+Practices) from the wiki to jenkins.io.

[2020-05-08 03:37] MarkEWaite opened #3210 "Convert 'Monitoring' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Monitoring](https://wiki.jenkins.io/display/JENKINS//Monitoring) from the wiki to jenkins.io.

[2020-05-08 03:37] MarkEWaite opened #3211 "Convert 'Plugins' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Plugins](https://wiki.jenkins.io/display/JENKINS//Plugins) from the wiki to jenkins.io.

[2020-05-08 03:38] MarkEWaite opened #3212 "Redirect 'CSRF Protection' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to redirect [CSRF Protection](https://wiki.jenkins.io/display/JENKINS/CSRF+Protection) from the wiki to jenkins.io.

The existing page is outdated and incomplete.  It should redirect to the https://www.jenkins.io/doc/book/managing/security/#cross-site-request-forgery.

A wiki.jenkins.io redirect i

[2020-05-08 03:39] MarkEWaite opened #3213 "Redirect 'Meet Jenkins' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to redirect [Meet Jenkins](https://wiki.jenkins.io/display/JENKINS//Meet+Jenkins) from the wiki to https://www.jenkins.io .  No need for any additional content, just redirect the page.

[2020-05-08 03:39] MarkEWaite opened #3214 "Convert 'Serialization of anonymous classes' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Serialization of anonymous classes](https://wiki.jenkins.io/display/JENKINS//Serialization+of+anonymous+classes) from the wiki to jenkins.io.

[2020-05-08 03:40] MarkEWaite opened #3215 "Convert 'Running Jenkins behind Apache' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Running Jenkins behind Apache](https://wiki.jenkins.io/display/JENKINS//Running+Jenkins+behind+Apache) from the wiki to jenkins.io.

[2020-05-08 03:40] MarkEWaite opened #3216 "Convert 'Use Jenkins' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Use Jenkins](https://wiki.jenkins.io/display/JENKINS//Use+Jenkins) from the wiki to jenkins.io.

[2020-05-08 03:41] MarkEWaite opened #3217 "Convert 'Offline Jenkins Installation' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Offline Jenkins Installation](https://wiki.jenkins.io/display/JENKINS//Offline+Jenkins+Installation) from the wiki to jenkins.io.

[2020-05-08 03:41] MarkEWaite opened #3218 "Convert 'Running Jenkins behind Nginx' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Running Jenkins behind Nginx](https://wiki.jenkins.io/display/JENKINS//Running+Jenkins+behind+Nginx) from the wiki to jenkins.io.

[2020-05-08 03:41] MarkEWaite opened #3219 "Convert 'Change time zone' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Change time zone](https://wiki.jenkins.io/display/JENKINS//Change+time+zone) from the wiki to jenkins.io.  Include documentation of the [per-user timezone feature](https://issues.jenkins-ci.org/browse/JENKINS-19887) that was delivered in [Jenkins 2.203](https://www.jenkins.io/changelog

[2020-05-08 03:42] MarkEWaite opened #3220 "Convert 'Aborting a build' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Aborting a build](https://wiki.jenkins.io/display/JENKINS//Aborting+a+build) from the wiki to jenkins.io.

[2020-05-08 03:42] MarkEWaite opened #3221 "Convert 'Starting and Accessing Jenkins' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Starting and Accessing Jenkins](https://wiki.jenkins.io/display/JENKINS//Starting+and+Accessing+Jenkins) from the wiki to jenkins.io.

The [Using HTTP/2](https://wiki.jenkins.io/display/JENKINS//Starting+and+Accessing+Jenkins#StartingandAccessingJenkins-UsingHTTP/2) and [Configuring HT

[2020-05-08 03:42] MarkEWaite opened #3222 "Convert 'Slave To Master Access Control' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Slave To Master Access Control](https://wiki.jenkins.io/display/JENKINS//Slave+To+Master+Access+Control) from the wiki to jenkins.io.

[2020-05-08 03:43] MarkEWaite opened #3223 "Convert 'Running Jenkins on Port 80 or 443 using iptables' wiki page to jenkins.io"
Use the [documentation page conversion instructions](https://issues.jenkins-ci.org/browse/INFRA-2328) to convert [Running Jenkins on Port 80 or 443+using+iptables](https://wiki.jenkins.io/display/JENKINS//Running+Jenkins+on+Port+80+or+443+using+iptables) from the wiki to jenkins.io.

[2020-05-08 06:17] zbynek commented on #3211
Maybe that page should just redirect to plugins.jenkins.io and the information how to subscribe could be somehow integrated into the plugin site (e.g. RSS and Twitter icons next to the "Recently Updated" heading) ? The links for developers are already included in https://www.jenkins.io/doc/developer/guides/ .

[2020-05-08 06:23] zbynek commented on #3204
This page seems to provide a subset of the information from
https://wiki.jenkins.io/display/JENKINS//Running+Jenkins+behind+Nginx
mentioned in
https://github.com/jenkins-infra/jenkins.io/issues/3218

[2020-05-08 14:55] MarkEWaite commented on #3204
Agreed @zbynek.  Thanks very much!  Next phase of this process is to identify the overlapping pages (as you just did) and define final destinations for a merge of the various pages that provide information.

My initial thought was that we should add two new pages to jenkins.io:

* Jenkins with Apache reverse proxy
* Jenkins with NGINX reverse proxy

Combine the information from the various wiki pa

[2020-05-08 16:09] dwnusbaum commented on #3194
After the wiki became read-only, the specific cases under the "False Positives" section have been fixed, so they should be removed when the page is converted.

Also, this page is linked from inside of Jenkins using https://www.jenkins.io/redirect/pipeline-cps-method-mismatches/, so we should update the redirect to point to the new page once it is created.

[2020-05-09 13:41] MarkEWaite commented on #3026
Ongoing maintenance will be required, but the initial effort is complete and the processes to periodically review and refresh the roadmap are in place.

[2020-05-09 13:41] #3026 closed

[2020-05-09 17:33] #3127 closed

[2020-05-11 12:29] oleg-nenashev opened #3235 "Replace the official logo for Jenkins Docker packaging"
Follow-up to https://github.com/jenkins-infra/jenkins.io/pull/3181#issuecomment-626667853 .

As  @sudo-bmitch mentioned in Twitter, our Docker packaging logo needs updating: https://twitter.com/sudo_bmitch/status/1258374592202244097 . Official guidelines from Docker: https://www.docker.com/company/newsroom/media-resources

Scope of the changes:

* Logos in the jenkins.io resources, especially the

[2020-05-11 12:32] oleg-nenashev opened #3236 "Add CDF Store to https://www.jenkins.io/merchandise/"
Our official page for swag does not include the CDF Store: https://store.cd.foundation/ . I think we should add it as a first to the list, because it is kinda official storage.

[2020-05-12 00:03] vsilverman commented on #3236
Created a [pull request ](https://github.com/jenkins-infra/jenkins.io/pull/3243) to fix current issue

[2020-05-12 00:43] #3236 closed

[2020-05-12 10:11] dduportal commented on #3204
Sure @MarkEWaite , I would be happy to help by contributing (any of writing, testing, reviewing) !

I'm currently reading the migration documentation to get on the page first :)

#### Related Wiki Pages to migrate

Some other pages in the current wiki related to this "Jenkins behind a reverse-proxy" topic:

- https://wiki.jenkins.io/display/JENKINS/Running+Jenkins+behind+Apache
- https://wiki.jenk

[2020-05-12 13:02] MarkEWaite commented on #3204
That is a wonderful outline!  I'd love to have the information that you described in the outline as part of a page in the Jenkins documentation.

I think it would be a new page in "[System Administration](https://www.jenkins.io/doc/book/system-administration/)".  It could be called "Accessing Jenkins" or "Reverse Proxy Configuration for Jenkins".

I assume most audiences will want to read the info

[2020-05-12 13:06] MarkEWaite commented on #3215
Duplicate of #3204

[2020-05-12 13:06] MarkEWaite commented on #3205
Duplicate of #3204

[2020-05-12 13:07] MarkEWaite commented on #3185
Duplicate of #3204

[2020-05-12 13:10] MarkEWaite commented on #3223
Duplicate of #3204

[2020-05-12 13:24] MarkEWaite commented on #3218
Duplicate of #3204

[2020-05-12 13:28] MarkEWaite commented on #2886
Collecting the ideas for structuring the information on the new page into #3204.  Would that work for you @timja or do you feel that this needs a dedicated page in System Administration?

[2020-05-12 13:29] MarkEWaite commented on #2886
Duplicate of #3204

[2020-05-12 13:41] timja commented on #2886
makes sense

[2020-05-12 13:44] timja commented on #3204
When we deployed this we just turned it on and did nothing and it worked, interested to know what content would be put here.

I think a how-to guide for each technology would make most sense but depends on how much content there is, and what level it's at

[2020-05-12 22:38] luisaesposito opened #3251 "Fix 'Build a Python app with PyInstaller' Tutorial"
Problem with: [Build a Python app with PyInstaller](https://www.jenkins.io/doc/tutorials/build-a-python-app-with-pyinstaller/), [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/tutorials/build-a-python-app-with-pyinstaller.adoc)

On section [Add a final deliver stage to your Pipeline](https://www.jenkins.io/doc/tutorials/build-a-python-app-with-pyinstaller/#add-a-f

[2020-05-12 22:44] MarkEWaite commented on #3251
Thanks for the issue report.  Can you explain further what you mean by "mixed texts"?

[2020-05-13 05:10] luisaesposito commented on #3251
No no, not at all. By mixed text I just mean that the first sentence makes sense, but then it starts describing a Docker image and it looks like the beginning of that sentence was cut off.

Upon further investigation of the [file history](https://github.com/jenkins-infra/jenkins.io/commit/d3819a9749eb80db76937b65f2b4e35a08e5e572#diff-5a8d969acb82b38cdce1d9a2e5efdeff), that does seem to be the case

[2020-05-13 11:26] oleg-nenashev commented on #3206
IMHO contents of this page should be added directly to https://github.com/jenkins-infra/jenkins.io/blob/master/content/_partials/thank-you-downloading-windows-installer.html.haml

[2020-05-13 11:30] oleg-nenashev commented on #3189
Not sure how much value this guide still has. CVS part can be safely dropped, and it should be ideally replaced by Git

[2020-05-13 11:31] oleg-nenashev commented on #3219
When migrating, new User Timezone setting feature should be documented

[2020-05-13 11:32] oleg-nenashev commented on #3207
@MarkEWaite  There is already jenkins.io landing for that. I think we just need to setup a redirect

[2020-05-13 11:33] oleg-nenashev commented on #3203
Content should be reviewed and added to https://www.jenkins.io/doc/tutorials/ if still relevant

[2020-05-13 11:34] oleg-nenashev commented on #3213
I suggest just adding a redirect to https://www.jenkins.io/ . No need to migrate IMO

[2020-05-13 11:36] oleg-nenashev commented on #3216
There is no problem with moving this page, but IMO we should rather review links and gradually move underlying pages to https://www.jenkins.io/doc/book/using/ , Once the migration is completed, we can just add a redirect

[2020-05-14 00:11] PseudoNerd commented on #3192
I want to help the "Adopt a plugin' initiative by maintaining the documentation, and participate in GSoD this year, Can I take up this issue and work on other installation wikis and convert them to jenkins.io?

[2020-05-14 09:43] zaycodes commented on #3184
Hello @MarkEWaite, I'll like to work on this issue

[2020-05-14 09:47] oleg-nenashev commented on #3184
@zaycodes Hi, thanks for your interest! Please feel free to do so. I would suggest to migrate the content to https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/using/remote-api.adoc

[2020-05-14 09:48] zaycodes commented on #3184
Thanks @oleg-nenashev

[2020-05-14 11:09] zaycodes commented on #3184
Can I put the images here https://github.com/jenkins-infra/jenkins.io/tree/master/content/images @oleg-nenashev

[2020-05-14 12:05] timja opened #3261 "Author macro for referring to author's in posts"
## Suggestion

Usage could be:

author:timja[]

Which would render a link to:
/blog/authors/timja

With the link text 'Tim Jacomb'

_Originally posted by @timja in https://github.com/jenkins-infra/jenkins.io/pull/3260_

[2020-05-14 14:22] LarrySul commented on #3212
Hi @oleg-nenashev looking to contribute to jenkins and I have gone through the contribution guide, permission to take this issue up

[2020-05-14 15:50] oleg-nenashev commented on #3212
@LarrySul Hi, thanks for the interest!
I think that this particular page has been already migrated: https://www.jenkins.io/doc/book/managing/security/#cross-site-request-forgery though it needs to be update for recent Jenkins versions which enable CSRF by default.

I would suggest to...

* Update https://www.jenkins.io/doc/book/managing/security/#cross-site-request-forgery to reflect the status of

[2020-05-14 15:53] oleg-nenashev commented on #3261
It should be implemeted in https://github.com/jenkins-infra/asciidoctor-jenkins-extensions , but generally it is a newcomer-friendly task

[2020-05-14 17:15] daniel-beck commented on #3212
AFAICT the wiki page is completely irrelevant right now after recent changes, and existing documentation elsewhere should be updated or just written from scratch.

Some (actually useful) references:

* https://www.jenkins.io/changelog/#v2.222 made the crumb issuer always present, it no longer needs to be enabled. https://www.jenkins.io/doc/upgrade-guide/2.222/#always-enabled-csrf-protection explai

[2020-05-14 20:36] MarkEWaite opened #3265 "Update CSRF related content"
The existing CSRF documentation on www.jenkins.io should be updated or rewritten from scratch.

Some references that can assist with the update and/or rewrite:

* https://www.jenkins.io/changelog/#v2.222 made the crumb issuer always present, it no longer needs to be enabled. https://www.jenkins.io/doc/upgrade-guide/2.222/#always-enabled-csrf-protection explains some compatibility considerations.
*

[2020-05-14 20:37] MarkEWaite commented on #3212
@LarrySul are you willing to consider implementing this issue with its redefined scope?

I'd be happy to code review the pull request to the jenkins-infra/jenkins-infra repository that would add a redirect from the wiki page for [CSRF protection](https://wiki.jenkins.io/display/JENKINS//CSRF+Protection) to the [existing documentation](https://www.jenkins.io/doc/book/managing/security/#cross-site-r

[2020-05-14 21:22] MarkEWaite opened #3266 "Redirect wiki "How to report an issue" to www.jenkins.io"
The "[How to report an issue](https://wiki.jenkins.io/display/JENKINS/How+to+report+an+issue)" wiki page has been extracted and updated into the "[How to report an issue](https://www.jenkins.io/participate/report-issue/)" page on www.jenkins.io .

Use the "[Create a redirect](https://issues.jenkins-ci.org/browse/INFRA-2328#DocumentationPageConversionProcess)" instructions to redirect from the wiki

[2020-05-14 21:33] LarrySul commented on #3212
@MarkEWaite I'm open to learning how to implement the issue with the redefined scope under your guidance. I got lost for the moment but we can get started right away, I already cloned the repository already

[2020-05-14 22:10] MarkEWaite commented on #3212
That would be great @LarrySul .  Thanks for being the "test case" for a revision of the instructions that I'm preparing for a jenkins.io pull request.

## Redirecting a wiki page

Wiki pages are migrated one at a time.  When the content of a wiki page has been migrated from wiki.jenkins.io and merged into www.jenkins.io, we can "hide" the wiki page by redirecting all requests for that page to the

[2020-05-14 22:24] MarkEWaite commented on #3212
@LarrySul thanks again for being willing to "test drive" those instructions.  If you can share your experience trying to follow those instructions, it will help me refine them so that others have a better experience.

We could also sit together on a Zoom video call if Zoom works in your area.

[2020-05-14 22:53] MarkEWaite commented on #3184
Duplicates #2884 . Will also assign that issue to @zaycodes .  Thanks so much for helping!

[2020-05-15 01:52] LarrySul commented on #3212
@MarkEWaite I have been able to complete the assigned task and made a PR for your reference the issue can be found [here](https://github.com/jenkins-infra/jenkins-infra/pull/1477). The insructions were very much detailed enough and I only needed to spend few mins trying to figure out what was needed to be done. Thank you

[2020-05-15 04:14] MarkEWaite opened #3267 "Convert 'FreeBSD' wiki page to jenkins.io"
Update the [Installing Jenkins](https://www.jenkins.io/doc/book/installing/) page to include FreeBSD installation instructions from the [FreeBSD page](https://wiki.jenkins.io/display/JENKINS/FreeBSD) on wiki.jenkins.io.  Once the FreeBSD page has been reviewed, approved, and merged to jenkins.io, redirect the FreeBSD page on wiki.jenkins.io to the matching section of the [Installing Jenkins](https

[2020-05-15 09:16] zaycodes commented on #3184
Hello @oleg-nenashev, @MarkEWaite, please II need some help, how do I fix the pull request https://github.com/jenkins-infra/jenkins.io/pull/3262, it's failing the checks

[2020-05-15 09:21] oleg-nenashev opened #3271 "Layout for multi-day events: dates overlap with time"
Example of the layout for the UI/UX hackfest:

![image](https://user-images.githubusercontent.com/3000480/82034034-e9841200-969d-11ea-8cdb-f1fafc348525.png)

## Steps to reproduce

1. Open the main page (until May 29?)

## Possible Solution

* Remove time from the layout entirely, likely not needed for multi-day events

[2020-05-15 09:37] timja opened #3273 "Jenkins Features Controlled with System Properties - allow linking to a property"
Problem with: [Jenkins Features Controlled with System Properties](https://www.jenkins.io/doc/book/managing/system-properties/), [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/managing/system-properties.adoc)

Add an anchor to each system property so that you can link to the documentation when sharing it with someone else

[2020-05-15 10:01] oleg-nenashev commented on #3221
Looks like to be a part of the administrator guide

[2020-05-15 12:14] MarkEWaite opened #3275 "HTTPS certificates with Windows has extra sentence"
Problem with the [Installing Jenkins](https://www.jenkins.io/doc/book/installing/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/index.adoc)

The "[Certificates with Windows](https://www.jenkins.io/doc/book/installing/#https-certificates-with-windows)" section starts with a sentence that seems like it could be removed without reducing the i

[2020-05-15 12:58] #3114 closed

[2020-05-15 13:19] MarkEWaite commented on #3184
I'll be happy to help.  I have a meeting for the next 90 minutes or so, then can assist.

[2020-05-15 13:25] zaycodes commented on #3184
Thanks @MarkEWaite, I'll be waiting

[2020-05-15 15:28] MarkEWaite commented on #3184
@zaycodes I'm using `make run` now and have opened http://localhost:4242/doc/book/using/remote-api/ .  I can seee a report that there is a failure in the generation of that page.  I'll do some more investigation and report what I learn here (or will submit as proposed changes if permissions allow that)

[2020-05-15 16:15] zaycodes commented on #3184
Thanks @MarkEWaite, I appreciate the help, I'm also investigating on my own end

[2020-05-15 17:03] MarkEWaite commented on #3184
@zaycodes the file `chapter.yaml` needs an additional entry for the remote-api.adoc file.

The image file needs to move into a subdirectory of the images directory, otherwise it is the only images directory in the content/doc/book tree.

The `syntaxhighlighter-pre` entry that happens in  two places in the source code examples needs to be changed to `sh`

[2020-05-15 18:10] guptaprakhariitr commented on #3266
Hey Mark,
I wanted to work on this issue, would try to complete asap.Can you assign it to me?

[2020-05-15 19:03] zaycodes commented on #3184
Thanks @MarkEWaite, I fixed everything you pointed and it's fine now. Thanks a bunch.

[2020-05-15 19:44] MarkEWaite commented on #3212
Redirect is complete and confirmed it is working as expected.  Thanks @LarrySul

[2020-05-15 19:44] #3212 closed

[2020-05-15 19:48] #3267 closed

[2020-05-15 20:26] LarrySul commented on #3212
@MarkEWaite My pleasure

[2020-05-15 20:31] LarrySul commented on #3222
@MarkEWaite willing to take this up ....

[2020-05-15 21:15] timja opened #3280 "Breadcrumbs issues detected on jenkins.io"
I received the following email from 'Google search console':

# Breadcrumbs issues detected on jenkins.io

To the owner of jenkins.io:

Search Console has identified that your site is affected by 1 Breadcrumbs issues:

## Top Errors

Errors can prevent your page or feature from appearing in Search results. The following errors were found on your site:

We recommend that you fix these issues when p

[2020-05-15 21:21] MarkEWaite commented on #3280
I'm struggling to understand where we have a breadcrumb trail on jenkins.io.  Any guesses where it is?

Pages that I've found seem to indicate that including an `item` field on breadcrumbs will help Google search engine optimization, but I don't know where that would be.

[2020-05-15 21:22] timja commented on #3280
I don't know either tbh, as usual google doesn't really provide a lot of detail when there's an issue,

But they thought it was important enough to email me about it =/

[2020-05-16 10:01] zbynek commented on #3280
Maybe https://developers.google.com/search/docs/data-types/breadcrumb#html and https://search.google.com/structured-data/testing-tool would be good starting points. I'm not sure whether the error message means Google can't find such metadata at all or it finds some partial metadata for a particular URL (maybe infering from OpenGraph meta tags?). I couldn't see any problem in the Structured Data Te

[2020-05-16 10:03] timja commented on #3280
ffs it's this:
https://jenkins.io/commit/envinject-plugin/f95115b761094cefe9eb3e6f49cd3e8bc8fea6c7

Google is crawling the commit redirects -.-

[2020-05-16 10:03] #3280 closed

[2020-05-16 14:03] krharsh17 commented on #3211
Hey is this issue still active? I'm asking because I see that redirection to plugins.jenkins.io is in effect.

[2020-05-16 14:05] krharsh17 commented on #3203
Hi, is this issue still active? If yes, can I work on this?

[2020-05-17 14:39] zbynek commented on #3203
@MarkEWaite I think it would be useful to decide which pages of that page are actually "how-to"s before they get migrated.

Title | Suggestion
-- | -- |
SWEAGLE Plugin | done (plugin page)
How to run the Robot Framework test cases in sequence | ignore (question, not a guide)
LamdbaTest Plugin |  ignore (commercial plugin)
Why is Jenkins' SCM polling not detecting changes in the repo? | ignore (que

[2020-05-18 07:33] guptaprakhariitr commented on #3266
Pull request resolving the issue  https://github.com/jenkins-infra/jenkins-infra/pull/1480

[2020-05-18 07:38] guptaprakhariitr commented on #3220
hey mark,
can i get this issue assigned,i want to work on this.

[2020-05-18 08:32] oleg-nenashev commented on #3220
@guptaprakhariitr For now it is possible to put it under https://github.com/jenkins-infra/jenkins.io/tree/master/content/doc/book/using . Maybe we could add a new folder inside it, e.g. "running-jobs" or so. It will help to group the content later

[2020-05-18 08:44] oleg-nenashev opened #3288 "Jenkins Artwork page - Tolouse JAM does not reference the Meetup page"
Problem with the [Jenkins Artwork](https://www.jenkins.io/artwork/) page

Tolouse JAM is missing the link to the meetup page: https://www.meetup.com/Toulouse-Jenkins-Area-Meetup/ .

TODO: Describe the expected and actual behavior here

## Screenshots

![image](https://user-images.githubusercontent.com/3000480/82192398-3d883400-98f4-11ea-99c2-d723c325bd31.png)

## Possible Solution

It can be done

[2020-05-18 08:50] urwa commented on #3187
Hi,

I want to work on this issue. Can you please assign this to me.
Also can you please point where I should put the documentation under this: https://github.com/jenkins-infra/jenkins.io/tree/master/content/doc

Can you please confirm

[2020-05-18 09:03] oleg-nenashev commented on #3187
@urwa I think it should be within the installation guide: https://github.com/jenkins-infra/jenkins.io/tree/master/content/doc/book/installing . Could also be in Tutorials (https://github.com/jenkins-infra/jenkins.io/tree/master/content/doc/tutorials), but I do not see much value in keeping separate tutorials at the moment

[2020-05-18 09:18] urwa commented on #3187
Okay will add it in https://github.com/jenkins-infra/jenkins.io/tree/master/content/doc/book/installing

[2020-05-18 11:25] oleg-nenashev commented on #3222
@LarrySul just do it! I;d guess it needs to be merged into https://www.jenkins.io/doc/book/managing/security/#agentmaster-access-control . If all information is already there, we should setup a redirect

[2020-05-18 11:54] LarrySul commented on #3222
@oleg-nenashev alright ... Thank you

[2020-05-18 13:42] oleg-nenashev commented on #3266
Thanks! Looks to be solved

[2020-05-18 13:42] #3266 closed

[2020-05-18 15:41] MarkEWaite commented on #3266
Thanks very much @guptaprakhariitr !  I did a google search for "Jenkins How to report an issue".  It showed the wiki page in the link.  I click the link and it takes me to https://www.jenkins.io/participate/report-issue/ .  Perfect fix.

[2020-05-18 15:52] urwa commented on #3188
I want to work on this issue. I think it should be here: https://www.jenkins.io/doc/book/using/. Can you please confirm?

[2020-05-18 15:53] oleg-nenashev commented on #3188
@urwa confirmed

[2020-05-18 18:15] guptaprakhariitr commented on #3266
:smile: :smile: Pleasure!

[2020-05-18 18:39] krharsh17 commented on #3203
Okay, so shall I begin migrating according to the suggestions?

[2020-05-18 20:25] MarkEWaite commented on #3203
@krharsh17 the 3 items listed as "**TODO**" are good to proceed.  The others are either "done" or irrelevant.

[2020-05-19 09:10] guptaprakhariitr commented on #3220
Hey @oleg-nenashev ,
As per your suggestion, i may put it under a new folder named "running-jobs" in  https://github.com/jenkins-infra/jenkins.io/tree/master/content/doc/book/using .

[2020-05-19 09:11] oleg-nenashev commented on #3220
thanks!

[2020-05-19 12:02] oleg-nenashev opened #3293 "Add Redirect for the Browser support policy"
* Page to migrate: https://wiki.jenkins.io/display/JENKINS/Browser+Compatibility+Matrix
* Destination on jenkins.io: https://www.jenkins.io/doc/administration/requirements/web-browsers/

## Migration notes

The page has been already migrated, but we need to add a redirect in https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf so that the old pag

[2020-05-19 12:11] guptaprakhariitr commented on #3220
![Screenshot from 2020-05-19 17-39-56](https://user-images.githubusercontent.com/58157064/82324796-dc498900-99f7-11ea-9860-331894595b40.png)

[2020-05-19 12:13] guptaprakhariitr commented on #3220
Hey @MarkEWaite ,
I have created a new file aborting-a-build in running jobs folder.
Can you help me with the changes i had to make to _chapter.yml if any.

[2020-05-19 12:36] urwa commented on #3190
Hi,

I would like to work on this.

https://www.jenkins.io/doc/book/scaling/ seems like the right place to put it but I am not absolutely sure.  Can you please confirm.

[2020-05-19 12:44] MarkEWaite commented on #3190
@urwa I've assigned it to you.  For me, I think it would be a better fit in the "Managing Jenkins" book as a new chapter called "Managing Agents".  It would follow immediately in the contents like:

* [Managing Security](https://www.jenkins.io/doc/book/managing/security)
* [Managing Tools](https://www.jenkins.io/doc/book/managing/tools)
* [Managing Plugins](https://www.jenkins.io/doc/book/managing

[2020-05-19 15:15] guptaprakhariitr commented on #3193
hey Mark.
I want to work on this, can you assign me the issue.

[2020-05-19 15:16] guptaprakhariitr commented on #3195
hey Mark.
I want to work on this, can you assign me the issue.

[2020-05-19 20:15] MarkEWaite commented on #3195
Thanks very much for doing that.  Much of the content from the wiki page has already been placed into the Installing page.  We need to identify the best location for the rest of the content.  I assume it will be the installing page, but you're welcome to propose an alternate location if you find a better place.

[2020-05-20 04:58] femithz commented on #3209
Want to take up this task.

[2020-05-20 09:14] guptaprakhariitr commented on #3195
I agree that the location for the content(which isnt placed) may be the installing page.
Thanks.

[2020-05-20 09:55] oleg-nenashev opened #3297 "Add GitHub action for automatically optimizing images in pull requests."
It would be great to automate compression of images so that contributors do not have to spend time on that. As discussed in https://github.com/jenkins-infra/jenkins.io/pull/3284#issuecomment-630655145 , I suggest introducing a GitHub action for it

[2020-05-20 10:13] oleg-nenashev commented on #3297
https://github.com/oleg-nenashev/jenkins.io/pull/5 is a proof of concept

First check run: https://github.com/oleg-nenashev/jenkins.io/pull/5/checks?check_run_id=692360953

[2020-05-20 10:24] oleg-nenashev commented on #3297
So, the pull request ended up with optimizing all images in the repo on the first run:

![image](https://user-images.githubusercontent.com/3000480/82435255-516a9c00-9a94-11ea-8e29-92b07f005047.png)

Smoke test confirms that the optimization looks good, and it removes 20Mb. Bad news is that it would add extra 20Mb in the history. Question to @jenkins-infra/copy-editors and @daniel-beck about the ne

[2020-05-20 10:27] daniel-beck commented on #3297
First step should be to identify and resize images that were uploaded straight from the 100 MP camera and are shown as 400x300, and prevent that nonsense from reoccurring.

[2020-05-20 10:28] oleg-nenashev commented on #3297
@daniel-beck Would you be willing to list the most critical examples?

[2020-05-20 13:56] zaycodes commented on #3185
Hello @MarkEWaite, @oleg-nenashev, I'll like to work on this issue. How can I understand the structure of the documentation and find the correct to place the Asciidoc contents in the repository.

[2020-05-20 13:57] daniel-beck commented on #3297
As far as I can tell, https://www.jenkins.io/images/avatars/bicschneider-ClausSchneider.jpg is shown nowhere, but would be about 130x130.

All the photos in https://github.com/jenkins-infra/jenkins.io/pull/2799 are 4k-6k pixels wide, as are most of the photos in https://github.com/jenkins-infra/jenkins.io/pull/2451.

https://www.jenkins.io/blog/2020/02/19/jenkins-world-lisbon-with-love-from-india/

[2020-05-20 16:00] MarkEWaite commented on #3185
#3204 is the better place to discuss this one.  Let's hold the discussion there @zaycodes

[2020-05-20 16:03] MarkEWaite commented on #3204
@zaycodes has expressed interest in working on this issue.  @dduportal is one of the experts that can act as a consultant and guide on the issue and how best to present the information on the jenkins.io site.  @dduportal provided a good outline in [his comment](https://github.com/jenkins-infra/jenkins.io/issues/3204#issuecomment-627247275).

@zaycodes would that work for you?

[2020-05-20 17:23] MarkEWaite commented on #3209
That's great @femithz .  I'm updating the instructions later today to note that it is sufficient to make a comment as you did.  Once I've done that, there will be no need for someone to assign an issue to you.

I assigned the issue to you as a simplification for me so that I can easily identify the issues that have people interested in them.

[2020-05-20 17:51] #3220 closed

[2020-05-20 17:52] vsilverman opened #3300 "Jenkins and Docker page - TODO: Modify "Getting started with Docker" section"
Problem with the [Jenkins and Docker](https://www.jenkins.io/solutions/docker/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/solutions/docker.adoc)

TODO: Modify "Getting started with Docker" section

## Screenshots

[
![image](https://user-images.githubusercontent.com/2159948/82480228-54f82600-9a88-11ea-8f9c-492cf8831318.png)
](https://www.jenkins.io/solutio

[2020-05-20 18:16] vsilverman opened #3301 "Jenkins and Docker page - Video section references not available video"
Problem with the [Jenkins and Docker](https://www.jenkins.io/solutions/docker/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/solutions/docker.adoc)

TODO:
Expected: Every video reference should link to the public video
Actual: One video reference links to not available private video
## Screenshots

![image](https://user-images.githubusercontent.com/2159948/82

[2020-05-20 19:31] krharsh17 commented on #3203
Okay, I'll take care of these

[2020-05-20 23:14] MarkEWaite commented on #3211
@krharsh17 as far as I can tell, https://wiki.jenkins.io/display/JENKINS/Plugins does not redirect to https://plugins.jenkins.io/ . This still needs to be done.

Are you interested in doing it?

[2020-05-21 01:34] MarkEWaite opened #3304 "Migrate 'Automated Upgrade' from wiki to jenkins.io"
* Page to migrate: [`Automated Upgrade`](https://wiki.jenkins.io/display/JENKINS/Automated+Upgrade)
* Destination on jenkins.io: new `Upgrading` section of [User Handbook](https://github.com/jenkins-infra/jenkins.io/tree/master/content/doc/book)

## Migration notes

Upgrade instructions depend on the initial installation method.  Instructions need to include:

* Upgrading a standalone war file
* U

[2020-05-21 01:57] MarkEWaite opened #3305 "Migrate 'Job Exit Status' wiki to jenkins.io"
* Page to migrate: [`Job Exit Status`](https://wiki.jenkins.io/display/JENKINS//Job+Exit+Status)
* Destination on jenkins.io: [`Glossary`](https://www.jenkins.io/doc/book/glossary/), [`Cleaning up and notifications`](https://www.jenkins.io/doc/pipeline/tour/post/),

## Migration notes

* Add definitions for Success / Stable, Unstable, and Failed to the [`Glossary`](https://www.jenkins.io/doc/book/

[2020-05-21 02:04] MarkEWaite opened #3306 "Migrate 'OOM Errors' page to 'Diagnosing build failures' on jenkins.io"
* Page to migrate: [`Builds failing with OutOfMemoryErrors`](https://wiki.jenkins.io/display/JENKINS//Builds+failing+with+OutOfMemoryErrors)
* Destination on jenkins.io: new 'Diagnosing build failures' page in [`Operating`](https://github.com/jenkins-infra/jenkins.io/tree/master/content/doc/book/operating) section

## Migration notes

* Create a new page 'Diagnosing build failures' in the Operatin

[2020-05-21 02:26] MarkEWaite commented on #3111
Closed after a month with no response to the clarifying questions

[2020-05-21 02:26] #3111 closed

[2020-05-21 03:11] MarkEWaite opened #3307 "Migrate 'Matrix-based security' from wiki to jenkins.io"
* Page to migrate: [`Matrix-based security`](https://wiki.jenkins.io/display/JENKINS//Matrix-based+security)
* Destination on jenkins.io: [`Securing Jenkins`](https://www.jenkins.io/doc/book/system-administration/security/)

## Migration notes

* Detailed review by Jenkins matrix-based security experts like @mikecirioli , @oleg-nenashev , and @daniel-beck should be expected before it is merged

##

[2020-05-21 03:18] MarkEWaite opened #3308 "Migrate 'Remoting issue' from wiki to 'Managing Jenkins' on jenkins.io"
* Page to migrate: [`Remoting issue`](https://wiki.jenkins.io/display/JENKINS//Remoting+Issue)
* Destination on jenkins.io: New "Diagnosing remoting issues" page in [`Managing Jenkins`](https://www.jenkins.io/doc/book/managing/)

## Migration notes

Create a new "Diagnosing remoting issues" under "Managing Jenkins" that includes:

* Understanding failure messages (what users see, failure mode on m

[2020-05-21 03:41] MarkEWaite opened #3310 "Redirect 'Matrix Configuration Parameter Plugin" from wiki"
* Page to migrate: [`Matrix Configuration Parameter Plugin`](https://wiki.jenkins.io/display/JENKINS//Matrix+Configuration+Parameter+Plugin)
* Destination on jenkins.io: [`Matrix Combinations Plugin`](https://plugins.jenkins.io/matrix-combinations-parameter/)

## Migration notes

Plugin documentation has already been migrated from the wiki page to the plugin.  All that is needed is a redirect as d

[2020-05-21 03:56] MarkEWaite opened #3311 "Redirect 'RequireUpperBounds' from wiki"
* Page to migrate: [`How to fix RequireUpperBoundDeps`](https://wiki.jenkins.io/display/JENKINS//How+to+fix+RequireUpperBoundDeps)
* Destination on jenkins.io: [`Understanding requireUpperBoundDeps failures and fixes`](https://www.jenkins.io/doc/developer/plugin-development/updating-parent/#understanding-requireupperbounddeps-failures-and-fixes)

## Migration notes

Page has already migrated.  Nee

[2020-05-21 04:06] MarkEWaite commented on #3187
duplicate of #2887

[2020-05-21 04:12] MarkEWaite opened #3312 "Redirect 'LTS Release line from wiki"
* Page to migrate: [`LTS Release Line`](https://wiki.jenkins.io/display/JENKINS//LTS+Release+Line)
* Destination on jenkins.io: [`LTS Release Line`](https://www.jenkins.io/download/lts/)

## Migration notes

Redirect from outdated wiki page 'LTS Release Line' to current jenkins.io 'LTS Release Line'

## For contributors

* [Wiki Migration Guidelines](https://github.com/jenkins-infra/jenkins.io/blo

[2020-05-21 04:13] MarkEWaite opened #3313 "Redirect 'Git' from wiki"
* Page to migrate: [`Git`](https://wiki.jenkins.io/display/JENKINS/Git)
* Destination on plugins.jenkins.io: [`Git plugin`](https://plugins.jenkins.io/git/)

## Migration notes

Plugin documentation is already migrated.  Page redirect is needed as defined below in the Wiki Migration Guidelines.

## For contributors

* [Wiki Migration Guidelines](https://github.com/jenkins-infra/jenkins.io/blob/mas

[2020-05-21 09:05] daniel-beck commented on #3307
Additionally needs s/slave/agent cleanup, and removal of notes regarding now-deprecated 'dangerous' permissions, or at least documentation that this only applies to obsolete releases of Jenkins.

[2020-05-21 10:49] krharsh17 commented on #3211
Sure, I'll need a little bit of help though 😅 Do I have to migrate any docs or just place the redirection?

[2020-05-21 11:33] zbynek commented on #3211
Just place the redirect, similar to this PR: https://github.com/jenkins-infra/jenkins-infra/pull/1480/files

[2020-05-21 12:01] krharsh17 commented on #3211
Thanks for the help @zbynek I just opened a PR for the same 😄

[2020-05-21 12:02] krharsh17 commented on #3313
Hey @MarkEWaite Can you please assign it to me?

[2020-05-21 13:20] krharsh17 commented on #3203
Hey, I was going through the [XCode doc](https://plugins.jenkins.io/xcode-plugin/), and I found these links
![image](https://user-images.githubusercontent.com/46624829/82562883-bd7ff980-9b93-11ea-98f1-7738507967df.png)
The first one redirects to the same page while the second one ends up on a 404 page. Is there anything I should do about these?

[2020-05-21 13:36] zbynek commented on #3203
The first should be just removed and the second one can be changed to
https://issues.jenkins-ci.org/issues/?jql=component%20%3D%20xcode-plugin

[2020-05-21 13:38] krharsh17 commented on #3203
Alright, I just opened [#108](https://github.com/jenkinsci/xcode-plugin/pull/108) for that, could you please review?

[2020-05-21 13:44] scottashipp opened #3315 "Installing Jenkins page - Change recommended Docker image to jenkins/jenkins"
Problem with the [Installing Jenkins](https://www.jenkins.io/doc/book/installing/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/index.adoc)

Under the section titled [Downloading and running Jenkins in Docker](https://www.jenkins.io/doc/book/installing/#downloading-and-running-jenkins-in-docker) it says:

This information conflicts with ot

[2020-05-21 14:28] krharsh17 commented on #3203
I've opened #3316 for 'How to reference another project by name'. I'm working on the last item now.

[2020-05-21 14:49] krharsh17 commented on #3203
Here's the final part of this fix: [#22](https://github.com/jenkinsci/micro-focus-performance-center-integration-plugin/pull/22)

[2020-05-21 15:03] MarkEWaite commented on #3313
@krharsh17 you can "assign" it to yourself by posting a comment to the issue.  That way others see your comment and know you're working on the issue.

[2020-05-21 15:16] MarkEWaite commented on #3315
My reason to prefer the jenkins/jenkins image instead of the jenkins/blueocean image is that the jenkins/jenkins image avoids the controversy of allowing Docker inside the Docker container.

There has been community discussion in the past trying to find the right balance between ease of adoption and Docker preferred practices.  We'll likely need to revisit that discussion to assure we're aligned o

[2020-05-21 16:28] jeffret-b commented on #3308
Just a comment: This is probably a pretty difficult one, though it would be fantastic to make improvements here. The existing page is kind of a mess in several ways. The difficulties here are in figuring out what needs to be included in the page and then figuring out how to explain it clearly.

[2020-05-21 17:47] MarkEWaite commented on #3308
I think that is describing it very gently.  This will be an exceptionally difficult one because it requires extracting existing information, detecting errors, adding new information, and organizing it all to make sense.

[2020-05-21 22:25] MarkEWaite opened #3319 "Migrate 'Agents with Windows Scheduler' from Wiki"
* Page to migrate: [`Launch Java Web Start slave agent via Windows Scheduler`](https://wiki.jenkins.io/display/JENKINS//Launch+Java+Web+Start+slave+agent+via+Windows+Scheduler)
* Destination on jenkins.io: [`Managing Nodes`](https://wiki.jenkins.io/display/JENKINS//Launch+Java+Web+Start+slave+agent+via+Windows+Scheduler)

## Migration notes

* Should be coordinated with #3289 since they are both r

[2020-05-21 23:29] MarkEWaite opened #3320 "Migrate 'Unit Test' to jenkins.io developer docs"
* Page to migrate: [`Unit Test`](https://wiki.jenkins.io/display/JENKINS/Unit+Test)
* Destination on jenkins.io: [`Testing`](https://www.jenkins.io/doc/developer/testing/)

## Migration notes

Review existing content on the page, migrate content not already on the page

Reviews by experienced Jenkins plugin developers

## For contributors

* [Wiki Migration Guidelines](https://github.com/jenkins-i

[2020-05-22 00:50] MarkEWaite opened #3321 "Migrate 'ProcessTreeKiller' from wiki"
* Page to migrate: [`ProcessTreeKiller`](https://wiki.jenkins.io/display/JENKINS//ProcessTreeKiller)
* Destination on jenkins.io: [`Using Jenkins -> Long-running agent processes`](https://www.jenkins.io/doc/book/using/)

## Migration notes

Create a new page in the "Using Jenkins" section called "Long-running agent processes".  Migrate the content from the wiki page into that section and confirm t

[2020-05-22 01:01] MarkEWaite opened #3322 "Migrate 'Monitor and restart offline slaves' from wiki"
* Page to migrate: [`Monitor and Restart Offline Slaves`](https://wiki.jenkins.io/display/JENKINS//Monitor+and+Restart+Offline+Slaves)
* Destination on jenkins.io: [`Managing Nodes`](https://www.jenkins.io/doc/book/managing/nodes/)

## Migration notes

Extract and simplify the page example and add it as a section in the "Managing Nodes" page.  May also refer to the ci.jenkins.io runbook for a scri

[2020-05-22 01:07] MarkEWaite opened #3323 "Migrate 'Jenkins SSH' from wiki"
* Page to migrate: [`Jenkins SSH`](https://wiki.jenkins.io/display/JENKINS//Jenkins+SSH)
* Destination on jenkins.io: [`Jenkins CLI`](https://www.jenkins.io/doc/book/managing/cli/)

## Migration notes

Migrate the Jenkins SSH wiki page content that is not already included on the CLI page to the Jenkins CLI page on www.jenkins.io  .  After migration is complete, submit a pull request to redirect th

[2020-05-22 02:26] getJv commented on #2889
Hey Mark. I didn't find a endpoint at GH.io to redirect the
[Installing Jenkins as a Unix daemon](https://wiki.jenkins.io/display/JENKINS/Installing+Jenkins+as+a+Unix+daemon) . btw it seens a complex operation with several commands and enviroment changes. Is it a essencial step to the instalation proccess?

It will be a new page? maybe under the [Post-installation setup wizard](https://www.jenkins

[2020-05-22 08:43] femithz commented on #3209
Oh thanks, so can I move on with the task now

[2020-05-22 08:56] oleg-nenashev commented on #3315
It is not only about preferring the image, BlueOcean one is severely flawed when it comes to the installation wizard. Speaking of the issue itself, there was an attempt to fix it by @alecharp in https://github.com/jenkins-infra/jenkins.io/pull/2148 , but it has not been finalized.

We need a complete rewrite of the guide, and this topic is suggested for the UI/UX hackfest next week: https://www.je

[2020-05-22 09:01] #3275 closed

[2020-05-22 10:22] LarrySul commented on #3222
@oleg-nenashev how do we go about setting up a redirect ?

[2020-05-22 12:36] MarkEWaite commented on #3222
@LarrySul step viii of the [migrating documentation from the wiki](https://github.com/jenkins-infra/jenkins.io/blob/master/CONTRIBUTING.adoc#moving-documentation-from-jenkins-wiki) describe it as:

[2020-05-22 12:53] LarrySul commented on #3222
Appreciate the explanation @MarkEWaite , everything keeps adding up now .

[2020-05-22 13:51] krharsh17 commented on #3322
I would like to work on this issue.

[2020-05-22 15:43] MarkEWaite opened #3326 "Redirect 'Pipeline basic steps plugin' from wiki to plugins.jenkins.io"
* Page to migrate: [`Pipeline Basic Steps Plugin`](https://wiki.jenkins.io/display/JENKINS/Pipeline+Basic+Steps+Plugin)
* Destination on jenkins.io: [`PIpeline: Basic Steps`](https://plugins.jenkins.io/workflow-basic-steps/)

## Migration notes

Documentation migration is complete, just need to create the redirect as described in the last step of the [Wiki Migration Guidelines](https://github.com/

[2020-05-22 15:58] MarkEWaite opened #3327 "Redirect 'Pipeline: API' from wiki to plugins.jenkins.io"
* Page to migrate: [`Pipeline: API`](https://wiki.jenkins.io/display/JENKINS/Pipeline+API+Plugin)
* Destination on jenkins.io: [`Pipeline: API`](https://plugins.jenkins.io/workflow-api/)

## Migration notes

Redirect from the wiki page to the plugins.jenkins.io page for the Pipeline API plugin.  No content change needed, just a pull request to redirect based on the last step of the [Wiki Migration

[2020-05-22 17:25] vsilverman opened #3329 "Project Governance Document page - not valid reference to "LTS Release""
Problem with the [Project Governance Document](https://www.jenkins.io/project/governance/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/project/governance.adoc)

TODO: Describe the expected and actual behavior here
Expected: "LTS Release" should reference page on jenkins.io
Actual" "LTS Release" references not valid page

## Screenshots

 TODO: Add screenshot

[2020-05-22 17:43] MarkEWaite commented on #3315
Another attempt to fix it has been offered in https://github.com/jenkins-infra/jenkins.io/pull/3328 .

[2020-05-22 18:08] vsilverman commented on #3315
Results of rewriting [Installing Jenkins](https://www.jenkins.io/doc/book/installing/) page also should not conflict with results of rewriting [Jenkins and Docker](https://www.jenkins.io/solutions/docker/) page.

[2020-05-22 21:00] vsilverman commented on #3329
This issue os being addressed by [PR 3330](https://github.com/jenkins-infra/jenkins.io/pull/3330)

[2020-05-23 11:16] dduportal commented on #3204
Hi @MarkEWaite !

About the outline for this topic, my vote is on: "single page" titled `Reverse Proxy Configuration with Jenkins` with the following table of content (bullets in the single page):

- General Guidelines
- Configuration Examples:
  * Apache
  * NGINX
  * HAProxy
  * Traefik

I'm totally OK to guide and help, even pairing with @zaycodes if it is ok for y'all ?

[2020-05-23 11:24] dduportal commented on #3204
Hi @timja !

Yes, same here. However, "stating the obvious" is still a good call to confirm explictly that it is expected to work.
Also, some topics could be pointed with simple examples and pointers to documentations (not only for Traefik) now or later. Such as:
- Healthchecks on Jenkins (e.g. how to avoid sending traffic to Jenkins when it is not ready)
- Terminating TLS for Jenkins or TLS pass

[2020-05-23 11:48] timja commented on #3204
Sounds good!

[2020-05-23 16:39] kushthedude commented on #3323
Hi @MarkEWaite I would like to work on this issue!

[2020-05-23 19:27] guptaprakhariitr commented on #3195
I find that the content under the heading 'what does this package do? ' and  'Important Note on CentOS Java' is left to be placed, please correct me in case I am not correct.

[2020-05-23 23:38] getJv commented on #3323
Hello @MarkEWaite, I'd read both pages and I didn't find anything useful to migrate from the older one.
Only section [Jenkins CLI vs Jenkins SSH](https://wiki.jenkins.io/display/JENKINS//Jenkins+SSH#JenkinsSSH-JenkinsCLIvsJenkinsSSH) has no reference at the new content. But it don't offer a 'useful' content. It just says the SSH way its no so rich like CLI way.

So, what did you prefer? Add the mi

[2020-05-24 04:13] vsilverman opened #3335 "https://www.jenkins.io - Broken Links"
The [Jenkins documentation](https://www.jenkins.io) website contains pages with broken links
TODO:
See bug report in the file attached to:
 [WEBSITE-751](https://issues.jenkins-ci.org/browse/WEBSITE-751)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

Go through the list of issues, associated with
[WEBSITE-751](https:

[2020-05-24 04:37] JohannChuCloudMile opened #3336 "Users are directed to Simplified Chinese webpage regardless of language setting"
Problem with this page:
https://www.jenkins.io/

Users in Taiwan cannot access the English version of webpage; got directed to current simplified Chinese version of webpage regardless of language setting at upper right. The language setting in browser was already selected English as the primary language and the situation persists.

## Screenshots

![螢幕截圖 2020-05-24 12 18 36](https://user-images.gi

[2020-05-24 10:44] krharsh17 commented on #3304
I'd like to work on this issue. However, I think I will need a little help with requirements such as
- Upgrading a standalone war file
- Upgrading a Docker image

and others which have not been referenced to their docs. It would be helpful for me if someone could point me to where I can find these instructions.

[2020-05-24 10:57] krharsh17 commented on #3313
Sure @MarkEWaite I'll take care to do that 😅

[2020-05-24 11:17] krharsh17 commented on #3186
Hi! I'd like to work on this issue. @oleg-nenashev could you please confirm whether [Parameterized Build](https://wiki.jenkins.io/display/JENKINS//Parameterized+Build) will go into the [Using Jenkins](https://www.jenkins.io/doc/book/using/) section or not?

[2020-05-24 11:35] krharsh17 commented on #3189
Hi
I went through the [said page](https://wiki.jenkins.io/display/JENKINS//Building+a+software+project) and I noted these observations on all of the topics in the page.
- Setting up the project (Remove CVS/SCM)
    - Builds for Non-Source Control Projects (Remove CVS/SCM)
    - Jenkins Set Environment Variables (Copy as is)
    - Promoted Build Plugin Environment Variables (Copy as is)
        - S

[2020-05-24 16:06] oleg-nenashev commented on #2903
done

[2020-05-24 16:06] #2903 closed

[2020-05-24 21:32] oleg-nenashev opened #3340 "Issue Reporting page - No documentation for GitHub Issues"
Problem with the [Issue Reporting](https://www.jenkins.io/participate/report-issue/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/participate/report-issue.adoc)

The guide is built solely around Jenkins Jira. Some critical components like JCasC use GitHub Issues: https://github.com/jenkinsci/configuration-as-code-plugin/issues . The reporting flow for them is

[2020-05-25 01:05] MarkEWaite commented on #3326
Pull request is https://github.com/jenkins-infra/jenkins-infra/pull/1489

[2020-05-25 01:06] MarkEWaite commented on #3327
Pull request is https://github.com/jenkins-infra/jenkins-infra/pull/1489

[2020-05-25 03:02] vsilverman commented on #3329
This issue is resolved by successfully merged and closed [PR 3330](https://github.com/jenkins-infra/jenkins.io/pull/3330)

[2020-05-25 03:02] #3329 closed

[2020-05-25 03:03] MarkEWaite commented on #3323
@getJv I'd like the small segment that you mentioned migrated because it provides information that I had not considered and is not in the existing jenkins.io docs.

I think we should place it after:

## [Common Commands](https://www.jenkins.io/doc/book/managing/cli/#common-commands)

... existing description of common commands

### who-am-i

... existing description of who am I

## Differences bet

[2020-05-25 05:28] urwa commented on #3319
The "page to migrate" and "destination on jenkins.io" both point to same link.

I think the correct link for Managing Nodes is https://www.jenkins.io/doc/book/managing/nodes/

[2020-05-25 10:02] #3293 closed

[2020-05-25 11:03] #3326 closed

[2020-05-25 11:03] #3327 closed

[2020-05-25 11:08] #3312 closed

[2020-05-25 11:14] #3310 closed

[2020-05-25 11:14] #3311 closed

[2020-05-25 11:14] #3313 closed

[2020-05-25 11:16] #3211 closed

[2020-05-25 14:20] rathneesh commented on #3217
@oleg-nenashev
I can work on it

[2020-05-25 14:46] megathaum commented on #3307
Working on this.

[2020-05-25 14:48] krharsh17 commented on #3306
I'm working on this

[2020-05-25 15:28] megathaum opened #3348 "Content duplication: Securing Jenkins in both "Manage Jenkins" and "System Adminitration""
We talk about "managing security in Jenkins" at two places in the documentation:
* https://www.jenkins.io/doc/book/system-administration/security/
* https://www.jenkins.io/doc/book/managing/security/

The two sections have overlapping content. Perhaps we should merge it or else make distinction in focus clearer.

This was triggered while working on issue for moving Matrix Based Security documentat

[2020-05-25 17:13] stellargo commented on #2908
I would love to take up this issue! I will be working on this :)

[2020-05-25 17:59] stellargo commented on #2908
Created a PR at https://github.com/jenkins-infra/jenkins.io/pull/3351

[2020-05-25 18:54] #2908 closed

[2020-05-25 21:54] vsilverman commented on #3348
That's a good question.  Looks like DRY concept is not totally followed. It would be better to remove duplication

[2020-05-26 14:23] LarrySul commented on #3321
Hello @MarkEWaite I would love to work on this issue ...

[2020-05-26 14:34] nissar450 opened #3355 "Not Found page - TODO: Put a summary here"
Problem with the [Not Found](https://www.jenkins.io/404/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/404.html.haml)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2020-05-26 14:38] MarkEWaite commented on #3204
Yes @dduportal , that would be great.  We'd love to have your help and your experience on this section.  I love the structure you've proposed and think it sounds great.

[2020-05-26 14:42] scottashipp commented on #3315
@oleg-nenashev I would normally be very interested but unfortunately I am in crunch time for the foreseeable future.

[2020-05-26 15:09] oleg-nenashev commented on #3355
@nissar450 what was the page you were unable to find?

[2020-05-26 15:45] MarkEWaite opened #3357 "Migrate "Using local language" to jenkins.io"
* Page to migrate: [`Using local language`](https://wiki.jenkins.io/display/JENKINS//How+to+view+Jenkins+in+your+language)
* Destination on jenkins.io: [`Using local language`](https://www.jenkins.io/doc/book/using/)

## Migration notes

After completing the transition, create a redirect per the directions in the  [Wiki Migration Guidelines](https://github.com/jenkins-infra/jenkins.io/blob/master/

[2020-05-26 15:46] MarkEWaite commented on #3357
Pull request is #3356

[2020-05-26 16:47] megathaum commented on #3288
Working on this

[2020-05-26 17:42] megathaum commented on #3288
PR https://github.com/jenkins-infra/jenkins.io/pull/3359

[2020-05-26 18:02] #3357 closed

[2020-05-26 18:17] megathaum commented on #2923
Working on this.

[2020-05-26 18:36] megathaum commented on #2923
https://github.com/jenkins-infra/jenkins.io/pull/3362 submitted.

[2020-05-26 18:41] megathaum commented on #3305
Working on it.
As discussed on gitter, [Job Exit Status] is for SGE Cloud plugin. Instead, we will use the concise definition of the job status values (Success, Unstable, Failed, Not Built, and Aborted) from  [Javadoc](https://javadoc.jenkins-ci.org/hudson/model/Result.html)

[2020-05-26 19:02] vsilverman opened #3363 "Kubernetes Solution"
Provide Kubernetes Solution to the list of [current solutions](https://www.jenkins.io/solutions/)

## Links

* Link 1

[2020-05-26 19:22] megathaum commented on #3305
More definition in https://wiki.jenkins.io/display/JENKINS/Terminology

[2020-05-26 21:18] dwnusbaum commented on #3194
I'll go ahead and work on migrating this page as part of the Hackfest.

[2020-05-26 21:56] zaycodes commented on #3204
Hello @dduportal, I'll be happy if you can guide me on working on this issue. How do I get started?

[2020-05-26 23:41] Taeloz commented on #3219
I will work on this issue.

[2020-05-26 23:52] megathaum commented on #3305
PR https://github.com/jenkins-infra/jenkins.io/pull/3368 submitted

[2020-05-27 00:02] megathaum commented on #3200
I'd like to work on this.

[2020-05-27 00:03] megathaum commented on #3273
I can work on this.

[2020-05-27 07:17] ndeloof commented on #3235
I should have asked for 1$ for each use of this image :D

[2020-05-27 08:22] dduportal commented on #3204
@Hi @zaycodes ! Yes I would happy to guide and mentor you in this issue.

In the context of the hackfest, it could be great for you to start by watching the recording of yesterday's session about doc migration here: https://www.youtube.com/watch?v=KB-NPlRvLoY (and slides here https://docs.google.com/presentation/d/1fiVoDFrSNTOHsHT4cIqyOIBKYXG0q5zVn_XPue_Khkw/edit#slide=id.g8061b508ca_0_149 ), unle

[2020-05-27 09:40] megathaum commented on #3336
Is this the same issue as in https://github.com/jenkins-infra/cn.jenkins.io/issues/238 ?

According the fix (https://github.com/jenkins-infra/jenkins-infra/pull/1373) of that issue, the auto-direct is now when the browser's accept_language HTTP request header has `zh` as the most preferred language.

However, when I tested this, even if my HTTP request header doesn't have `zh` as the first / prefe

[2020-05-27 13:04] timja commented on #3336
The config for it is here:

https://github.com/jenkins-infra/charts/blob/master/charts/jenkinsio/templates/nginx-configmap.yaml#L8-L11

[2020-05-27 13:14] timja commented on #3336
It looks like if you have zh in your accept language it will force you to have the chinese version, I guess you can use a browser extension to set a different language,

Possibly we could set a cookie when you click that link,

Thoughts @LinuxSuRen?

[2020-05-27 13:39] megathaum commented on #3336
I would prefer the cookie approach. What I don't understand is that, I have `zh` as one of the languages (but not the first), however, I always end up on the English version. But when I connect through a Taiwanese VPN connection I end up in exactly the same situation as described above. This makes me wonder if there's some local caching effect. According to the docs, as it returns a 302, it should

[2020-05-27 15:02] urwa commented on #3320
I am starting on this.

[2020-05-27 15:35] vsilverman opened #3372 "Join us for online UI/UX Hackfest on May 25-29! page - TODO: Fix unreachable endpoint"
Problem with the [Join us for online UI/UX hackfest on May 25-29!](https://www.jenkins.io/blog/2020/05/12/uiux-hackfest-announcement/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/blog/2020/05/2020-05-12-uiux-hackfest-announcement.adoc)

TODO: Describe the expected and actual behavior here
Not valid link in
[Acknoledgements](https://www.jenkins.io/blog/2020/0

[2020-05-27 15:41] urwa commented on #3221
I have looked at the wiki page and it seems all of it has already been migrated.

- Starting and Accessing Jenkins is part of "Installing platforms" > "War File"
- Command line parameters are part of "Jenkins parameters"
- Everything related to http is in "Configuring HTTP"

Only thing I can see missing is "A very simple init script".

[2020-05-27 19:50] #3194 closed

[2020-05-27 19:55] LarrySul commented on #3320
Hi @MarkEWaite I will like to take this up

[2020-05-27 21:02] megathaum commented on #3273
PR https://github.com/jenkins-infra/jenkins.io/pull/3376 submitted for review.

[2020-05-27 21:44] v1v commented on #3214
I'm working on this one

[2020-05-28 03:52] MarkEWaite commented on #3221
Thanks for reviewing the material.  The "very simple init script" is not needed.  We provide Linux packages for many common Linux distributions.  Users of atypical Linux distributions are also able to formulate their own systemd or init scripts.

We need the redirect pull request and then this can be closed as "done".  Thanks!

[2020-05-28 03:54] JohannChuCloudMile commented on #3336
Thanks to @megathaum ; this seems like the same issue. I had tested the website at UTC 16:00 on May 27th and was able to use the English version; but now (UTC 04:00 May 28th) I got directed to the Chinese page again.

What's bothering me is that not everyone using internet in Taiwan prefers to read (simplified) Chinese; it is weird that someone has to use VPN just for a different language.

[2020-05-28 06:26] megathaum commented on #3336
Thank you @JohannChuCloudMile for the extra input and test. I thought I was going crazy when earlier in the day I could perfectly reproduce your issue but later when I tried again everything worked as expected. This makes me think it might be a caching issue somewhere on a local server. I will dig more into it.

Perhaps we could also restrict to accepted language to Simplified Chinese instead of `

[2020-05-28 06:31] urwa commented on #3191
I would like to work on this. My guess is it should be moved here: [https://www.jenkins.io/doc/book/managing/system-configuration/](https://www.jenkins.io/doc/book/managing/system-configuration/)

Can you please confirm.

[2020-05-28 06:34] urwa commented on #3192
This above link (https://wiki.jenkins.io/display/JENKINS//Installing+Jenkins+on+Ubuntu) says that the content is out of date and handbook has to necessary information (which is true).

Is there any thing I can help in migrating or should be marked complete?

[2020-05-28 07:03] urwa commented on #3197
I reviewed both the pages on wiki.jenkins [https://wiki.jenkins.io/display/JENKINS//Jenkins+CLI](https://wiki.jenkins.io/display/JENKINS//Jenkins+CLI) and jenkins.io [https://www.jenkins.io/doc/book/managing/cli/](https://www.jenkins.io/doc/book/managing/cli/) and the only sections that are not migrated are the following:

- Getting help
- Extending the CLI
- Working with Credentials (divided furt

[2020-05-28 07:03] timja commented on #3336
We think we have solved it, (thanks to @halkeye)
and huge thanks to @megathaum for your testing

We're using a CDN called Fastly for the website,

By default the cache key is the URL host, and full path (including query string)

If another user gets directed to the same cache as you and has their browser configured to prefer 'Chinese' (anything starting with zh) then that will cause the cache to s

[2020-05-28 07:22] urwa commented on #3198
I think this should be part of [https://www.jenkins.io/doc/book/installing/#windows](https://www.jenkins.io/doc/book/installing/#windows). Can you please confirm.

[2020-05-28 07:44] urwa commented on #3199
Can you please tell where should this be migrated? Will a section in this https://www.jenkins.io/doc/book/managing/ work?

[2020-05-28 08:24] urwa commented on #3202
I would like to work on this. I planned to migrate it to: https://www.jenkins.io/doc/tutorials/

But I found the following: https://www.jenkins.io/doc/developer/tutorial/ (through the folder hierarchy).
I am not sure if this accessible through the main https://jenkins.io site.

How should I go forward with this.

[2020-05-28 08:48] oleg-nenashev commented on #3191
It needs triage IMHO. I doubt it can be moved as a single page

[2020-05-28 08:48] urwa commented on #3271
Can you please share the link? I can not seem to locate what is being shown in the screen shot.
I am looking at https://www.jenkins.io/events/online-hackfest/2020-uiux/#online-events

[2020-05-28 08:52] urwa commented on #3319
Working on this.

[2020-05-28 09:25] krharsh17 commented on #3196
Hi, I'd like to work on this issue. Could you please let me know where this page has to be placed in jenkins.io??

[2020-05-28 10:01] oleg-nenashev commented on #3304
@MarkEWaite I would suggest to merge "Upgrading" into "Installing sections" .

@krharsh17

* https://www.thegeekstuff.com/2016/06/upgrade-jenkins-and-plugins/ looks reasonable, some steps could be taken from there

You could just reference https://github.com/jenkinsci/docker#upgrading . No need to duplicate the information

[2020-05-28 10:03] krharsh17 commented on #3304
@oleg-nenashev There's more
- Upgrading a CentOS/Red Hat package
- Upgrading an OpenSUSE package
- Upgrading a FreeBSD package
- Upgrading an OpenIndiana package

[2020-05-28 10:06] krharsh17 commented on #3213
Hi! I'd like to work on this.

[2020-05-28 10:10] krharsh17 commented on #3208
Hi! @MarkEWaite Could you please let me know where to place this in jenkins.io? I'd like to work on this.

[2020-05-28 10:12] krharsh17 commented on #3206
I'd like to work on this.

[2020-05-28 10:24] krharsh17 commented on #3207
I'm working on this

[2020-05-28 10:41] guptaprakhariitr commented on #3205
I want to work on this issue .

[2020-05-28 11:44] MarkEWaite commented on #3304
I like the suggestion from @oleg-nenashev that we include upgrade in the installation instructions instead of creating a separate page for upgrade.

## Upgrading a CentOS / Red Hat installation

[code]

## Upgrading a Fedora installation

[code]

## Upgrading an OpenSUSE package

[code]

## Upgrading a FreeBSD package

[code]

## Upgrading an OpenIndiana package

[code]

[2020-05-28 12:15] #3372 closed

[2020-05-28 15:43] guptaprakhariitr commented on #3193
https://github.com/jenkins-infra/jenkins.io/pull/3384  resolves this issue

[2020-05-28 17:02] #2884 closed

[2020-05-28 17:02] #3184 closed

[2020-05-28 18:30] vsilverman commented on #3304
I agree with @oleg-nenashev and @MarkEWaite .  Also it may be useful adding TOC to [The Docker Readme](https://github.com/jenkinsci/docker) to facilitate UX experience of reading a large file.  Here's a useful method. Should produce clickable references in any MarkDown editor.
---------
# Table of contents
1. [Introduction](#introduction)
2. [Some paragraph](#paragraph1)
    1. [Sub paragraph](#su

[2020-05-28 18:58] dduportal commented on #3204
Hello @MarkEWaite , I found a few other wiki pages related to the "reverse proxy" topics, that are not tracked under any issues here. I'm listing these pages here, please let me know if we need to create one issue for each page, or add the pages in any tracking process?

These 3 pages have content that is worth migrating from my point of view:

- Jenkins behind HAProxy: https://wiki.jenkins.io/dis

[2020-05-28 19:39] MarkEWaite commented on #3204
No, this issue is enough to track all of them.  Thanks for gathering those.  I've updated my [tracking spreadsheet](https://docs.google.com/spreadsheets/d/1LtccAJzuZnyT1yTLltcUI9cdIDlayxXX4cLIBAOA1h8/edit#gid=0) to include those pages as well.

[2020-05-28 19:42] MarkEWaite commented on #3204
@dduportal don't forget to note your contribution to the Hackfest in the [tracking repository](https://github.com/jenkinsci/ui-ux-hackfest-2020/blob/master/README.md#contributors) by submitting an "[(contributor tracking) issue](https://github.com/jenkinsci/ui-ux-hackfest-2020/issues/new/choose)" that notes you are helping on this issue.

[2020-05-28 20:25] #3214 closed

[2020-05-28 23:14] zaycodes commented on #3201
I'll like to work on this issue

[2020-05-28 23:55] zaycodes commented on #3308
I'll like to work on this issue

[2020-05-28 23:59] zaycodes commented on #2889
Is anyone working on the redirects in this issue, if not, I would like to work on it

[2020-05-29 07:17] megathaum opened #3389 "In-page anchors hidden under top navbar"
Problem with pages that have in-page anchors and links, e.g.

- [Glossary](https://www.jenkins.io/doc/book/glossary/)
- [Jenkins Features Controlled with System Properties](https://www.jenkins.io/doc/book/managing/system-properties/) after merge of PR
https://github.com/jenkins-infra/jenkins.io/pull/3376

Steps to reproduce:

1. On the [Glossary](https://www.jenkins.io/doc/book/glossary/) page, un

[2020-05-29 07:24] #3207 closed

[2020-05-29 07:25] #3213 closed

[2020-05-29 07:44] oleg-nenashev commented on #3315
@scottashipp No worries! We plan to get this issue fixed anyway, hopefully it will happen soon

[2020-05-29 08:25] v1v commented on #3208
@krharsh17 , I'd say you could place it in https://www.jenkins.io/doc/book/system-administration/security/

[2020-05-29 08:27] v1v opened #3390 "Convert 'Matrix-based security' wiki page to jenkins.io"
* Page to migrate: [Matrix-based+security](https://wiki.jenkins.io/display/JENKINS/Matrix-based+security)
* Destination on jenkins.io: `https://www.jenkins.io/doc/book/system-administration/security/` `Matrix-based security`

## Migration notes

* N/A

## For contributors

* [Wiki Migration Guidelines](https://github.com/jenkins-infra/jenkins.io/blob/master/CONTRIBUTING.adoc#moving-documentation-f

[2020-05-29 08:27] v1v commented on #3390
I'd like to work on this one

[2020-05-29 08:55] olblak commented on #3336
@timja seems to be totally right, caching doesn't consider your language preference, and if there is a already a chinese or english version in your area then you are gonna have it no matter or your preference. We have to configure Fastly to maintained cached version for both languages

[2020-05-29 09:50] olblak commented on #3336
It seems that we also need to add that vary header at the nginx level

[2020-05-29 09:53] timja commented on #3336
we need to do both, add vary and add the VCL to fastly to filter languages down

[2020-05-29 10:05] olblak commented on #3336
I added to Fastly
[code]
which ensure that we only have cached version for en and zh (and not for all the other languages)
and now we have to update the vary header on nginx configuration

[2020-05-29 10:35] oleg-nenashev commented on #3390
@v1v  There is already a pull request submitted by @megathaum in https://github.com/jenkins-infra/jenkins.io/pull/3352

[2020-05-29 12:21] v1v commented on #3390
Definitely I was blind :_(

Closing it now, thanks!

[2020-05-29 12:21] #3390 closed

[2020-05-29 13:29] MarkEWaite commented on #3355
Closing after 3 days without a response from @nissar450 .  If a response is received, we can reopen it

[2020-05-29 13:29] #3355 closed

[2020-05-29 13:32] #3322 closed

[2020-05-29 13:33] #3273 closed

[2020-05-29 13:35] timja commented on #3273
Thanks @megathaum hugely appreciate this!

[2020-05-29 13:54] #3300 closed

[2020-05-29 13:54] #3301 closed

[2020-05-29 13:58] #3201 closed

[2020-05-29 15:24] MarkEWaite commented on #3192
@urwa the redirect is still needed per the wiki migration instructions.  Once the redirect is merged, this can be closed.

See the last steps of [Wiki Migration Guidelines](https://github.com/jenkins-infra/jenkins.io/blob/master/CONTRIBUTING.adoc#moving-documentation-from-jenkins-wiki)

[2020-05-29 15:45] MarkEWaite commented on #3195
@guptaprakhariitr the "note on Java" very much needs to be included in the "Installing Jenkins" page.  It applies in some form to all three of the Linux package installers.  It also applies to Windows with the current weekly installer.  In all of those cases, the user needs to install a supported Java version (Java 8 or Java 11)

The "What does this package do" needs to be placed in the installing

[2020-05-29 15:50] MarkEWaite commented on #3196
Thanks for your willingness to help @krharsh17 !

The `docker pull` and `docker run` commands need to be confirmed that they are included in the "Installing Jenkins" page.

The "nginx as reverse proxy" section needs to be included in #3204 that is covering many different reverse proxy configuration options.

[2020-05-29 16:16] urwa commented on #3192
About that. I checked the `vhost.conf` file and it already has this line `RewriteRule "^/display/JENKINS/Installing\+Jenkins\+on\+Ubuntu$" "https://www.jenkins.io/doc/book/installing/#debianubuntu" [NE,NC,L,QSA,R=301]` but it is still not redirecting.

Sorry about lack of knowledge here. Some tips would be very helpful. Thanks.

[2020-05-29 17:16] vrushti-mody commented on #3335
I will be working on this issue.

[2020-05-29 18:08] MarkEWaite commented on #3198
@urwa thanks for reviewing it.

I think we should split that page as follows:
* "Install Jenkins as a Windows service" - discard, use the Windows installer to install a Jenkins master as a service
* "Install Slave as a Windows service (require .NET 2.0 framework)" - migrate to "[Managing Nodes](https://www.jenkins.io/doc/book/managing/nodes/)" as a section "Inbound agents as a Windows service" and

[2020-05-29 18:41] dduportal commented on #3204
@MarkEWaite sure, thank for the reminder!
https://github.com/jenkinsci/ui-ux-hackfest-2020/issues/189

[2020-05-29 19:10] vsilverman commented on #3335
@vrushti-mody Sounds good. Pls keep in mind - this is aggregated issue, containing more than 300 smaller issues.  I would suggest select initially couple smaller issues and start working on them.

[2020-05-29 19:44] #3219 closed

[2020-05-29 21:25] vsilverman opened #3394 "Fix 'AWS CodeDeploy Plugin for Jenkins' content"
Not valid link inside

[2020-05-29 21:31] megathaum commented on #3389
https://www.jenkins.io/doc/book/managing/system-properties/ already fixed is https://github.com/jenkins-infra/jenkins.io/pull/3393

To avoid this problem, don't use "manual" anchors but use heading element. See https://github.com/jenkins-infra/jenkins.io/pull/682

[2020-05-29 21:46] vsilverman commented on #3394
Problem with the [AWS Code Deploy](https://www.jenkins.io/doc/pipeline/steps/codedeploy/) page, [source file]()

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

[2020-05-29 22:20] halkeye commented on #3336
@megathaum do you want to add the Vary header to nginx? i can review it

[2020-05-29 23:55] MarkEWaite commented on #3389
@daniel-beck has a solution for this one in #3396.

[2020-05-30 00:12] Chinmay922 commented on #3340
I would like to work on this.

[2020-05-30 00:29] megathaum commented on #3389
Thanks @MarkEWaite. I have indeed seen @daniel-beck's solution for system properties page, hence my comment above.

I created this issue originally because of your comment https://github.com/jenkins-infra/jenkins.io/pull/3368#pullrequestreview-419748006 while reviewing my changes to the [Glossary](https://www.jenkins.io/doc/book/glossary/) page.

I have tested locally @daniel-beck's  solution for

[2020-05-30 00:43] megathaum commented on #3336
@halkeye Interesting exercise. But as I can't easily test the full flow (or perhaps too lazy), I'd like to check with you first. I need to add `add_header Vary "Accept-Language";` to the `location` section in `jenkins-infra/dist/profile/templates/kubernetes/resources/jenkinsio/configmap.yaml.erb`, is that correct?

[code]
Testing with my test nginx server shows after a similar change that the resp

[2020-05-30 04:00] halkeye commented on #3336
Yea, that sounds right to me, Except its in charts, dist would be the old infrastructure (that confluence and jira are on) - https://github.com/jenkins-infra/charts/blob/3ac9bfffa84cda303256667c15bb54812fc43904/charts/jenkinsio/templates/nginx-configmap.yaml

There's no default Vary, so your not overriding anything you need to include, so I think that's it.

You did all the investigation, just wan

[2020-05-30 06:34] daniel-beck commented on #3389
Nontrivial anchor names may change.

[2020-05-30 06:42] megathaum commented on #3336
Thank you @halkeye. I should have noticed that @timja already mentioned the file in `charts` and not `dist`. I will make and push my changes for review.

I appreciate it 😄

I also want to make another suggestion here to address the point @JohannChuCloudMile made above. Can we specifically include only `zh-CN` and `zh-HANS` instead of just `zh`?

The reason for this is that Chinese not only has reg

[2020-05-30 06:57] megathaum commented on #3336
@halkeye Changes pushed in PR https://github.com/jenkins-infra/charts/pull/230

[2020-05-31 08:32] guptaprakhariitr commented on #3195
Thanks, will follow the advice.

[2020-05-31 09:04] megathaum commented on #3389
Thanks @daniel-beck. I checked that all existing terms have the same generated anchor names. I have now made these changes in PR https://github.com/jenkins-infra/jenkins.io/pull/3399.

[2020-05-31 18:08] getJv commented on #2889
Hello @zaycodes, yes i'm work on then.
There are alot of tasks inside this issue. I already did those ones:
- Redirect from Jenkins on Red Hat wiki page to Installing Jenkins  (PR [#1484](https://github.com/jenkins-infra/jenkins-infra/pull/1484/commits) )
- Redirect from Jenkins on Ubuntu wiki page to Installing Jenkins  (PR [#1484](https://github.com/jenkins-infra/jenkins-infra/pull/1484/commits)

[2020-06-01 07:28] oleg-nenashev opened #3400 "Developer Guide: Add a page about delivering experimental features"
It would be great to have a central page which would aggregate all ways and tools which help Jenkins developers to deliver experimental and preview features to the Jenkins users and other plugin developers.

## Links

* Experimental update center: https://www.jenkins.io/doc/developer/publishing/releasing-experimental-updates/
* Beta annotations for experimental API: https://www.jenkins.io/blog/201

[2020-06-01 08:16] oleg-nenashev commented on #3340
Just do it @Chinmay922 ! Not that it is a not a newcomer-friendly task, it may need a few iterations

[2020-06-01 10:59] #3389 closed

[2020-06-01 12:21] ParvejAutomation opened #3402 "Jenkins page - TODO: Put a summary here"
Problem with the [Jenkins](https://www.jenkins.io/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/index.html.haml)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2020-06-01 13:01] MarkEWaite commented on #3402
@ParvejAutomation please provide more details on this issue.  It seems to be a submit of the original issue template with no additional information.

[2020-06-01 13:40] #3402 closed

[2020-06-01 13:51] MarkEWaite opened #3404 "Jenkins Home page hamburger menu does not open on small screens"
Small screen resolutions show a "hamburger" menu for navigation of the [www.jenkins.io](https://www.jenkins.io/) home page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/index.html.haml), but it does not display the navigation links

Expected: Dropdown menu of navigation destinations

## Screenshots

![Annotation 2020-06-01 074734](https://user-images.githubusercont

[2020-06-01 14:09] MarkEWaite commented on #3394
Thanks.  Issues in that section of the documentation need to be fixed in the source code of the specific plugin.  We also need to adjust the "Fix this page" to direct the submitter to the specific plugin that provides the content in that page.

[2020-06-01 14:43] oleg-nenashev opened #3405 "Participate/Document page - No links to newcomer-friendly tasks on GitHub Issues"
Problem with the [Document](https://www.jenkins.io/participate/document/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/participate/document.adoc)

Newcomers section includes links to Jenkins Jira quesries, but not to GitHub Issues. So visitors cannot discover documentation issues for jenkins.io, plugin site, plugins and other resources using GitHub issues.

#

[2020-06-01 21:52] vsilverman opened #3411 "Outreach programs page - Fix GSoD section"
Problem with the [Outreach programs](https://www.jenkins.io/sigs/advocacy-and-outreach/outreach-programs/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/sigs/advocacy-and-outreach/outreach-programs/index.adoc)

TODO: We(Jenkins project?) had been accepted to the GSoD 2020 program.  Modify the content to reflect this acceptance.

## Screenshots

 TODO: Add scre

[2020-06-02 08:35] oleg-nenashev commented on #3411
@vsilverman FWIW there is no need to create tickets if it is easier to fix it right a way via a pull request. We do not require GitHub Issues for every fix

[2020-06-02 13:00] desiby opened #3413 "Getting started with the Guided Tour page - error 503"
Problem with the [Getting started with the Guided Tour](https://www.jenkins.io/doc/pipeline/tour/getting-started/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/pipeline/tour/getting-started.adoc)

expected: "pipeline" page of guided tutorial should open up"
actual: server error page shows up

## Screenshots

<img width="480" alt="Annotation 2020-06-02 085

[2020-06-02 13:05] oleg-nenashev commented on #3413
AFAICT we have been experiencing jenkins.io stability issues since this morning

[2020-06-02 13:29] flozanorht opened #3414 "Varnish error 503 accessing documentation pages"
When I access some documentation pages, for example:
* https://www.jenkins.io/doc/book/glossary
* https://www.jenkins.io/doc/book/system-administration/authenticating-scripted-clients

I get HTTP 500 errors from varnish:

[code]
Some pages work from a web browser but fail from curl, for example:
* https://www.jenkins.io/doc/book/pipeline/syntax/

[2020-06-02 13:34] flozanorht commented on #3414
That issue affects more than the documentation pages. I got it trying to access the blog:
https://www.jenkins.io/node

[2020-06-02 13:58] MarkEWaite commented on #3414
Thanks for reporting the issue.  Olivier Vernin and Tim Jacomb are investigating a failure on the Kubernetes cluster that hosts www.jenkins.io and other Jenkins services.  The jenkins-infra channel on freenode is where they are discussing and diagnosing.

[2020-06-02 14:00] MarkEWaite commented on #3414
duplicates #3413

[2020-06-02 15:53] pfleish commented on #3414
This is also effecting the Download for Windows as well

[2020-06-02 16:08] flozanorht commented on #3413
I'm in Brazil getting those 503

[2020-06-02 16:40] vsilverman commented on #3411
@oleg-nenashev Very good to know.  It was fixed via PR #3415

[2020-06-02 16:57] jdfeathe opened #3416 "Plugin Wiki"
## Suggestion

## Links

* Links 1

[2020-06-02 18:11] #3411 closed

[2020-06-02 19:15] lsarot opened #3417 "Cleaning up and notifications page - TODO: Some of site pages are not working"
Problem with the [Cleaning up and notifications](https://www.jenkins.io/doc/pipeline/tour/post/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/pipeline/tour/post.adoc)

This one works:
https://www.jenkins.io/doc/pipeline/tour/post/

Not working:
https://www.jenkins.io/doc/pipeline/tour/deployment/
https://www.jenkins.io/doc/pipeline/tour/
https://www.jenki

[2020-06-02 19:36] dimmel82 commented on #3417
Also https://plugins.jenkins.io is unavailable.
Error "Error 503 Backend unavailable, connection timeout" is displayed.

[2020-06-03 11:11] oleg-nenashev commented on #3417
Hi, thanks for the report. There was an infrastructure outage yesterday. It affected some of the services including jenkins.io and the plugin site. Please see https://groups.google.com/forum/#!topic/jenkins-infra/zRqdiyarLDE for details.

The site should be back to normal now

[2020-06-03 11:11] #3417 closed

[2020-06-03 11:11] oleg-nenashev commented on #3414
Hi, thanks for the report. There was an infrastructure outage yesterday. It affected some of the services including jenkins.io and the plugin site. Please see https://groups.google.com/forum/#!topic/jenkins-infra/zRqdiyarLDE for details.

The site should be back to normal now

[2020-06-03 11:11] #3414 closed

[2020-06-03 11:12] oleg-nenashev commented on #3416
Hi @jdfeathe . This issue is incomplete at the moment. Could you please finalize or close it?

[2020-06-03 11:13] oleg-nenashev commented on #3413
Hi, thanks for the report. There was an infrastructure outage yesterday. It affected some of the services including jenkins.io and the plugin site. Please see https://groups.google.com/forum/#!topic/jenkins-infra/zRqdiyarLDE for details.

The site should be back to normal now

[2020-06-03 11:13] #3413 closed

[2020-06-03 11:40] jdfeathe commented on #3416
Thx

[2020-06-03 11:40] #3416 closed

[2020-06-03 14:37] dorocizna opened #3421 "Unable to install Jenkins"
It seems in order to install Jenkins I need up-to-date activex-control from the manufacturer, please help

Child process [6192 - C:\Program Files (x86)\Jenkins\jre\bin\java -Xrs -Xmx256m -Dhudson.lifecycle=hudson.lifecycle.WindowsServiceLifecycle -jar "C:\Program Files (x86)\Jenkins\jenkins.war" --httpPort=8080 --webroot="C:\Program Files (x86)\Jenkins\war"] finished with 1

[2020-06-04 13:08] rathneesh commented on #3405
Working on it

[2020-06-05 09:45] krharsh17 commented on #3196
The "Installing Jenkins" page does have a section on using docker, but it relies on downloading the blueocean image from the Docker Hub Repository. It does so using the `docker container run` command, but not the `docker pull` and `docker run` command. Where should I put it then?

[2020-06-05 14:24] bombshockdubstep opened #3428 "Installing Jenkins - Java requirements link is broken"
Problem with the [Installing Jenkins](https://www.jenkins.io/doc/book/installing/#installation-of-java) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/index.adoc)

TODO: The "some Java versions are incompatible with Jenkins" link is leading to a 404 page:
https://www.jenkins.io/doc/book/installing/doc/administration/requirements/java/

## Po

[2020-06-05 14:45] MarkEWaite commented on #3428
Thanks for the well described bug report.  One of the links mistakenly uses a relative link.  link:doc/administration/java/ should be link:/doc/administration/requirements/java/

Would you like to be the one that fixes it?

[2020-06-05 14:56] MarkEWaite commented on #3196
Since `docker run` will automatically perform a `docker pull` if the image is not available, I think we don't need the `docker pull` command on the "Installing Jenkins" page.

Is there something especially useful that you found in the wiki page related to `docker pull`?  If so, then that might be placed into the "Installing Jenkins" page.  If not, then the work on this issue is done when the redir

[2020-06-05 15:17] bombshockdubstep commented on #3428
Turns out it was indeed a missing slash - sent a request.

[2020-06-05 15:24] #3428 closed

[2020-06-05 18:02] MarkEWaite commented on #2889
@getJv Thanks for asking and sorry for my delay responding.

I think that the "Installing Jenkins as a Unix daemon" section should not be placed in the www.jenkins.io documentation.  The topic is specific to the Unix init system implementation (systemd vs. init) and the target operating system (HP-UX, AIX, NetBSD, Slackware, Gentoo, Arch, etc.).  Administrators using those operating systems are be

[2020-06-05 18:14] #3288 closed

[2020-06-05 22:40] vsilverman commented on #3335
6/05/20 - Report on latest broken links is [here](https://issues.jenkins-ci.org/browse/WEBSITE-751?filter=-2)

[2020-06-06 04:39] getJv commented on #2889
No worries @MarkEWaite,  in order to finish the issue i sent some days ago [a PR updating the last items](https://github.com/jenkins-infra/jenkins-infra/pull/1504), so i guess this issue it is completed. Can you validate it?

( Despite the PR it is merged the redirecting it is not working yet. is there are some delay between merge and publish?)

==== vhost mapping

* Redirect from Installing Jenki

[2020-06-06 12:40] Zmansi opened #3430 "Hi Everyone, My Ionic and Angular project is on github and i want to generate apk using Jenkins"
I am trying clone my github repository and i did. Now i want generate apk using Jenkins.
Please help me out.

[2020-06-06 16:18] rathneesh commented on #3405
@MarkEWaite
Looks like this is already been fixed with
https://github.com/jenkins-infra/jenkins.io/pull/3285/

[2020-06-06 16:30] rathneesh opened #3431 "Participate/Document page Migrating plugin documentation from Wiki to GitHub hyperlink is not working"
[Migrating plugin documentation from Wiki to GitHub](https://github.com/jenkins-infra/jenkins.io/blob/master/doc/developer/publishing/wiki-page/#migrating-from-wiki-to-github) is not working [Source](https://github.com/jenkins-infra/jenkins.io/blob/master/content/participate/document.adoc)

[2020-06-06 17:15] MarkEWaite commented on #3431
Can you explain further why you believe that is not working?

When I open the "[Participate/Document](https://www.jenkins.io/participate/document/)" page on jenkins.io (not from inside GitHub), then the link for "Migrating plugin documentation from Wiki to GitHub" resolves to https://www.jenkins.io/doc/developer/publishing/wiki-page/#migrating-from-wiki-to-github .  That link works.

Maybe you're

[2020-06-06 17:19] MarkEWaite commented on #3430
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

[2020-06-06 17:19] #3430 closed

[2020-06-06 17:20] MarkEWaite commented on #3421
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

[2020-06-06 17:20] #3421 closed

[2020-06-06 17:24] halkeye commented on #3340
Are we officially supporting GitHub issues now? The thread on the mailing list was not resolved

[2020-06-06 20:13] getJv commented on #3261
Hey guys! is there some tutorial or video to qualify us to this issue? i have followed the instructions from [repo](https://github.com/jenkins-infra/asciidoctor-jenkins-extensions). I already have cloned it and executed the the bundle install but i can't  run the shotgun command, or put the localhost9393 to run.

[2020-06-06 20:19] timja commented on #3261
Not sure how to test a version of it in here directly but I used the tests to check my changes when I did a PR there:

https://github.com/jenkins-infra/asciidoctor-jenkins-extensions/tree/master/spec

I just used a vscode extension for ruby and ran them directly in the IDE

[2020-06-06 20:44] getJv commented on #3404
I'm work on it.

[2020-06-06 23:01] getJv commented on #3315
Hello guys. I've followed the guide and didn'd find the ambiguos docker-image recomendation. is it already fixed?  if not and someone else it is workink on it, how can i help with it?

[2020-06-06 23:44] getJv commented on #3265
I'm working on it.

[2020-06-07 00:10] #3098 closed

[2020-06-07 01:01] MarkEWaite commented on #3315
@getJv the recommendation is not ambiguous as much as it is wrong for a production Jenkins instance and it would be best if we could find a way to not require the blue-ocean image for tutorials.  The installing guide and four of the tutorials (Maven, NodeJS, Python, and LabView) use the blue-ocean image.

The tutorials need the blue-ocean image (for now) because they need to run Docker agents and

[2020-06-07 01:12] MarkEWaite commented on #3340
Yes, we're officially supporting GitHub issues for the jenkins.io documentation site.  We used them extensively during the Hackfest last week.  They worked very well.

[2020-06-07 01:15] halkeye commented on #3340
Yea but isn't this page about reporting issues for core / plugins?

[2020-06-07 01:21] MarkEWaite commented on #3340
I think we'd like the page to be about reporting issues in the Jenkins project, whether with core, plugins, documentation, or infrastructure.

[2020-06-07 01:27] MarkEWaite commented on #3405
@oleg-nenashev are the links in the newcomers section of that page sufficient for this to be closed?

[2020-06-07 14:36] #2889 closed

[2020-06-07 16:04] rathneesh commented on #3431
@MarkEWaite
Yes, You are right, I was expecting it to work inside github.com.
Closing the issue

[2020-06-07 16:04] #3431 closed

[2020-06-07 20:45] getJv commented on #3315
I get it. When i read the description at first time i guess understand the documentation was saying that both images were the recommended choices (ambiguous). But after read the related issues the you pointed, looks like we have a [new image] (https://hub.docker.com/r/jenkins/jenkins) (jenkins // jenkis).

I read the [image descripion] and it looks like quite good to me. So in order to do the issu

[2020-06-08 23:18] vsilverman opened #3438 "Team leads page - Incorrect reference under Release section"
Problem with the [Team leads](https://www.jenkins.io/project/team-leads/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/project/team-leads.adoc)

TODO: Expected: Link to [2015-02-17 governance meeting](http://meetings.jenkins-ci.org/jenkins-meeting/2016/jenkins-meeting.2016-02-17-19.00.html) should lead to 2015-02-17 meeting
Actual: Link to [2015-02-17 governa

[2020-06-09 10:35] kremampesamel opened #3441 "https://repo.jenkins-ci.org/public/org/jenkins-ci/main/jenkins-war/ - 404 could not find resource jenkins.war"
Various jenkins*.war files can not be found under https://repo.jenkins-ci.org/public/org/jenkins-ci/main/jenkins-war/

For example https://repo.jenkins-ci.org/public/org/jenkins-ci/main/jenkins-war/2.92/jenkins-war-2.92.war

![Bildschirmfoto 2020-06-09 um 12 33 58](https://user-images.githubusercontent.com/16168042/84137874-9d827e00-aa4d-11ea-8fcf-583f6f35cfe8.png)

[2020-06-09 12:37] bvaksdal-20 opened #3442 "Jenkins installation - Could not find resource jenkins.war"
At https://repo.jenkins-ci.org/public/org/jenkins-ci/main/jenkins-war/, all files seem to be missing (including the .war files I need). All links to files end up on a page with a simple message:
[code]

This has been the case for at least three hours now (but not more than five, it worked in the morning CEST).

[2020-06-09 12:39] oleg-nenashev commented on #3442
Yes, we have been notified about that, official communication is coming soon. Right now archives are not fully accessible, but you can still download the current weekly and LTS releases from https://jenkins.io/download/

[2020-06-09 12:59] oleg-nenashev commented on #3441
Should be fixed now, please see https://groups.google.com/forum/#!topic/jenkinsci-dev/juHejx8zfdg for details

[2020-06-09 12:59] #3441 closed

[2020-06-09 12:59] oleg-nenashev commented on #3442
Should be fixed now, please see https://groups.google.com/forum/#!topic/jenkinsci-dev/juHejx8zfdg for details

[2020-06-09 12:59] #3442 closed

[2020-06-09 12:59] #3404 closed

[2020-06-09 13:00] #3438 closed

[2020-06-09 13:04] bvaksdal-20 commented on #3442
Thanks for the quick response!
Works fine to access now.

[2020-06-09 14:54] kremampesamel commented on #3441
Thank you!

[2020-06-09 15:26] oleg-nenashev commented on #3441
FTR  https://groups.google.com/g/jenkinsci-dev/c/3UvrCTflXGk for more
details

On Tue, Jun 9, 2020 at 4:55 PM kremampesamel <notifications@github.com>
wrote:

[2020-06-10 03:17] MarkEWaite commented on #3315
The biggest challenge that I see is the technical hurdle of trying to provide an agent execution environment from the master.  The current setup is described in the "Installing" section on Docker and is used in the four tutorials that I mentioned.

The other installation descriptions do not describe how to connect agents, but the Docker install does.  The Docker installation instructions describe

[2020-06-12 14:25] oleg-nenashev commented on #3217
It was fixed by https://github.com/jenkins-infra/jenkins.io/pull/3380

[2020-06-12 14:25] #3217 closed

[2020-06-14 22:40] getJv commented on #3261
Ok. I'm working on it.

[2020-06-15 06:57] oleg-nenashev commented on #3261
@getJv You can use https://www.github.com/jenkins-infra/asciidoctor-jenkins-extensions/tree/master/examples for testing. You can run that repo and, and it will generate a test site for examples

[2020-06-17 22:03] vsilverman commented on #3335
Migrating latest report on broken links for [Jenkins Site](https://www.jenkins.io) from Jira to GitHub

[Broken_links_61720.pdf](https://github.com/jenkins-infra/jenkins.io/files/4795285/Broken_links_61720.pdf)

[2020-06-18 13:23] nikstur commented on #3315
When you refer to the Docker preferred practices @MarkEWaite, you refer to mounting the Docker socket instead of using DinD, correct? I think [this](http://jpetazzo.github.io/2015/09/03/do-not-use-docker-in-docker-for-ci/) is the article most people stumble upon when reading about this issue.

I think the problem can be solved by providing a docker-compose file using the jenkins/jenkins image with

[2020-06-18 18:56] contactsaurabh commented on #3335
Hi @vsilverman

Can I please contribute here?

Also, can you please share where is this code to be fixed (I am a newbie in github world, so asking).

Looking forward.
Thanks!

[2020-06-18 21:23] vsilverman commented on #3315
Solution to the issue is provided by the author of initial DinD:

1. adding `-v /var/run/docker.sock:/var/run/docker.sock \` to docker run
2. installing the Docker CLI

Installation part may be achieved e.g. by
- building a (demo or tutorial) image derived from Jenkins "official" LTS version
- including in Dockerfile something like this:

`# Docker install
USER root
RUN apt-get update && apt-get i

[2020-06-18 22:36] vsilverman commented on #3335
Hi @contactsaurabh , this is an aggregated issue, containing quite a few (currently over 100) smaller items.  I would suggest taking the following steps:
- contact @vrushti-mody, who was assigned to #3335, and discuss possibility of splitting the issues.
- explore [Newcomers Doc Contribution](https://www.jenkins.io/participate/document/#newcomers), it has most directions
- go line by line thru att

[2020-06-19 00:55] contactsaurabh commented on #3335
Sure @vsilverman

Hi @vrushti-mody , Can you please guide me here and let me know if I can contribute in this issue to fix some of the broken links.

Looking forward.
Thanks!

[2020-06-22 23:45] getJv commented on #2885
I'm working on it

[2020-06-23 14:58] oleg-nenashev opened #3474 "Create a new central page for System Requirements"
It is a follow-up to https://github.com/jenkinsci/windows-slave-installer-module/pull/52 which references multiple system requirements pages. Right now the system requirements documentation is scattered across multiple locations, including but not limited to...

* https://www.jenkins.io/doc/book/installing/#prerequisites
* https://www.jenkins.io/doc/administration/requirements/windows/
* https://w

[2020-06-24 03:34] MarkEWaite opened #3476 "Windows installer downloads an older version"
Problem with this page: [Thank you for downloading the Windows installer](https://www.jenkins.io/download/thank-you-downloading-windows-installer/)

The embedded link with text "Download hasn't started? [Click this link](http://mirrors.jenkins-ci.org/windows/2.233/jenkins.msi)" will download Jenkins 2.233 instead of the latest Windows installer, 2.242.

## Screenshots

![screencapture-jenkins-io-d

[2020-06-24 12:32] contactsaurabh commented on #3335
There is no update on this.
 @vrushti-mody

[2020-06-24 22:59] MarkEWaite commented on #3335
@contactsaurabh since I don't see any open pull request from @vrushti-mody, you're welcome to start the work.

As a way to reduce the chance of conflict between your efforts and those of others, you might start at the end of the list of broken links and work upward.  Alternately, you might start in the middle and work downwards.

I assign GitHub issues to individuals as a way to make it easier for

[2020-06-25 02:30] getJv opened #3480 "asciidoc plugin to toggle information"
## Description

A new plugin to enable show and hide content in a page.

### Preview:

<img width="700" src="https://media.giphy.com/media/LSRwCfMdPa0Kmm1eyi/source.gif" />

### asciidoc raw template

[code]
## Suggestion

When we type: `toggle:Info[content]`

Where info is the `label` and `content` could be any text

## Links

plugin repo: https://github.com/jenkins-infra/asciidoctor-jenkins-exte

[2020-06-25 02:31] getJv commented on #3480
I'm Working on it.

[2020-06-26 09:44] patidarashok opened #3485 "branch indexing action completed: FAILURE"
I have setup Jenkins 3 months ago with Multibranch Pipeline and Nginx reverse proxy with Domain name, it was working Good and help me a lot because I am very new in DevOps.
One day suddenly I got error "branch indexing action completed: FAILURE"  also attached error in screenshot.
I tried many things but no luck to get this done.
 however i have a snapshot some days ago, when I restored the snapsh

[2020-06-26 12:35] MarkEWaite commented on #3485
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

[2020-06-26 12:35] #3485 closed

[2020-06-26 22:28] vsilverman commented on #3315
@MarkEWaite , @oleg-nenashev, I would be glad to work on this issue

[2020-06-27 07:15] rathneesh commented on #3405
@oleg-nenashev & @MarkEWaite
Any conclusions on this issue?

[2020-06-27 07:23] oleg-nenashev commented on #3405
Sorry for the late response. Yes, let's close it for now. PR from @timja addressed it

[2020-06-27 07:24] #3405 closed

[2020-06-27 07:24] oleg-nenashev commented on #3405
Thanks for the investigation @rathneesh !

[2020-06-29 14:42] MarkEWaite commented on #3192
@urwa the original link in the this issue includes an extra slash character https://wiki.jenkins.io/display/JENKINS//Installing+Jenkins+on+Ubuntu .

When the wiki page is accessed without the extra slash character https://wiki.jenkins.io/display/JENKINS/Installing+Jenkins+on+Ubuntu it redirects as it should.  Thanks for the investigation and sorry for the confusion from the extra slash embedded in

[2020-06-29 14:42] #3192 closed

[2020-06-29 15:22] HCloward commented on #3197
At CloudBees, we recently updated the organization and content of our Jenkins CLI tool docs. If it would be helpful here is a link: https://docs.cloudbees.com/docs/admin-resources/latest/cli-guide/cli-guide-intro

Just make sure you adjust the content for Jenkins OSS and make a note at the bottom of the page attributing the content's origin to our site as we have done on this page where we used co

[2020-06-29 15:51] MarkEWaite commented on #3197
Thanks @HCloward .  We'll likely need an asciidoc macro that will display the attribution consistently for any pages derived from sources outside of jenkins.io.  Discussion is in the [Jenkins documentation mailing list](https://groups.google.com/g/jenkinsci-dev/c/A12fbEQgtOo/m/zL4Fglq_BAAJ).

[2020-06-30 13:38] vsilverman opened #3490 "Events page: Jenkins Community Calendar is empty for anonymous users, should show events"
Problem with the [Events](https://www.jenkins.io/events/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/events/index.html.haml)

Jenkins Community Calendar should not be empty

## Possible Solution

Follow up [add events](https://github.com/jenkins-infra/jenkins.io/blob/master/CONTRIBUTING.adoc#adding-an-event) instructions

Appears to be an issue at Google Ca

[2020-06-30 14:10] MarkEWaite commented on #3490
Thanks for the report.  I think that is an issue on the Google side of the calendar.

When I view the [Jenkins events calendar](https://calendar.google.com/calendar/embed?src=4ss12f0mqr3tbp1t2fe369slf4%40group.calendar.google.com&ctz=America%2FDenver) from my authenticated browser session, it contains the expected content.

![screencapture-calendar-google-calendar-embed-2020-06-30-08_08_32](https:

[2020-06-30 15:26] #3476 closed

[2020-06-30 16:24] vsilverman commented on #3490
Thanks @MarkEWaite for sharing the browser session.  Does it make sense to clarify authentication process for the members of the Jenkins Project?

[2020-07-01 11:23] MarkEWaite commented on #3490
The user experience of that page depends on the previous behavior of Google calendar.  I think the new behavior is a bug.  I think that Google thought the same thing.  I'm now seeing the correct content in both my authenticated and my guest browsing window.

Can you confirm that the calendar is no longer empty for you as well?

[2020-07-01 14:13] vsilverman commented on #3490
Yes, it's working now

[2020-07-01 16:05] #3490 closed

[2020-07-02 13:25] oleg-nenashev opened #3494 "Twitter settings are loaded even if a page has no "share on Twitter" badge"
If you navigate to jenkins.io or to jenkins.io/conduct, you can see that these pages have no "share on Twitter" badge. Still, JavaScript code downloads the settings file needed for that in the Twitter Widget Iframe. It happens asynchronously, but idally we should remove it for good

[code]

## Screenshots

 TODO: Add screenshots if possible
![image](https://user-images.githubusercontent.com/300048

[2020-07-02 23:54] getJv commented on #2887
I'm working on it

[2020-07-05 11:44] kara91770 opened #3504 "Not Found page - TODO: Put a summary here"
Problem with the [Not Found](https://www.jenkins.io/404/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/404.html.haml)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2020-07-05 15:24] oleg-nenashev commented on #3504
Could you please provide URL of the missing page?

On Sun, Jul 5, 2020, 13:44 Casper-tech-92 <notifications@github.com> wrote:

[2020-07-08 09:14] #3193 closed

[2020-07-08 12:32] #3206 closed

[2020-07-08 16:16] glittle opened #3514 "Jenkins installation and setup page - Cannot get Windows install file"
Problem with the [Jenkins installation and setup](https://www.jenkins.io/download/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/index.html.haml)

Accessing https://www.jenkins.io/download/thank-you-downloading-windows-installer

Results in a redirect to http://mirrors.jenkins-ci.org/windows/latest

And the message: You don't have permission to acces

[2020-07-08 16:38] oleg-nenashev commented on #3514
CC @MarkEWaite  @olblak . The download link was changed in https://github.com/jenkins-infra/jenkins.io/commit/3b8ee9af6700c66355366d36f03a65df08d45ff6#diff-78ddae14039207b4be034802a37930f0 , and it looks like mirrors have not been fixed in the packaging scripts.

[2020-07-08 16:52] MarkEWaite commented on #3514
Thanks!  We detected yesterday that the release process for Jenkins 2.244 did not update the link for latest ([INFRA-2673](https://issues.jenkins-ci.org/browse/INFRA-2673)).

I'll be investigating the log files today to understand what caused the failure and to see if I can apply a near term fix before the next weekly release.

[2020-07-08 17:50] MarkEWaite commented on #3514
Fixed in https://github.com/jenkinsci/packaging/pull/189 .

[2020-07-09 09:15] oleg-nenashev opened #3516 "Jenkins installation and setup page - Layout is broken on mobile"
Problem with the [Jenkins installation and setup](https://www.jenkins.io/download/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/index.html.haml)

The page uses a complex column layout, and the deployment column is not aligned well with the rest of the UI.

## Screenshots

![image](https://user-images.githubusercontent.com/3000480/87021361-6979b480-c

[2020-07-12 00:05] vsilverman opened #3518 "Google Season of Docs in Jenkins page - Incorrect reference to "Meetings""
Problem with the [Google Season of Docs in Jenkins](https://www.jenkins.io/sigs/docs/gsod/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/sigs/docs/gsod/index.adoc)

TODO:
Expected: Side panel "Meetings" link should connect to GSoD Meetings
Actual: Side panel "Meetings" link connects with GSoC Meetings

## Possible Solution

Provide correct metadata as specifi

[2020-07-12 01:13] #3518 closed

[2020-07-13 19:28] dry923 opened #3522 "Installing Jenkins page - Missing daemon-reload"
Problem with the [Installing Jenkins](https://www.jenkins.io/doc/book/installing/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/index.adoc)

In the section about installing Jenkins with Fedora (and likely RedHat/Centos) there is a step missing. If you follow the steps verbatim you will likely receive the error

[code]

This is because the

[2020-07-13 21:04] MarkEWaite commented on #3522
Thanks for the report!  I like your proposed solution.

https://bugzilla.redhat.com/show_bug.cgi?id=1411299 hints that the project that is improving the RPM / DNF contents may want to consider making any call to `systemctl daemon-reload` conditional on systemd being configured and running.

[2020-07-15 18:50] vsilverman commented on #3315
Applying proposed changes to the [demo config-as-code image](https://github.com/vsilverman/demo-jenkins-config-as-code) , created by @oleg-nenashev , works.  There are several tasks, resulting from this work:
- simplifying customized docker image to facilitate adoption by new customers/contributors
- implementing tutorial demos, based on customized docker image
- updating https://jenkins.io/ pages

[2020-07-15 22:30] #3516 closed

[2020-07-15 22:31] #3297 closed

[2020-07-17 00:21] getJv commented on #2888
I'm working on it.

[2020-07-17 07:34] vicluy opened #3536 "an error in the Redeploy Rancher2.x Workload plugin"
Hello
I have chosen Credentials but it is reporting an error like the picture I sent you, do you have any idea about this?
"Cannot find currently selected credentials"
link: https://plugins.jenkins.io/redeploy-rancher2-workload/
In this tutorial they have instructions for adding Credentials, if I follow their instructions, as you know I will not be able to select any Credentials, and if I create C

[2020-07-19 04:34] ayushvar opened #3537 "Jenkins download and deployment page - TODO: Put a summary here"
Problem with the [Jenkins download and deployment](https://www.jenkins.io/download/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/index.html.haml)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2020-07-19 04:35] ayushvar commented on #3537
Hi guys,

I am unable to download Jenkins for my Linux Machine getting "Certificate Error".

Please look into this issue.

[2020-07-19 07:10] stayen opened #3538 "Jenkins packages page - invalid certificate"
Problem with the [Jenkins packages](https://pkg.jenkins.io/) page

Should use valid SSL certificate - currently package managers (Debian/Ubuntu etc) refuse to use Jenkins repository, thus aborting updates.

## Screenshots

No screenshots

## Possible Solution

Renew the certificate.

[2020-07-19 07:34] oleg-nenashev commented on #3538
You are trying to download the LTS release, right?

[2020-07-19 08:21] timja commented on #3538
pkg.jenkins.io certificate has expired, waiting for someone with access to look at it.

[2020-07-19 08:48] stayen commented on #3538
Correct, it stalled the updates on a number of VMs; currently I've just disabled the repo.

[2020-07-19 11:49] oleg-nenashev commented on #3538
The issue should be fixed now.: https://groups.google.com/forum/#!topic/jenkins-infra/6J471_Q-kko

[2020-07-19 11:49] oleg-nenashev commented on #3537
It should be fixed now. Closing as a duplicate of #3538

[2020-07-19 11:49] #3537 closed

[2020-07-19 11:50] oleg-nenashev commented on #3536
This issue tracker is for the Jenkins website only. Please report plugin issues in Jenkins Jira: https://www.jenkins.io/participate/report-issue/

[2020-07-19 11:50] #3536 closed

[2020-07-19 12:20] #3538 closed

[2020-07-19 14:20] vicluy commented on #3536
wow thank bro, I think i need contact with they

[2020-07-20 21:04] vsilverman opened #3544 "Install Docker - not compliant with DRY"
## Links

* PR #3543 intends to close this issue

[2020-07-20 22:13] MarkEWaite commented on #2987
Discussed in the Docs office hours and recommended that the page be retained and used as an introduction to the alternatives available to a user to configure Jenkins.  A few introductory paragraphs that might introduce:

* Jenkins can be configured at many levels and with many different techniques
* Configuration layers might include
** Jenkins master configuration
** Jenkins agent configuration (

[2020-07-21 05:16] oleg-nenashev opened #3547 "Migrate or redirect the GitHub Repositories page"
I have just discovered https://wiki.jenkins.io/display/JENKINS/GitHub+Repositories which contains listing of our GitHub repositories. This listing is auto-generated, but it looks like it is a bit out of date. This page is linked from https://www.jenkins.io/project/governance/

Questions to @MarkEWaite @jenkins-infra/board and other reviewers:

* Do we want to keep this page at all? It looks a bit

[2020-07-21 12:39] MarkEWaite commented on #3547
I think it should be redirected to https://github.com/jenkinsci/ .

In the past 160 days of wiki access logs, the GitHub Repositories page has been in the top 100 pages list only once.  On the day that it was in the top 100 pages, it was accessed 12 times.

In that 160 days of data, less than 10% of the days had their least accessed page (of the top 100 pages) hit 12 or fewer times.  Most days sho

[2020-07-21 16:22] slide commented on #3547
I don't think this page provides any real value. People can look on the GitHub org page and find things probably easier. I don't think we should migrate it or even redirect it, just delete it.

[2020-07-21 17:36] MarkEWaite commented on #3547
I don't have permission to delete a wiki page, while I can submit a pull request to redirect a wiki page.

[2020-07-21 18:01] slide commented on #3547
It looks like I have access to delete if we want to go that route.

[2020-07-21 18:25] MarkEWaite commented on #3547
No objections from me if the page is deleted after the reference to the page is removed from https://www.jenkins.io/project/governance/

[2020-07-21 20:45] slide commented on #3547
See https://github.com/jenkins-infra/jenkins.io/pull/3552

[2020-07-23 16:14] #3204 closed

[2020-07-23 16:21] #3218 closed

[2020-07-23 16:21] #3215 closed

[2020-07-23 16:22] #3185 closed

[2020-07-23 16:22] #3223 closed

[2020-07-23 16:22] #2886 closed

[2020-07-23 20:10] MarkEWaite commented on #3186
Yes, that seems like a reasonable place for it.

[2020-07-25 20:11] getJv commented on #2987
I'm working on it. ;)

[2020-07-25 20:18] getJv commented on #3186
Hello @MarkEWaite and @krharsh17 I guess this issue it is duplicated with #2885. And I already sent a PR #3481 to migrate this page.

[2020-07-26 03:49] MarkEWaite commented on #3504
After 3 weeks without a response, I'm closing the issue.

[2020-07-26 03:49] #3504 closed

[2020-07-26 08:02] krharsh17 commented on #3186
@getJv I feel that is true. @MarkEWaite Could you please confirm?

[2020-07-26 16:19] MarkEWaite commented on #3186
Duplicates #2885

[2020-07-28 15:58] vsilverman commented on #3335
Providing latest report of broken links -
[Broken_links_72720.pdf](https://github.com/jenkins-infra/jenkins.io/files/4989450/Broken_links_72720.pdf)

### Summary:
Processed 3000 web pages, found **164 broken links**

### Follow-up steps:

- download above file
- for every case click on URL link to see corresponding location in the [Jenkins Documentation](https://www.jenkins.io/)
- try to fix the b

[2020-07-30 16:57] oleg-nenashev commented on #3198
https://issues.jenkins-ci.org/browse/JENKINS-63237 is a recently reported issue for it in Jenkins Jira

[2020-07-31 05:11] Karl-br opened #3578 "Does Jenkins plan to change the encryption key length to 256 bit"
Dear all，
How are u today and sorry to bother you.
I have a question about does Jenkins plan to change the encryption key length to 256 bit.
Because i found jenkins source code at below link.
https://github.com/jenkinsci/jenkins/blob/9c443c8d5bafd63fce574f6d0cf400cd8fe1f124/core/src/main/java/hudson/util/Secret.java
This part said because of the US export restriction JDK only ships 128bit version.

[2020-07-31 17:15] vsilverman opened #3580 "Git Plugin Performance Improvement Phase-2 Progress page - Not valid links"
Problem with the [Git Plugin Performance Improvement Phase-2 Progress](https://www.jenkins.io/blog/2020/07/29/git-performance-improvement-phase2/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/blog/2020/07/2020-07-29-git-performance-improvement-phase2.adoc)

TODO: Provide valid URLs for [Project Page](https://www.jenkins.io/projects/gsoc/2020/projects/git-plug

[2020-07-31 18:55] MarkEWaite commented on #3578
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

[2020-07-31 18:55] #3578 closed

[2020-07-31 18:57] timja commented on #3547
The page has been deleted

[2020-07-31 18:57] #3547 closed

[2020-07-31 19:44] #3580 closed

[2020-08-02 14:28] Zocker1999NET opened #3583 "Installing Jenkins page - Docker section seems uncomplete, no easy first test setup"
Problem with the [Installing Jenkins](https://www.jenkins.io/doc/book/installing/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/index.adoc)

The Docker setup section seems incomplete to me. Today was my first try out Jenkins but it was not working flawless. The Docker setup mentions that I should run a container called "jenkins-docker" to

[2020-08-02 19:23] getJv opened #3584 "How to run JMeter with Jenkins page migration"
* Page to migrate: `https://wiki.jenkins.io/display/JENKINS//How+to+run+JMeter+with+Jenkins`
* Destination on jenkins.io: `https://www.jenkins.io/doc/book/using/using-jmeter-with-jekinks/`

## Migration notes

This is one of the top most visited page on the wiki according to:
https://wiki.jenkins.io/.well-known/reports/top_urls.txt

## For contributors

* [Wiki Migration Guidelines](https://github

[2020-08-02 19:25] getJv commented on #3584
I'm Working on it. ;)

[2020-08-03 20:53] MarkEWaite commented on #3583
Thanks for a great issue report @Zocker1999NET .  Much appreciated!

The "[Installing Jenkins](https://www.jenkins.io/doc/book/installing/)" page does not describe agent configuration for any of the other platforms (war, macOS, Debian, Fedora, Red Hat, Windows, FreeBSD, etc.).  I'm not strongly opposed to adding agent configuration information to that page, but considering the number of different

[2020-08-04 00:59] getJv commented on #3190
Duplicates #2888

[2020-08-04 02:13] getJv commented on #3195
duplicates #2889

[2020-08-04 02:25] getJv commented on #3200
Page was migrated to https://www.jenkins.io/doc/book/system-administration/security/configuring-content-security-policy/.

[2020-08-04 22:04] #3195 closed

[2020-08-05 17:07] MarckK opened #3597 "Redirect Jenkins X project page to jenkins-x.io 🙏"
Problem with this page:

https://www.jenkins.io/projects/jenkins-x/

## Screenshots

<img width="1440" alt="Screenshot 2020-08-05 at 18 05 40" src="https://user-images.githubusercontent.com/15032115/89442265-6c20e880-d746-11ea-863f-22bb8498f142.png">

## Possible Solution

Could you please redirect to https://jenkins-x.io/
Thank you!

[2020-08-05 18:11] vsilverman opened #3598 "Jenkins download and deployment page - downloaded LTS version for Windows doesn't match version in description"
Problem with the [Jenkins download and deployment](https://www.jenkins.io/download/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/index.html.haml)

TODO:
Expected: Downloading  Jenkins 2.235.3 LTS for Windows should result in downloading 2.235.3 version.
Actual: Downloading  Jenkins 2.235.3 LTS for Windows results in downloading **2.235.1** version.

[2020-08-05 19:21] MarkEWaite commented on #3598
I believe that when the MSI installer is generated "after the fact" (after the initial run of the packaging job), it does not update the file that points to the generated file.  The weekly from 2.251 is correctly updated.  It was generated during the natural flow of the 2.251 build.  The LTS from 2.253.3 was generated a few days after the official 2.253.3 build.

Needs to be checked again after re

[2020-08-05 22:37] karlp opened #3599 "jenkins behind nginx isn't sufficient for websockets agents"
The https://www.jenkins.io/doc/book/system-administration/reverse-proxy-configuration-with-jenkins/#running-jenkins-behind-nginx page has a sample config, which is nice and optimal as far as static files and all, but doesn't have enough configuration to allow websockets connections, as required for ws agents.   It needs the following extra at the top level
[code]
and then, in the root location:
[c

[2020-08-06 01:28] getJv opened #3600 "Migrate 'Product requirements' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Product+requirements#

Watch the tutorial to learn more about each page migration  process:
[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/KB-NPlRvLoY/0.jpg)](https://www.youtube.com/watch?v=KB-NPlRvLoY)

## Additional information

Note: check jenkins.io first to see if there's content for this already, possibly

[2020-08-06 01:45] getJv opened #3602 "Migrate 'Features controlled by system properties' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Features+controlled+by+system+properties#

Watch the tutorial to learn more about each page migration  process:
[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/KB-NPlRvLoY/0.jpg)](https://www.youtube.com/watch?v=KB-NPlRvLoY)

## Additional information

Note: check jenkins.io first to see if there's content for thi

[2020-08-06 01:48] getJv opened #3603 "Redirect 'Logging' page jenkins.io"
## Essential information
* Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Logging# (already done)
* (Proposal) Only redirect to the destination: https://www.jenkins.io/doc/book/system-administration/viewing-logs/

Watch the tutorial to learn more about each page migration  process:
[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/KB-NPlRvLoY/0.jpg)](https://www.youtube.com/watch?v=KB-N

[2020-08-06 01:49] getJv opened #3604 "Migrate 'Access Logging' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Access+Logging#

Watch the tutorial to learn more about each page migration  process:
[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/KB-NPlRvLoY/0.jpg)](https://www.youtube.com/watch?v=KB-NPlRvLoY)

## Additional information

Note: check jenkins.io first to see if there's content for this already, possibly there'

[2020-08-06 01:50] getJv opened #3605 "Migrate 'Define Parameters' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Define+Parameters#

Watch the tutorial to learn more about each page migration  process:
[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/KB-NPlRvLoY/0.jpg)](https://www.youtube.com/watch?v=KB-NPlRvLoY)

## Additional information

Note: check jenkins.io first to see if there's content for this already, possibly the

[2020-08-06 01:51] getJv opened #3606 "Migrate 'Tomcat' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Tomcat#

Watch the tutorial to learn more about each page migration  process:
[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/KB-NPlRvLoY/0.jpg)](https://www.youtube.com/watch?v=KB-NPlRvLoY)

## Additional information

Note: check jenkins.io first to see if there's content for this already, possibly there's some u

[2020-08-06 01:52] getJv opened #3607 "Migrate 'Parameterized System Groovy script' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Parameterized+System+Groovy+script#

Watch the tutorial to learn more about each page migration  process:
[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/KB-NPlRvLoY/0.jpg)](https://www.youtube.com/watch?v=KB-NPlRvLoY)

## Additional information

Note: check jenkins.io first to see if there's content for this alre

[2020-08-06 01:53] getJv opened #3608 "Migrate 'Launching agent.jar from console' page from wiki"
## Essential information
* Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Launching+slave.jar+from+from+console#  and https://wiki.jenkins.io/display/JENKINS/Launching+agent+from+console
* (Proposal) New section under destination: https://www.jenkins.io/doc/book/using/using-agents

Watch the tutorial to learn more about each page migration  process:
[![IMAGE ALT TEXT HERE](https://img.yo

[2020-08-06 01:54] getJv opened #3609 "Migrate 'JUnit graph' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/JUnit+graph#

Watch the tutorial to learn more about each page migration  process:
[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/KB-NPlRvLoY/0.jpg)](https://www.youtube.com/watch?v=KB-NPlRvLoY)

## Additional information

Note: check jenkins.io first to see if there's content for this already, possibly there's s

[2020-08-06 01:55] getJv opened #3610 "Migrate 'Building a matrix project' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Building+a+matrix+project#

Watch the tutorial to learn more about each page migration  process:
[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/KB-NPlRvLoY/0.jpg)](https://www.youtube.com/watch?v=KB-NPlRvLoY)

## Additional information

Note: check jenkins.io first to see if there's content for this already, poss

[2020-08-06 02:07] getJv opened #3611 "Migrate 'Post-initialization script' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Post-initialization+script#

Watch the tutorial to learn more about each page migration  process:
[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/KB-NPlRvLoY/0.jpg)](https://www.youtube.com/watch?v=KB-NPlRvLoY)

## Additional information

Note: check jenkins.io first to see if there's content for this already, pos

[2020-08-06 12:49] #3597 closed

[2020-08-06 19:28] #3599 closed

[2020-08-06 20:15] MarkEWaite commented on #3602
Page has been migrated and revised several times since the original migration.  The [current page](https://www.jenkins.io/doc/book/managing/system-properties/#) is much more accurate than the [wiki page](https://wiki.jenkins.io/display//JENKINS//Features+controlled+by+system+properties#).

You'll see that https://wiki.jenkins.io/display/JENKINS/Features+controlled+by+system+properties# redirects t

[2020-08-06 20:15] #3602 closed

[2020-08-06 20:39] MarkEWaite commented on #3600
I'm closing this because the page contains no content that could reasonably be migrated.  It was intended to be a "page of pages" related to new ideas but it only contains one page and that page is old enough that the contributor would need to bring the idea to the Jenkins community.

[2020-08-06 20:39] #3600 closed

[2020-08-06 21:02] MarkEWaite commented on #3205
This is **not** a duplicate of #3204.  The [reverse proxy configuration page](https://www.jenkins.io/doc/book/system-administration/reverse-proxy-configuration-with-jenkins/) that was created in #3204 is describing the case where a Jenkins server is hosted behind a reverse proxy like HAProxy, nginx, or Apache.

The [JenkinsBehindProxy page](https://wiki.jenkins.io/display/JENKINS/JenkinsBehindProx

[2020-08-07 22:51] MarkEWaite commented on #3598
I've done more research and will need help from @olblak or someone else that can assist with the diagnosis.  I believe that my original guess was wrong, but I haven't been able to identify what needs to change to fix it.

Releases are uploaded to pkg.origin.jenkins.io and are placed in an Apache directory structure that is served from the virtual host mirrors.jenkins.io on pkg.origin.jenkins.io.

[2020-08-08 01:00] #3598 closed

[2020-08-08 10:04] Zocker1999NET commented on #3583
Thank you for answering so fast.

[Create a pipeline in Blue Ocean](https://www.jenkins.io/doc/tutorials/create-a-pipeline-in-blue-ocean/) seems to be the kind of manual I was searching for. It seems to be good guide on how to try out Jenkins.

However, I do not find how to configure an agent / connecting Jenkins to the dind container in the tutorials you linked. Am I just blind or is this missing

[2020-08-09 23:59] MarkEWaite commented on #3583
Each of the tutorials that I referenced uses the `docker` step to invoke a Docker image.

* Maven tutorial uses [image 'maven:3-alpine'](https://github.com/jenkins-docs/simple-java-maven-app/blob/0d85b7e1fd39bc6978511f92381aa10534ca4c1b/jenkins/Jenkinsfile#L4)
* Node.js tutorial uses [image 'node:6-alpine'](https://github.com/jenkins-docs/simple-node-js-react-npm-app/blob/998a17289e069ed53c085d3e8

[2020-08-10 04:07] MarkEWaite opened #3625 "Windows download page does not download"
The [Windows download page](https://www.jenkins.io/download/thank-you-downloading-windows-installer/) was broken by the most recent change to the file.  The updated file is missing single quote characters in critical locations.

See #3624 to fix it.

## Screenshots

### Bad page:

![screencapture-jenkins-io-download-thank-you-downloading-windows-installer-2020-08-09-22_06_32](https://user-images.g

[2020-08-10 04:36] #3625 closed

[2020-08-10 09:43] Zocker1999NET commented on #3583
Sorry, I did not meant the image that will e.g. test or build the package. I was talking about the agent (for Jenkins a simple `docker:dind` container seems sufficient) that will invoke the containers for the pipeline executions. I think you call them nodes.

However when I follow the [first tutorial](https://www.jenkins.io/doc/tutorials/create-a-pipeline-in-blue-ocean/) you linked to, it just wor

[2020-08-12 13:38] MarkEWaite opened #3628 "Replace 'latest' in Windows download pages with specific version"
## Replace `latest` in Windows download pages with actual version

The "[Download Jenkins](https://www.jenkins.io/download/)" page includes a row that downloads the Jenkins war file and a row that downloads the Windows MSI file.

The Jenkins war file download link uses the version number in the download link.  The Jenkins MSI file download link relies on a symbolic link to 'latest' that points to

[2020-08-14 12:09] OstapYeris opened #3631 "Wrong displaying of logs window"
Problem with the [Chat](https://www.jenkins.io/chat/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/chat.adoc)

After the last update, I found a problem with UI
When you open logs it is transparent.

## Screenshots

![image](https://user-images.githubusercontent.com/44464982/90247436-3911df80-de3f-11ea-8dee-8fd2d25610e2.png)

## Possible Solution

N/A

[2020-08-14 12:28] Code-Ebullient commented on #3094
hi @oleg-nenashev is this issue still open, i'll like to work on it

[2020-08-15 01:20] MarkEWaite commented on #3094
@Code-Ebullient yes, the 3 column layout is still forced on mobile devices.

[2020-08-15 03:35] MarkEWaite commented on #3631
Thanks for the issue report @OstapYeris .  This site is used to report issues with the Jenkins documentation and other content on the https://www.jenkins.io site.  Could you raise an issue for Jenkins core in the Jenkins Jira tracker for this issue?

Refer to ["How to report an issue"](https://www.jenkins.io/participate/report-issue/) for guidelines on the information that will help the project re

[2020-08-15 03:35] #3631 closed

[2020-08-17 21:15] MarkEWaite commented on #3305
Confirmed resolved by the pull requests that have been merged to update the build status entries in the [glossary](https://github.com/jenkins-infra/jenkins-infra/pull/1534).

[2020-08-17 21:15] #3305 closed

[2020-08-20 18:55] bmhm opened #3645 "Move "Liberty Profile" to OpenLiberty"
* Page to migrate: https://wiki.jenkins.io/display/JENKINS/Liberty+profile
* Destination on jenkins.io: depends on https://github.com/jenkins-infra/jenkins.io/issues/3606

## Additional information
The Jenkins Wiki includes a "Web containers page" that links to documentation for several different "web containers", like Tomcat, Websphere, Glassfish, JBoss, and Tomcat. If the Liberty page is migrate

[2020-08-20 18:55] bmhm commented on #3645
More to add: https://issues.jenkins-ci.org/browse/JENKINS-62987?focusedCommentId=396056&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-396056

[2020-08-20 21:18] MarkEWaite commented on #3645
Is related to #3606

[2020-08-24 19:26] atsalolikhin-spokeo opened #3650 "Creating your first Pipeline page - Docker example does not work, there is a step missing"
Problem with the [Creating your first Pipeline](https://www.jenkins.io/doc/pipeline/tour/hello-world/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/pipeline/tour/hello-world.adoc)

As a new user, I'm going through the Guided Tour.

I've added a multi-branch pipeline monitoring a Git repository.

My Jenkinsfile is the example Python one, which uses a Docke

[2020-08-27 14:38] andreasbenzing opened #3658 "LTS Release Line page - Wrong info about update sites"
Problem with the [LTS Release Line](https://www.jenkins.io/download/lts/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/lts/index.adoc)

Unlike stated, the `current` update site will propose to install non-LTS jenkins versions and potentially incompatible plug-ins.

## Possible Solution

Set your update site to http://updates.jenkins-ci.org/stable/upd

[2020-08-27 16:55] MarkEWaite commented on #3658
Thanks for the report, @andreasbenzing .  I'm not understanding your description of the issue.  Can you provide more details?

I think you're describing that you were running a Jenkins LTS using the standard Jenkins update center URL https://updates.jenkins.io/current/update-center.json and it offered plugin versions that require a Jenkins version newer than you had installed.

Is that a correct d

[2020-08-27 16:59] daniel-beck commented on #3658
Yeah the URL linked from that page makes no sense, it should be `https://updates.jenkins.io/update-center.json` as described on https://updates.jenkins.io/

Probably a bad copy & paste from a browser address bar after the redirect happened, at least that's my usual problem working with these URLs.

[2020-08-27 17:03] MarkEWaite commented on #3658
Thanks @daniel-beck .  Do you want me to submit the PR to correct the LTS release line page, or would you like to do it?

[2020-08-27 17:04] daniel-beck commented on #3658
Already submitted.

[2020-08-27 17:24] #3658 closed

[2020-08-29 04:49] irschad commented on #3522
So, after "sudo rpm --import https://jenkins-ci.org/redhat/jenkins-ci.org.key"  in the documentation, adding "$ sudo systemctl daemon-reload" is the solution for this?  I'll work on updating documentation if this is correct.

[2020-08-29 12:58] MarkEWaite commented on #3522
I believe that `sudo systemctl daemon-reload` needs to be **after** the `yum install` step rather than after the `rpm --import`.  The `reolad` is asking systemd to scan the system units.  I believe that is needed because in this case the installation of the Jenkins service did not cause systemctl to read the service.

[2020-08-29 15:17] #3522 closed

[2020-08-30 00:26] nxtn opened #3665 "YAML scalar/sequence rendering"
Problem with this page: https://www.jenkins.io/blog/2020/08/27/winsw-yaml-support/. The first line of sequence entries has shading that only scalars/literals are supposed to have.

## Expected

`name: ` doesn't have shading.

## Actual

`name: JENKINS_HOME` has shading.

[2020-08-30 15:43] getJv commented on #3611
The [Post-initialization script](https://www.jenkins.io/doc/book/managing/groovy-hook-scripts/#post-initialization-script-init-hook) was migrated before. I just create the redirection PR

[2020-08-30 16:41] getJv commented on #3608
This issue depends on PR 3511 to be approved.

[2020-08-30 16:56] getJv commented on #3605
Migrated by PR #3481

[2020-09-01 13:35] MarkEWaite opened #3680 "Mirrors page links to outdated location"
The [Mirrors](https://www.jenkins.io/download/mirrors/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/mirrors.adoc) links to http://mirrors.jenkins-ci.org/ when it should link to the same location that the downloads page uses, namely https://get.jenkins.io/ instead of http://mirrors.jenkins-ci.org/ .  The new location is preferred because it is https

[2020-09-09 12:28] ggsklias opened #3690 "Performing a Plugin Release page - Gradle equivalent is missing."
Problem with the [Performing a Plugin Release](https://www.jenkins.io/doc/developer/publishing/releasing/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/developer/publishing/releasing.adoc)

Artifactory Credentials for **Gradle** is missing!

## Screenshots
![image](https://user-images.githubusercontent.com/15429874/92598153-b7c83400-f2a8-11ea-92b9-ab58c21

[2020-09-09 15:55] MarkEWaite commented on #3690
Thanks for the issue report @ggsklias .  I'm not a gradle user, but I'm sure there are plugins built with gradle that are released to the Jenkins update center.

[2020-09-10 08:53] ggsklias commented on #3690
Hi Mark,

Thanks for your response. I would hope that the documentation covers this
topic, since more people would have this answer and having to go into other
plugins code to figure out the answer, does not sound so efficient.

By the way, I recently tried to create a jenkins community account so that
I can post the jenkins plugin of my company in the marketplace, but I never
received a confirmat

[2020-09-10 10:38] ggsklias opened #3692 "Before you start page - TODO: Provide information when signing up for Jenkins community account does not work"
Problem with the [Before you start](https://www.jenkins.io/doc/developer/publishing/preparation/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/developer/publishing/preparation.adoc)

TODO: I tried registering for a community account because I want to post my company's plugin in the marketplace, and it's two days now that I received no confirmation mail af

[2020-09-10 11:52] MarkEWaite commented on #3690
Thanks.  I'm not a member of the mailing list that handles those requests.  I've asked to be join that list so that I can assist with requests there.

[2020-09-10 13:20] ggsklias commented on #3690
Hi Mark,

Thank you, I appreciate it. The sign up functionality is not handled very
well unfortunately and it's strange for a user to not have any idea for 2
days if the sign up mechanism (which is supposed to be simple) worked or
not.

I hope to hear from you.

Kind regards,
Georgios Sklias

On Thu, 10 Sep 2020 at 13:52, Mark Waite <notifications@github.com> wrote:

[2020-09-10 13:29] MarkEWaite commented on #3690
@ggsklias I sent you an email message from my personal account and from the Jenkins account administration account.

Yes, we're aware that registering for an account has many different places where it can fail.  An organization of volunteers has only so many places that they can invest their efforts and that area has had to wait while we work on more urgent topics.

[2020-09-10 13:37] ggsklias commented on #3690
Hi Mark,

Yes I totally understand that, and thanks for your support.

Kind regards,
Georgios

On Thu, 10 Sep 2020 at 15:29, Mark Waite <notifications@github.com> wrote:

[2020-09-10 17:42] adpoint72 opened #3695 "No changes detected by git"
Jenkins version 2.255

We started to randomly run into the following issue.  Bitbucket webhook sends an update to Jenkins multibranch pipeline, but pipeline doesn't schedule a build because it detects no changes, even though the commit that triggered UPDATE is in bitbucket.

[Thu Sep 10 13:21:01 EDT 2020] Received jenkins.plugins.git.GitSCMSource$ListenerImpl$1 UPDATED event from x.x.x.x ⇒ http://

[2020-09-10 19:00] #3695 closed

[2020-09-14 19:53] #3221 closed

[2020-09-20 01:19] getJv opened #3715 "Migrate 'Display Information About Nodes' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Display+Information+About+Nodes#
(Proposal) New Section under destination: https://www.jenkins.io/doc/book/managing/nodes/

Watch the tutorial to learn more about each page migration  process:
[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/KB-NPlRvLoY/0.jpg)](https://www.youtube.com/watch?v=KB-NPlRvLoY)

## Addit

[2020-09-20 01:29] getJv opened #3716 "Migrate 'Editing or Replacing the All View' page from wiki"
## Essential information

Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Editing+or+Replacing+the+All+View#
(Proposal) New Page under destination: https://www.jenkins.io/doc/book/using/

Watch the tutorial to learn more about each page migration  process:
[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/KB-NPlRvLoY/0.jpg)](https://www.youtube.com/watch?v=KB-NPlRvLoY)

## Additional inf

[2020-09-20 01:39] getJv opened #3717 "Migrate 'Removing and disabling plugins' page from wiki"
## Essential information

Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Removing+and+disabling+plugins#
(Proposal) New Page under destination: https://wiki.jenkins.io/display/JENKINS/Removing+and+disabling+plugins#

Watch the tutorial to learn more about each page migration  process:
[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/KB-NPlRvLoY/0.jpg)](https://www.youtube.com/watch?v=K

[2020-09-20 01:47] getJv opened #3718 "Migrate 'Tool Auto-Installation' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Tool+Auto-Installation#
(Proposal) New Page under destination: https://www.jenkins.io/doc/book/system-administration/

Watch the tutorial to learn more about each page migration  process:
[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/KB-NPlRvLoY/0.jpg)](https://www.youtube.com/watch?v=KB-NPlRvLoY)

## Additional

[2020-09-20 01:53] getJv opened #3719 "Redirect 'Troubleshooting articles' index page from wiki to getting-started book"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Troubleshooting+articles#
Redirect to destination: https://www.jenkins.io/doc/book/getting-started/

The page being redirected is only a listing of other pages on the topics.  The other pages will be migrated (or ignored) based on their own content.

## Redirecting pages

A redirect should be configured, by sending a

[2020-09-20 15:38] getJv opened #3720 "Redirect 'Gerrit Trigger' page from wiki to gerrit trigger plugin page"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Gerrit+Trigger/#
Redirect to the destination: https://plugins.jenkins.io/gerrit-trigger/

## Redirecting pages

A redirect should be setup, by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see [past PRs](https://github.com/jenkins-

[2020-09-20 16:04] getJv opened #3721 "Migrate 'Authentication' page from wiki"
## Essential information

Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Authentication#
(Proposal) New Section under destination: https://plugins.jenkins.io/collabnet/

Watch the tutorial to learn more about each page migration  process:
[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/KB-NPlRvLoY/0.jpg)](https://www.youtube.com/watch?v=KB-NPlRvLoY)

## Additional information

Note: c

[2020-09-20 16:15] getJv opened #3722 "Migrate 'SSH slaves and Cygwin' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/SSH+slaves+and+Cygwin#
(Proposal) new Section under destination: https://www.jenkins.io/doc/book/using/using-agents

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or better phrase in context
* Ch

[2020-09-20 16:21] getJv opened #3723 "Migrate 'Azure DevOps and Team Foundation Server Plugin' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Azure+DevOps+and+Team+Foundation+Server+Plugin#
Redirect to the destination: https://plugins.jenkins.io/tfs/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or better phrase in context
* Change ‘w

[2020-09-21 23:23] getJv opened #3725 "Redirect 'Static Analysis in Pipelines' from wiki to warnings-ng plugin"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Static+Analysis+in+Pipelines#
Redirect to the destination: https://plugins.jenkins.io/warnings-ng/

## Redirecting pages

A redirect should be configured by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see [past PRs](https://githu

[2020-09-21 23:25] getJv opened #3726 "Migrate 'I'm getting OutOfMemoryError' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/I%27m+getting+OutOfMemoryError#
(Proposal) New Page under destination: https://www.jenkins.io/doc/book/system-administration/diagnosing-errors

Watch the tutorial to learn more about each page migration  process:
[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/KB-NPlRvLoY/0.jpg)](https://www.youtube.com/watch?v=KB

[2020-09-21 23:27] getJv opened #3727 "Redirect 'Building Jenkins' page from wiki to Jenkins core contributing guide"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Building+Jenkins#
(Proposal) New Page under destination: https://www.jenkins.io/doc/developer/tutorial/

Watch the tutorial to learn more about each page migration  process:
[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/KB-NPlRvLoY/0.jpg)](https://www.youtube.com/watch?v=KB-NPlRvLoY)

## Additional information

[2020-09-21 23:32] getJv opened #3728 "Migrate 'Basic guide to Jelly usage in Jenkins' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Basic+guide+to+Jelly+usage+in+Jenkins#
(Proposal) New Page under destination: https://www.jenkins.io/doc/developer/tutorial/

Watch the tutorial to learn more about each page migration  process:
[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/KB-NPlRvLoY/0.jpg)](https://www.youtube.com/watch?v=KB-NPlRvLoY)

## Add

[2020-09-21 23:33] getJv opened #3729 "Redirect 'Logger Configuration' page from wiki to viewing-logs"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Logger+Configuration#
Redirect to destination: https://www.jenkins.io/doc/book/system-administration/viewing-logs/

## Redirecting pages

A redirect should be configured, by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see [past P

[2020-09-21 23:35] getJv opened #3730 "Migrate 'Jelly form controls' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Jelly+form+controls#
(Proposal) New Page under destination: https://www.jenkins.io/doc/developer/tutorial/

Watch the tutorial to learn more about each page migration  process:
[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/KB-NPlRvLoY/0.jpg)](https://www.youtube.com/watch?v=KB-NPlRvLoY)

## Additional informatio

[2020-09-21 23:47] getJv opened #3731 "Migrate 'Containers' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Containers#
(Proposal) Update and create a new section under destination: https://www.jenkins.io/doc/book/installing/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or better phrase in context
*

[2020-09-21 23:50] getJv opened #3732 "Migrate 'CMake Plugin' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/CMake+Plugin#
(Proposal) Only a redirect to the destination: https://plugins.jenkins.io/cmakebuilder/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or better phrase in context
* Change ‘whitelis

[2020-09-21 23:57] getJv opened #3733 "Migrate 'Markup formatting' page from wiki"
## Essential information

Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Markup+formatting#
(Proposal) Only a redirect to the destination: https://plugins.jenkins.io/antisamy-markup-formatter/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or better phrase in context

[2020-09-22 02:06] getJv opened #3735 "Migrate 'Building a maven2 project' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Building+a+maven2+project#
(Proposal) New page under destination: https://www.jenkins.io/doc/book/using/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or better phrase in context
* Change ‘white

[2020-09-22 02:15] getJv opened #3736 "Redirect 'Role Strategy Plugin' page from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Role+Strategy+Plugin
Redirect to the destination: https://plugins.jenkins.io/role-strategy

## Redirecting pages

Redirect by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see past PRs for examples.

[2020-09-22 02:22] getJv opened #3737 "Redirect 'Email-ext Recipes' page from wiki to GitHub docs"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Email-ext+Recipes
Redirect to the destination: https://github.com/jenkinsci/email-ext-plugin/blob/master/docs/recipes.adoc

## Redirecting pages

Redirect by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see past PRs for examples.

[2020-09-22 07:53] hp77-creator commented on #3723
Shall I work on this?

[2020-09-22 12:07] MarkEWaite commented on #3723
@hp77-creator that would be great.  Thanks for offering!

We've also realized that we would benefit from more precise instructions on how to create the redirect.  After you've submitted the pull request to create the redirect, we'd love to have a second pull request that more precisely describes how to create the redirect.

[2020-09-23 00:15] getJv opened #3742 "Migrate 'Disable all jobs' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Disable+all+jobs#
(Proposal) new section under destination: https://www.jenkins.io/doc/book/managing/script-console/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or better phrase in context
* C

[2020-09-23 00:35] getJv opened #3743 "Redirect 'SCM Filter Branch PR Plugin' page from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/SCM+Filter+Branch+PR+Plugin
Redirect to the destination: https://plugins.jenkins.io/scm-filter-branch-pr/

## Redirecting pages

Redirect by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see past PRs for examples.

[2020-09-23 00:38] getJv opened #3744 "Redirect 'Quick and Simple Security' page from wiki to 'Installing Jenkins' on docs site"
## Essential information
Redirect https://wiki.jenkins.io/display/JENKINS/Quick+and+Simple+Security
Destination: https://www.jenkins.io/doc/book/installing/#war-file

Jenkins has been secure by default since at least Jenkins 2.0.  The "quick and simple security" information in this page is outdated and inaccurate.

## Redirecting pages

Redirect by sending a PR to this file:
https://github.com/jen

[2020-09-23 01:49] getJv opened #3745 "Redirect 'Durable Task Plugin' page from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Durable+Task+Plugin
Redirect to the destination: https://plugins.jenkins.io/durable-task/

## Redirecting pages

Redirect by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see past PRs for examples.

[2020-09-23 01:50] getJv opened #3746 "Migrate 'PRQA Plugin' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/PRQA+Plugin#
(Proposal) Only a redirect to the destination: https://plugins.jenkins.io/prqa-plugin/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or better phrase in context
* Change ‘whitelist’

[2020-09-23 01:52] getJv opened #3747 "Migrate 'Printing a list of credentials and their IDs' page from wiki"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Printing+a+list+of+credentials+and+their+IDs#
(Proposal) New section under destination: https://www.jenkins.io/doc/book/managing/script-console/

## Terminology updates
Please consider updating some old terminologies:
* Change ‘master’ to ‘controller’
* Change ‘slave’ to ‘agent’
* Change ‘blacklist’ to ‘denylist’ or

[2020-09-23 01:53] getJv opened #3748 "Redirect 'Next Executions' page from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Next+Executions
Redirect to the destination: https://plugins.jenkins.io/next-executions/

## Redirecting pages

Redirect by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see past PRs for examples.

[2020-09-23 01:58] getJv opened #3749 "Redirect 'Task Scanner Plugin' page from wiki to warnings-ng page on plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Task+Scanner+Plugin
Redirect to the destination: https://plugins.jenkins.io/warnings-ng/

The task scanner plugin has reached the end of its life.  The warnings-ng plugin is its replacement.

## Redirecting pages

Redirect by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/

[2020-09-23 01:59] getJv opened #3750 "Redirect 'Nuget Plugin' page from wiki to plugins site"
## Essential information
Page to Migrate: https://wiki.jenkins.io/display/JENKINS/Nuget+Plugin
Redirect to the destination: https://plugins.jenkins.io/nuget/

## Redirecting pages

Redirect by sending a PR to this file:
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf,
see past PRs for examples.