[2022-03-08 20:03] reedmurphy opened #4971 "Jenkins page - TODO: Password Reset????"
Problem with the [Jenkins](https://www.jenkins.io/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/index.html.haml)

TODO: How to reset one's password in Jenkins?  There appears to be no password reset link.

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-03-08 21:28] MarkEWaite commented on #4971
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

If you need to reset the password of a jenkins.

[2022-03-08 21:28] #4971 closed

[2022-03-09 02:26] MarkEWaite commented on #4549
Jenkins weekly no longer depends on `daemonize` as of Jenkins 2.334.  Jenkins weekly uses `systemd` as of Jenkins 2.335.  Jenkins LTS 2.332.1 will use `systemd` and not require `daemonize`.

[2022-03-09 02:26] #4549 closed

[2022-03-09 02:31] MarkEWaite commented on #3315
The Docker installation instructions no longer suggest the blueocean image.  In that sense, this issue is resolved as initially reported.

[2022-03-09 02:31] #3315 closed

[2022-03-09 13:10] reedmurphy commented on #4971
Hi Mark,

Thank you for the reply and help.  What would be the process if it is a Jenkins controller that is locally managed by the company?

Thanks.

Reed

From: Mark Waite ***@***.***>
Sent: Tuesday, March 8, 2022 3:29 PM
To: jenkins-infra/jenkins.io ***@***.***>
Cc: Murphy, Reed (GE Healthcare) ***@***.***>; Author ***@***.***>
Subject: EXT: Re: [jenkins-infra/jenkins.io] Jenkins page - TODO: P

[2022-03-09 13:27] shalimreza13 opened #4974 "Jenkins download and deployment page - TODO: Put a summary here"
Problem with the [Jenkins download and deployment](https://www.jenkins.io/download/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/index.html.haml)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-03-09 13:42] dduportal commented on #4974
Closing as there is no information provided in this issue.

[2022-03-09 13:42] #4974 closed

[2022-03-10 13:11] Sleekbobby1011 opened #4979 "Extend Jenkins page - TODO: Put a summary here"
Problem with the [Extend Jenkins](https://www.jenkins.io/doc/developer/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/developer/index.html.haml)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-03-10 13:19] dduportal commented on #4979
Closing as there isn't any information at all in this issue.

[2022-03-10 13:19] #4979 closed

[2022-03-15 12:38] kakastg opened #4999 "Using Jenkins agents page - docker ssh-agent image not working"
Problem with the [Using Jenkins agents](https://www.jenkins.io/doc/book/using/using-agents/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/using/using-agents.adoc)

Docker image put in a command in "Create your Docker agent" is tagged "alpine" but it has problems with connecting to node in Jenkins. The node cannot find a PATH to java.

## Screenshots

[2022-03-16 17:35] yknaveentel opened #5004 "groovy.lang.MissingPropertyException: No such property: NODE_NAME"
Getting the below error, attached a screenshot below.
`groovy.lang.MissingPropertyException: No such property: NODE_NAME for class: org.codehaus.groovy.runtime.GStringImpl`

## Screenshots
<img width="521" alt="image" src="https://user-images.githubusercontent.com/77407270/158652068-8c65d214-2e20-4995-bf4d-9ad4d7ed8474.png">

[2022-03-17 05:00] yknaveentel commented on #5004
Solution:
Old syntax.
[code]

New syntax fixed the error.
[code]

[2022-03-17 05:00] #5004 closed

[2022-03-19 09:44] Bilalssbb opened #5009 "Running multiple steps page - TODO: Put a summary here"
Problem with the [Running multiple steps](https://www.jenkins.io/doc/pipeline/tour/running-multiple-steps/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/pipeline/tour/running-multiple-steps.adoc)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-03-22 15:54] MarkEWaite commented on #5009
Closing issue for no response.  If a response is received, it can be reopened.

[2022-03-24 04:23] NehaMittal3010 opened #5023 "Upgrade failed from Jenkins: 2.319.3 to Jenkins:2.332.1"
Problem Statement:- Upgrade failed from Jenkins: 2.319.3 to Jenkins:2.332.1

Details of Jenkins: 2.319.3:-
Result
Jenkins: 2.319.3
OS: Linux - 4.18.0-305.25.1.el8_4.x86_64
---
ace-editor:1.1
antisamy-markup-formatter:2.7
apache-httpcomponents-client-4-api:4.5.13-1.0
bootstrap4-api:4.6.0-3
bootstrap5-api:5.1.3-6
bouncycastle-api:2.25
branch-api:2.7.0
caffeine-api:2.9.2-29.v717aac953ff3
checks-api:1

[2022-03-24 16:18] shanewalton opened #5025 "Parameterize options at the Jenkins level vs. storing in Jenkinsfile"
Thanks for sharing this documentation. It covers 99% of the Matrix functionality, but it is missing the beauty of using labels, or
 selecting nodes by clicking on them when configuring the job. It assumes that a job will use a Jenkinsfile which means that the options available must be checked into CM for every Jenkinsfile. Did you think about a way to provide the available options as parameters li

[2022-03-24 16:27] shanewalton opened #5026 "Can you provide matrix input as parameters?"
Thanks for sharing this documentation. It covers 99% of the Matrix functionality, but it is missing the beauty of using labels, or selecting nodes by clicking on them when configuring the job. It assumes that a job will use a Jenkinsfile which means that the options available must be checked into CM for every Jenkinsfile. Did you think about a way to provide the available options as parameters lik

[2022-03-24 19:21] MarkEWaite commented on #5023
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be an issue report that is better submitted to the [Jenkins software issue tracker](https://issues.jenkins.io).

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

[2022-03-24 19:21] #5023 closed

[2022-03-31 18:35] lemeurherve opened #5040 "Keep original ratio for blogpost author picture"
Looking at the blogposts, I've noticed the author pictures were displayed as a square without taking in account their default ratio, resulting in deformed pictures.

## Suggestion

Keep the original ratio by either:
- removing their constrained `height`
- using [this kind of library](https://github.com/jwagner/smartcrop.js/) to "smart crop" them
- [filling them](https://github.com/jwagner/dont-cro

[2022-04-01 06:20] kural82 opened #5046 "Sonarqube Scanner plugin is not working!"
I did uninstall Sonarqube Scanner plugin but it didn't work.

I'd like to uninstall the Sonarqube Scanner Plugin.

![image](https://user-images.githubusercontent.com/88854416/161206403-44a311a9-ff0c-46d4-8678-8f51920ed2d5.png)

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-04-01 08:34] k-Anastasiya opened #5048 "Participate and Contribute page - TODO:The service starts and immediately stops. redirect to --http Port=8080 how to solve this problem?"
![1](https://user-images.githubusercontent.com/100353760/161225337-d5098f29-4a0c-4352-b0e2-b5a55d63d1f5.png)
![2](https://user-images.githubusercontent.com/100353760/161225341-0149f60f-a3d0-4137-b720-19b8f8a34ff3.png)
![3](https://user-images.githubusercontent.com/100353760/161225343-7dde61be-810d-438b-a549-fe0596a0749e.png)
Problem with the [Participate and Contribute](https://www.jenkins.io/part

[2022-04-01 13:33] iamsrinivasa opened #5050 "Installing Jenkins page - TODO: Put a summary here"
Problem with the [Installing Jenkins](https://www.jenkins.io/doc/book/installing/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/index.adoc)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-04-02 03:21] MarkEWaite commented on #5050
Please provide more details.  We can't resolve an issue without a description of the issue.

[2022-04-02 03:21] #5050 closed

[2022-04-02 03:22] MarkEWaite commented on #5048
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

[2022-04-02 03:22] #5048 closed

[2022-04-02 03:22] MarkEWaite commented on #5046
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

[2022-04-02 03:22] #5046 closed

[2022-04-05 16:14] #5040 closed

[2022-04-06 10:43] kamisetty1995 opened #5055 "Report an issue in a plugin page - TODO: Put a summary here"
Problem with the [Report an issue in a plugin](https://www.jenkins.io/participate/report-issue/redirect/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/participate/report-issue/redirect.html.haml)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-04-07 12:24] MarkEWaite commented on #5055
We can't take action on an issue report that does not describe the issue.  I'm closing this on the assumption that it was created by accident.  If more information is added by the submitter, they can also reopen it.

[2022-04-07 12:24] #5055 closed

[2022-04-07 22:36] ambassi153 opened #5057 "Thank you for downloading Windows installer page - TODO: Put a summary here"
Problem with the [Thank you for downloading Windows installer](https://www.jenkins.io/download/thank-you-downloading-windows-installer/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/thank-you-downloading-windows-installer.html.haml)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible

[2022-04-08 01:24] MarkEWaite commented on #5057
An issue report without a description of the issue.  Closing.  If the submitter describes the issue, then they can reopen it

[2022-04-08 01:24] #5057 closed

[2022-04-11 12:15] daniel-beck opened #5065 "More clearly explain what unresolved security vulnerabilities are about"
I recently noticed an increase in the number of questions related to unresolved security vulnerabilities announced in security advisories.

A public example is https://groups.google.com/g/jenkinsci-users/c/JKnCVT1YGVk/m/Zgx2GkQwAQAJ. In private, folks file SECURITY issues or email the Jenkins security team "informing" us about these security warnings, or asking us to fix them.

We need to make it

[2022-04-13 22:58] Haleymiranda79 opened #5071 "Hi"
* Page to migrate: `TODO`
* Destination on jenkins.io: `TODO`

## Migration notes

* N/A

## For contributors

* [Wiki Migration Guidelines](https://github.com/jenkins-infra/jenkins.io/blob/master/CONTRIBUTING.adoc#moving-documentation-from-jenkins-wiki)

[2022-04-13 23:35] MarkEWaite commented on #5071
Closing for lack of useful information

[2022-04-13 23:35] #5071 closed

[2022-04-14 13:35] AlexandreFenyo opened #5072 "Using a Jenkinsfile page - Incorrect example"
Problem with the [Using a Jenkinsfile](https://www.jenkins.io/doc/book/pipeline/jenkinsfile/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/pipeline/jenkinsfile.adoc)

the following line is incorrect:
bat 'echo %SECRET_VALUE%'

Replace it with:
bat 'echo %EXAMPLE_KEY%'

[2022-04-17 13:33] hmagroun opened #5080 "Build a Node.js and React app with npm tutorial fails outside a Docker container"
Problem with the [Build a Node.js and React app with npm](https://www.jenkins.io/doc/tutorials/build-a-node-js-and-react-app-with-npm/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/tutorials/build-a-node-js-and-react-app-with-npm.adoc)

Build failed when executing : "npm install"

npm ERR! code EACCES
npm ERR! syscall mkdir
npm ERR! path /.npm
npm ERR! er

[2022-04-18 12:51] MarkEWaite commented on #5080
The tutorial is not designed to be run outside a Docker container.  The configuration steps to successfully run outside a Docker container are different and more complex.  Do you see the same problems when you run the tutorial from a Docker container, or only when you're running a Jenkins controller that is not in a container?

[2022-04-18 14:56] #5072 closed

[2022-04-19 12:20] hmagroun commented on #5080
The problem occurs when running Jenkins controller in a VM.
It works well when i run the tutorial from a docker container.

Thank you for your reactivity

[2022-04-19 12:20] #5080 closed

[2022-04-23 10:25] harishk623 opened #5089 "Issue Reporting page - TODO: Put a summary here"
Problem with the [Issue Reporting](https://www.jenkins.io/participate/report-issue/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/participate/report-issue.adoc)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-04-23 10:26] #5089 closed

[2022-04-28 13:32] dduportal opened #5096 "Error `EACCES: permission denied` when running the (development) live-reload server on macOS with Docker Desktop + VirtIOFS"
## What is the problem?

When executing the target `make run` on macOS, with Docker Desktop and the [new VirtIOfs file sharing](https://www.docker.com/blog/speed-boost-achievement-unlocked-on-docker-desktop-4-6-for-mac/) enabled, then an error `EACCES: permission denied` is thrown by the `npm install` step (running inside the container).
The error changes on each run, but is always located in a su

[2022-04-29 08:45] dduportal commented on #5096
Thanks to the help of Docker Inc'. people, this problem is now fixed.

Solution: upgrade to Docker Desktop 4.7.1 (or later).

[2022-04-29 08:45] #5096 closed

[2022-04-30 07:40] Dilipnk opened #5102 "Unbable to install any plugin in Jenkins"
Hi Team,

I am new to the jenkins and trying to learn it, I am running the jenkins from var file. After creating the user I am unable to install any plugins, it always throws the below error.

sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target
	at java.base/sun.security.provider.certpath.SunCertPathBuilder.build(SunCertPathBuilde

[2022-05-01 01:56] MarkEWaite commented on #5102
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

In this case, you may also want to check that y

[2022-05-01 01:56] #5102 closed

[2022-05-06 10:20] srini1984 opened #5118 "Not able to save jenkins job configuration on version 2.190.2 jenkins version"
Not able to save Jenkins job configuration on version 2.190.2 Jenkins version

TODO: I tried to update few configuration on my jobs and when i click save button there is no progress and not throwing any error

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-05-06 12:14] MarkEWaite commented on #5118
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

[2022-05-06 12:14] #5118 closed

[2022-05-06 13:07] KES777 opened #5119 "Pipeline page - callout is incorrect and unreferenced"
Problem with the [Pipeline](https://www.jenkins.io/doc/book/pipeline/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/pipeline/index.adoc)

Example does not show step 7

## Screenshots

![image](https://user-images.githubusercontent.com/799021/167137273-5e1a315e-8e5f-4ac1-a9f3-34f8fef35f84.png)

## Possible Solution

Describe `node`, provide example

[2022-05-06 15:52] #5119 closed

[2022-05-09 08:22] ebc12345678 opened #5125 "im not able to jenkins download"
Problem with the [Jenkins download and deployment](https://www.jenkins.io/download/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/index.html.haml)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-05-09 08:22] #5125 closed

[2022-05-11 12:36] KES777 opened #5134 "Pipeline Syntax page - Wrong documentation"
Problem with the [Pipeline Syntax](https://www.jenkins.io/doc/book/pipeline/syntax/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/pipeline/syntax.adoc)

## Screenshots

![image](https://user-images.githubusercontent.com/799021/167851138-45be045b-4dfa-4eed-afce-8485cac96458.png)

I see some SO answers refer here, but `args` does not work =(
https://st

[2022-05-11 12:45] KES777 commented on #5134
But next documentation mentions `args` but did not provide example:

![image](https://user-images.githubusercontent.com/799021/167852805-325694eb-17f8-4b51-983b-b3f86f494869.png)

[2022-05-11 13:02] dduportal commented on #5134
Thanks for opening this issue ! The « args » are provided to the « docker run » command  that starts the container in which the steps are run. But the additionalBuildArgs are the arguments provided to the « docker build » command that preceds the aformentioned « docker run ».

[2022-05-11 15:26] KES777 commented on #5134
Yes, I understand. Just complain that [`args` example](   https://github.com/jenkins-infra/jenkins.io/issues/5134#issuecomment-1123713807) does not have something like:
[code]

but first example does not describe about `args` but have that option at example

[2022-05-11 18:24] KES777 commented on #5134
sorry, I am a new user, so can do wrong things. Just point places which I did not understand

[2022-05-11 18:54] dduportal commented on #5134
No problem, and many thanks for pointing it!

I'm proposing that you author this documentation change for 2 reasons:

- Your report is legit, make sense and is valuable, so as an Open Source maintainer, I really like to give credit to people's contribution. And you are doing a contribution here: it helps a lot!
- "you know what you don't know": there is no person best suited than you to propose a

[2022-05-11 19:21] KES777 commented on #5134
If I done my configuration successfully then I try to fix documentation.
Currently I stuck

[2022-05-16 06:41] Dohbedoh commented on #4681
FYI: qas helping a user tracking down why `UpstreamCause` is not working *anymore* and I think this might actually be due to this change: https://github.com/jenkinsci/pipeline-build-step-plugin/commit/69345dedbb03141738c5b0abbadea67877853a25.

[2022-05-17 08:32] veganchamp opened #5152 "Cross-Industry DevOps: 3 Firms Get It Right with Jenkins page - need jenkinsistheway redirected to stories.jenkins.io"
Problem with the [Cross-Industry DevOps: 3 Firms Get It Right with Jenkins](https://www.jenkins.io/blog/2020/10/20/Cross-Industry-DevOps-3-Firms-Get-It-Right-with-Jenkins/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/blog/2020/10/2020-10-20-Cross-Industry-DevOps-3-Firms-Get-It-Right-with-Jenkins.adoc)

Broken links for example:
https://jenkinsistheway.io/use

[2022-05-17 09:05] dduportal commented on #5152
Thanks for reporting @antbewes !

Cc @MarkEWaite @halkeye do you want the infra-team to spawn a webservice on `jenkinsistheway.io` that would answer HTTP/30x on the new domain?

[2022-05-17 11:31] MarkEWaite commented on #5152
We need to redirect from jenkinsistheway.io to https://stories.jenkins.io/  I'm not sure what that means in terms of HTTP response codes, but we definitely need to answer from https://jenkinsistheyway.io and guide the user web browser to https://stories.jenkins.io

[2022-05-17 12:23] dduportal commented on #5152
I believe we can have a "redirector" in the public AKS cluster @MarkEWaite, in the form of an ingress rule with the [`permanent-redirect`](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#permanent-redirect) annotation (and no backend service needed). Only constrain will be to point the former domain to the public IP of the cluster. Let me open an helpdesk iss

[2022-05-17 17:14] kmartens27 opened #5158 "Deploy button not available in Pull Requests"
## Problem with this page:

The deploy button is not currently available in the [GitHub pull request page](https://github.com/jenkins-infra/jenkins.io/pull/5156).  Reason is described on [status.jenkins.io](https://status.jenkins.io/issues/2022-05-17-infra-ci/) (AKS outage)

## Screenshots

 ![no deploy 1](https://user-images.githubusercontent.com/99040580/168872036-3363d08c-40c4-485d-9dc4-96ed43e

[2022-05-17 20:36] dduportal commented on #5158
@kmartens27 Incident is finished: can you confirm it's back to normal by closing this issue, or commenting if still a problem for you?

[2022-05-17 20:52] kmartens27 commented on #5158
Hi @dduportal looks like everything is all set, and I can see the deploy button again. Thanks for the heads up and have a great rest of your day!

[2022-05-17 20:52] #5158 closed

[2022-05-19 06:09] sanganabasavap opened #5163 "Thank you for downloading Windows Stable installer page - TODO: Put a summary here"
Problem with the [Thank you for downloading Windows Stable installer](https://www.jenkins.io/download/thank-you-downloading-windows-installer-stable/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/thank-you-downloading-windows-installer-stable.html.haml)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if p

[2022-05-19 06:09] sanganabasavap commented on #5163
after downloading jenkins its not all opening

[2022-05-19 11:20] MarkEWaite commented on #5163
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

[2022-05-19 11:20] #5163 closed

[2022-05-22 12:04] persus opened #5169 "Reverse proxy - HAProxy page - TODO: This page is outdated"
Problem with the [Reverse proxy - HAProxy](https://www.jenkins.io/doc/book/system-administration/reverse-proxy-configuration-haproxy/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/system-administration/reverse-proxy-configuration-haproxy.adoc)

TODO: reqrep and rspirep are not supported anymore by new versions of HAProxy.

## Possible Solution

Can y

[2022-05-25 06:54] jiaxinonly opened #5173 "jenkins was not recognized git address"
Jenkins seems unable to identify git protocols that are not port 22.
The address format is [git@gitlab.xxxx.com:32666]:root/test.git
![image](https://user-images.githubusercontent.com/57223696/170197433-2d989d32-72b2-4b85-ba57-00b19766baa0.png)
I'm sure the format is supported by Git and the address is automatically generated by Gitlab
![image](https://user-images.githubusercontent.com/57223696/17

[2022-05-25 13:49] MarkEWaite commented on #5173
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

The format you're using is ambiguous and is not

[2022-05-25 13:49] #5173 closed

[2022-05-27 02:56] #2923 closed

[2022-05-27 05:20] MarkEWaite commented on #5169
@persus I'm not aware of any active contributors that are using HAProxy.  We'd love to have a pull request from you with your experience.

[2022-05-27 19:58] mandana10 opened #5182 "Linux page - can not install jenkin in centos following instruction on linux page due certificate expired"
Problem with the [Linux](https://www.jenkins.io/doc/book/installing/linux/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/linux.adoc)

[TODO: Describe the expected and actual behavior here ](https://pkg.jenkins.io/redhat-stable/jenkins.repo) , this page gave me certification expired

## Screenshots
<img width="619" alt="Screen Shot 2022-05-

[2022-05-27 20:36] lemeurherve commented on #5182
Yes, the certificate has expired, see [the corresponding status notice](https://status.jenkins.io/issues/2022-05-27-ssl-certificate-expired/) and [help desk issue](https://github.com/jenkins-infra/helpdesk/issues/2957).

As this repository is for the website jenkins.io and its content and not for Jenkins Infrastructure related issues, I'm closing this one.

[2022-05-27 20:36] #5182 closed

[2022-05-27 21:25] dduportal commented on #5182
Hello @mandana10 thanks for reporting! It should be fixed: can you confirm either here or in https://github.com/jenkins-infra/helpdesk/issues/2957

[2022-05-28 18:33] #4778 closed

[2022-05-28 18:51] MarkEWaite commented on #4999
Thanks for reporting the issue.  This appears to be an issue in the code rather than in the documentation.

See https://github.com/jenkinsci/docker-ssh-agent/issues/127

[2022-05-28 18:51] #4999 closed

[2022-05-28 18:53] MarkEWaite commented on #5169
Closing as a duplicate of https://github.com/jenkins-infra/jenkins.io/issues/4703

[2022-05-28 18:53] #5169 closed

[2022-05-28 18:54] MarkEWaite commented on #4237
No longer using `apt-key` in the documentation.  Resolved.

[2022-05-28 18:54] #4237 closed

[2022-05-28 19:04] persus commented on #5169
In the meanwhile I found it out myself. This is the configuration for Jenkins behind an HAProxy that works for me.

frontend https
  bind *:80
  bind *:443 ssl crt /etc/ssl/private/grundbuch-dev-infra.eu.cert.pem
  redirect scheme https code 301 if !{ ssl_fc }
  mode http
  option http-server-close
  http-request set-header X-Forwarded-For %[src]
  default_backend direct_forward
  use_backend jenk

[2022-06-02 03:58] jobamnavarro opened #5196 "Unable to submit greater than 77 character strings"
Problem with the [Jenkins](https://www.jenkins.io/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/index.html.haml)

TODO: We tried to submit the scripts below but we received an error even though we inputted correct scripts.
Script Name:
mi_this_is_a_test_script_for_jenkins_batch.ksh,mi_this_is_a_test_script_for_jenkins_batch_1.ksh,mi_this_is_a_test_script_for

[2022-06-02 05:48] dduportal commented on #5196
Hi @jobamnavarro , your issue does not seems related to a page of the website jenkins.io, which is the goal of this issue tracker, so I'm gonna close this issue.

It looks like that you need help from the community: I strongly suggest you to open a topic on the community forum at community.jenkins.io.

Side note: You'll also want to share more details on your community post to help other understan

[2022-06-02 05:48] #5196 closed

[2022-06-02 06:25] jobamnavarro commented on #5196
Thank you for your assistance!

[2022-06-08 03:16] nsreddydevops opened #5204 "Tutorials overview page - TODO: Put a summary here"
Problem with the [Tutorials overview](https://www.jenkins.io/doc/tutorials/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/tutorials/index.adoc)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-06-08 05:54] dduportal commented on #5204
Closing this issue as no information was provided to explain either what is the problem or what could be improved.

[2022-06-08 05:54] #5204 closed

[2022-06-09 03:57] jobamnavarro opened #5208 "Character String Limitation Issue in Jenkins"
Problem with the [Jenkins](https://www.jenkins.io/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/index.html.haml)

TODO: Jenkins not able to findstr > 64 character string. I tried to run the findstr below using jenkins but I've seen no output.

findstr /C:"mi_this_is_a_test_script_for_jenkins_batch.ksh,mi_this_is_a_test_script_for_jenkins_batch_1.ksh,mi_this_

[2022-06-09 06:55] dduportal commented on #5208
Hi @jobamnavarro , opening new issues on the same topic, won't get more answers from the community.

You already opened https://github.com/jenkins-infra/jenkins.io/issues/5196 about this "problem" you seem to have but we already told you that this issue tracker is only about the website jenkins.io and its content.

You have to open a topic on community.jenkins.io to get help on this topic, and giv

[2022-06-09 06:55] #5208 closed

[2022-06-10 16:18] satyajitb007 opened #5217 "Jenkins page - TODO: Put a summary here"
Problem with the [Jenkins](https://www.jenkins.io/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/index.html.haml)

TODO: unable to download the .war file

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-06-10 17:19] lemeurherve commented on #5217
Hello @satyajitb007, this repository concerns only the website jenkins.io
Could you [open an issue in the help desk](https://github.com/jenkins-infra/helpdesk/issues/new/choose) instead, and add more context to your issue please?

[2022-06-10 17:19] #5217 closed

[2022-06-10 19:37] MarkEWaite commented on #5152
Several of the issues with that page are resolved by the change that @alyssat  and @timja did while they were at the Jenkins Contributor Summit June 9, 2022.

Other issues remain because the stories.jenkins.io site seems to have slightly different URL's than the old site.  For that, we may need additional redirects somewhere

[2022-06-13 10:59] #5221 closed

[2022-06-13 14:26] lemeurherve commented on #5221
Issue transfered in doc repository and reopened

[2022-06-13 14:35] dduportal commented on #5221
What is the reason to reopen it? Is there something missing in the actual doc?

[2022-06-13 14:36] lemeurherve commented on #5221
Discussing with @MarkEWaite about it he asked me to move this issue here so it could be discussed from a doc point of view.

[2022-06-13 14:56] MarkEWaite commented on #5221
We have the automatically generated [Pipeline Steps Reference](https://www.jenkins.io/doc/pipeline/steps/) .  We don't have automatically generated documentation for declarative steps.  I asked that this be moved to the jenkins.io repository and reopened so that we would have a location to track progress generating declarative Pipeline step documentation automatically.

The [Pipeline Syntax page](

[2022-06-13 20:31] lauserb opened #5222 "End-to-End Multibranch Pipeline Project Creation page - Error with Git plugin and local directories"
Problem with the [End-to-End Multibranch Pipeline Project Creation](https://www.jenkins.io/doc/tutorials/build-a-multibranch-pipeline-project/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/tutorials/build-a-multibranch-pipeline-project.adoc)

When pointing the new pipeline to the local git repository the follow error occurs on each branch in Jenkins.

[co

[2022-06-13 21:13] MarkEWaite commented on #5222
Thanks for reporting the issue!  Much appreciated.

The tutorial was written before the [security fix](https://www.jenkins.io/security/advisory/2022-05-17/#SECURITY-2478) was implemented that disallows local checkout.  Local checkout in the tutorial simplifies an already complex tutorial by not requiring that the user configure and use a remote git repository hosting service (like GitHub).

The sy

[2022-06-14 12:44] lauserb commented on #5222
Thanks for addressing this so quickly. Should I add this argument to both `docker run` calls, i.e. for both the `jenkins-docker` and the `jenkins-blueocean` containers?

[2022-06-14 13:04] MarkEWaite commented on #5222
It is only required for the `jenkins-blueocean` container.  The `jenkins-docker` container provides a Docker in Docker facility that is used by Jenkins in the tutorial, but the `jenkins-docker` container does not run a Jenkins controller.

[2022-06-14 13:43] Roy542 opened #5226 "Not a generic guide as it won't be feasible when user skips the jdk installing step."
Problem with the [Linux](https://www.jenkins.io/doc/book/installing/linux/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/linux.adoc)

the guide won't be feasible when user skips the jdk installing step.

## Screenshots

![image](https://user-images.githubusercontent.com/107414448/173591542-7efe72ee-4694-44b4-9a56-0f179424569c.png)

## Poss

[2022-06-17 04:57] MarkEWaite commented on #5226
Closing after 3 days without a response.

[2022-06-17 04:57] #5226 closed

[2022-06-17 04:57] MarkEWaite commented on #5222
Fixed by #5223

[2022-06-17 04:58] #5222 closed

[2022-06-19 14:00] Roy542 commented on #5226
Sorry for the previous vague description. Actually the thing I noticed before was, as was captured, some error happening when server got started (probably) because I skipped the jdk installing step in jenkins guide since I had got a jdk installed in my server. I won't say it is an issue if an application should have its own jdk installed (not sure if it is the best).

[2022-06-19 14:26] Roy542 commented on #5226
latest update: I redid the guide with the recommended jdk installing step, and now jenkins service started successfully. Anyway do thank a lot for your contribution

[2022-06-19 15:11] dduportal commented on #5226
Oh, thanks for the explanation, it's clearer!

[2022-06-21 07:54] jonbrohauge opened #5238 "Replace gear icon text with library icon on download page"
On the [download page](https://www.jenkins.io/download/), there is a textual reference to a gear icon that no longer is there. AFAICT the gear icon has been replaced with a library icon.

[2022-06-22 21:42] #5238 closed

[2022-06-23 11:57] MrMack2020 opened #5251 "Chat page - TODO: is there a password reset option? Maybe an email with a rest link?"
Problem with the [Chat](https://www.jenkins.io/chat/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/chat.adoc)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-06-23 12:07] lemeurherve commented on #5251
https://libera.chat/guides/sendpass

[2022-06-30 09:04] RalphBergmannKMB opened #5268 "Jenkins download and deployment page - https://get.jenkins.io/ Temporarily Unavailable"
https://get.jenkins.io/war/2.357/jenkins.war is currently Unavailable, I get a 503 Service Temporarily Unavailable page

[2022-06-30 09:10] dduportal commented on #5268
Hi @RalphBergmannKMB thanks for reporting.

The Jenkins Infrastructure team is currently operating the production as per https://status.jenkins.io/issues/2022-06-28-maintenance-aks-k8s/.

We'll update the issue here once solved.

[2022-06-30 12:04] lemeurherve opened #5269 "Add a link to status.jenkins.io or jenkins-infra/helpdesk to the `/download` and `/mirrors` pages footer"
When there is an infra outage, people tend to use the "Report a problem" link at the bottom of jenkins.io pages and create issues not related to the website nor its content.

Last ones related to [the recent LDAP outage due to an AKS upgrade](https://github.com/jenkins-infra/helpdesk/issues/2930#issuecomment-1171066668):
https://github.com/jenkins-infra/jenkins.io/issues/5268
https://github.com/je

[2022-07-05 08:50] reveurguy opened #5273 "Improving website design and look or a re-design"
I am new to jenkins and would like to start contributing by improving the website look. I think that the website can be improved to look better visually by improving the current site components or by re-designing them a bit.

## Suggestion

I wanna start by changing the fonts, hero section and navbar initially.

## Links

[2022-07-05 08:50] reveurguy commented on #5273
/assign

[2022-07-05 11:44] reveurguy commented on #5273
/assign to me

[2022-07-06 14:29] MarkEWaite opened #5280 "Pipeline Steps Reference page - Add "(deprecated)" text to deprecated plugins"
Problem with the [Pipeline Steps Reference](https://www.jenkins.io/doc/pipeline/steps/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/pipeline/steps/index.html.haml)

The [SCM HTTP Client plugin](https://www.jenkins.io/doc/pipeline/steps/scm-httpclient/) has been deprecated, but there is no indication on the Pipeline steps reference page that it has been d

[2022-07-06 14:30] MarkEWaite commented on #5280
@vihaanthora in case you're interested in this idea.  Not a requirement, just an idea for your consideration.  Thanks again for your improvements to Pipeline steps doc generator and the Pipeline steps browsing experience.

[2022-07-06 18:41] basprins opened #5281 "Blue Ocean page - create pipeline bitbucket cloud - Invalid username and/or password"
Problem with the [Blue Ocean](https://www.jenkins.io/projects/blueocean/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/projects/blueocean/index.html.haml)

Trying to create a new pipeline with bitbucket cloud, when I enter my credentials I get an error 'invalid username / password'. I am 100% sure my credentials are OK. I can use them without a problem loggin

[2022-07-06 19:13] MarkEWaite commented on #5281
Thanks for reporting the issue.  I can duplicate the issue, though it is not an issue with the documentation, it is an issue with the Blue Ocean plugin.  Please submit an [issue for the Blue Ocean plugin(s)](https://www.jenkins.io/participate/report-issue/redirect/#21481).

The most direct workaround is to create a declarative Pipeline in a Jenkinsfile and then you may be able to use the blue ocea

[2022-07-06 19:13] #5281 closed

[2022-07-10 08:07] lemeurherve opened #5283 "Remote Access API page - broken links"
Problem with the [Remote Access API](https://www.jenkins.io/doc/book/using/remote-access-api/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/using/remote-access-api.adoc)

The `jenkins.io` job isn't on ci.jenkins.io anymore, thus the links in this paragraph are reporting a 404 error:

## Possible Solution

Put the job back on ci.jenkins.io or replace

[2022-07-10 10:40] rahmanaasri95 opened #5284 "Report an issue in a plugin page - TODO: Put a summary here"
Problem with the [Report an issue in a plugin](https://www.jenkins.io/participate/report-issue/redirect/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/participate/report-issue/redirect.html.haml)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-07-10 23:55] dromosys opened #5285 "Linux page - recommend to use jdk instead of jre"
Problem with the [Linux](https://www.jenkins.io/doc/book/installing/linux/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/linux.adoc)

TODO: Describe the expected and actual behavior here
sudo apt install openjdk-11-jre

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution
sudo apt install openjdk-11-jdk

N/A

[2022-07-11 21:04] MarkEWaite commented on #5284
Insufficient information for any action by a maintainer.  Please provide more details so that  others know what should be changed.

[2022-07-11 21:04] #5284 closed

[2022-07-11 23:56] dromosys commented on #5285
here's the error when using the jre

     [exec] Execution failed for task ':compileReleaseJavaWithJavac'.
     [exec] > Could not resolve all files for configuration ':androidJdkImage'.
     [exec]    > Failed to transform core-for-system-modules.jar to match attributes {artifactType=_internal_android_jdk_image, org.gradle.libraryelements=jar, org.gradle.usage=java-runtime}.
     [exec]       > E

[2022-07-12 00:57] zbynek commented on #5285
This change would make sense for people who use Jenkins to compile Java apps and do that directly on the controller. The suggested setup is to have separate controller and agent nodes, where controller does not run any jobs and agents do all the building. In that setup the controller only needs a JRE. (Even on the agent nodes you don't need JDK if you're not building Java apps or if you're using D

[2022-07-12 01:04] dromosys commented on #5285
fair enough

[2022-07-12 01:04] #5285 closed

[2022-07-15 07:30] tomiyama2392 opened #5293 "Redirects from ci.jenkins.io page - TODO: Put a summary here"
Problem with the [Redirects from ci.jenkins.io](https://www.jenkins.io/infra/ci-redirects/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/infra/ci-redirects.adoc)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-07-15 20:52] MarkEWaite commented on #5293
@tomiyama2392 there is no description of the problem in this issue report and no indication of any action that we can take to resolve the issue.  Closing the issue.

[2022-07-20 08:43] igalsin opened #5299 "Search Icon overlapping Search Text (UI Issue)"
Problem with the [Jenkins](https://www.jenkins.io/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/index.html.haml)
Search Icon Overlap Search Text present in Search Box in any Pipeline.

TODO: Describe the expected and actual behavior here
Expected-Search box should be user friendly and Icon should not overlap.
Actual-Icon is overlapping .
![Screenshot (222)](

[2022-07-20 17:35] akhilsoni9887 opened #5300 "Jenkins download and deployment page - TODO: Put a summary here"
Problem with the [Jenkins download and deployment](https://www.jenkins.io/download/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/index.html.haml)

TODO: Not able to open Jenkins on localhost:8080 ,getting refused to connect. Now i don't know how to start and open jenkins.

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/

[2022-07-21 19:07] MarkEWaite commented on #5300
This is not an issue with the Jenkins documentation.  It is an issue with your local installation where you were unable to start the Jenkins process on your Windows computer.  The service control manager panel shows the Jenkins service is registered but is not started.  You'll need to diagnose why the service is registered but not started.  That information is stored in the logs for Windows servic

[2022-07-21 19:07] #5300 closed

[2022-07-21 19:10] MarkEWaite commented on #5299
This is a description of an issue with your Jenkins installation, not an issue with the Jenkins documentation.

The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.  Please see ["How to report an issue

[2022-07-21 19:10] #5299 closed

[2022-07-21 19:15] MarkEWaite opened #5302 "Use latest DocSearch to improve site search"
Search results for the www.jenkins.io site are often not as effective as they should be.  Searching for the word "upgrade" should show pages related to Jenkins upgrades (like the Jenkins LTS upgrade guides).  The result of that search does not include the LTS upgrade guide currently.

We believe the search results will be improved by switching the web site indexing [from the previous Algolia DocSe

[2022-07-22 19:39] MarkEWaite commented on #5152
Closing this issue as "done as it will be".  Additional work will happen later as time allows.

[2022-07-22 19:39] #5152 closed

[2022-07-23 10:47] Anubhav0072 opened #5303 "Jenkins page - TODO: Put a summary here"
Problem with the [Jenkins](https://www.jenkins.io/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/index.html.haml)

TODO: Describe the expected and actual behavior here

I am not able to access localhost:8080
Error: this site can't be reached.

while I am trying to start services in access services, it shows 1067 error this process terminated unexpectedly.

##

[2022-07-23 11:25] dduportal commented on #5303
Hi @Anubhav0072 thanks for raising an issue.

It appears that your problem is not related to the website https://jenkins.io, but with your Jenkins installation instead.
That's why I'm going to close this issue because this issue tracker is not aimed to be a Jenkins support channel.

I recommend you to open a topic on the community forum at https://community.jenkins.io/ to ask for help from the com

[2022-07-23 11:25] #5303 closed

[2022-07-27 02:07] #5280 closed

[2022-07-28 07:05] daniel-beck opened #5316 "'Choosing a Jenkins version to build against page' does not necessarily list latest LTS releases"
Problem with the [Choosing a Jenkins version to build against](https://www.jenkins.io/doc/developer/plugin-development/choosing-jenkins-baseline/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/developer/plugin-development/choosing-jenkins-baseline.adoc)

[actual source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/_layouts/corebasel

[2022-07-28 10:36] daniel-beck opened #5319 "#4240 broke links to anchors"
#4240 broke all links to anchors, as `/` is also added to those. See e.g. "reporting" labeled link in http://www.jenkins.io/security/advisory/2021-04-07/#credit

It worked in the commit previous to the PR being merged.

_Originally posted by @daniel-beck in https://github.com/jenkins-infra/jenkins.io/pull/4240#discussion_r932002014_

[2022-07-28 16:12] #5316 closed

[2022-07-28 17:08] mstfacc opened #5321 "Not Found page - TODO: Put a summary here"
Problem with the [Not Found](https://www.jenkins.io/404/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/404.html.haml)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-07-28 18:22] mstfacc opened #5322 "Not Found page - TODO: Put a summary here"
Problem with the [Not Found](https://www.jenkins.io/404/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/404.html.haml)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-07-30 12:07] learning-de opened #5323 "Jenkins download and deployment page - TODO: Put a summary here"
Problem with the [Jenkins download and deployment](https://www.jenkins.io/download/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/index.html.haml)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible
![image](https://user-images.githubusercontent.com/94826421/181911509-2274c769-4f00-4d3a-af56-dd827

[2022-07-31 17:56] MarkEWaite commented on #5323
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

[2022-07-31 17:56] #5323 closed

[2022-07-31 17:56] MarkEWaite commented on #5322
Not possible to take action on an empty issue report

[2022-07-31 17:56] #5322 closed

[2022-07-31 17:57] MarkEWaite commented on #5321
Not possible to take action on an empty issue report

[2022-07-31 17:57] #5321 closed

[2022-07-31 18:10] MarkEWaite commented on #5025
I recommend against using Pipeline jobs that define parameters outside the Jenkinsfile.  They work and they are supported, but they create a hybrid job definition that has part of the job defined in code (the Jenkinsfile) and part of the job defined from the Jenkins web UI.  Those who own the job in source control are only able to modify the job parameter definition if they  also have Job/Configur

[2022-07-31 18:10] #5025 closed

[2022-08-02 15:14] daniel-beck commented on #5065
https://github.com/jenkins-infra/jenkins.io/pull/5305 partially addressed this.

[2022-08-02 20:55] #5273 closed

[2022-08-03 06:25] daniel-beck opened #5330 "The new header height broke the plugin site layout"
This looks terrible:
<img width="2150" alt="Screenshot 2022-08-03 at 08 24 54" src="https://user-images.githubusercontent.com/1831569/182538739-b2b51c02-6bf3-4572-9644-6a4f80d002d7.png">

[2022-08-03 18:32] zbynek commented on #5330
Same problem with many pages on jenkins.io whenever the header wraps into 2 rows (screen width 990 to 1330px)
e.g. https://www.jenkins.io/doc/book/ , https://www.jenkins.io/node/

[2022-08-03 20:28] daniel-beck opened #5334 "The new header height is out of sync with the header anchor offset"
We allow linking directly to titles through a hidden link after the text that appears on hover.

The expectation is that jumping there shows the title that was linked, but nothing above.

Now, we see half a line of the preceding text, e.g. https://www.jenkins.io/security/#advisories

<img width="1580" alt="Screenshot 2022-08-03 at 22 28 03" src="https://user-images.githubusercontent.com/1831569/18

[2022-08-03 20:29] daniel-beck commented on #5330
Is that new? I thought we had that before.

[2022-08-03 21:57] zbynek commented on #5330
@daniel-beck yes, that's new: https://deploy-preview-4701--jenkins-io-site-pr.netlify.app/node/ with the old design does not have header / content overlap for any resolution I tried

[2022-08-04 07:24] #5334 closed

[2022-08-04 19:21] MarkEWaite opened #5336 "Pipeline steps reference is missing workflow scm step"
## Pipeline steps reference is missing workflow scm step and more

The Pipeline steps doc generator job on ci.jenkins.io no longer includes the workflow-scm-step adoc file as of the [July 27, 2022 build](https://ci.jenkins.io/job/Infra/job/pipeline-steps-doc-generator/job/master/460/).  The [July 26, 2022 build](https://ci.jenkins.io/job/Infra/job/pipeline-steps-doc-generator/job/master/459/) incl

[2022-08-04 19:27] vihaanthora commented on #5336
Thanks for creating this ticket, I will investigate this issue to see what is wrong.

[2022-08-05 13:00] daniel-beck opened #5341 "There is no longer an indicator what the active menu item is"
Previously, pages on jenkins.io had an indicator (underline) what the active menu item is. That is gone now and should be restored.

## Screenshots

It's still a little visible in the broken style of plugins.jenkins.io:

<img width="1391" alt="Screenshot 2022-08-05 at 14 59 42" src="https://user-images.githubusercontent.com/1831569/183082409-8d438f56-3781-4cf0-b3da-54a3075a7334.png">

## Possible

[2022-08-05 13:02] daniel-beck opened #5342 "The font is now Arial instead of system"
#5274 changed the font from system to Arial in https://github.com/jenkins-infra/jenkins.io/pull/5274/commits/8cebe611675df86d02a172d54aac158e6fd7bea6#diff-fbc23052a455270829f7a735c01e6724abdd2b1c96b94628b9ef05589e645117R1120 after multiple reviewers stated they did not want the font change.

## Screenshots

n/a

## Possible Solution

N/A

[2022-08-06 08:13] reveurguy commented on #5341
No, the pages didn't had any indicator previously. There was a slight opacity change on hover , that i don't know how has been deactivated, i'll add that again.

[2022-08-07 17:45] JenkinsMoin opened #5346 "Jenkins page - Plugins not loading when installing jenkins Help, please."
![image](https://user-images.githubusercontent.com/110767076/183304164-6070b806-62fb-41e5-8352-a77f89046e3c.png)

[2022-08-08 08:11] vihaanthora commented on #5336
It seems to be that changing the position of one line in getPluginDescriptor of HyperLocalPluginManager is causing this. I can try making the function the same as before and see if the new artifact works fine.

[2022-08-08 10:20] daniel-beck commented on #5341
Well, they should have :) This was more noticeable because in the past, we had a lot more top-level menu items that didn't just open menus. Today it's just "Blog" and "Plugins" and it's true that "Blog" doesn't have an active link format. I did some digging and this was broken for the "Blog" entry in https://github.com/jenkins-infra/jenkins.io/commit/19b69a822e0d3cfe13e729ca2ba8e1dfe8da3765.

So,

[2022-08-08 20:45] MarkEWaite commented on #5346
We need more information before we can help with the issue.  It is likely that you have a network problem, but we can't tell because you provided no description of your network environment

[2022-08-08 23:44] MarkEWaite commented on #5346
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

[2022-08-08 23:44] #5346 closed

[2022-08-08 23:52] MarkEWaite commented on #5330
Fixed by the revert in #5331

![Screenshot 2022-08-08 175130](https://user-images.githubusercontent.com/156685/183533775-09f74152-b230-42e5-b31c-865d9d226509.png)

[2022-08-08 23:52] #5330 closed

[2022-08-08 23:53] MarkEWaite commented on #5342
Fixed in #5331

[2022-08-08 23:53] #5342 closed

[2022-08-09 16:39] daniel-beck commented on #5341
Per https://github.com/jenkins-infra/jenkins.io/pull/5347#issuecomment-1209616278

[2022-08-10 16:07] MarkEWaite commented on #5336
I've confirmed that https://www.jenkins.io/doc/pipeline/steps/workflow-scm-step/ contains the SCM step documentation after the change.  Thanks very much @vihaanthora !

[2022-08-10 16:07] #5336 closed

[2022-08-11 06:50] curveenk opened #5360 "Pipeline failing from 'maven-windows' nodes offline"
Problem with the [Redirects from ci.jenkins.io](https://www.jenkins.io/infra/ci-redirects/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/infra/ci-redirects.adoc)

We have encountered failed pipelines due to the following error  across all pull requests today:
## Screenshots

![image](https://user-images.githubusercontent.com/103989779/184077411-dc3c3c03-0e69-

[2022-08-15 05:08] SainediAmbika opened #5364 "Report an issue in a plugin page - TODO: Put a summary here"
Problem with the [Report an issue in a plugin](https://www.jenkins.io/participate/report-issue/redirect/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/participate/report-issue/redirect.html.haml)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-08-15 12:34] MarkEWaite commented on #5364
Insufficient information for any action to be taken.

[2022-08-15 12:34] #5364 closed

[2022-08-18 17:00] hseverinorev opened #5372 "Permissions page - TODO: Add permissions descriptions"
Problem with the [Permissions](https://www.jenkins.io/doc/book/security/permissions/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/security/permissions.adoc)

TODO: Add information on to what the permissions give access. There are over 20 categories and It would be nice to know, for instance how to setup a user to read job console output. The categor

[2022-08-21 15:04] tomaszwojciechowski opened #5376 "Information on "Create security group" page is not clear"
It's not clear, what values should go to red marked fields. IP address from http://checkip.amazonaws.com/ is not being accepted in first field.
"On the Inbound tab, add the rules as follows:
    Select Add Rule, and then select SSH from the Type list.
    Under Source, select Custom, and in the text box, enter [the IP address from step 1](https://www.jenkins.io/doc/tutorials/tutorial-for-installin

[2022-08-21 15:22] tomaszwojciechowski opened #5377 "Lack of information about using "old launch experience""
Flow of needed actions is being shown using "old launch experience" (which will soon be reaching end of life)- it should be mentioned in this text.

## Links
https://www.jenkins.io/doc/tutorials/tutorial-for-installing-jenkins-on-AWS/#launching-an-amazon-ec2-instance

[2022-08-23 17:07] Tahseen508 opened #5381 "Jenkins Security Advisory 2013-01-04 page - TODO: Put a summary here"
Problem with the [Jenkins Security Advisory 2013-01-04](https://www.jenkins.io/security/advisory/2013-01-04/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/security/advisory/2013-01-04.adoc)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-08-25 02:43] MarkEWaite commented on #5381
No action possible with this issue report

[2022-08-25 02:43] #5381 closed

[2022-08-25 10:10] phani420 opened #5385 "Reverse proxy - Issues page - TODO: Put a summary here"
Problem with the [Reverse proxy - Issues](https://www.jenkins.io/doc/book/system-administration/reverse-proxy-configuration-troubleshooting/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/system-administration/reverse-proxy-configuration-troubleshooting.adoc)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots

[2022-08-25 10:13] dduportal commented on #5385
Closing as this issue is not workable: lack of informations.

[2022-08-25 10:13] #5385 closed

[2022-08-25 23:31] himanshucip commented on #3608
Hello, I would like to ask, Is this issue is open to work?

[2022-08-25 23:32] himanshucip commented on #3608
If yes, can I work on it?

[2022-08-26 07:00] karreddy opened #5388 "Linux page - TODO: Put a summary here"
Problem with the [Linux](https://www.jenkins.io/doc/book/installing/linux/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/linux.adoc)

TODO: localhost website like is not working pleasee check

## Screenshots

 TODO: Add screensh
![Screenshot 2022-08-26 122737](https://user-images.githubusercontent.com/111560009/186841953-ffae1cda-7255-4649

[2022-08-28 00:48] MarkEWaite commented on #5388
Not enough information for anyone to assist.  Please describe:

1. What you did
2. What you expected to see
3. What you actually saw
4. The environment where you were running (operating system and version, Jenkins version, etc.)

[2022-08-28 00:48] #5388 closed

[2022-08-28 15:14] yannickeboo opened #5394 "Jenkins Security Advisory 2020-03-09 page - TODO: Put a summary here"
Problem with the [Jenkins Security Advisory 2020-03-09](https://www.jenkins.io/security/advisory/2020-03-09/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/security/advisory/2020-03-09.adoc)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-08-30 19:34] MarkEWaite commented on #3608
@himanshucip the content of the two pages is already covered by https://www.jenkins.io/doc/book/managing/nodes/

If you'd like to complete the work by proposing a redirect from those two pages on wiki.jenkins.io to the https://www.jenkins.io/doc/book/managing/nodes/ page, that would be great.  I believe the redirect definition is stored at https://github.com/jenkins-infra/docker-confluence-data/bl

[2022-08-31 02:08] MarkEWaite commented on #5394
Issue report does not have enough detail for us to take any action.

[2022-08-31 02:08] #5394 closed

[2022-08-31 09:10] qaautomationreqts opened #5399 "Exception while downloading any plugin"
While trying to install any plugin via Manage Plugins.. Getting below exception.
I have Java 11 installed on my machine.
openjdk version "11.0.10" 2021-01-19 LTS
OpenJDK Runtime Environment 18.9 (build 11.0.10+9-LTS)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.10+9-LTS, mixed mode)

JAVA_HOME as C:\Program Files\RedHat\java-11-openjdk-11.0.10-1

**Exception:**

sun.security.provider.certpath.SunCert

[2022-09-01 17:44] MarkEWaite commented on #5399
Something appears to be wrong with your Java installation.  The first line reports "Java 11.0.10".  That is a 2 year old version (or more) of Java 11.  You should be running Java 11.0.16.1 or at least Java 11.0.15.  The second and third lines report Java 18.  The Jenkins project does not test Java 18.

This is not a documentation issue, but rather a request for help with a configuration issue.  Cl

[2022-09-01 17:44] #5399 closed

[2022-09-02 02:27] MarkEWaite commented on #3723
Distribution of this plugin is suspended due to open security issues and an initial concern that it includes a component that is not open source.  The source for the component was located, but no one has adopted the plugin and no one has resolved the security issues.

[2022-09-02 02:27] #3723 closed

[2022-09-02 02:47] MarkEWaite opened #5406 "Apply navbar, header, footer, and layout improvements"
Create a series of pull requests that apply the changes from #5274 as a series of small, intentional, specific steps towards site improvement.

Each change should be clearly explained for its purpose and its impact should be understood.

[2022-09-02 12:31] shindevishal1443 opened #5407 "Search Box page - login error"
login error no login on account
[Jenkins [Jenkins].pdf](https://github.com/jenkins-infra/jenkins.io/files/9477844/Jenkins.Jenkins.pdf)

[2022-09-02 12:33] shindevishal1443 opened #5408 "login page error"
login error no login on account
[Jenkins [Jenkins].pdf](https://github.com/jenkins-infra/jenkins.io/files/9477844/Jenkins.Jenkins.pdf)
[Error 403 No valid crumb was included in the request.pdf](https://github.com/jenkins-infra/jenkins.io/files/9477861/Error.403.No.valid.crumb.was.included.in.the.request.pdf)

[2022-09-02 13:36] MarkEWaite commented on #5408
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

[2022-09-02 13:36] #5408 closed

[2022-09-02 13:36] MarkEWaite commented on #5407
The issue tracker for the jenkins.io documentation site is used to track issues with the Jenkins documentation.  Your request seems to be a request for help, not a report of a documentation issue or improvement.

Please use the [mailing lists](https://www.jenkins.io/mailing-lists/) and the [chat channels](https://www.jenkins.io/chat/) for questions.

[2022-09-02 13:36] #5407 closed

[2022-09-03 16:04] 846501252 opened #5411 "Jen"
## Links

* Link 1

[2022-09-03 16:54] MarkEWaite commented on #5411
Not enough information for any action.

[2022-09-03 16:54] #5411 closed

[2022-09-03 18:26] timja opened #5413 "Jenkins Board and Officers page - Images broken in safari"
Problem with the [Jenkins Board and Officers](https://www.jenkins.io/project/board/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/project/board.html.haml)

It should probably be aligned with the persons name and a bit of spacing added.

In safari it's quite broken

## Screenshots

<img width="1151" alt="image" src="https://user-images.githubusercontent.com/21

[2022-09-03 20:42] janfaracik commented on #5413
Thanks! Opened a fix https://github.com/jenkins-infra/jenkins.io/pull/5414

[2022-09-03 21:02] #5413 closed

[2022-09-05 09:29] daniel-beck opened #5421 "Anchor links no longer work on blog posts"
https://github.com/jenkins-infra/jenkins.io/pull/5387 changed wrapper classes without setting a `page.selector` for https://github.com/jenkins-infra/jenkins.io/blob/master/content/_partials/anchors.html.haml, so blog post headers lost their anchor links.

## Screenshots

Before:
<img width="571" alt="Screenshot 2022-09-05 at 11 28 23" src="https://user-images.githubusercontent.com/1831569/18841686

[2022-09-06 02:24] NehaMittal3010 opened #5424 "Jenkins not working with JDK17"
Starting new shell...
FATAL: java.lang.ExceptionInInitializerError
hudson.remoting.ProxyException: java.lang.reflect.InaccessibleObjectException: Unable to make field private final java.util.Comparator java.util.TreeMap.comparator accessible: module java.base does not "opens java.util" to unnamed module @1c1dbafd
	at java.lang.reflect.AccessibleObject.checkCanSetAccessible(AccessibleObject.java:35

[2022-09-06 15:15] awsanu opened #5427 "Installing Jenkins page - TODO: Put a summary here"
Problem with the [Installing Jenkins](https://www.jenkins.io/doc/book/installing/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/index.adoc)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-09-07 05:19] MarkEWaite commented on #5427
Closing this issue report because it lacks enough information for anyone to take action.  If the original submitter provides more information, it can be reopened.

[2022-09-07 05:19] #5427 closed

[2022-09-07 05:22] MarkEWaite commented on #5424
@NehaMittal3010 you've not provided enough information for anyone to help you.  Jenkins 2.346.3 is known to run with Java 17.  There are thousands of Jenkins controllers running Java 17.  Thus, there must be something different about your controller compared to those other controllers.  Unfortunately, you've not provided that information.

If you provide enough information so that others can dupli

[2022-09-07 05:23] #5424 closed

[2022-09-07 07:00] bugs84 commented on #4019
@trinhanhquan It would be nice - to put here a link. How did you solve it?

[2022-09-09 02:29] StackScribe opened #5432 "Review/rewrite intro to Blue Ocean to reflect new status"
We added a disclaimer to the Blue Ocean landing page but some of the other text still implies that Blue Ocean is the gateway to the future and the Classic UI is somewhat deprecated.  Review this whole section and make appropriate modifications.

https://www.jenkins.io/doc/book/blueocean/

[2022-09-09 02:32] StackScribe opened #5433 "Correct malformed xref"
The first line of the "Backup plugins" has a malformed xref.

https://www.jenkins.io/doc/book/system-administration/backing-up/#plugins-for-backup

[2022-09-09 02:52] StackScribe opened #5434 ""Architecting for Scale" should precede "Hardware Recommendations""
In the ["Scaling Jenkins"](https://www.jenkins.io/doc/book/scaling/) section, the ["Architecting for Scale"](https://www.jenkins.io/doc/book/scaling/architecting-for-scale/) section should be before the ["Hardware Recommendations"](https://www.jenkins.io/doc/book/scaling/hardware-recommendations/)

Also edit the ["Architecting for Scale"](https://www.jenkins.io/doc/book/scaling/architecting-for-sc

[2022-09-09 13:43] YashPimple commented on #5434
@StackScribe i would like to work on this issue.

[2022-09-09 23:56] MarkEWaite commented on #5434
That sounds great @YashPimple .  Please proceed.  In general, a mention like you did is enough.  Looking forward to your pull request.

[2022-09-10 06:43] rdsol commented on #5433
Hello, I would like to work on this issue. As I am very new here and it will be my first contribution, Can you please share more information which word/s need correct xref ? Thanks!

[2022-09-10 09:22] 846501252 commented on #5411
Jen

[2022-09-11 09:58] zbynek commented on #5433
@rdsol I think the problem is that too many special symbols are used, making it look like a malformed link, even though it was not meant to be one. I suggest a fix in a PR, you're welcome to review it: #5437

[2022-09-11 10:19] rdsol commented on #5433
@zbynek, Thanks for your valuable response and fix. It's looks good to me after your fix.

[2022-09-11 16:31] Kokos2083 opened #5438 "Project structure and governance page - TODO: Put a summary here"
Problem with the [Project structure and governance](https://www.jenkins.io/project/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/project/index.adoc)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

N/A

[2022-09-11 18:59] #5433 closed

[2022-09-12 14:37] #5438 closed

[2022-09-15 18:15] #3064 closed

[2022-09-15 18:21] #3134 closed

[2022-09-15 18:24] kmartens27 commented on #3251
![Uploading Screen Shot 2022-09-15 at 2.24.01 PM.png…]()

[2022-09-16 02:20] MarkEWaite commented on #3771
Evergreen has been shutdown.  The pages that reference Evergreen can be redirected to a single summary page that says Evergreen is down and won't be brought back.

[2022-09-16 02:25] MarkEWaite commented on #3692
The documentation on that page should note the risk that an incorrect email address or an aggressive spam filter may prevent the welcome email from arriving.  If that happens, open a ticket at https://github.com/jenkins-infra/helpdesk

[2022-09-16 02:44] MarkEWaite opened #5453 "Remove the Appendix page - empty and will remain empty"
Remove the https://www.jenkins.io/doc/book/appendix/ page . We don't intend to ever put content on that page.

[2022-09-16 02:57] MarkEWaite opened #5454 "Extend agent and related glossary entries with links to documentation sections"
## Extend cloud, agent, and node [glossary entries](https://www.jenkins.io/doc/book/glossary/) to link to documentation

Agent glossary entry should link to "Managing nodes", "Using Jenkins agents", and "Defining execution environments".  May need to link to one or more sections of the security documentation.

Node glossary entry should link to "Managing nodes" and "Using Jenkins agents", and "Def

[2022-09-16 03:02] MarkEWaite opened #5455 "Link from "Step" glossary entry to Pipeline pages"
# Link from the ["Step"](https://www.jenkins.io/doc/book/glossary/) glossary entry to several Pipeline pages

https://www.jenkins.io/doc/book/pipeline/getting-started/  and https://www.jenkins.io/doc/book/pipeline/jenkinsfile/

[2022-09-16 03:05] MarkEWaite opened #5456 "Add a "Kubernetes" entry to the glossary"
# Add a "Kubernetes" entry to the glossary

We have an entire installation section with two or three different ways to install on Kubernetes, but don't have a glossary entry for Kubernetes.  Add a glossary entry that describes Kubernetes and link to the installing page.

[2022-09-16 03:45] StackScribe commented on #5454
Other possible links:
* https://www.jenkins.io/doc/book/security/controller-isolation/#agent-controller-access-control
* https://www.jenkins.io/doc/book/using/using-agents/
*

[2022-09-16 03:49] StackScribe opened #5457 "Add content to "Administering Jenkins on Kubernetes""
We have a stub page entitled "Administering Jenkins on Kubernetes" but it has no content.  It should include a link to the Kubernetes Installation page and then have more information.

https://www.jenkins.io/doc/book/system-administration/administering-jenkins-on-kubernetes/

[2022-09-16 18:33] YashPimple commented on #5434
@MarkEWaite @StackScribe  I have a doubt about how should I include a link to the backup section that discusses backup policies. Any reference?

[2022-09-16 20:31] #5456 closed

[2022-09-16 20:35] MarkEWaite commented on #5434
https://www.jenkins.io/doc/book/system-administration/backing-up/ is the destination of the link

[2022-09-17 07:34] danieled-it commented on #5269
I hope you'll excuse my lack of knowledge on this, but as far as I see all the pages are somehow referring to [content/_layouts/frame.html.haml](https://github.com/jenkins-infra/jenkins.io/blob/master/content/_layouts/frame.html.haml) containing the two links for "Improve this page" and "Report a problem", meaning that changing that file would impact all of them, and I think that'd be a bad approa

[2022-09-17 12:59] #5453 closed

[2022-09-17 13:00] #5455 closed

[2022-09-17 14:23] lemeurherve commented on #5269
Indeed ^^

I'm not sure what would be the best way to achieve this.
Thinking out loud I would try to add a property to the `page` object, like `with_helpdesk_link`, then depending on its value display either the "Report a problem" or the help desk link.

[2022-09-18 09:43] daniel-beck opened #5466 "Screenshots on the plugin site now stick out like sore thumbs because their background is white"
Screenshots on the plugin site now stick out like sore thumbs because their background is white, e.g. https://plugins.jenkins.io/role-strategy/

_Originally posted by @daniel-beck in https://github.com/jenkins-infra/jenkins.io/pull/5387#discussion_r972823839_

[2022-09-18 13:22] MarkEWaite commented on #3251
I had difficulty seeing the issue in the text, but it is there.  Search for the text "image]".  It is out of place.

[2022-09-18 19:21] MarkEWaite opened #5467 "Create a Plugin page uses outdated archetype version"
Problem with the [Create a Plugin](https://www.jenkins.io/doc/developer/tutorial/create/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/developer/tutorial/create.adoc)

the plugin creation tutorial at [https://www.jenkins.io/doc/developer/tutorial/create/] uses an old (1.5) version of the archetype.

This archetype is still using version 3 of the plugin-pa

[2022-09-19 11:55] faandg opened #5469 "Document tested and supported keystore types"
Would be nice if this page listed the different types of supported keystores such as JKS, p12, ...
Had to dive into a PR to confirm if p12 has been tested and is supported (link below).

## Links
https://www.jenkins.io/doc/book/installing/initial-settings/#https-with-an-existing-certificate

* [Link 1](https://github.com/jenkinsci/jenkins/pull/6694)

[2022-09-20 00:54] basil opened #5474 "Migrate from Awestruct to a modern static site generator"
At the time of this writing, Awestruct hasn't been released in 2 years, 3 months, and 27 days. It is effectively a dead project upstream. Continuing to rely on it does not seem sustainable.

I recommend considering [Antora](https://antora.org) as a replacement. It is focused on AsciiDoc, which would be a natural fit for us. In addition, it supports stitching together multiple Git repositories and/

[2022-09-20 01:08] basil commented on #5474
[Antora doesn't support blogs](https://gitlab.com/antora/antora/-/issues/444) and is specifically for documentation sites, so it likely only makes sense to move the /doc/ URL-space to Antora. The /doc/ URL-space would be a good fit for Antora and would benefit from versioning, currently not provided by Awestruct. The rest of the site, including the blog and the other static pages that don't docume

[2022-09-22 22:17] StackScribe opened #5488 "in JCasC section, use same font for all items in bullet list"
In https://www.jenkins.io/doc/book/managing/casc/, section "Viewing the JCasC file", bullet list of sections has "unclassified" in a different font than the key words for other items in the list.

[2022-09-23 01:35] StackScribe opened #5489 "Agent info in "Architecting for scale" should link to other agent docs"
https://www.jenkins.io/doc/book/scaling/architecting-for-scale/ contains information about working with agents that should reference (and possibly be referenced) by other docs about working with nodes and agents,  It may be that the info in the different sections should be moved around a bit -- it seems to me that the "Architecting for scale" piece has a whole lot of vanilla info about agents that

[2022-09-23 01:52] StackScribe opened #5490 "Using credentials should also be in Pipeline secton"
https://www.jenkins.io/doc/book/using/using-credentials/ is under "Using Jenkins" and should also be in the Pipeline section -- or at least referenced in the Pipeline section.

Where do we have good information about managing/administering credentials?

[2022-09-23 02:53] StackScribe opened #5491 "Remove server-specific reverse proxy pages from ToC"
## Reduce length of table of contents by moving the server-specific reverse proxy pages

The "System Administration" section lists pages for six specific reverse proxy types, which helps to make that table of contents just too long!

Proposed solution:
* In https://www.jenkins.io/doc/book/system-administration/reverse-proxy-configuration-with-jenkins/ , change the "Configuration Examples" header t

[2022-09-23 07:50] janhollevoet opened #5492 "Kubernetes page - Empty YAML files"
Problem with the [Kubernetes](https://www.jenkins.io/doc/book/installing/kubernetes/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/kubernetes.adoc)

I expected to get the contents of the deployment yaml file but got an empty file ({}).

## Screenshots

 ![image](https://user-images.githubusercontent.com/13447907/191913522-dbe5de14-99a9-4a7

[2022-09-23 07:55] lemeurherve commented on #5492
Could you check again? I've just opened [the link](https://raw.githubusercontent.com/jenkins-infra/jenkins.io/master/content/doc/tutorials/kubernetes/installing-jenkins-on-kubernetes/jenkins-deployment.yaml) and got the expected YAML content:

<img width="1136" alt="image" src="https://user-images.githubusercontent.com/91831478/191915458-026abb6c-0a91-4476-a941-bfe3d0d115ac.png">

[2022-09-23 08:46] janhollevoet commented on #5492
It's OK. I was fooled by the JSON Formatter extension in my Chrome browser:

jenkins-deployment.yaml:1 Blocked script execution in 'https://raw.githubusercontent.com/jenkins-infra/jenkins.io/master/content/doc/tutorials/kubernetes/installing-jenkins-on-kubernetes/jenkins-deployment.yaml' because the document's frame is sandboxed and the 'allow-scripts' permission is not set.
​ JSON Formatter: Type

[2022-09-23 08:46] #5492 closed

[2022-09-23 12:06] janhollevoet opened #5495 "Kubernetes page - Ports to access the Jenkins instance do not match"
Problem with the [Kubernetes](https://www.jenkins.io/doc/book/installing/kubernetes/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/installing/kubernetes.adoc)

In the section "Install Jenkins with YAML files", the port found by the command get services command is 32664, whereas the port used to access the Jenkins instance is 30104.

## Screenshots

!

[2022-09-24 18:51] AvetSargsyan opened #5497 "Problem with installing Jenkins"
Hello, I have a problem with the installing Jenkins. JDK is installed. Can someone help me?

![problem](https://user-images.githubusercontent.com/91004418/192114127-09988efa-6c74-4404-9ff9-388f5f927003.png)
![java](https://user-images.githubusercontent.com/91004418/192114149-acba0b69-6f39-4939-9456-eac5f44d0b88.png)

[2022-09-24 20:16] MarkEWaite commented on #5497
Jenkins does not support Java 18.  The [Java requirements page](https://www.jenkins.io/doc/administration/requirements/java/) states that Jenkins supports Java 11 and Java 17.

Build jobs can use Java 18 but the Jenkins controller and Jenkins agents must be run with Java 11 or Java 17.

[2022-09-24 20:17] #5497 closed

[2022-09-26 08:48] tanujdevops commented on #5489
Hello @StackScribe
I'm Tanuj, I'm an undergraduate student pursuing my Software Engineering Degree.
I'm just getting started with Open Source. I'd really appreciate if you can guide me a little on how can I help in fixing this issue and hence, I can make my first ever Open Source Contribution.
Thank you!

[2022-09-26 13:27] tanujdevops commented on #5457
I have submitted a PR resolving this issue, I'd really appreciate a follow up.

[2022-09-26 15:38] tanujdevops commented on #5490
Should I add the same [using-credentials](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/using/using-credentials.adoc) file in the Pipeline Section and open a PR?

[2022-09-27 10:51] nancy-echefu opened #5504 "Cannot uninstall Oracle Java SE Development Kit Installer"
I cannot uninstall the Oracle Java SE Development Kit Installer plugin in Jenkins. Whenever I uninstall it says "uninstallation pending". However once you restart jenkins, instead of uninstalling the plugin , it installs it back. How can I get rid of this plugin?

[2022-09-27 14:16] MarkEWaite commented on #5504
It may depend on the version of Jenkins that you are running.  That plugin was part of Jenkins core and was detached to a separate plugin in Jenkins 2.112.  For a period after a plugin is detached from core, the plugin functionality exists in both core and in the plugin.  If the plugin is uninstalled, then the core functionality is shown to the user.  The plugin manager sees that and offers that t

[2022-09-27 15:17] dduportal commented on #5457
The PR is the following: https://github.com/jenkins-infra/jenkins.io/pull/5503

[2022-09-28 09:57] OmkarBorhade98 commented on #5495
@janhollevoet I would like to work on this issue

[2022-09-28 10:23] tanujdevops commented on #5495
The issue is resolved, we can close this issue by merging my PR #5510

[2022-09-28 10:34] tanujdevops commented on #5488
I have solved this issue and created a PR #5512

[2022-09-28 10:37] tanujdevops commented on #5434
I have preceded "Architecting for Scale" by editing the YAML file. You can see the PR #5511

[2022-09-28 10:39] OmkarBorhade98 commented on #5454
@MarkEWaite @StackScribe Hello! I would like to work on this issue.

[2022-09-28 10:40] tanujdevops commented on #5491
I have made the small change mentioned in this issue and added "by Server Type" and I have created the PR #5509
To completely close this issue, We will have to change the layouts of the files in this section. I am not sure how to exactly do it. But if someone guides me on how I can change the layout and which files I need to update, I'll do it ASAP.

[2022-09-28 11:46] #5495 closed

[2022-09-28 13:51] MarkEWaite commented on #5504
@nancy-echefu I've explored further and now have a case that shows the behavior that you're seeing.  I'm not sure why my earlier attempt did not show the same behavior you are seeing, but I can see it today.  Today's steps were:

1. Run Jenkins (2.371 or 2.361.1) with `java -jar jenkins.war` and follow the setup wizard to install suggested plugins
2. Uninstall the Oracle Java SE installer plugin,

[2022-09-28 16:59] YashPimple commented on #5434
Thank You @tanujdevops for helping me out.

[2022-09-29 11:30] MarkEWaite commented on #5491
See https://github.com/jenkins-infra/jenkins.io/pull/5509#issuecomment-1260815799 for suggestions

[2022-09-29 16:35] daniel-beck opened #5516 "Blockquotes stick out because their background is white"
Problem with this page:
https://www.jenkins.io/doc/developer/security/csp/

The blockquote looks weird because its background is explicitly white, while the rest of the page is not.

## Screenshots

<img width="1961" alt="Screenshot 2022-09-29 at 18 35 05" src="https://user-images.githubusercontent.com/1831569/193088521-ca62969b-11e6-4cae-84bf-7a426344c464.png">

## Possible Solution

Revert #5387

[2022-09-29 18:08] zbynek commented on #4772
does not say you should avoid creating global variables, only that **global variables defined in a shared library should only expose methods that do not change the variable's state.** -- @moises-perez-tfs do you think that's more clear?

[2022-09-29 18:54] zbynek commented on #4835
Not sure if this should be changed. It makes sense for the documentation on jenkins.io to focus on features provided by Jenkins itself and plugins like https://plugins.jenkins.io/matrix-auth/ that are installed on ~90% instances. Features provided by other plugins (in this case https://plugins.jenkins.io/role-strategy/ installed on ~30% instances) are only mentioned with a link to the plugin docum

[2022-09-29 19:29] zbynek commented on #4321
@daniel-beck since https://github.com/jenkins-infra/jenkins.io/pull/4442 the page is using the correct layout and it no longer contains code blocks. Do you have some other examples or can this issue be closed?

[2022-09-29 19:32] MarkEWaite commented on #5454
Sounds great @OmkarBorhade98 .  Please submit a pull request and we'll review it.

[2022-09-29 20:59] tanujdevops commented on #5488
This issue has been resolved and the required changes have been merged.
We can close this issue.

[2022-09-29 21:03] dduportal commented on #5488
Closed by https://github.com/jenkins-infra/jenkins.io/pull/5512. Thanks!

[2022-09-29 21:03] #5488 closed

[2022-09-30 02:55] Samiatrix commented on #3335
Hi @vsilverman
Can I try to contribute here?

[2022-09-30 03:00] Samiatrix commented on #3650
Hey @MarkEWaite @vsilverman Can I please contribute in this issue?

[2022-09-30 06:10] puri15dayanand opened #5519 "Jenkins User Documentation page - TODO: Put a summary here"
Problem with the [Jenkins User Documentation](https://www.jenkins.io/doc/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/index.adoc)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

 Job for jenkins.service failed because the control process exited with error code. See "systemc

[2022-09-30 06:15] puri15dayanand opened #5520 "Jenkins service on rpm based system did not start after install"
Problem with the [Jenkins User Documentation](https://www.jenkins.io/doc/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/index.adoc)

TODO: Describe the expected and actual behavior here

## Screenshots

 TODO: Add screenshots if possible

## Possible Solution

 Job for jenkins.service failed because the control process exited with error code. See "systemc

[2022-09-30 07:27] Jagrutiti commented on #5467
Hey @MarkEWaite

I understand I have to change the archetype.

But what I am not sure about the following part that is highlighted in the image:

instead of this what should the tutorial say? What do I replace `version 1.5` with? What is the current archetype version?

[2022-09-30 12:12] MarkEWaite commented on #5520
You'll need to provide more information about the condition of the system when that screenshot was taken.  You'll need to provide the output of `journalctl -u jenkins` if you'd like help from others.  You'll need to confirm that you followed all the steps in the documentation, including the step that requires you to install Java.  You'll need to describe the operating system where you're installin

[2022-09-30 12:13] MarkEWaite commented on #5519
Closing as a duplicate of #5520 since #5520 includes one screenshot more than this issue.

[2022-09-30 12:13] #5519 closed

[2022-09-30 12:17] #5516 closed

[2022-09-30 12:17] #5466 closed

[2022-09-30 14:43] #5504 closed

[2022-09-30 14:46] MarkEWaite commented on #5467
When you run the ["Create a plugin" tutorial](https://www.jenkins.io/doc/developer/tutorial/create/) on your own computer, you can compare the actual results you see with the documentation.  The documentation needs to be updated to match the current behavior.

[2022-09-30 15:39] MarkEWaite commented on #3650
Yes @Samiatrix you are welcome to contribute to this issue.

Steps that I think you should take:

* [ ] Perform the existing steps that are described in the tutorial and note the areas where you have problems in those steps
* [ ] Compare the problems you encountered with the problems described by @atsalolikhin-spokeo and @4wdmh
* [ ] Create a pull request to resolve those problems

[2022-09-30 15:42] MarkEWaite commented on #3335
Yes @Samiatrix , you can contribute here.  Follow the steps described by @vsilverman in https://github.com/jenkins-infra/jenkins.io/issues/3335#issuecomment-665125187

[2022-09-30 17:55] ankurkumarz commented on #5467
Has this been assigned? If not, get it assigned to me.

[2022-09-30 18:27] MarkEWaite commented on #5467
@ankurkumarz we're not assigning issues to individuals.  When we've assigned issues to first-time contributors, it has left us with many issues that are assigned but the person assigned is making no progress on the issue.

If you'd like to work on the issue, you're welcome to do so.  Report your progress with comments in the issue so that others know you're making progress and submit a pull reques

[2022-09-30 18:30] #3779 closed

[2022-09-30 18:34] MarkEWaite commented on #3782
Fixed by someone in the Liquibase plugin without merging the related pull request to migrate the documentation

[2022-09-30 18:34] #3782 closed

[2022-09-30 18:39] MarkEWaite commented on #3222
Agent to controller access control has significant changes since this ticket was originally opened.  Migrating the data from the wiki no longer makes sense.  Closing the issue.

[2022-09-30 18:39] #3222 closed

[2022-09-30 19:14] ankurkumarz commented on #5467
Thanks for explaining the process. I am working on it and will raise a PR once done.

[2022-10-01 07:15] Jagrutiti commented on #5467
Could I tell me how can I do this in Gitpod? I did not find the Gitpod option.

[2022-10-01 08:00] Jagrutiti commented on #5454
Hey @MarkEWaite

I have made a PR but maybe it requires some fixes.

[2022-10-01 11:01] Jagrutiti commented on #3335
In the pdf what is the link in the first column for?

The last column gives us the error code the link is throwing.

While the "page where found" the fourth column gives us the page link where the `url` is broken.

What is the `src` in the fourth column for?

[2022-10-01 12:35] #5454 closed

[2022-10-01 12:44] MarkEWaite commented on #3335
The first column is the URL that is not being found, as a clickable link.  It is the same link as the text in the second column.  That link is in the page that is in the `url` link.

The `src` link provides the source code of the page that the link checker used to search for broken links.

[2022-10-01 13:00] lifehutch opened #5525 "Kiyv - not Kiev. This is ukrainian city!!!mary here"
Kiyv - not Kiev. This is ukrainian city!!!

[2022-10-01 15:26] krisstern commented on #4718
Hi @MarkEWaite I would like to work on this issue for Hacktoberfest.

[2022-10-01 20:48] zbynek commented on #5474
FWIW @halkeye has a proof-of-concept migration to Gatsby.

[2022-10-01 20:49] halkeye commented on #5474
yea, https://github.com/halkeye/gatsby-jenkins-io but i've learned a lot since then.

[2022-10-01 20:51] halkeye commented on #5474
I'm eyeing trying to make news.jenkins.io (blog) seperate from the main site next. That way we can use MDX and netlify-cms to make it easy for people to submit posts.

But first i've been playing around with making some common react components, though also debating trying web components again.

[2022-10-01 21:19] #5421 closed

[2022-10-01 21:21] ankurkumarz commented on #5467
Raised a PR for the same:
https://github.com/jenkins-infra/jenkins.io/pull/5528

[2022-10-01 21:27] #5467 closed

[2022-10-02 00:02] #3665 closed

[2022-10-02 00:24] MarkEWaite commented on #5525
Since there are no uses of the word "Kiev" on the jenkins.io web site, I am closing this issue.

It is sad and a little ironic that the submitter used an incorrect spelling for the replacement text.  As far as I can tell from the Wikipedia article and the social media campaign, it should be spelled **"Kyiv"** and not **"Kiyv"** or **"Kiev"**.

[2022-10-02 00:24] #5525 closed

[2022-10-02 00:24] MarkEWaite commented on #5520
Closing after two days with no response

[2022-10-02 00:24] #5520 closed

[2022-10-02 05:13] Ln11211 commented on #5319
@daniel-beck , If I were to try solving this issue, what am I exactly supposed to do?, can you please help me with the fix? :)

[2022-10-02 05:15] OmkarBorhade98 commented on #3945
Hi! @MarkEWaite
I have raised a PR #5532 . It will resolve this issue.

[2022-10-02 05:59] ankurkumarz commented on #3650
Followed the steps and improved the instructions.

As described in the issue, added instructions for "docker plugin" installation as a step and updated the instructions to ease pipeline creating using the examples without any error.

Additionally, added a video link to the detailed pipeline page.

PR:
https://github.com/jenkins-infra/jenkins.io/pull/5533

[2022-10-02 06:06] Ln11211 commented on #5432
Hey there @StackScribe , I'm interested but I want to know what exactly is the "new status" and what needs to be done, specifically what do "modifications" mean, I cannot promise but I will try my best :)

[2022-10-02 06:12] Dani-Google commented on #5490
@StackScribe
I have referenced under pipeline section and created a pull requesst :)
Can you check please and approve it?

[2022-10-02 07:09] zbynek commented on #5372
@hseverinorev I proposed some additions to that page in https://github.com/jenkins-infra/jenkins.io/pull/5534 , does that address your concern?

[2022-10-02 08:43] lifehutch opened #5535 "Jenkins page - TODO: Put a summary here"
Back to "Kiyv" or "Kyiv", as to me both are correct, it depends on how u translate each letter. But https://gyazo.com/794637cd2d3dd7cc8720b344b5f37763, in the field "Time Zone" still using "Kiev" that is absolutely incorrect using rusian transliteration.

[2022-10-02 08:56] zbynek commented on #5535
This tracker is for the Jenkins website, not the Jenkins software. Besides the timezone names do not come from Jenkins, but from your Java distribution. You may file an issue with OpenJDK (https://github.com/openjdk/jdk/search?q=kiev), Oracle or whoever is the vendor of your JVM. Please close this issue.

[2022-10-02 09:52] #5535 closed

[2022-10-02 20:08] #3945 closed

[2022-10-02 21:23] #3650 closed

[2022-10-02 23:58] zbynek commented on #4898
Fixed in #5533 , duplicate of #3650

[2022-10-03 04:11] #5319 closed

[2022-10-03 09:13] #4898 closed

[2022-10-03 09:15] tanujdevops commented on #4927
A `hostPath` volume mounts a file or directory from the host node's file system into your pod.
So should I just replace `emptyDir: { }` with `hostPath: {}`?
Also, a `hostPath` Persistent Volume must be used only in a single-node cluster. Kubernetes does not support `hostPath` on a multi-node cluster currently.

[2022-10-03 12:36] #3251 closed

[2022-10-03 12:38] #4557 closed

[2022-10-03 19:56] #4724 closed

[2022-10-03 21:00] MarkEWaite commented on #5432
@Ln11211 we didn't label this as a "good first issue" because the details of the change need to be assembled by someone with strong Jenkins experience.  There are other issues in the repository that are probably better suited for you as [good first issues](https://github.com/jenkins-infra/jenkins.io/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22).

[2022-10-04 01:22] Ln11211 commented on #5432
Ok, I understand :)

[2022-10-04 01:53] MarkEWaite commented on #4718
That would be great @krisstern .  Let me know if you need help.  I'll assign the issue to you.  Also let me know if you reach a point where you're not able to proceed and we'll unassign it.

[2022-10-04 14:49] dduportal commented on #4927
It is true that changing from `emptyDir` to `hostPath` would ensure that data persists a jenkins pod deletion as per https://kubernetes.io/docs/concepts/storage/volumes/#emptydir.

But `hostPath` is not a solution either: as per https://kubernetes.io/docs/concepts/storage/volumes/#hostpath, it implies security concerns (permissions mainly) and does not guarantuee persistence when Jenkins pod is re

[2022-10-04 17:45] zbynek commented on #4927
@dduportal the part of the tutorial focused on Helm installation is suggests creating a persistent volume using `hostPath` and links to the official documentation page you mentioned https://www.jenkins.io/doc/book/installing/kubernetes/#create-a-persistent-volume as well as Jenkins official helm chart.

Maybe the YAML installation method should use the same storage type? Since this is not meant fo

[2022-10-04 17:58] MarkEWaite commented on #4927
Based on other comments from @dduportal, I'm more inclined to remove the YAML installation path and limit the documentation to helm charts with a link to the operator as an alternative.  We've learned much more about managing a Jenkins installation in Kubernetes since this documentation was written in 2020.  I think it may be time to remove the YAML description and focus on helm.

Comments and con

[2022-10-04 20:13] zbynek commented on #4678
@timja do you think there is still something to do here after merging #5551 ?

[2022-10-04 20:21] #4678 closed

[2022-10-04 22:40] zbynek commented on #4408
The typo was fixed in #5082 . There is already one Linux and one Windows example of injection, maybe this issue can be closed.

[2022-10-05 01:08] #4408 closed

[2022-10-05 11:40] Abhishekverma2002 commented on #5490
I want to make the desired changes to the documentation. Please assign me this task if not already done.

[2022-10-05 12:32] krisstern commented on #4718
Thanks so much @MarkEWaite! Sure, I would like a very very brief overview of the architecture of the dev docs, to save me some time prepping for the pull requests. Do you happened to have any info on this?

[2022-10-05 12:43] krisstern commented on #4718
Also, by dev docs you meant this?: https://www.jenkins.io/doc/developer/

[2022-10-05 13:08] MarkEWaite commented on #4718
That's correct.

The [user handbook](https://www.jenkins.io/doc/book/getting-started/) has a menu structure that expands, contracts, and highlights the current entry.  When I open the [installing Linux](https://www.jenkins.io/doc/book/installing/linux/) page, the left side expands the "installing" section and emphasizes the "Linux" entry in that section.

The [developer handbook](https://www.jenki

[2022-10-05 13:23] MarkEWaite commented on #5490
That's great.  Go ahead.  We generally don't assign "good first issue" tasks because they are small enough that it is more effective for the new contributor to submit the pull request rather than assign the task and then hope that the new contributor completes the task.

[2022-10-06 06:52] Abhishekverma2002 commented on #5490
Please review this and pardon me for any mistakes I have committed while pull requesting this. This is my first contribution. @MarkEWaite

[2022-10-06 08:46] NotMyFault opened #5555 "Sponsor links are broken on the homepage"
At the bottom of https://www.jenkins.io/ various major sponsors and contributors are listed.

Previously, clicking on the images and texts linked to the website of the sponsor, as seen on a snapshot from September 1st: https://web.archive.org/web/20220901022740/https://jenkins.io/

Currently, clicking on the sponsor icons or text below, does no longer take you to the sponsor's website.

[2022-10-06 15:19] OmkarBorhade98 commented on #2933
Hello @oleg-nenashev ,
I have raised a pull request #5559. It will resolve this issue.

[2022-10-06 17:17] #2933 closed

[2022-10-06 19:12] MarkEWaite opened #5561 "jenkins.io/plugins should redirect to plugins.jenkins.io"
Problem with this page:

There is a link to `https://www.jenkins.io/plugins` from the [Linux support policy page](https://www.jenkins.io/doc/administration/requirements/linux/) and from the [requesting hosting page](https://www.jenkins.io/doc/developer/publishing/requesting-hosting/#categorize-the-plugin). That link should redirect to https://plugins.jenkins.io .  Instead, it "sticks" to https://w

[2022-10-06 21:10] moises-perez-tfs commented on #4772
Yes, I think that would be much clearer if that was the original intention.

I think providing an example of how this would be a bad idea or how it would affect a pipeline would be even more helpful. Or even a link to a page that describes the "antipattern" would be helpful.

[2022-10-06 21:37] zbynek commented on #4772
I don't know *why* is it bad in particular (some discussion is in #611).

@jglick I noticed you suggested this in https://issues.jenkins.io/browse/WEBSITE-321?focusedCommentId=289789&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-289789 , could you please give us a hint why is it a bad idea?

[2022-10-06 21:58] jglick commented on #4772
Well, global variables should not have any state to begin with. They should be functions, or structs holding functions, etc. To repeat,

[2022-10-06 22:21] zbynek commented on #4772
@jglick thanks, but I still don't understand *why* is state in global variables bad and in local variables OK. Is it to make sure the pipeline can survive controller restart? Is the state of global variables shared between pipellines?

[2022-10-07 12:19] jglick commented on #4772
State is not shared between builds, but state referenced from libraries or `static` fields will not survive controller restarts (IIRC). The controller will save the `groovy.lang.Script` corresponding to the `Jenkinsfile` and whatever objects are reachable from it. So if you want to use some state, it must be reachable somehow from a local variable defined in `Jenkinsfile`.

[2022-10-07 13:18] #5555 closed

[2022-10-07 13:51] tanujdevops commented on #5434
We can close this issue as it has been resolved.

[2022-10-07 13:59] #5561 closed

[2022-10-07 15:15] rrpari commented on #3809
Can you assign this to me ?

[2022-10-07 15:19] rrpari commented on #3809
These links given in issue are broken
https://jenkins-wiki-exporter.jenkins.io/
https://github.com/jenkins-infra/jenkins-infra/blob/staging/dist/profile/templates/confluence/vhost.conf

[2022-10-07 15:32] MarkEWaite commented on #3809
No need for it to be assigned.  Submit the pull request to resolve the issue and that is enough.  We've had poor results when we assign issues to infrequent contributors.

[2022-10-08 00:50] #4772 closed

[2022-10-08 03:41] CyberGeni commented on #5406
@MarkEWaite i want to be assigned to this, but i have questions. what exactly is being changed? is there a design we're using to improve the site, or we're proposing new improvements?

[2022-10-08 07:44] krisstern commented on #4718
Hi @MarkEWaite I am wondering what is the most efficient way to test out changes in the codebase for the dev docs?

[2022-10-08 08:45] tanujdevops commented on #5457
Updated PR for this issue is #5547

[2022-10-08 13:47] #5490 closed

[2022-10-08 21:02] MarkEWaite commented on #4718
For development purposes, I build the site locally @krisstern using the instructions in the CONTRIBUTING document.  I typically start my text editor and invoke a `make run` in a terminal window of the text editor, open the pages I'm modifying in a web browser to http://localhost:4242/ and then make the changes.  The changes are usually detected automatically and rebuilt by the `make run`.  Sometim

[2022-10-08 21:14] MarkEWaite commented on #5406
@CyberGeni the changes in #5274 were useful and helped the site, but they had the unfortunate effect of breaking portions of the site unexpectedly.  There were too many changes in a single step and there was not enough validation of the impact of those changes.

The idea in this issue is to have someone review the changes in #5274 and split them into a series of many smaller changes with specific

[2022-10-09 07:02] krisstern commented on #4718
Thanks @MarkEWaite! That's what I have tried as well. Appreciate the details.

[2022-10-09 08:52] krisstern commented on #4718
Just come up with this, however since I am not yet very familiar with the code base the anchor href are currently hardcoded and not fetched by code iteratively:

<img width="1440" alt="Screenshot 2022-10-09 at 4 50 08 PM" src="https://user-images.githubusercontent.com/88480540/194747358-4fae7aeb-b9b9-422b-8e87-4333a0aa0eff.png">

[2022-10-09 12:16] sushnag22 opened #5571 "Missing Local Security Policy when Installing Jenkins on Windows"
When installing Jenkins LTS on my `Microsoft Windows 11 Home Version 22H2 Build 22621.521`, in the Service Logon Credentials step I wasn't able to find the `Administrative Tools and Local Security Policy(Windows)` on my system. After researching, I found out that apparently Windows Home edition does not include Local Security Policy, but it can be installed via third party installer.

I think this

[2022-10-09 12:22] MarkEWaite commented on #5571
Thanks for the report.  I think that would be a good addition to the `Troubleshooting Windows installation` section.

[2022-10-09 13:04] sushnag22 commented on #5571
@MarkEWaite
Can I proceed and add the link to the question on Microsoft Community in the [Invalid service logon credentials](https://www.jenkins.io/doc/book/installing/windows/#invalid-service-logon-credentials) section after point no. 2 (as shown beow) and open a PR?
Logon to the computer with administrative privileges.
Open the Administrative Tools and open the Local Security Policy
If the Local

[2022-10-09 13:34] MarkEWaite commented on #5571
I think that is a good plan @sushnag22

[2022-10-09 13:47] Abhishekverma2002 commented on #5377
Please assign me this task. I am willing to try this out.

[2022-10-09 13:56] Abhishekverma2002 commented on #3991
Assign me this task . I am willing to work on it.

[2022-10-09 13:57] Abhishekverma2002 commented on #4332
Is the issue still Open ?

[2022-10-09 13:59] Abhishekverma2002 commented on #3809
@rrpari  Are you working on this issue?

[2022-10-09 14:05] jsoref commented on #3991
@Abhishekverma2002 please just make a PR. It isn't likely that you'll trip on someone else.

[2022-10-09 14:09] Abhishekverma2002 commented on #5489
@MarkEWaite  Sir, Do we have to make a special section for Nodes and Agents , or is it already present and we just  have to migrate this info there with link in Architecting for Scale?
Please provide me the information . I am willing to contribute.

[2022-10-09 14:17] #5571 closed

[2022-10-09 14:41] zbynek commented on #4332
Yes, only Controller is mentioned but there should be also some information about Built-in Node (see the linked mailing list discussion for more info about the distinction).

[2022-10-09 15:47] sushnag22 commented on #5571
@MadsNielsen Thanks you!

[2022-10-10 03:00] CyberGeni commented on #5406
okay, i think i get that. what would the PR contain?

[2022-10-10 20:33] MarkEWaite commented on #5406
It would be a series of pull requests, not a single pull request.  The series of pull requests would be incremental improvements to the site based on the improvements made in that larger pull request, with a clear explanation of the purpose of each pull request and the testing that was performed to confirm that the pull request had the desired result and did not have undesirable side effects.  Lin

[2022-10-10 22:10] CyberGeni commented on #5406
the PR has been merged into master, how do I compare the before and after changes?

[2022-10-10 23:13] zbynek commented on #5406
https://github.com/jenkins-infra/jenkins.io/pull/5274/files shows the changes that were merged and later reverted.
At least to me it's not clear which parts of the PR are worth re-doing. The consensus is that none of the font family changes should be applied. Then there is
* some CSS formatting -- definitely should not be mixed with design changes. Probably not worth doing (more systematic approac

[2022-10-17 13:26] krisstern commented on #5491
Hi, I would like to complete the items in this issue for Hacktoberfest if no one is currently actively working on them.

[2022-10-17 13:30] dduportal commented on #5457
As explained in https://github.com/jenkins-infra/jenkins.io/pull/5547#pullrequestreview-1144145025 , we should list what is expected in any PR to add content.

- Good point to mention some base Kubernetes concepts pointing to external sites (not sure it is worth duplicating this kind of content)
- I do not see the point of the "Kubernetes Upgrade" ? Do you mean "upgrading Jenkins in Kubernetes" ?

[2022-10-17 13:37] krisstern commented on #5406
Hi, I would like to work on this issue for Hacktoberfest if no one else is actively working on it.

[2022-10-17 13:38] krisstern commented on #5432
Hi, I would like to work on this issue for Hactoberfest if no one else is actively working on it.

[2022-10-17 22:38] DuMaM opened #5607 "Missing documentation for tagging plugins inside plugin manager"
### Describe your use-case which is not covered by existing documentation.

Hi,

As plugin maintainer I would like to stay on healthy and good relations with my community. 😉
I find informing them about crucial or breaking changes can be handy for everybody.
I've looked around for anything related to marking plugins with banners like breaking changes or others in plugin manager,
but sadly i didn't

[2022-10-18 07:11] zbynek commented on #5607
I think this is what you want: https://www.jenkins.io/doc/developer/plugin-development/mark-a-plugin-incompatible/

[2022-10-18 08:13] DuMaM commented on #5607
Thanks, that'll do the trick.
Could we add keywords like `breaking changes` to this page? 😉
I think more people will look for this expression than for `incompatible`
I also think it will fit better in this subdir.
https://www.jenkins.io/doc/developer/publishing/

[2022-10-18 09:42] daniel-beck opened #5608 "`h4` appears smaller than a `dt`"
Compare:

https://github.com/jenkins-infra/jenkins.io/blob/master/content/security/for-maintainers.adoc#upload
https://www.jenkins.io/security/for-maintainers/#upload

On the site, the `h4` of "Plugins with otherwise automated releases (JEP-229 CD)" looks smaller than the `dt` "Build and deploy the release" (0.95rem vs. 1rem). Additionally, different from the GH rendering of Asciidoc, the site doe

[2022-10-18 09:51] daniel-beck commented on #5608
Caused by https://github.com/jenkins-infra/jenkins.io/pull/5415, see https://github.com/jenkins-infra/jenkins.io/pull/5415#discussion_r997981804 for a before (very clearly distinguishable headers) and after (pointlessly small headers)

[2022-10-18 11:09] liudaolunboluo commented on #3536
How to solve this problem? I have encountered the same problem

[2022-10-18 11:26] CyberGeni commented on #5406
hi @krisstern i'm working on this, thanks

[2022-10-18 11:58] dduportal opened #5609 "[Performing a Plugin Release manually] Retrieving settings.xml with `curl` looks broken (HTTP/403)"
Problem with this page:

https://www.jenkins.io/doc/developer/publishing/releasing-manually/#using-curl

As per https://github.com/jenkins-infra/helpdesk/issues/3158, it seems that the `curl` GET request to https://repo.jenkins-ci.org/setup/settings.xml always answers an HTTP/403 even with correct credentials (tested on `curl` 7.79.1 on macOS, and on Firefox).

- If credentials are incorrect then

[2022-10-18 11:59] dduportal commented on #4333
Closing as:

- this issue is > 1 year old and no other feedback from reporter
- unable to reproduce.

Please feel free to reopen it if you still have the issue (with details of course)

[2022-10-18 11:59] #4333 closed

[2022-10-18 12:32] daniel-beck commented on #5609
Bad configuration on Artifactory side has been resolved.

[2022-10-18 12:32] #5609 closed

[2022-10-18 14:27] krisstern commented on #5406
Not a problem! If the status changes please let us know.

[2022-10-18 19:06] daniel-beck commented on #5608
More weirdness: Which is the title, and which is just bold text, in this [2017 security advisory](https://www.jenkins.io/security/advisory/2017-08-07/#method-references)?

<img width="880" alt="Screenshot" src="https://user-images.githubusercontent.com/1831569/196521254-5aece94b-0975-45fd-8e40-2daa0e884639.png">

[2022-10-19 17:52] afzal442 commented on #5608
/assign

[2022-10-20 10:43] Jyoti050402 commented on #5489
Hey, I would like to work in this issue.

[2022-10-20 18:24] tanujdevops commented on #5489
Please start working on this. You may have to figure out the filing system and makes changes in the YAML files too. I am not sure about it exactly, but you can submit a PR and tag the issue.

[2022-10-21 05:17] afzal442 commented on #5608
hey @daniel-beck! Should I revert back the changes to this as below? Plz suggest. Thanks
[code]
To
[code]

[2022-10-21 07:26] satyasonu opened #5622 "Thank you for downloading Windows Stable installer page - Downloading Jenkings LTS is too slow"
Problem with the [Thank you for downloading Windows Stable installer](https://www.jenkins.io/download/thank-you-downloading-windows-installer-stable/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/thank-you-downloading-windows-installer-stable.html.haml)

TODO: I expected that when someone downloading the Jenkings, it is very slow than expected even m

[2022-10-21 12:57] krisstern commented on #5491
@StackScribe Should I make the six items collapsible under the `Reverse proxy configuration` item in the navigation on the left-hand side then?

[2022-10-21 20:09] amberjungminlee opened #5623 "Issues running podman on Jenkins agent running RHEL OS"
## Issue
Hello. We are running a Jenkins agent that is using RHEL 8 and running podman (instead of docker), and we noticed an issue where on the command line, commands such as ```podman pull node``` and ```podman image build app --no-cache``` works fine. However, when we run the same exact command through a Jenkins pipeline, we get the following error:
[code]
Is there some sort of environment vari

[2022-10-21 20:50] daniel-beck commented on #5608
@afzal442 Then `h4` would be bigger than `h3` etc. The whole size minimization done in the linked PR doesn't work in my opinion, but I'm open to other alternatives that allow distinguishing elements. For example, Wikipedia underlines headers.

[2022-10-22 18:18] afzal442 commented on #5608
Ah I see, thanks for reporting that. Can we add like this `text-decoration: underline;`? 🏷️

[2022-10-24 08:24] afzal442 commented on #5608
@daniel-beck Any help here?

[2022-10-24 11:11] daniel-beck commented on #5608
@afzal442 Difficult to say without doing it myself and seeing how well it works. Feel free to suggest such an improvement so that we can try it via the preview deployment. I mentioned that only as an example what could be done other than changing font-size back.

FWIW I submitted #5625 for now, but if you're able to create a good solution I don't see why we wouldn't integrate it.

[2022-10-24 21:55] zbynek commented on #5607
@DuMaM feel free to create a PR changing the text, you can just edit the relevant file in GitHub https://github.com/jenkins-infra/jenkins.io/edit/master/content//doc/developer/plugin-development/mark-a-plugin-incompatible.adoc , thanks

For moving content between sections maybe let's wait until the new navigation is finished c.f. https://github.com/jenkins-infra/jenkins.io/pull/5570

[2022-10-25 13:16] #5608 closed

[2022-10-25 20:07] Leigh-Ola commented on #3801
@getJv  @MarkEWaite
I need some clarification, please.
Is the issue a request that the page at this url: https://wiki.jenkins.io/display/JENKINS/Launching+agent+from+console
be made to redirect to this url: https://www.jenkins.io/doc/book/using/using-agents ?

[2022-10-25 20:12] Leigh-Ola commented on #3771
Is this issue still open?

[2022-10-25 22:52] DuMaM commented on #5607
Sure. @zbynek one last question is there any official way to mark that plugin no longer support java 11?

[2022-10-25 23:04] zbynek commented on #5607
@DuMaM bump the minimum Jenkins version to a recent one, that will make sure the new version of your plugin is only available for user running new Jenkins which requires Java 11 (you can pick 2.361.1 or later, see https://www.jenkins.io/changelog-stable/ )

[2022-10-25 23:15] DuMaM commented on #5607
Ok, but in such situation does user will be informed about it in plugin manager with banner like in (incompatible docs)?
I also found something like this, and I wondering if i have to do similar stuff to display such msg.
https://github.com/jenkinsci/workflow-multibranch-plugin/blob/c692ae52371b564c718e993db922dd3aeaa1b441/pom.xml#L227

[2022-10-25 23:56] zbynek commented on #5607
If they run a new Jenkins (on Java 11) they can just install the plugin. If they run an old Jenkins (either Java 8 or 11) they get a message saying something like "newer version of plugin is available, but only for new Jenkins releases".

That is no longer supported https://github.com/jenkinsci/jenkins/pull/6549

[2022-10-27 13:05] krisstern commented on #5432
I have just submitted a PR for this issue.

[2022-10-27 14:13] #5491 closed

[2022-10-27 15:10] DuMaM commented on #5607
thanks :)

[2022-10-27 15:10] #5607 closed

[2022-10-28 01:21] krisstern commented on #5341
Hi, I would like to work on a PR for this issue

[2022-10-28 01:23] krisstern commented on #5341
Is this still an issue? I just checked it seems that for Plugins the indicator is back now.

[2022-10-28 01:27] krisstern commented on #4418
Hi, I would like to work on this issue for Hacktoberfest

[2022-10-28 09:23] daniel-beck commented on #5341
https://github.com/jenkins-infra/jenkins.io/pull/5355 took care of it. Thanks for the reminder.

[2022-10-28 09:23] #5341 closed

[2022-10-28 12:12] krisstern commented on #5341
@daniel-beck You are welcome!

[2022-10-28 13:22] #5432 closed

[2022-10-29 08:55] krisstern commented on #4418
Hi, I have just submitted a PR for this issue.

[2022-10-29 13:33] daniel-beck commented on #4321
The affected page is now https://www.jenkins.io/doc/book/security/access-control/permissions/ and renders properly.

[2022-10-29 13:33] #4321 closed

[2022-10-31 20:30] MarkEWaite commented on #5623
As far as I know, none of the maintainers of any of the docker integration plugins are actively working with `podman`.  If you're ready to help with plugin maintenance, you can assist by debugging the issues and submitting pull requests to fix any issues you find.

[2022-10-31 20:31] MarkEWaite commented on #5623
Not a documentation issue.  Closing.

[2022-10-31 20:31] #5623 closed

[2022-10-31 20:35] #3690 closed

[2022-11-01 13:20] #4718 closed

[2022-11-01 13:23] mPokornyETM opened #5648 "Setup a Crowdin Project page - Wrong link used to crowdin page"
Problem with the [Setup a Crowdin Project](https://www.jenkins.io/doc/developer/crowdin/crowdin-integration/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/developer/crowdin/crowdin-integration.adoc)

The link to `Move on to [this document](https://www.jenkins.io/doc/developer/crowdin/crowdin/)` does not work

## Screenshots

NN

## Possible Solution

N/A

[2022-11-01 13:43] lemeurherve commented on #5648
Nice catch, the correct link is https://www.jenkins.io/doc/developer/crowdin/

Would you like to [open a pull request](https://github.com/jenkins-infra/jenkins.io/edit/master/content//doc/developer/crowdin/crowdin-integration.adoc) to fix it?

[2022-11-01 13:56] mPokornyETM commented on #5648
Yes I do that. *You find it you fix* ;-)

[2022-11-01 14:41] #4418 closed

[2022-11-01 16:30] #5648 closed

[2022-11-01 16:51] alexisde opened #5652 "Pipeline Steps Reference page - TODO: Put a summary here"
Problem with the [Pipeline Steps Reference](https://www.jenkins.io/doc/pipeline/steps/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/pipeline/steps/index.html.haml)

TODO: Describe the expected and actual behavior here

Nothing is listed on the page at the moment

## Screenshots

![image](https://user-images.githubusercontent.com/29050910/199290516-7969e6

[2022-11-01 19:26] dduportal commented on #5652
Thanks for reporting!

This problem is now fixed (in https://github.com/jenkins-infra/pipeline-steps-doc-generator/pull/232) and confirmed working in production now.

Sorry for the inconvenience

[2022-11-01 19:26] #5652 closed

[2022-11-01 20:12] alexisde commented on #5652
Thank you very much 😄

[2022-11-02 07:55] joe733 commented on #4881
I'm trying to send a POST request to a build with parameters.

#### Method 1

[code]

### Method 2

[code]

#### Problem

Both of them trigger the job, but fail to send the parameters. In the console output I can see:

[code]

Where am I going wrong?

[2022-11-10 18:20] basil commented on #5474
@halkeye wants to split out the blog to a different tool, and I want to split out the `/doc/` space (primarily the User Handbook and Developer Reference) to Antora, which would also solve the long-standing pain point of versioning the documentation for LTS and weeklies.

I spent about two hours prototyping the latter for the User Handbook. Here is a very crude conversion to Antora:

- https://basi

[2022-11-10 19:38] halkeye commented on #5474
https://halkeye.github.io/jenkins-io-components/?path=/docs/example-introduction--docs

should be really easy to get the header and footer. As layout. I hae a script that converts all the html and css to react, but otherwise no standardness, I'm sure bootstrap 5 would be close enough (@zbynek your PR is first on my list to review after work)

the infra setup is changing this week, but I can set it

[2022-11-10 20:25] basil commented on #5474
Right, I think the next step from a design perspective would be for someone to apply those building blocks onto the Antora default theme visible in https://basilcrow.com/docs/user-handbook/index.html to "Jenkinsify" the prototype. We will probably understand the nature of the design work that is needed a bit more clearly once we can see how that looks.

[2022-11-11 22:28] IqbalA2000 opened #5686 "Chat page - TODO: Put a summary here"
Problem with the [Chat](https://www.jenkins.io/chat/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/chat.adoc)

TODO:
Hi there
I was trying to add my team to our pipeline
then this problem appears
now I am stuck and I can not do anything

## Screenshots
![image](https://user-images.githubusercontent.com/113496459/201439377-dd62c332-5acc-4b51-94e3-f9f89c9778de.

[2022-11-14 10:13] dduportal commented on #5686
Closing this issue as the tracker here is scoped to the jenkins.io website, while your issue is about your own Jenkins instance.

You should open a thread on the community forum at community.jenkins.io to get help from the community.

[2022-11-15 09:17] dark-developer15 opened #5691 "Thank you for downloading Windows Stable installer page - TODO: Put a summary here"
Problem with the [Thank you for downloading Windows Stable installer](https://www.jenkins.io/download/thank-you-downloading-windows-installer-stable/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/thank-you-downloading-windows-installer-stable.html.haml)

TODO: Describe the expected and actual behavior here

not able to download Jenkins for windows us

[2022-11-15 12:59] Nrvjvn opened #5693 "Can not Install Jenkins."
## Screenshots

![image](https://user-images.githubusercontent.com/15954825/201925455-5af8b6e6-f67e-4437-8fce-20ada319667b.png)

1) Java Path is selected
2) Explore Java Directory
3) Java Path added in JAVA_HOME

but still, I am getting "Invalid Java Directory".
can you help me with what I missed?

[2022-11-15 13:06] dduportal commented on #5693
Hi @Nrvjvn , thanks for raising this issue.

I'm going to close the issue here because this is an issue tracker scoped the jenkins.io website itself but your problem is related to your own Jenkins installation which is not the scope here.

I recommend that you seek help from the community by opening a thread in community.jenkins.io to get a broader help.

PS: The error message clearly states "Java

[2022-11-15 13:06] #5693 closed

[2022-11-15 22:08] MarkEWaite commented on #5691
I can't duplicate the problem.

The Jenkins 2.361.4 MSI installer downloads for me from https://get.jenkins.io/windows-stable/2.361.4/jenkins.msi and uses the server nearest me, https://mirror.xmission.com/jenkins/windows-stable/2.361.4/jenkins.msi .  The mirrors are listed at https://get.jenkins.io/windows-stable/2.361.4/jenkins.msi?mirrorlist and show 8 different machines all mirroring that vers

[2022-11-15 22:08] #5691 closed

[2022-11-18 07:41] PrasadP744 opened #5706 "Reverse proxy - Nginx page - remove incorrect, extraneous text"
Problem with the [Reverse proxy - Nginx](https://www.jenkins.io/doc/book/system-administration/reverse-proxy-configuration-with-jenkins/reverse-proxy-configuration-nginx/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/doc/book/system-administration/reverse-proxy-configuration-with-jenkins/reverse-proxy-configuration-nginx.adoc)

TODO: Describe the expected and

[2022-11-18 18:08] daniel-beck commented on #5706
This looks like an attempt to report a bug in Jenkins, not a content problem on the referenced jenkins.io page. Neither systemd nor `jenkins.xml` are mentioned there.

Additionally, is `jenkins.xml` in the Jenkins home directory? If so, that's only relevant on Windows and there's no bug here. You can probably delete it.

[2022-11-18 18:48] daniel-beck commented on #5706
Looks like I'm blind:

That makes no sense. Bad import from the wiki would be my guess.

[2022-11-18 18:58] daniel-beck commented on #5706
Introduced in https://github.com/jenkins-infra/jenkins.io/commit/2bea556906aee7495b72954c24b3081861c65471#diff-7d0e161c3d4fc425c35d1f1243c79f746dadf1ddcf305c14d089d986231e68bdR745
Modified in https://github.com/jenkins-infra/jenkins.io/commit/1879a8422ab91daf80d55c36aa3785782245b345#diff-7d0e161c3d4fc425c35d1f1243c79f746dadf1ddcf305c14d089d986231e68bdR539

Looks like a bad copy & paste from the Ap

[2022-11-18 20:02] vedant-z commented on #5489
I am willing to work on this. I just need some brief info on what needs to be done exactly.

[2022-11-18 20:12] vedant-z commented on #5376
@tomaszwojciechowski Hi!! I want to take this issue.

We need to add the following rules:

**On the Inbound tab, add the rules as follows:
Select Add Rule, and then select SSH from the Type list.
Under Source, select Custom, and in the text box, enter the IP address from step 1.
Select Add Rule, and then select HTTP from the Type list.
Select Add Rule, and then select Custom TCP Rule from the Type

[2022-11-18 20:16] vedant-z commented on #5377
@tomaszwojciechowski I want to work on this

[2022-11-18 22:18] MarkEWaite commented on #5377
@vedant-z you are welcome to work on it.  Submit the pull request.  We generally do not assign issues to first-time contributors because too frequently they say that they want to work on an issue and then make no progress.  Best progress is a pull request

[2022-11-19 05:20] vedant-z commented on #5377
Thanks @MarkEWaite

I just wanted to confirm that I would need to mention the text "On old launch experience" as a small note at the end of the section "Launching an Amazon EC2 instance".

Am I going in right direction?

[2022-11-19 20:09] MarkEWaite commented on #5377
I think the preference would be to modify the information so that it matches with the current experience.  If the old launch experience is nearing the end of its life, then the documentation that describes the old launch experience should be updated to describe the new launch experience.  Unfortunately, I don't know either the old experience or the new experience.

[2022-11-19 21:04] vedant-z commented on #5377
@tomaszwojciechowski Can you please tell me more about what needs to be done exactly?

@MarkEWaite Thanks Sir

[2022-11-22 08:43] timja opened #5718 "Prevent absolute links to jenkins.io or www.jenkins.io and use relative instead"
When the https://www.jenkins.io/ URL is embedded in the source code of the jenkins.io pages, it causes a user exploring a pull request through the preview sites to be moved from the preview site to the www.jenkins.io site.  If they are not very carefully watching the URL address bar, they can waste time looking at the production site when they wanted to review the preview site.

This issue is to a

[2022-11-23 09:38] daniel-beck opened #5724 "The link underlines look terrible"
This is a bit much…

## Screenshots

<img width="1559" alt="Screenshot 2022-11-23 at 10 39 18" src="https://user-images.githubusercontent.com/1831569/203514351-c98f2c47-e2f8-4cba-8418-5db780b8d2a5.png">

<img width="1164" alt="Screenshot 2022-11-23 at 10 35 29" src="https://user-images.githubusercontent.com/1831569/203513593-1e36e257-cf3d-4c2c-a6e6-180fc7248bc9.png">

<img width="302" alt="Screens

[2022-11-23 09:41] daniel-beck opened #5725 "The menu is left aligned"
This is a recent regression, the menu used to be on the right. Now it looks squished into the top left corner, and the position of the download button to the right of search makes no sense now.

## Screenshots

<img width="3360" alt="Screenshot 2022-11-23 at 10 41 34" src="https://user-images.githubusercontent.com/1831569/203514731-6f30fa06-7fcf-40cc-b3d0-ea7316c9d14c.png">

## Possible Solution

[2022-11-23 09:44] daniel-beck commented on #5724
Looks like cached resources. Cache-bypassing reload ended this nightmare.

Jenkins changes resource paths on startup, large-scale overhauls to jenkins.io resources perhaps should also mess with filenames?

[2022-11-23 09:44] #5724 closed

[2022-11-23 09:44] daniel-beck commented on #5725
Looks like cached resources. Cache-bypassing reload ended this nightmare.

Jenkins changes resource paths on startup, large-scale overhauls to jenkins.io resources perhaps should also mess with filenames?

[2022-11-23 21:29] daniel-beck opened #5727 "Changelog legend is left aligned"
Problem with the [Changelog](https://www.jenkins.io/changelog/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/changelog/index.html.haml)

The changelog legend used to be on the right, now it's on the left.

## Screenshots

<img width="1910" alt="Screenshot 2022-11-23 at 22 28 36" src="https://user-images.githubusercontent.com/1831569/203649151-52d479a9-33e8-49

[2022-11-23 22:26] #5727 closed

[2022-11-24 05:20] rajanrai2198 opened #5730 "Thank you for downloading Windows Stable installer page - TODO: jenkins.msi taking too much time to downloads"
Problem with the [Thank you for downloading Windows Stable installer](https://www.jenkins.io/download/thank-you-downloading-windows-installer-stable/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/master/content/download/thank-you-downloading-windows-installer-stable.html.haml)

TODO: My internet speed is good but jenkins.msi is taking too much time to download.
## Screensho

[2022-11-24 08:28] dduportal commented on #5730
Thanks for raising the issue!

I'm transfering it to the jenkins-infra/helpdesk tracker, as it is a problem related to the mirror infrastructure (more than the jenkins.io website itself).

[2022-11-27 15:01] Sekhar-Kumar-Dash commented on #5718
Hello timja please assign me this issue also i am new open can you please guide me through

[2022-11-27 15:55] NotMyFault opened #5740 "Add documentation how to reset user & admin passwords"
Based on a quick search, we don't have a guide documenting how to reset Jenkins passwords at all.

According to the helpdesk statistics, this is one, if not, the major topic of the past weeks.
Such a guide should outline how to
- reset the Jenkins password for an admin account, in case an instance administrator locked out themselves and no other admin accounts are available.
- reset other Jenkins'

[2022-11-28 06:21] elrondwong opened #5741 "kubernetes plugin，jnlp container command display sleep incorect"
config kubernetes cloud with configuration as code
jnlp container no 
[code]
![image](https://user-images.githubusercontent.com/10005515/204207557-e244ba66-3fb7-47bf-8b79-d78e74b7e35c.png)

[code]
But manage nodes and clouds -> configure cloud -> kubernetes -> pod template -> container template
name jnlp -> Command to run is display “sleep”

![image](https://user-images.githubusercontent.com/10005

[2022-11-28 20:34] basil commented on #5474
Status on this proposed project is that we are still looking for someone to volunteer to do the design work and frontend implementation of a Jenkins version of the Antora theme. If anyone is interested in working together on this, please let me know!

[2022-11-29 16:05] NotMyFault opened #5750 "Nonexistent scaling of jumbotron images breaks layout"
https://github.com/jenkins-infra/jenkins.io/pull/5737 and a few other PRs regarding the thanksgiving post broke the jumbotron images. All major sponsors used to be in a line.

![Screenshot 2022-11-29 at 16 56 42](https://user-images.githubusercontent.com/13383509/204578722-1a980281-56bc-41d1-8036-1dae71e8060f.png)

Possible solution: Create a dedicated folder for jumbotron vector graphics for all

[2022-11-29 18:59] MarkEWaite commented on #5718
@Sekhar-Kumar-Dash we've not had great results when we assign an issue to someone.  Your comment stating your interest is already enough for you to begin the work on the issue.  Others will see your comment and know to check more carefully before they start on the issue.

See the [CONTRIBUTING document](https://github.com/jenkins-infra/jenkins.io/blob/master/CONTRIBUTING.adoc) for guidance on the

[2022-11-30 18:31] Angie1013 opened #5756 "Hhhh…. Can’t reach this page"
Hello

I trying to log in to my Jenkins account. But www.localhost:8080 page can’t reach. It has an error: Hhhh…. Can’t reach this page. I tried 2 days but couldn't figure it out. I have Macbook and installed parallels for windows. Can you help me, please?
Thanks
Angie

 with the [Help](https://www.jenkins.io/participate/help/) page, [source file](https://github.com/jenkins-infra/jenkins.io/blob/m

[2022-11-30 20:10] lemeurherve commented on #5756
This has nothing to do with Jenkins documentation.

Please restrain opening more issues on this repository or the helpdesk and search in the documentation or ask for help on IRC or on community.jenkins.io please.

[2022-11-30 20:10] #5756 closed